.class_6_11 {
    &-img_1 {
        height: 53.9vh;
        max-height: 414px;
        margin: 7vh auto;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        position: fixed;
        bottom: 14vh;
        height: 39.4vh;
        max-height: 302.7px;
    }
    &-img_4 {
        position: fixed;
        bottom: 0;
        height: 49vh;
        max-height: 377px;
    }
    &-img_5 {
        position: fixed;
        right: 30vh;
        bottom: 11vh;
        height: 49.02vh;
    }
    &-img_6 {
        height: 62.6vh;
        max-height: 481px;
    }
}
.newDesign_subject_question_item.bottom {
    margin-bottom: .8vh;
}