.cs-6-11-11-img {
  position: fixed;
  right: 30vh;
  bottom: 11vh;
  height: 49.02vh;
}
.cs-6-11-12-img {
  height: 63.36vh;
  margin-top: 8vh;
}
.cs-6-11-13-img {
  height: 51.04vh;
  margin-top: 7vh;
}
.cs-6-11-14-img {
  height: 46.74vh;
}
.cs-6-11-15-img {
  height: 40.36vh;
  margin-top: 4vh;
}
.cs-6-11-16-img {
  height: 53.38vh;
  margin-top: 4vh;
}