.cs-6-11{
    &-11-img{
        position: fixed;
        right: 30vh;
        bottom: 11vh;
        height: 49.02vh;
    }
    &-12-img{
        height: 63.36vh;
        margin-top: 8vh;
    }
    &-13-img{
        height: 51.04vh;
        margin-top: 7vh;
    }
    &-14-img{
        height: 46.74vh;
    }
    &-15-img{
        height: 40.36vh;
        margin-top: 4vh;
    }
    &-16-img{
        height: 53.38vh;
        margin-top: 4vh;
    }
}