.ios{
    &-17{
        height:54vh;
        max-height:416px;
    img{
        height:100%;
    }
    }
    &-18{
        height:56.7vh;
        max-height:436px;
    img{
        height:100%;
        margin-left:90vh;
    }
    }
    &-19{
        height:47.2vh;
        max-height:363px;
    img{
        height:100%;
    }
    }
    &-20{
        height:53vh;
        max-height:410px;
    img{
        height:100%;
    }
    }
    &-21{
        height:58.5vh;
        max-height:450px;
    img{
        height:100%;
        margin-left:75vh;
    }
    }
}