.ios_page {
  &-6 {
    height: 36vh;
  }
  &-7 {
    height: 59vh;
    max-height: 455px;

    img {
      height: 100%;
    }
  }

  &-8 {
    height: 51vh;
    max-height: 392px;

    img {
      height: 100%;
    }
  }

  &-9 {
    height: 49vh;
    max-height: 376px;

    img {
      height: 100%;
    }
  }

  &-10 {
    height: 54vh;
    max-height: 420px;

    img {
      height: 100%;
    }
  }

  &-14 {
    height: 42vh;
    max-height: 325px;

    img {
      height: 100%;
    }
  }
}
