.background-cs-6-11{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-24{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/ios-graphical-interface-11/cs-6-11-24-img.png");
    }
    &-25{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/ios-graphical-interface-11/cs-6-11-25-img.png");
    }
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/ios-graphical-interface-11/cs-6-11-26-img.png");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/ios-graphical-interface-11/cs-6-11-27-img.png");
    }
}