.dot_wrapper {
  position: absolute;
  left: 5.1vw;
  top: 51vh;
  height: 18vh;
  width: 40px;
}

.draggable__answer__btns {
  width: 28px;
  height: 28px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-radius: 50%;
  cursor: pointer;
  touch-action: none;
  user-select: none;

  &:disabled {
    opacity: 0.5;
  }

  &.cold__btn {
    background: #1855cc;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.hot__btn {
    background: #ea7515;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.question__dot {
  position: relative;
  border: 1px solid #707070;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-top: 2.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  color: red;

  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    z-index: 1000000000000000;
  }

  &.error {
    &::after {
      position: absolute;
      content: '';
      width: 60px;
      height: 60px;
      background: transparent;
      cursor: default;
      z-index: 1000000000;
    }
  }

  .draggable__answer__btns {
    margin: 0;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


.questions__images {
  &_wrapper_box {
    max-height: 38.15vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}


.draggable__answer__btns {
  transition: all 0.3s;
  &:focus {
    outline: none;
  }
}


.errorImg {
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
}


.questions__images-item {
  margin-right: 16px;

  .question__dot.error {
    .errorImg {
      position: absolute;
      left: 60%;
      top: 60%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      z-index: 10000;
      opacity: 1;
      visibility: visible;
    }
  }
}


.noShadow {
  box-shadow: none !important;
}

.Shadow {
  border: 1px solid #707070; 
  box-shadow: 0px 0px 4px rgb(220, 108, 133)
}
