.cs-5-14-div-img{
  &-1{
    height:50.26vh
  } 
  &-3{
    height:48.04vh
  }
  &-4{
    height:58.46vh
  }
  &-5{
    height:43.09vh
  }
  &-6{
    height:33.85vh
  }
  &-7{
    height:69.92vh
  }
  &-8{
    height:69.66vh
  }
  img{
    height:100%;
  }
}