.class_5_14 {
    &-img_box_16 {
        position: fixed;
        bottom: 0;
        margin-left: 7vh;
        img {
           height: 50.65vh;
           max-height: 389px; 
        }
    }
    &-img_box_17 {
        height: 38.15vh;
        max-height: 293px; 
        img {
           height: 100%;
        }
    }
    &-title {
        margin-bottom: 1vh;
    }
    &-img_box_18 {
        position: fixed;
        bottom: 0;
        height: 81.45vh; 
        max-height: 625.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_19 {
        position: fixed;
        bottom: 0;
        height: 30.72vh; 
        max-height: 236px;
        img {
            height: 100%;
        }
    }
    &-game_bottom {
        margin-bottom: -4vh;
    }
    &-img_box_21 {
        position: fixed;
        bottom: 0;
        height: 53.12vh; 
        max-height: 408px;
        img {
            height: 100%;
        }
    }
}
.offset_20 {
    margin-left: 0!important;
}
.class_5_14-bg-box {
    height: 7.5vh;
    max-height: 58px;
    width: 39vw;
    max-width: 560px;
    color: #ffffff;
    p{
      padding: 0 5vh;
      line-height: 2.5vh;
    }
    &-blue{
      height: inherit;
      background: url("../../../../../img/gakvetilebi/Computer-Science/Class-5/Information-in-the-table-14/C-5-14-20-1.svg") no-repeat center;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-pink{
      height: inherit;
      background: url("../../../../../img/gakvetilebi/Computer-Science/Class-5/Information-in-the-table-14/C-5-14-20-2.svg") no-repeat center;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

