.cs-5-14{
    &-22-img{
        height: 40.88vh;
        margin: 5vh auto 0;
    }
    &-23-img{
        height: 30.85vh;
        margin: 5.5vh auto 0;
    }
    &-24-img{
        height: 39.32vh;
        margin: auto;
    }
}