@import "./Pages/chatbot/Newbot.scss";
@import "./Partials/fonts";

@import "Modules/variable";

@import "Partials/reset";

// modules
@import "Modules/mixins";

// functions
@import "Modules/functions";

@import "Components/new-components-import";

@import "./Pages/pages--import";

@import "./Pages/new-pages--import";

@import "Modules/base";


.canvas-container {
  width: 100% !important;
}

.mycanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

}

@media screen and (min-width: 1000px) {
  .app-select_box-content a {
    color: inherit;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    font-family: 'ALK Sanet';
    font-size: 14px;
  }
}
