/* Error: Can't find stylesheet to import.
 *     ,
 * 930 | @import "Computer-Science/Class-6/Create-our-presentation-13/25-28";
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   Pages/_new-pages--import.scss 930:9  @import
 *   new-style.scss 19:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
  "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a     \2577 \a 930 \2502  @import \"Computer-Science/Class-6/Create-our-presentation-13/25-28\";\a     \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   Pages/_new-pages--import.scss 930:9  @import\a   new-style.scss 19:9                  root stylesheet";
}
