@import "./Pages/chatbot/bot";

@import "./Partials/fonts";

@import "Modules/variable";

@import "Partials/reset";

// modules
@import "Modules/mixins";

// functions
@import "Modules/functions";

@import "Components/new-components-import";

@import "./Pages/pages--import";
@import "./Pages/new-pages--import";



@import "Modules/base";


.canvas-container {
  width: 100% !important;
}

.mycanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
