.nature-action-material-row-full-container{
  margin-left:13.06vw;
  margin-top:1.59vh; 
}

.nature-action-material-row-full{
margin-bottom: 1.23vh;
  p {
    color: #0B2228;
    font-family: 'BPG Arial', sans-serif;
    font-size: 14px;
    float: right;
    text-align: left;
  }

  .nature-action-material-pic {
    width: 185px;
  }
}

.nature-action-material-full-col-5{
  display: flex; 
  margin-left: 11.666667%;

  img{
    height:12.63vh;
  }
}


.nature_material_content_box_text-col-5{
  img {
    height: 2.21vh;
    width:2.48vw;
    padding-right: 0;
  }

  span{
    color: #0B2228;
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.14vh;
    margin-left: 1.11vw; 
  }
}


.nature-action-material-row-full {
  .draggedElement {
    display: flex;
  }
}