 .nature_question_with_paddings{
  margin-top:5.15vh;
}  

.nature_task_reseach_container{
  .research_container-text{
    padding-top: 0;
  }
}
.nature_question_research_container{
  padding-top: 0;
  &_pads {
    margin-top: 2.08vh;
  }
}


.nature_task_question_reseach_container{
  padding-top: 4.26vh;
}