#N-1366-11 .nature_full_image-box {
  height: 100vh;
  width: 100vw;

  svg {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  #objects_link {
    cursor: pointer;
  }

  #alive_world {
    cursor: pointer;
  }

  #earth_world {
    cursor: pointer;
  }
}