.symbols_description {
    margin-top: 4.8vh;
    height: 58vh;

    &-container {
        position: relative;
        color: #0B2228;
        font-size: 2.08vh;
        font-family: 'BPG Arial';

        .after_parent {
            display: inline-block;
            position: relative;

            &.error::after, &.error::before {
                opacity: 1;
                visibility: visible;
            }

            &.error {
                border: 2px solid red
            }

            &.error .symbols_description-img{
                opacity: 0.5;
            }

            &::after {
                content: '';
                position: absolute;
                width: 3vh;
                height: 3px;
                background: red;
                top: 50%;
                left: 50%;
                transform: translate(-45%, -50%) rotate(-45deg);
                transition: all 0.3s;
                z-index: 100;
                opacity: 0;
                visibility: hidden;
            }

            &::before {
                content: '';
                position: absolute;
                width: 3vh;
                height: 3px;
                top: 50%;
                left: 50%;
                transform: translate(-45%, -50%) rotate(45deg);
                background: red;
                z-index: 100;
                transition: all 0.3s;
                opacity: 0;
                visibility: hidden;
            }

            .after_parent.error {

                &::after,
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &.error {
            img {
                border: 2px solid red;
            }
        }
    }


    .after_parent {
        img {
            height: 5.46875vh;
        }
    }

    .symbols_description-img {
        width: 42px;
    }
    
    .symbols_description-container.errorParent {
        position: relative;

        .symbols_description-img {
            opacity: 0.5;
        }
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 80000000;
        }
    }

}

.draggeble_element {
    transition: all 0.3s;
}

.draggeble_el_parent {
    margin-bottom: 1vh;
}

.symbols_description-title {
    line-height: 1.6;
    font-size: 2.21vh;
}