.n-dang-toys{
    &-text-container{
        color: #0B2228;
    }
    &-title{
        font-size: 2.34vh;
        font-family: 'BPG Arial';
        padding-bottom: 4vh;
    }
    &-question{
        font-size: 2.08vh;
        font-family: 'DejaVu Sans Oblique';
        line-height: 4.6vh;
    }
    &-img-alignment{
        display: flex;
        justify-content: flex-end;
        margin-top: 6vh;
    }
    &-img{
        height: 28vh;
    }
}