.ask_question_game {
  &_box {
    height: 19vh;
    width: 19vh;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    margin-top: 2.5vh;
    border: 6px solid #44bbbd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    font-size: 14px;
    text-align: center;
    color: #0b2228;
    cursor: pointer;
    font-family: 'BPG Arial';

    img {
      height: 100%;
    }
    h5 {
      font-size: 1.7vh;
      line-height: 1.2;
    }
  }

  .draggedElement {
    height: 19vh;
    width: 19vh;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    margin-top: 2.5vh;
    border: 6px solid #44bbbd;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 11px;
    text-align: center;
    color: #0b2228;
    cursor: pointer;
    font-family: 'BPG Arial';
    font-size: 1.4vh;

    h5 {
      line-height: 1.2;
    }
  }

  .circle__container {
    min-height: 490px;
    max-height: 490px;
  }

  .ask_question_game_box {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: 100000000000;
    }
  }

  .ask_question_game_box--sm {
    width: 19vh;
    height: 19vh;
    max-width: 140px;
    max-height: 140px;
    min-width: 140px;
    min-height: 140px;
    border: 6px solid #44bbbd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    text-align: center;
    color: #0b2228;
    position: relative;
    font-size: 1.7vh;
    font-family: 'BPG Arial';

    h5{
      line-height: 1.2;
      font-size: 1.7vh;
    }

    &:nth-child(1) {
      position: absolute;
      left: 50%;
      top: -3%;
      transform: translateX(-50%);

      .ask_question_game_box_number-img {
        position: absolute;
        top: 6%;
        left: -53%;
      }
    }

    &:nth-child(2) {
      position: absolute;
      right: 0%;
      top: 18%;

      .ask_question_game_box_number-img {
        position: absolute;
        top: -54px;
        right: 67px;
      }
    }

    &:nth-child(3) {
      position: absolute;
      right: 0%;
      top: 58%;
      .ask_question_game_box_number-img {
        position: absolute;
        top: -38%;
        right: 1%;
      }
    }

    &:nth-child(4) {
      position: absolute;
      bottom: -4%;
      left: 50%;
      transform: translateX(-50%);

      .ask_question_game_box_number-img {
        position: absolute;
        top: 20%;
        right: -43%;
      }
    }
  
 

    &:nth-child(5) {
      position: absolute;
      left: 7%;
      top: 58%;
      -webkit-transform: translateX(-30%);
      transform: translateX(-30%);

      .ask_question_game_box_number-img {
        position: absolute;
        bottom: -40%;
        right: -31%;
    }
  }


    &:nth-child(6) {
      position: absolute;
      left: 7%;
      top: 18%;
      transform: translateX(-30%);

      .ask_question_game_box_number-img {
        position: absolute;
        bottom: -40%;
        right: 45%;
      }
    }
  }
}



.ask_question_game_box.error {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100000;
  }
}