.ask_question_game {
  overflow-x: hidden;
  &_box {
    height: 19vh;
    width: 19vh;
    max-width: 150px;
    max-height: 150px;
    margin-top: 2.5vh;
    border: 6px solid #44bbbd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    font-size: 14px;
    text-align: center;
    color: #0b2228;
    cursor: pointer;
    font-family: 'BPG Arial';

    img {
      height: 100%;
    }
    h5 {
      font-size: 1.4vh;
      line-height: 1.2;
    }
  }

  .draggedElement {
    height: 19vh;
    width: 19vh;
    max-width: 150px;
    max-height: 150px;
    margin-top: 2.5vh;
    border: 6px solid #44bbbd;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 11px;
    text-align: center;
    color: #0b2228;
    cursor: pointer;
    font-family: 'BPG Arial';
    font-size: 1.4vh;

    h5 {
      line-height: 1.2;
    }
  }

  .circle__container {
    height: 75vh;
  }

  .ask_question_game_box {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
    }
  }

  .ask_question_game_box--sm {
    width: 19vh;
    height: 19vh;
    max-width: 150px;
    max-height: 150px;
    border: 6px solid #44bbbd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    text-align: center;
    color: #0b2228;
    position: relative;
    font-size: 1.7vh;
    font-family: 'BPG Arial';

    h5{
      line-height: 1.2;
      font-size: 1.4vh;
    }

    &:nth-child(1) {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);

      img {
        position: absolute;
        top: 0vh;
        right: 12vw;
      }
    }

    &:nth-child(2) {
      position: absolute;
      right: -2vw;
      top: 20%;

      img {
        position: absolute;
        bottom: 19vh;
        right: 6vw;
      }
    }

    &:nth-child(3) {
      position: absolute;
      right: -2vw;
      top: 60%;
      img {
        position: absolute;
        top: -9vh;
        right: -1vw;
      }
    }

    &:nth-child(4) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      img {
        position: absolute;
        top: 3vh;
        right: -4.5vw;
      }
    }
  
 

    &:nth-child(5) {
      position: absolute;
      left: 2vh;
      top: 60%;
      transform: translateX(-30%);

      img {
        position: absolute;
        top: 16vh;
        right: -4vw;
    }
  }


    &:nth-child(6) {
      position: absolute;
      left: 2vh;
      top: 20%;
      transform: translateX(-30%);
      img {
        position: absolute;
        top: 21vh;
        right: 4vw;
      }
    }
  }
}



.ask_question_game_box.error {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100000;
  }
}