.nature-material-row-full-container{
  margin-left:13.17vw;
  margin-top:3.55vh; 
}

.nature-material-row-full{
  margin-bottom: 1.27vh;

  .nature-material-row-pic{
    height:8.27vh;
  }

  p {
    color: #0B2228;
    font-family: 'BPG Arial', sans-serif;
    font-size: 1.8vh;
    }
}


.nature-material-full-col-9{
  margin-left: 2.21vw;
}
