.cs-6-2-div-img{
  &-1{
    height:58.23vh;
  } 
  &-3{
    height:41.79vh;
  }
  &-4{
    height:37.76vh;
  }
  &-5{
    height:46.35vh;
  }
  &-6{
    height:52.6vh;
  }
  &-7{
    height:34.76vh;
  }
  &-8{
    height:38.28vh;
  }
  img{
    height:100%;
  }
}