.class_6_2 {
    &-img_box_17 {
        height: 60.15vh;
        max-height: 462px;
        img {
            height: 100%;
        }
    }
    &-img_box_18 {
        height: 26.69vh;
        max-height: 205px;
        img {
            height: 100%;
        }
    }
    &-img_box_19 {
        position: fixed;
        bottom:0;
        height: 73.55vh;
        max-height: 564.9px;
        img {
            height: 100%;
        }
    }
    &-img_box_20 {
        height: 38.28vh;
        max-height: 294px;
        img {
            height: 100%;
        }
    }
    &-title_item {
        font-style: italic;
        color: #62548A;
        font-family: 'DejaVu Sans Oblique';
        font-size: 3.64vh;
    }
    &-video_box_21{
        width: 59.15vw;
        height: 58.46vh;
        video{
          width:100%;
          height:100%;
        }
    }
    &-bg_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Conditional-operators-2/C-6-2-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_23 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Conditional-operators-2/C-6-2-23.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_24 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Conditional-operators-2/C-6-2-24.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_25 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Conditional-operators-2/C-6-2-24.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}