.cs-6-28{
    img{
        height:100%;
    }
    &-1{
        height:54.16vh;
        max-height:416px;
    }
    &-3{
        height:50.65vh;
        max-height:389px;
    }
    &-4{
        height:62.63vh;
        max-height:481px;
    }
    &-5{
        height:55.20vh;
        max-height:424px;
    }
    &-6{
        height:48.95vh;
        max-height:376px;
    }
    &-7{
        height:41.7vh;
        max-height:321px;
    }
    &-8{
        height:64.32vh;
        max-height:494px;
    }
    &-9{
        height:50.7vh;
        max-height:387px;
    }
    &-10{
        height:60vh;
        max-height:464px;
    }
}
