.cs-6-28-div { 
    &-11-img {
        height:58.33vh;
        position:absolute;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
    }
    &-12-img {
        height:65.62vh;
        position:absolute;
        bottom:0;
        right:0;
    }
    &-13-img {
        height:55.85vh;

    }
    &-14-img {
        height:45.52vh;
        position:absolute;
        bottom:0;
        right:0;
    }
    img {
        height: 100%;
    }
}