//.justify-content-right {
//    -ms-flex-pack: right !important;
//    justify-content: right !important;
//}

.cs-6-28-15 {
    height: 60.28vh;
    max-height: 463px;
    position: fixed;
    bottom: 1vh;
}

.cs-6-28-16 {
    height: 74.49vh;
    position: fixed;
    right: 0;
    bottom: 0;
}

.cs-6-28-17 {
    height: 24.04vh;
    max-height: 189.05px;
    position: fixed;
    bottom: 6vh; 
    
    &-title {
        margin-bottom: 1vh!important;
    }
}

.cs-6-28-18 {
    height: 30.36vh;
    max-height: 233.21px;
}

.small-text {
    margin: 0.5vh !important;
}

.small-text {
    p {
        font-size: 2vh !important;
    }
}

.padding-up {
    padding-top: 9vh !important;
}