//.justify-content-right {
//    -ms-flex-pack: right !important;
//    justify-content: right !important;
//}

.cs-6-28-16 {
    height: 60.28vh;
    max-height: 463px;
}

.cs-6-28-17 {
    height: 74.49hv;
    max-height: 572.13;
}

.cs-6-28-18 {
    height: 24.04hv;
    max-height: 189.05px;
}

.cs-6-28-19 {
    height: 30.36hv;
    max-height: 233.21px;
}