.class_6_28 {
    &-bg_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-game-in-scratch-28/C-6-28-20.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-game-in-scratch-28/C-6-28-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-game-in-scratch-28/C-6-28-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_23 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-game-in-scratch-28/C-6-28-23.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}