.class_6_28 {
    &-img_5_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 75vh;
        }
    }
    &-img_6_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 73vh;
        }
    }
    &-img_12_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 74.6vh;
        }
    }
    &-img_13_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 75.5vh;
        }
    }
}