.cs-2-11{
    &-1-img{
        height: 61.58vh;
        margin: 4vh auto;
    }
    &-3-img{
        height: 39.32vh;
        margin-top: 3vh;
    }
    &-4-img{
        height: 57.94vh;
        margin-top: 3vh;
    }
    &-5-img{
        height: 37.36vh;
        margin-top: 7vh;
    }
    &-6-img{
        height: 50.39vh;
        margin-top: 2vh;
    }
}