.class_2_11-img_13 {
  height: 39.8vh;
  max-height: 305.8px;
}
.class_2_11-img_13 img {
  height: 100%;
}
.class_2_11-img_14 {
  height: 43.95vh;
  max-height: 337.6px;
}
.class_2_11-img_14 img {
  height: 100%;
}
.class_2_11-img_15 {
  height: 47.65vh;
  max-height: 366px;
}
.class_2_11-img_15 img {
  height: 100%;
}
.class_2_11-img_16 {
  height: 51vh;
  max-height: 394px;
}
.class_2_11-img_16 img {
  height: 100%;
}
.class_2_11-img_17 {
  height: 50.3vh;
  max-height: 387px;
}
.class_2_11-img_17 img {
  height: 100%;
}
.class_2_11-img_18 {
  height: 47vh;
  max-height: 363px;
}
.class_2_11-img_18 img {
  height: 100%;
}