.class_2_11 {
    &-img_13 {
        height: 39.8vh;
        max-height: 305.8px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 43.95vh;
        max-height: 337.6px;
        img {
            height: 100%;
        }
    }
    &-img_15 {
        height: 47.65vh;
        max-height: 366px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        height: 51vh;
        max-height: 394px;
        img {
            height: 100%;
        }
    }
    &-img_17 {
        height: 50.3vh;
        max-height: 387px;
        img {
            height: 100%;
        }
    }
    &-img_18 {
        height: 47vh;
        max-height: 363px;
        img {
            height: 100%;
        }
    }
}