.cs-2-11-div {
    &-7-img {
        height:45.96vh;
    }
    &-8-img {
        height:50.39vh;
    }

    &-9-img {
        height:49.47vh;
        position: absolute;
        bottom:5.59vh;
        right:17.05vw;
    }
    &-10-img {
        height:52.86vh;
    }
    &-11-img {
        height:55.97vh;
        position: absolute;
        bottom:0;
        right:0;
    }
    &-12-img {
        height:37.36vh;
    }
    img {
        height: 100%;
    }
}
