.storing-information{
    &-6-1{
        height:40vh;
        max-height:300px;
    img{
        height:100%;
    }
    }
    &-7-1{
        height:40.2vh;
        max-height:300px;
    img{
        height:100%;
    }
    }

    &-9-1{
        height:59vh;
        max-height:460px;
    img{
        height:100%;
    }
    }

    &-12-1{
        height:50.52vh;
        max-height:388px;
    img{
        height:100%;
    }
    }
    &-14-1{
        img{
            position: fixed;
            right: 0;
            bottom: 0;
            height:65vh!important;
        }
    }
    &-14-1{
        height:60vh;
        max-height:461px;
    img{
        height:100%;
    }
    }
}