.storing-information-6-1 {
  height: 58vh;
  max-height: 450px;
}
.storing-information-6-1 img {
  height: 100%;
}
.storing-information-7-1 {
  height: 50.2vh;
  max-height: 386px;
}
.storing-information-7-1 img {
  height: 100%;
}
.storing-information-9-1 {
  height: 59vh;
  max-height: 460px;
}
.storing-information-9-1 img {
  height: 100%;
}
.storing-information-12-1 {
  height: 50.52vh;
  max-height: 388px;
}
.storing-information-12-1 img {
  height: 100%;
}
.storing-information-14-1 img {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 65vh !important;
}
.storing-information-14-1 {
  height: 60vh;
  max-height: 461px;
}
.storing-information-14-1 img {
  height: 100%;
}