.n-10-28-image {
  right: 29vw;
  bottom: 0;
  svg {
    height: 40vh;
  }
}
.n-10-28-objects {
  height: 40vh;
  span {
      margin-left: 1vw;
  }
}
.n-10-28-obj-box {
  background-color: #fff;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  img {
    height: 4vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
