.n-10-comp-img{
    height: 40.88vh;
    margin-top: 10vh;
}

.newDesign_subject_question_item-title-link{
    font-size: 2.6vh;
    font-family: "DejaVuSans";
    line-height: 3.9vh;
    margin-left: 2vh;
}