.coat-image-box {
  &_height{
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &_image-box-04{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-4.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-05{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-5.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-06{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-6.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-07{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-7.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-08{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-8.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-10{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-10.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-12{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-12.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-14{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-14.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-15{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-15.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-16{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-16.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-17{
    svg {
      height: 100%;
      width: 100%;
      object-fit: contain ;
    }
  }
  &_image-box-18{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-18.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-19{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-19.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-20{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-20.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-21{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-21.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-22{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-22.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-30{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-30.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-31{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-31.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-32{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-32.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-38{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-38.png") no-repeat center;
    background-size: cover;
  }
  &_image-box-39{
    background: url("../img/gakvetilebi/buneba/coat-10/comix-39.png") no-repeat center;
    background-size: cover;
  }
}