.cs-4-9 {
    &-1-img {
        height: 63.71vh;
        margin: 2vh auto 3vh;
    }
    &-2-img {
        display: inline-block;
        height: 4vh;
        vertical-align: bottom;
    }
    &-3-img {
        height: 47.26vh;
        margin: 2vh auto 0;
    }
    &-4-img {
        height: 52.08vh;
        margin: 2vh auto 0;
    }
    &-5-img {
        height: 59.29vh;
        margin: 2vh auto 0;
    }
    &-6-img {
        height: 45.96vh;
        margin: 2vh auto 0;
    }
    &-7-search-icon {
        display: inline-block;
        height: 4vh;
        vertical-align: bottom;
    }
}
