.cs-template {
  &-box-16 {
    height: 51vh;
    max-height: 393px;

    img {
      height: 100%;
    }
  }

  &-box-16-1 {
    height: 38vh;
    max-height: 292px;

    img {
      height: 100%;
    }
  }

  &-box-9-1 {
    height: 57vh;
    max-height: 443px;

    img {
      height: 100%;
    }
  }

  &-box-13-1 {
    height: 60vh;
    max-height: 460px;

    img {
      height: 100%;
    }
  }

  &-box-18 {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 45vh;
    max-height: 398px;

    img {
      height: 100%;
    }
  }
}


.cs-template {
  .box-1 {
    width: 45vw;
    max-width: 620px;
    height: 7.3vh;
    max-height: 58px;

    .cycle-6_bg-box-blue {
      background: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/blue-box.svg") no-repeat center;;
    }
  }

  .box-2 {
    width: 44vw;
    max-width: 336px;
    height: 7.3vh;
    max-height: 58px;

    .cycle-6_bg-box-blue {
      background: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/pink-box.svg") no-repeat center;;
    }
  }

  .reload_game_wrapper {
    position: fixed;
    bottom: 14.453125vh;
    right: 17.057101vw;
  }
}

