.cs-template {
  &-box-16 {
    height: 51vh;
    max-height: 393px;
    img{
      height: 100%;
    }
  }
  &-box-16-1 {
    height: 38vh;
    max-height: 292px;
    img{
      height: 100%;
    }
  }
  &-box-18 {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 65vh;
    max-height: 498px;
    img{
      height: 100%;
    }
  }
}


.cs-template {
  .box-1 {
    width: 45vw;
    max-width: 620px;
    height: 7.3vh;
    max-height: 58px;

    .cycle-6_bg-box-blue {
      background: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/blue-box.svg");
    }
  }
  .box-2 {
    width: 44vw;
    max-width: 336px;
    height: 7.3vh;
    max-height: 58px;

    .cycle-6_bg-box-blue {
      background: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/pink-box.svg");
    }
  }
  .reload_game_wrapper{
    bottom: 11vh;
  }
}