.Class_4_9 {
    &-img_box_19 {
        position: fixed;
        bottom: 0;
        img {
            height: 59.11vh;
            max-height: 454px;
        }
    }
    &-img_box_20_1 {
        display: inline;
        vertical-align: middle;
        height: 4.53vh;
        max-height: 34.8px;
        img {
            height: 100%;
        }
    }
    &-img_box_20_2 {
        height: 39.06vh;
        max-height: 300px;
        img {
            height: 100%;
        }
    }
}