.Class_4_9{
    &-title_item_21 {
        font-size: 3.64vh;
        font-style: italic;
        color: #62548A;
        font-family: 'DejaVu Sans Oblique';
    }
   &-img_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/C-4-9-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
   }
   &-img_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/C-4-9-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
   }
   &-img_23 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/C-4-9-23.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-img_24 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/template-and-table-9/C-4-9-24.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
} 
