.cs-4-9-div-img{
    &-8{
        height:30.33vh;
    }
    &-10{
        height:58.72vh;
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &-11{
        height:37.1vh;
    }
    &-11-1{
        height:4.15vh;
    }
    &-11-2{
        height:8.46vh;
        display:inline-block;
    }
    &-13-1{
        height:3.9vh;
        display:inline-block;
        align-items:center;
    }
    &-13{
        height:47.52vh;
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &-14{
        height:37.76vh;
    }
    &-15-1{
        height:5.46vh;
          display:inline-block;
    }
    &-15-2{
        height:3.77vh;
        display:inline-block;
    }
    &-15{
        height:45.44vh;
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    img{
        height:100%;
    }
}
.cs-4-9-text-imgs{
    p{
    line-height: 3.9vh;
    margin-left: 2vh;
    font-size: 2.6vh;
    font-family: 'DejaVuSans';
    }
}

.cs-4-9-div-img-11-question{
    align-items:center;
    
    vertical-align:middle;

}