.cs-4-9-div-img{
    &-8{
        height:30.33vh;
    }
    &-10{
        height:58.72vh;
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &-11{
        height:37.1vh;
    }
    &-11-1{
        height:4.15vh;
    }
    &-11-2{
        height:8.46vh;
      
    }
    &-13-1{
        height:3.9vh;
        align-items:center;
    }
    &-13{
        height:47.52vh;
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &-14{
        height:37.76vh;
    }
    &-15-1{
        height:5.46vh;
         
    }
    &-15-2{
        height:3.77vh;
        
    }
    &-16{
        height:45.44vh;
        position: absolute;
        bottom:0vh;
        left: 50%;
        transform: translate(-50%, 0);
    }
    img{
        height:100%;
    }
}
.cs-4-9-text-imgs{
    p{
    line-height: 3.9vh;
    margin-left: 2vh;
    font-size: 2.6vh;
    font-family: 'DejaVuSans';
    }
}

.cs-4-9-div-img-11-question{
    align-items:center;
}

.cs-4-9-15-1-question-div{
   flex-wrap:wrap;
   margin-left: 2vh;
   p{
    margin-left: 0vh;
   }
}
.cs-4-9-div-img-9{ 
    .cs-4-9-9-img{
        height:100%;
        position:absolute;
        &-1{
            height:17.83vh;
            bottom:27.34vh;
            left:12vw;
        }
        &-2{
            height:18.48vh;
            bottom:23.56vh;
            left:14vw;
        }
        &-3{
            height:14.06vh;
            bottom:17.21vh;
            left:15vw;
        }
        &-4{
            height:10.74vh;
            bottom:10.8vh;
            left:14vw;
        }
      
        &-5{
            height:32.03vh;
            bottom:24.85vh;
            left:22vw;
        }
        &-6{
            height:24.15vh;
            bottom:14.66vh;
            left:35.87vw;
        }
        &-7{
            height:4.29vh;
            bottom:44.49vh;
             right:40.2vw;
        }
        &-8{
            height:12.63vh;
            bottom:32.92vh;
           right:33.67vw;
        }
        &-9{
            height:14.02vh;
            bottom:24.51vh;
            right:35.41vw;
        }
        &-10{
            height:12.04vh;
            bottom:15.41vh;
            right:33.91vw;
        }
    }
}

.cs-4-12-div-img{
    height: 48.72vh
}