.N-1366-05-41-arrows-img-container{
  margin-top:26.69vh;
}
.N-1366-05-41-laptop-img-container{
  height:33.91vh;
  position: absolute;
  top:33.81vh;
  right:17.42vw;
  img{
    height: 33.91vh;
  }


}

.img_cont {
  .earth__img {
    width: 21.96193265007321vw;
    border: 2px solid #7FD1D8;
    border-radius: 50%;
    padding: 23px;
  }


  .only__girl {
    position: absolute;
    left: 50%;
    width: 3.22108345534407vw;
    top: 8.984375vh;
  }

  .girl__boy {
    position: absolute;
    left: 23%;
    width: 2.683748vw;
    bottom: 13.020833333333334vh;
  }

  .rotate__earth {
    width: 1.8301610541727673vw;
    height: 3.2552083333333335vh;
    background: #F8D24B;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    top: 8.895833333333332vh;
  }
}


.earth__dash {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%) rotate(25deg);
}

.con {
  margin-top: 15.69vh;
  margin-left: 67px;
}