.N-1366-06-24-cols-container{
    margin-top:5.33vh;
}

.N-1366-06-24-1-div-container{
height: 19.1vh;
img{
    height:100%;
}
}
.N-1366-06-24-3-div-container{
    height: 19.72vh;
    img{
        height:100%;
    }
    }
    .N-1366-06-24-2-div-container{
        height: 24.44vh;
        img{
            height:100%;
        }
        }
        .N-1366-06-24-4-div-container{
            height:22.33vh;
            img{
                height:100%;
            }
            }
 .N-1366-06-24-btn-padding{
     
 }