#N-1366-06-47{
  .text-wrapper{
    height: 43vh;
    max-height: 332px;
  }
  p{
    font-size: 2vh;
    font-family: 'BPG Arial', sans-serif;
  }
  .seasons{
    font-size: 2.3vh;
    font-family: 'BPG Arial', sans-serif;
  }
  .img-box{
    height: 57.8vh;
    max-height: 444px;
    img{
      height: 100%;
    }
  }
  .text-boxes{
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    max-width: 120px;
    max-height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .box-1{
    left: 30%;
    top: -1.3vh;
  }
  .box-2{
    left: 54%;
    top: 14%;
  }
  .box-3{
    right: 25%;
    top: 35%;
  }
  .box-4{
    top: 57%;
    right: 4%;
  }
  .box-5{
    top: 96%;
    right: 31%;
  }
  .box-6{
    left: 31%;
    top: 76%;
  }
  .box-7{
    left: 3%;
    top: 36%;
  }
  .box-8{
    left: 24%;
    top: 57%;
  }
}