.managing-office365{
    &-13{
        height:39.8vh;
        max-height:306px;
    img{
        height:100%;
    }
 }
    &-14{
        height:53.25vh;
        max-height:409px;
    img{
        height:100%;
    }
 }
    &-15{
        height:54.4vh;
        max-height:418px;
    img{
        height:100%;
    }
 }
    &-16{
        height:39.71vh;
        max-height:305px;
    img{
        height:100%;
    }
}
    &-17{
        height:40vh;
        max-height:309px;
    img{
        height:100%;
    }
 }
    &-18{
        height:33.8vh;
        max-height:260px;
    img{
        height:100%;
    }
    }
}