.class_3_12 {
    &-img_13_1 {
        height: 43vh;
        max-height: 337px;
        img {
            height: 100%;
        }
    }
    &-img_14_1 {
        height: 38vh;
        max-height: 295px;
        img {
            height: 100%;
        }
    }
}