.class_3_12 {
    &-bg_19 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/managing-office365-12/C-3-12-19.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/managing-office365-12/C-3-12-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/managing-office365-12/C-3-12-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/managing-office365-12/C-3-12-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}