
.new_slider_main {
  &-illustration {
    height: 75.78vh;
    width: auto;
  }
  &-title {
    margin-top: 2vh;
    font-size: 5.2vh;
    font-family: "ALK Sanet", sans-serif;
    line-height: 6.5vh;
    &-purple {
      color: #947dce;
    }
    &-pink {
      color: #dc6c85;
    }
    &-yellow {
      color: #f8d24b;
    }
    &-blue {
      color: #7fd1d8;
    }
    &-description {
      color: #c5cbcd;
      font-family: "DejaVu Sans Oblique", sans-serif;
      font-size: 2.6vh;
      margin-top: 5vh;
    }
  }
}
.new_btn-start {
  background: white;
  padding: 1.7vh 6.8vh;
  box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.6);
  border-radius: 5vh;
  font-family: "ALK Sanet", sans-serif;
  color: #7fd1d8 !important;
  font-size: 2vh;
  transition: 0.3s;
  line-height: 2vh;
  width: 12.3vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #7fd1d8;
    box-shadow: 2px 2px 8px rgba(248, 210, 75, 0.4);
  }
  &-cont {
    margin-top: 12vh;
  }
}
#mainPage{
  padding-top: 13vh;
}

.owl-carousel .owl-stage-outer .new_slider_main-item {
  align-items: start;
}

#mainPage .owl-theme .owl-nav.disabled + .owl-dots {
  display: flex;
  justify-content: start;
  margin-top: -15px;
}

#mainPage .owl-theme .owl-dots .owl-dot {
  width: 8vh;
  height: 2px;
  span {
    width: 8vh;
    height: 2px;
    margin: 0;
    display: block;
    // -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 0;
    background-color: #c5cbcd;
    &:before {
      position: relative;
      top: -34px;
      color: #c5cbcd;
      font-family: "ALK Sanet", sans-serif;
      font-size: 2.6vh;
    }
  }
  &.active span {
    width: 100%;
    height: 3px;
    background-size: cover;
    background-color: transparent;

    &:before {
      font-size: 4.6vh;
    }
  }
  &.active:nth-child(1) span {
    background-image: url("../img/slider/dots_purple.svg");
  }
  &.active:nth-child(2) span {
    background-image: url("../img/slider/dots_pink.svg");
  }
  &.active:nth-child(3) span {
    background-image: url("../img/slider/dots_yellow.svg");
  }
  &.active:nth-child(4) span {
    background-image: url("../img/slider/dots_blue.svg");
  }
  &.active:nth-child(1) span:before {
    color: #947dce;
  }
  &.active:nth-child(2) span:before {
    color: #dc6c85;
  }
  &.active:nth-child(3) span:before {
    color: #f8d24b;
  }
  &.active:nth-child(4) span:before {
    color: #7fd1d8;
  }
  &:nth-child(1) span:before {
    content: "01";
  }
  &:nth-child(2) span:before {
    content: "02";
  }
  &:nth-child(3) span:before {
    content: "03";
  }
  &:nth-child(4) span:before {
    content: "04";
  }
}

.svg-comp-bg {
  -webkit-animation-name: transparentBg-animation;
  -webkit-animation-duration: 2s;
  animation-name: transparentBg-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes transparentBg-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes transparentBg-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}