/* 
*wow slider CSS section 
*/
.owl-carousel {
  .owl-item {
    display: block;
    height: inherit !important;
    .slide-item {
      height: inherit !important;
    }
  }
  .owl-stage-outer {
    height: 100% !important;
    .owl-stage {
      height: 100% !important;
      display: block;
    }
    .item {
      height: inherit !important;
      display: flex;
      align-items: center;
    }
    .img-warpper {
      height: inherit !important;
      img {
        height: 100% !important;
      }
    }
  }
}

#index {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -10vh;
  }
  .owl-theme .owl-dots {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    .owl-dot {
      &:hover {
        outline: none;
      }
      span {
        background: transparent;
        border: 1px solid #707070;
        height: 3vh;
        width: 3vh;
      }
    }
    .owl-dot.active {
      &:hover {
        outline: none;
      }
      span {
        background: #7fd1d8;
        border: none;
      }
    }
  }
}

/* 
! slider content sectio
*/
.main_box_links {
  margin-top: 10.4vh;
}
.slider {
  margin-top: 16vh;
  height: 63.3vh;
  position: relative;
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -6vh;
  }
  .slide_content-box {
    height: inherit !important;
    .text-wrapper {
      font-family: "ALK Sanet", sans-serif;
      height: inherit;
      h1 {
        text-align: left;
        font-size: 4.2vh;
        font-family: inherit;
        line-height: 50px;
        color: #0b2228;
        padding: 10.4vh 0 3vh 0;
      }
      p {
        text-align: left;
        font-family: inherit;
        font-size: 2.08vh;
        color: #c5cbcd;
      }
    }
  }
}

/* .slider-animation {
  stroke-dasharray: 100;
  animation: dash 5s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
.bee-animation {
  animation: circle 5s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-15px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-15px) rotate(-360deg);
  }
}
@keyframes circle {
  0% {
    transform: translate(25px, 25px);
  }
  25% {
    transform: translate(-25px, -25px);
  }
  50% {
    transform: translate(-25px, 25px);
  }
  75% {
    transform: translate(25px, -25px);
  }
  100% {
    transform: translate(25px, 25px);
  }
} */
