@import "../global/sectionPointer";
/* 
*wow slider CSS section 
*/
.owl-carousel {
  .owl-item {
    display: block;
    height: inherit !important;
    .slide-item {
      height: inherit !important;
    }
  }
  .owl-stage-outer {
    height: 100% !important;
    .owl-stage {
      height: 100% !important;
      display: block;
    }
    .item {
      height: inherit !important;
      display: flex;
      align-items: center;
    }
    .img-warpper {
      height: inherit !important;
      img {
        height: 100% !important;
      }
    }
  }
}
.owl-theme .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4.9vh;
  .owl-dot span {
    background: transparent;
    border: 1px solid #707070;
  }
  .owl-dot.active span {
    background: #7fd1d8;
  }
}

/* 
! slider content section 
*/

.slider {
  margin-top: 16vh;
  height: 57.3vh;
  position: relative;
  .start-button {
    // margin-top: 25px;
    margin-bottom: 81px;
    button {
      width: 203px;
      height: 68px;
      border: none;
      font-family: "ALK Sanet", sans-serif;
      font-size: 16px;
      color: #fff;
      background: none;
      position: relative;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #262626;
      }
    }
  }

  .slide_content-box {
    height: inherit !important;
    .text-wrapper {
      font-family: "ALK Sanet", sans-serif;
      padding-left: 8.6vw;
      height: inherit;
      .button-red {
        background-image: url("../img/slider/start-buttons/red-button.svg");
      }
      .button-blue {
        background-image: url("../img/slider/start-buttons/blue-button.svg");
      }
      .button-yellow {
        background-image: url("../img/slider/start-buttons/yellow-button.svg");
      }
      a {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        margin-top: 4vh;
        height: 8.7vh;
        width: 26vh;
        font-family: inherit;
        font-size: 2.5vh;
        line-height: 4vh;
        color: #262626;
        text-align: center;
        padding: 10px 20px;
        border-radius: 27px;
      }
      h1 {
        text-align: left;
        font-size: 4.2vh;
        font-family: inherit;
        line-height: 50px;
        color: #0b2228;
        padding: 10.4vh 0 3vh 0;
      }
      p {
        text-align: left;
        font-family: inherit;
        font-size: 2.08vh;
        color: #c5cbcd;
      }
    }
  }
}
/*
.slider-animation {
  stroke-dasharray: 100;
  animation: dash 5s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
.bee-animation {
    animation: circle 5s linear infinite;
}
@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-15px)
                rotate(0deg);

    }
    100%{
      transform:rotate(360deg)
                translate(-15px)
                rotate(-360deg);
    }
  }
@keyframes circle{
    0%{
        transform: translate(25px, 25px);
    }
    25%{
      transform: translate(-25px, -25px);
    }
    50% {
      transform: translate(-25px, 25px);
    }
    75% {
      transform: translate(25px, -25px);
    }
    100%{
        transform: translate(25px, 25px);
    }
  } */
