.main-lesson-start{
    &-cont{
        text-align: center;
        &-row{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .new_btn-start-cont{
            margin-top: 7vh;
            max-height: 40px;
            height: 5vh;
            padding: 0;
            display: flex;
            justify-content: center;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                /*todo  მუსიკის დაბრუნებისას 100% */
                // width: 70%;
                width: 180px;
                cursor: pointer;
            }
        }
    }
    &-img{
        height: 54.16vh;
        margin: auto;
    }
}
