.swiper-slide-art {
  margin: auto;
  &-text {
    color: #0b2228;
    font-size: 1.82vh;
    font-family: "BPG Arial";
  }
  img {
    height: 2.21vh;
    margin-bottom: 2vh;
  }
}

.flickity-viewport {
  height: 70vh !important;
}


.carousel-cell {
  height: 100%;
  max-width: 63vw;
  width: 63vw;
  align-items: center;
}


.carousel-cell .slide-image {
  width: 65%;
  text-align: center;
  margin: 0 80px;
  img {
    width: 60.93vh;
    height: 60.93vh;
    border-radius: 60%;
    transition: .3s;
    width: 50.93vh;
    height: 50.93vh;
  }
}
.carousel-cell.is-selected .slide-image img {
  border-radius: 50px;
  width: 60.93vh;
  height: 60.93vh;
}
