.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    width: 80%;
  }
  .swiper-slide:nth-child(2n) {
      width: 60%;
    }
  .swiper-slide-art {
    &-text {
      color: #0b2228;
      font-size: 1.82vh;
      font-family: "BPG Arial";
      img {
        height: 2.21vh;
        margin-bottom: 2vh;
      }
    }
  }
  .swiper-slide-art-img {
    border-radius: 50%;
    width: 60vh;
    height: 60vh;
  }
  .swiper-slide-active .swiper-slide-art-img {
    border-radius: 20px;
  }
  .swiper-slide-next .swiper-slide-art-img {
      border-radius: 20px;
    }