
#A-1366-91{
    .mix_color_box {
        height: 55vh;
        max-height: 423px;
    
        img {
            height: 100%;
        }
    }
}

.circle__g {
    transition: all 0.3s;
}

.circle--1 {
    transform: translate(72%, 14%);
}

.circle--1:hover {
    transform: scale(1.2) translate(56%, 12%);
}