#A-1366-219 {
    .container_main_title_exercise-paddings {
        height: 4.2vh;
        display: flex;
        align-items: center;
        margin-bottom: 5.4vh;
    }
    .conterast_color_box {
        height: 47vh;
        max-height: 362px;

        img {
            height: 100%;
        }
    }
    .subject_question_item p{
        line-height: 30px;
    }
}