
#A-1366-91{
    .mix_color_box {
        height: 55vh;
        max-height: 423px;
    
        img {
            height: 100%;
        }
    }
}

.circle__g {
    transition: all 0.3s;
}


.circle--1 {
    transform: translate(57%, 17%);
}

.circle--1:hover {
    transform: scale(1.2) translate(46%, 12%);
}


.circle--2 {
    transform: translate(36%, 37%);
}

.circle--2:hover {
    transform: scale(1.2) translate(28%, 29%);
}


.circle--3 {
    transform: translate(89%, 38%);
}

.circle--3:hover {
    transform: scale(1.2) translate(73%, 30%);
}

.circle--4 {
    transform: translate(87%, 65%);
}

.circle--4:hover {
    transform: scale(1.2) translate(70%, 52%);
}

.circle--5 {
    transform: translate(32%, 67%);
}

.circle--5:hover {
    transform: scale(1.2) translate(25%, 53%);
}

.circle--6 {
    transform: translate(63%, 90%);
}

.circle--6:hover {
    transform: scale(1.2) translate(51%, 73%);
}