#N-1366-06-39 {
  .N-1366-03-153 {
    height: 100vh;

    svg{
      height: 100%;
      width: 100%;
    }
  }
}

.nature-text-wrapper_16 {
  position: absolute;
  bottom: 0;
  height: 16vh;
  left: 0;
  right: 0;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.949) 58%, white 100%);
}