.N-1366-06-26-sun-img-container{
  height:32.81vh;
  margin-top:18.50vh;
  img{
    height:100%;
  }
}
.N-1366-06-26-laptop-img-container{
  height:40.75vh;
  position:absolute;
  top:26.04vh;
  right:21.01vw;
  img{
    height:100%;
  }
}