.cs-3-10-div {
    &-3-img {
        height:41.53vh;
    }
    &-4-img {
        height:41.66vh;
    }

    &-6-img {
        height:69.66vh;
    }
    img {
        height: 100%;
    }
}
.cs-3-10-5-div
{
    img{
        height:18.22vh;
        margin: auto;
    }
}