.cs-3-10-div-3-img {
  height: 41.53vh;
}
.cs-3-10-div-4-img {
  height: 41.66vh;
}
.cs-3-10-div-3-1-img {
  height: 55.46vh;
}
.cs-3-10-div-6-1-img {
  height: 52.73vh;
}
.cs-3-10-div-11-1-img {
  height: 41.75vh;
}
.cs-3-10-div-6-img img {
  width: 44vh;
  height: 31.66vh;
}
.cs-3-10-div img {
  height: 100%;
}

.cs-3-10-5-div img {
  height: 18.22vh;
  margin: auto;
}