.cs-3-10-div {
    &-3-img {
        height:41.53vh;
    }
    &-4-img {
        height:41.66vh;
    }

    &-3-1-img {
        height:55.46vh;
    }

    &-6-1-img {
        height:52.73vh;
    }
    
    &-11-1-img {
        height:41.75vh;
    }
    &-6-img {
        img {
            width: 44vh;
            height:31.66vh;
        }
    }
    img {
        height: 100%;
    }
}

.cs-3-10-5-div
{
    img{
        height:18.22vh;
        margin: auto;
    }
}