.cloud-services-10{
    &-13{
        height:35.5vh;
        max-height:273px;
    img{
        height:100%;
    }
    }
    &-14{
        height:44.14vh;
        max-height:339px;
    img{
        height:100%;
    }
    }
}