.class_3_10 {
    &-img_15 {
        position: fixed;
        bottom: 0;
        height: 49vh;
        max-height: 378.7px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        height: 36vh;
        max-height: 278.9px;
        img {
            height: 100%;
        }
    }
    &-img_17 {
        position: fixed;
        bottom: 0;
        height: 58.85vh;
        max-height: 452px;
        img {
            height: 100%;
        }
    }
    &-img_18 {
        position: fixed;
        bottom: 0;
        height: 59.6vh;
        max-height: 457.9px;
        img {
            height: 100%;
        }
    }
    &-img_19 {
        position: fixed;
        bottom: 16vh;
        height: 51vh;
        max-height: 391.7px;
        img {
            height: 100%;
        }
    }
    &-img_20 {
        position: fixed;
        bottom: 10vh;
        height: 52.66vh;
        max-height: 404.5px;
        img {
            height: 100%;
        }
    }
}