.cloud-services_page {
  &-7 {
    height: 53vh;
    max-height: 411px;

    img {
      height: 100%;
    }
  }

  &-8 {
    height: 43vh;
    max-height: 337px;

    img {
      height: 100%;
    }
  }
  &-9 {
    height: 46vh;
    max-height: 355px;

    img {
      height: 100%;
    }
  }

  &-10 {
    height: 48vh;
    max-height: 371x;


    img {
      height: 100%;
    }
  }

  &-11 {
    height: 41vh;
    max-height: 316px;
    img {
      height: 100%;
    }
  }

  &-12 {
    height: 52vh;
    max-height: 406px;
    position:fixed;
    right:0;
    bottom:0;
    img {
      height: 100%;
    }
  }
}
