body {
  background: green;
}

header {
  height: 6vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

header nav .header-logo {
  height: 5.2vh;
}

header nav .header-logo a {
  height: 100%;
  display: block;
}

header nav .header-logo a img {
  max-height: 21px;
  height: 100%;
}

header nav .header-menu {
  height: 5.2vh;
}

header nav .header-menu img {
  max-height: 22px;
  height: 100%;
}

header nav .header-sound {
  height: inherit;
}

header nav .header-sound .header-sound_switch {
  height: inherit;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  max-width: 40px;
  max-height: 40px;
  height: 5.2vh;
  width: 5.2vh;
  border-radius: 50%;
  outline: none;
  background: white;
  font-family: 'ALK Sanet', sans-serif;
}

header nav .header-sound .header-sound_switch img {
  max-height: 36px;
  height: 100%;
}

header nav .header-sound .sound-on {
  margin-right: 50px;
}

header nav .header-sound .lang {
  background: #7fd1d8;
  color: white;
}
