.carousel_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15.7vh;
    font-family: 'DejaVu Sans Oblique', sans-serif;
    font-size: 3.6vh;
    color: #fff;
}