.building_box{
  position: absolute;
  top: -8vh;
  height: 69vh;
  max-height: 544px;
  img{
    height: 100%;
  }
}
.our__pagination{
  z-index: 1212;
}

.pb-1vh{
  padding-bottom: 1.5vh;
}
#A-32-1{
  p{
    font-size: 2.6vh;
  }
}