.background-37 {
    background-image: url(../img/gakvetilebi/xelovneba/City-07/A-1366-07-37.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-38 {
    background-image: url(../img/gakvetilebi/xelovneba/City-07/A-1366-07-38.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-39 {
    background-image: url(../img/gakvetilebi/xelovneba/City-07/A-1366-07-39.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-40 {
    background-image: url(../img/gakvetilebi/xelovneba/City-07/A-1366-07-40.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-41 {
    background-image: url(../img/gakvetilebi/xelovneba/City-07/A-1366-07-41.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}