.game-div {
  div {
    width: 4vw;
    height: 8vh;
  }
  .c-2-4-12-div-1 {
    top: 1vh;
    right: 8.6vw;
  }
  .c-2-4-12-div-2 {
    top: 11.8vh;
    right: 1vw;
  }
  .c-2-4-12-div-3 {
    top: 29vh;
    right: 1vw;
  }
  .c-2-4-12-div-4 {
    bottom: 1vh;
    right: 8.6vw;
  }
  .c-2-4-12-div-5 {
    top: 29vh;
    left: 1vw;
  }
  .c-2-4-12-div-6 {
    top: 11.8vh;
    left: 1vw;
  }
}
