.one-day-5{
    img{
        height:100%;
    }

    &-1{
        height:61.97vh;
        max-height:476px;
    }
    &-3{
        height:50vh;
        max-height:390px;
    }
    &-4{
        height:52vh;
        max-height:400px;
    }
    &-6{
        height:56.77vh;
        max-height:436px;
    }
}

