.one-day-5{
    img{
        height:100%;
    }

    &-11{
        height:63.02vh;
        max-height:484px;
    }
    &-12{
        height:54.4vh;
        max-height:418px;
    }
    &-13{
        height:52vh;
        max-height:406px;
    }

}
