.class_music_5 {
    &-box_1 {
        width: 11vh;
        height: 9vh;
        border: 3px solid #7FD1D8;
        opacity: 1;
    }
    &-box_2 {
        width: 11vh;
        height: 9vh;
        border: 3px solid #dae4e5;
        opacity: 1;
    }
    &-box-first {
        border-radius: 2vh 2vh 0 0; 
    }
    &-box-last {
        border-radius: 0 0 2vh 2vh;
    }
    &-img_7 {
        img {
            height: 5.8vh;
        }
    }
    &-img_7_1 {
        img {
            height: 13vh;
        }
    }
    &-img_7_2 {
        img {
            height: 5.8vh;
            margin-top: 3.2vh;
        }
    }
    &-img_8 {
        img {
            height: 6.4vh;
        }
    }
    &-img_8_1 {
        img {
            height: 9.9vh;
        }
    }
    &-img_8_2 {
        img {
            height: 5.8vh;
        }
    }
    &-blue_circle {
        width: 4.6vh;
        height: 4.6vh;
        margin: 2vh auto;
    }
    &-img_9_title {
        font-size: 15px;
        font-family: DejaVuSans;
        margin-bottom: 0!important;
    }
    &-img_9_cont {
        background-image: url('../img/gakvetilebi/Music-class/One-day-5/music-5-9-rect.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24.2vh;
        height: 4.8vh;
    }
    &-check_box {
        height: 2.6vh;
        width: 2.6vh;
        margin: 0.7vh 1.5vh 0 0;
        border: 2px solid #696969;
        border-radius: 8px;
        margin: auto;
        opacity: 1;
    }
    &-img_10 {
        img {
            width: 11vh;
            height: 11vh;
            margin: 0 auto;
        }
    }
    &-img_10_title {
        font-family: DejaVuSans;
        font-size: 16px;
    }
    &-img_10_cont_major {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5vh auto 0;
        width: 20vh;
        height: 5.7vh;
    }
    &-img_10_cont_minor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2vh auto;
        width: 20vh;
        height: 5.7vh;
    }
    
    &-img_14_1 {
        img {
            height: 18.2vh;
            margin: 0 auto 3vh; 
        }
    }
    &-img_14_2 {
        img {
            height: 19.2vh;
            margin: 0 auto 1.5vh; 
        }
    }
    &-img_14_3 {
        img {
            height: 14.58vh;
            margin: 5vh auto 3vh; 
        }
    }
    &-img_14_4 {
        img {
            height: 21vh;
            margin: 0 auto 2vh; 
        }
    }
    &-img_14_5 {
        img {
            height: 14.58vh;
            margin: 5.5vh auto 3vh; 
        }
    }
    &-img_14_6 {
        img {
            height: 13.67vh;
            margin: 0 auto 3vh; 
        }
    }
    &-icon {
        width: 4vh;
        height: 4vh;
        vertical-align: middle;
    }
    &-title-15 {
        font-size: 2vh;
        font-family: DejaVu Sans;
        text-decoration: none;
        font-weight: 100;
    } 
    &-img_15_man {
        height: 36vh;
        position: absolute;
        bottom: 0;
        right: 58vh;
    }
    &-title {
        position: absolute;
        top: 0;
        right:0
    }
    &-img_15_cont {
        width: 8vw;
        height: 12vh;
    }
}
table { 
    border-collapse: separate!important; 
    border-spacing: 0!important;
}
td, th {
    border: solid 2px #7fd1d8!important;
    border-style: none solid solid none!important;
    padding: 3.5vh!important;
}
tr:first-child th:first-child { border-top-left-radius: 10px!important; }
tr:first-child th:last-child { border-top-right-radius: 10px!important; }
tr:last-child td:first-child { border-bottom-left-radius: 10px!important; }
tr:last-child td:last-child { border-bottom-right-radius: 10px!important; }
tr:first-child th { border-top-style: solid!important; }
tr th:first-child { border-left-style: solid!important; }
tr:first-child td { border-top-style: solid!important; }
tr td:first-child { border-left-style: solid!important; }
// .table-bordered {
    
//         border:none!important
// }
// .table { 
//     border: 2px solid #7fd1d8!important;
    
// }
// table {
//     border-collapse: separate!important; 
//     border-spacing: 0!important; 
// }
// th {
//     border: 2px solid #7fd1d8!important;
//     border-style: none solid solid none!important;
//     padding: 1.75vh!important;
// }
// td {
//     border: 2px solid #7fd1d8!important;
//     border-style: none solid solid none!important;
//     padding: 1.75vh!important;
// }
// tr:first-child th:first-child { border-top-left-radius: 10px!important; }
// tr:first-child th:last-child { border-top-right-radius: 10px!important; }
// tr:last-child td:first-child { border-bottom-left-radius: 10px!important; }
// tr:last-child td:last-child { border-bottom-right-radius: 10px!important; }
// tr:first-child td { border-top-style: solid!important; }
// tr td:first-child { border-left-style: solid!important; }

