.music-bg-illustrations-5{  
    &-16{
        background-image: url("../img/gakvetilebi/Music-class/One-day-5/music-new-05-16.svg");
    }
    &-17{
        background-image: url("../img/gakvetilebi/Music-class/One-day-5/music-new-05-17.svg");
    }
    &-18{
        background-image: url("../img/gakvetilebi/Music-class/One-day-5/music-new-05-18.svg");
    }
    &-19{
        background-image: url("../img/gakvetilebi/Music-class/One-day-5/music-new-05-19.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Music-class/One-day-5/music-new-05-20.svg");
    }
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

