.background-53 {
  background-image: url(../img/gakvetilebi/musika/Day-of-my-life/M-1366-05-53.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-52-1-1 {
  background-image: url(../img/gakvetilebi/musika/Day-of-my-life/M-1366-05-52-1-1.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-80 {
  background-image: url(../img/gakvetilebi/musika/Day-of-my-life/M-1366-05-80.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-52-2-1 {
  background-image: url(../img/gakvetilebi/musika/Day-of-my-life/M-1366-05-52-2-1.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-52-2-2 {
    background-image: url(../img/gakvetilebi/musika/Day-of-my-life/M-1366-05-52-2-2.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
