.cs-4-12-div {
    &-3-img {
        height:37.08vh;
    }
    &-4-img {
        height:44.01vh;
    }
    &-5-img {
        height:47.65vh;
    }
    &-6-img {
        height:53.25vh;
    }
    img {
        height: 100%;
    }
}
