.information-page {
  img{
    height: 100%;
  }
  &_12{
    height: 41vh;
  }
  &_12-1{
    height: 31vh;
    border-radius: 2vh;
  }
  &_14{
    height: 53vh;
    max-height: 409px;
    position: fixed;
    right: 15%;
    top: 50%;
    transform: translateY(-40%);
  }
  &_15{
    height: 57vh;
    max-height: 448px;
    position: fixed;
    right: 15%;
    top: 50%;
    transform: translateY(-30%);
  }
  &_16{
    height: 43vh;
    max-height: 336px;
  }
}
