.class_4_12 {
    &-img_7 {
        height: 36.8vh;
        max-height: 283px;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        position: fixed;
        bottom: 9vh;
        padding-right: 10vh;;
        height: 48vh;
        max-height: 372px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        height: 54vh;
        max-height: 417px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 39vh;
        max-height: 303px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 52.86vh;
        max-height: 406px;
        img {
            height: 100%;
        }
    }
    &-img_center {
        margin: 0 auto;
    }
    &-title_item {
        color: #947DCE;
    }
}