.background-cs-4-12{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-18{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/What-is-information-12/cs-4-12-18.svg");
    }
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/What-is-information-12/cs-4-12-19.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/What-is-information-12/cs-4-12-20.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/What-is-information-12/cs-4-12-21.svg");
    }
}