.what-is-information{
    &-6-1{
        height:40.7vh;
        max-height:313px;
    img{
        height:100%;
    }
    }
    &-7-1{
        height:35.15vh;
        max-height:270px;
    img{
        height:100%;
    }
    }
    &-10-1{
        height:42.5vh;
        max-height:327px;
    img{
        height:100%;
    }
    }
    &-12-1{
        height:40.7vh;
        max-height:313px;
    img{
        height:100%;
    }
    }
    &-14-1{
        height:35.6vh;
        max-height:274px;
    img{
        height:100%;
    }
    }
}