.n-1366-03-191-text-container{
    p{
    line-height: 30px;
    }
}
.nature-research-stages{
    height: 26.04vh;
    margin-top: 7.45vh;
    img{
        height: 26.04vh;
        margin-top: 7.45vh;
    }
}