.n-1366-03-193-laptop-div{
    height: 19.14vh;
    img{
        height: 19.14vh;
    }
}
.n-1366-03-193-laptop-text{
    margin-top:4.81vh;
}
.narute-research-stages-empty-div{
    height: 45.7vh;
    position: absolute;
    top:18.88vh;
   right:3.82vw; 
  
    img{
        height: 45.7vh;
    }
}