.nature_img-forest{
    width: 100%;
    height: 27.69vh;
    margin-bottom: 2.5vh;
}
.nature_hint{
    &_image{
        &-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-hor{
            height: 39.66vh;
            max-width: 29.99vw;
        }
        &-vert{
            height: 49.61vh;
        }
        &-mid{
            height: 47.09vh;
        }
        &-sm{
            height: 34.42vh;
        }
    }
}