.n-1366-03-190-leptop{
    height: 36.06vh;
    margin-left:1.46vh;
}
.n-1366-03-190-leptop-task-comment{
    height:15.62vh;
    margin-left: 24.45vw;
}

.n-1366-03-190-leptop-task-text{
    position:absolute;
    top:4.42vh;
    left: 28.08vw;
}