.N-1366-03-187 {
    background-image: url("../img/gakvetilebi/buneba/forest_colours/N-187.png");
    background-position: center;
    background-size: contain;
    width: 54vw;
    max-width: 907px;
    height: 54vh;
    max-height: 420px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}