.N-1366-03-187 {
    background-image: url("../img/gakvetilebi/buneba/forest_colours/N-187.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}