#N-1366-03-196 {
    p {
        font-family: 'BPG Arial', sans-serif;
        font-size: 2.3vh;
        line-height: 3.9vh;
    }

    .tree_box {
        margin-top: 13vh;
        display: flex;
        justify-content: center;
        height: 49vh;
        max-height: 363.305px;
        div{
            height: inherit;
            svg{
                height: 100%;
                #Group_33573{
                    height: 100%;
                }
            }
        }
    }

}