.class_music_10 {
    &-bg_13{
        background-image: url("../img/gakvetilebi/Music-class/Choose-background-music-10/music-10-13.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_14{
        background-image: url("../img/gakvetilebi/Music-class/Choose-background-music-10/music-10-14.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_15{
        background-image: url("../img/gakvetilebi/Music-class/Choose-background-music-10/music-10-15.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
.background-music-title-black-cont {
    padding-top: 10vh;
}
.background-music-title-black {
    color: #243E41;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}