.choose_music_10 {
    &-img_5 {
        height: 38vh;
    }
    &-img_6 {
        height: 32.9vh;
    }
    &-img_6_circle {
        height: 6.19vh;
    }
    &-img_7 {
        height: 35.4vh;
    }
    &-img_7_circle {
        height: 7.16vh;
    }
    &-img_8 {
        position: fixed;
        bottom: 0;
        height: 58.26vh;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        height: 39.5vh;
    }
    &-title_item {
        margin-bottom: 1.2vh!important;
    }
}