#A-1366-05-6-18{
  .art_questions{
    margin-top: 5.2vh;
    .text{
      margin-bottom: 2.6vh;
      font-family: 'BPG Arial', sans-serif;
      font-size: 2.3vh;
    }
  }
  .img_box{
    height: 47vh;
    max-height: 366px;
    img{
      height: 100%;
    }
  }
}