.cs-2-7-new-div {
    &-3-img {
        height:30vh;
    }
    &-6-img {
        height:25vh;
    }

    &-8-img {
        height:25vh;
    }

    &-9-img {
        height:35vh;
    }
    
    &-16-img {
        height:15vh;
    }
    &-17-img {
        height:45vh;
    }
    &-18-img {
        height:35vh;
    }
    img {
        height: 100%;
    }
    flex-wrap:wrap;
}
