.nature-1-36-latop-couple {
  top: 16.5vh;
}

#nature-1-42-section .newDesign_subject_question_item-img {
  height: auto;
}

.nature-1-58-text-container .nature_content_box_text {
  align-items: center;
}
.nature-1-58-text-container .nature_content_box_text img {
  height: auto;
}

.nature-action-material-row-full p {
  color: #0B2228;
  font-family: "BPG Arial", sans-serif;
  font-size: 14px;
  float: right;
  align-self: center;
  text-align: left;
}