.nature-1-36-latop-couple{
  top:16.5vh
}
#nature-1-42-section{  
  .newDesign_subject_question_item-img{
    height:auto;
  }
}
.nature-1-58-text-container{
  .nature_content_box_text{ 
    align-items:center;
    img{
      height:auto;
    }
  }
}
