.m_exercise_text-container_16px{
color: #0B2228;
font-size: 2.08h;
font-family: 'BPG Arial';
}

.music-andantino-lyrics{
  height:11.84vh;
  margin-top:1.53vh;
  img{
    height:11.84vh;
  }
}

.music-option-menu-container{
  img{
    height: 3.9vh;
  }
}