.motion-link{
    color: #00D5D5;
    font-size: 2.5vh;
    font-family: "DejaVuSans";
    line-height: 3.9vh;
    &-container{
        margin-top: 2vh;
    }
}

.strong-girl-img-30{
    height: 46vh;
    margin: 5vh auto 3vh;
}