

.sport_image {
  &_height {
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-box-04 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-4.png") no-repeat center;
    background-size: cover;
  }
  &-box-05 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-5.png") no-repeat center;
    background-size: cover;
  }
  &-box-07 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-7.png") no-repeat center;
    background-size: cover;
  }
  &-box-08 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-8.png") no-repeat center;
    background-size: cover;
  }
  &-box-10 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-10.png") no-repeat center;
    background-size: cover;
  }
  &-box-12{
    svg {
      height: 100%;
      width: 100%;
      object-fit: contain ;
    }
  }
  &-box-15 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-15.png") no-repeat center;
    background-size: cover;
  }
  &-box-22 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-22.png") no-repeat center;
    background-size: cover;
  }
  &-box-23{
    svg {
      height: 100%;
      width: 100%;
      object-fit: contain ;
    }
  }
  &-box-24 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-24.png") no-repeat center;
    background-size: cover;
  }
  &-box-25 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-25.png") no-repeat center;
    background-size: cover;
  }
  &-box-26 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-26.png") no-repeat center;
    background-size: cover;
  }
  &-box-29 {
    background: url("../img/gakvetilebi/buneba/sport/N-11-29.png") no-repeat center;
    background-size: cover;
  }
}