.cs-6-4{
    &-1-img{
        height: 61.06vh;
        margin: 5vh auto 1vh;
    }
    &-3-img{
        height: 56.11vh;
        position: relative;
        right: -17vh;
        top: 5.5vh;
    }
    &-4-img{
        height: 41.92vh;
        margin-top: 2vh;
    }
    &-5-img{
        height: 29.16vh;
        margin-top: 5vh;
    }
    &-6-img{
        height: 30.41vh;
        margin-top: 5vh;
    }
    &-7-img{
        height: 39.71vh;
        margin-top: 8vh;
    }
}