.class_6_4 {
    &-img_8 {
        height: 42.7vh;
        max-height: 328px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        height: 21.9vh;
        max-height: 168.5px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 33.85vh;
        max-height: 260px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 66.78vh;
        max-height: 512.9px;
        img {
            height: 100%;
        }
    }
    &-img_13 {
        height: 47.65vh;
        max-height: 366px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 54.8vh;
        max-height: 421px;
        img {
            height: 100%;
        }
    }
}