.background-cs-6-4{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Variables-4/cs-6-4-22-img.svg");
    }
    &-23{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Variables-4/cs-6-4-23-img.svg");
    }
    &-24{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Variables-4/cs-6-4-24-img.svg");
    }
    &-25{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Variables-4/cs-6-4-25-img.svg");
    }
}