.cs-6-4{
    &_5-1{
        height:49vh;
        max-height:378px;

    img{
        height:100%;
        margin-top:15vh;
    }
    }
    
    &_6-1{
        height:63vh;
        max-height:485px;
    img{
        height:100%;
        margin-top:-7vh;
    }
    }

    &_7-1{
        height:63vh;
        max-height:485px;
    img{
        height:100%;
    }
    }   

    &_8-1{
        height:21vh;
        max-height:165px;
    img{
        height:100%;
        margin-top:20vh;
    }
    }

    &_9-1{
        height:43vh;
        max-height:333px;
    img{
        height:100%;
    }
    }
    


    &_11-1{
        height:49vh;
        max-height:378px;
    img{
        height:100%;
    }
    }

}