.cs-6-4{
    &_5-1{
        height:49vh;
        max-height:378px;

    img{
        height:100%;
        margin-top:15vh;
    }
    }
    
    &_6-1{
        height:63vh;
        max-height:485px;
    img{
        height:100%;
        margin-top:-7vh;
    }
    }

}