.image-box-presentation {
  img {
    height: 100%;
  }

  &-14 {
    height: 53vh;
    max-height: 405px;
  }

  &-15 {
    height: 40vh;
    max-height: 311px;
  }

  &-16 {
    height: 40vh;
    max-height: 311px;
  }

  &-17 {
    height: 58vh;
    max-height: 450px;
    position: fixed;
    right: 0;
    bottom: 0;
  }

  &-18 {
    height: 58vh;
    max-height: 446px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &-19 {
    height: 47vh;
    max-height: 367px;
  }
}