.cs-3-11-powerpoint-logo-img{
    height: 41.40vh;
    margin: 8vh auto 0;
}
.cs-3-11-5-presentation-img{
    height: 38.15vh;
    margin: 8vh auto 0;
}

.cs-3-11-7-powerpoint-presentation-img{
    height: 35.93vh;
    margin-top: 8vh;
}