.cs-3-11-9-img-div{
    height:49.24vh;
    position:absolute;
    bottom:0;
    right:17.27vw;
img{
       height:100%;
    }
}
.cs-3-11-10-div-img{
    height:55.98vh;
    position: absolute;
    bottom:0;
    left:16.25vw;
img{
       height:100%;
    }
}

