.cs-5-8-div{
   &-3-img{
       height:57vh;
   } 
   &-4-img{
    height:41.53vh;
}
&-5-img{
    height:41.79vh;
}
&-6-img{
    height:15.88vh;
}
&-6-1-img{
    height:44.66vh;
}
&-6-2-img{
    height:46.48vh;
}
   img{
       height:100%;
   }
}