.cs-5-25{
    img{
        height:100%;
    }
    &-17{
        height:50vh;
        max-height:389px;
    }
    &-18{
        height:50vh;
        max-height:386px;
    }
    &-19{
        height:46vh;
        max-height:357px;
    }


}

.background-cs-5-25{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/develop-informational-society-25/cs-5-25-20.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/develop-informational-society-25/cs-5-25-21.svg");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/develop-informational-society-25/cs-5-25-22.svg");
    }
    &-23{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/develop-informational-society-25/cs-5-25-23.svg");
    }
}