.class_5_25 {
    &-img_13_1 {
        height: 43.4vh;
    }
    &-img_13_1_1 {
        height: 38.3vh;
    }
    &-img_14_1 {
        height: 56vh;
    }
    &-img_15_1 {
        height: 41vh;
    }
}