.class_5_25-img_5_1 {
  height: 39.75vh;
}
.class_5_25-img_6_1 {
  height: 48.76vh;
  max-height: 374.53px !important;
}
.class_5_25-img_7_1 {
  height: 29.75vh;
}
.class_5_25-img_8_1 {
  height: 46.51vh;
  max-height: 357.25px !important;
}
.class_5_25-img_13_1 {
  height: 43.4vh;
}
.class_5_25-img_13_1_1 {
  height: 38.3vh;
}
.class_5_25-img_14_1 {
  height: 56vh;
}
.class_5_25-img_15_1 {
  height: 41vh;
}