.Class_5 {
    &-title_item {
        font-family: 'DejaVuSans';
        font-size: 2.6vh;
    }

    &-img_item_7_1 {
        img {
            height: 58.98vh;
            max-height: 453px;
        }
    }

    &-img_item_7_2 {
        img {
            height: 18.36vh;
            max-height: 141px;
        }
    }
}