.Class_5 {
    &-title_item {
        font-family: 'DejaVuSans';
        font-size: 2.6vh;
    }
    &-title_item_all{
        p{
            margin-left:0;
        }
    }
    &-img_item_8_1 {
        
        img {
            margin-bottom: 3vh;
            height: 14vh;
            max-height: 108px;
        }
    }

    &-img_item_8_2 {
        
        img {
            margin-bottom: 4vh;
            height: 13vh;
            max-height: 100px;
        }
    }
    &-img_item_8_3 {
        
        img {
            margin-bottom: 4vh;
            height: 13vh;
            max-height: 100px;
        }
    }
    &-img_item_8_4 {
        
        img {
            margin-bottom: 5.55vh;
            height: 11.45vh;
            max-height: 88px;
        }
    }
    &-img_item_8_5 {
        
        img {
            margin-bottom: 7.63vh;
            height: 9.37vh;
            max-height: 72px;
        }
    }
}