.Class_5 {
    &-title_item {
        font-family: 'DejaVuSans';
        font-size: 2.6vh;
    }

    &-img-item_8 {
        position: fixed;
        bottom: -6vh;
        img {
            height: 64.45vh;
            max-height: 495px;
        }
    }
}