.Class_5 {
    &-title_item {
        font-family: 'DejaVuSans';
        font-size: 2.6vh;
    }

    &-img_item_9 {
        img {
            height: 12.45vh;
            max-height: 111px;
        }
    }

    &-img_item_9-1 {
        img {
            height: 10vh;
            max-height: 77px;
        }
    }

    &-img_item_9-2 {
        img {
            height: 13.6vh;
            max-height: 106px;
        }
    }

    &-img_item_9-3 {
        img {
            height: 9.76vh;
            max-height: 75px;
        }
    }

        &-img_item_9-4 {
            img {
                height: 9.38vh;
                max-height: 72px;
            }
        }

    &-img_item_9-5 {
        img {
            height: 9.47vh;
            max-height: 72.74px;
        }
    }

    &-img_item_9-6 {
        img {
            height: 10.76vh;
            max-height: 82.7px;
        }
    }


    &-img_item_9-8 {
        img {
            height: 9.08vh;
            max-height: 69.8px;
        }
    }
}

.Class_5-img_items img {
    width: 100%;
}


.nature-5-5-puzzle-game div {

    img {
        width: 96%;
    }
}   


.computer-sciense-game-5-5 {

    .style1 {
        margin-top: -10px;
    }
    .style2 {
        width: 238px;
        margin-top: -9px;
    }
    .style3 {
        margin-top: -9px;
        width: 240px;
    }
    .style4 {
        margin-top: -10px;
        width: 203px;
    }
    .style5 {
        margin-top: -10px;
        width: 203px;
    }

    .style6 {
        margin-top: -9px;
        width: 190px;
    }
}

