.Class_5 {
    &-title_item {
        font-family: 'DejaVuSans';
        font-size: 2.6vh;
    }

    &-img_item_9 {
        img {
            height: 14.45vh;
            max-height: 111px;
        }
    }

    &-img_item_9-1 {
        img {
            height: 10vh;
            max-height: 77px;
        }
    }

    &-img_item_9-2 {
        img {
            height: 13.6vh;
            max-height: 106px;
        }
    }

    &-img_item_9-3 {
        img {
            height: 9.76vh;
            max-height: 75px;
        }
    }

        &-img_item_9-4 {
            img {
                height: 9.38vh;
                max-height: 72px;
            }
        }

    &-img_item_9-5 {
        img {
            height: 9.47vh;
            max-height: 72.74px;
        }
    }

    &-img_item_9-6 {
        img {
            height: 10.76vh;
            max-height: 82.7px;
        }
    }

    &-img_item_9-7 {
        img {
            height: 10.71vh;
            max-height: 82.3px;
        }
    }

    &-img_item_9-8 {
        img {
            height: 9.08vh;
            max-height: 69.8px;
        }
    }
}