.cs-6-10{
    &-1-img{
        height: 53.64vh;
        margin: 8vh auto;
    }
    &-3-img{
        height: 73.95vh;
        margin-left: 2vh;;
    }
    &-4-img{
        height: 40.49vh;
        margin-top: 4vh;;
    }
    &-5-img{
        height: 58.85vh;
    }
    &-6-img{
        height: 48.35vh;
        margin-top: 3vh;
    }
}