.class_6_10 {
    &-img_13 {
        position: fixed;
        right:18vh;
        height: 85vh;
        max-height: 608.5px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 49vh;
        max-height: 378px;
    }
    &-img_15 {
        position: fixed;
        bottom: 0;
        height: 54.4vh;
        max-height: 418px;
    }
    &-img_16 {
        height: 55.59vh;
        max-height: 427px;
    }
    &-img_17 {
        height: 47.65vh;
        max-height: 366px;
    }
    &-img_18 {
        position: fixed;
        bottom: 0;
        right: 16vh;
        height: 77.6vh;
        max-height: 596px;
    }
}

.cs-3-10-16-instruct-div{
position:absolute;
}

.cs-3-10-16-instruct-button{
    display: inline-block;
    cursor:pointer;
    vertical-align:middle;
    padding: 5px;
    text-align: center;
    width: 9.07vh;
    height:2.67vh;
    background-color: #DD6B84;
    border-radius: 10px;
    opacity:10%;
    span{
        font-family: DejaVu Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color:#CC3657;
        z-index: 100;
    }
}  
.cs-3-10-16-instruct-Text{
        max-width: 34.69vh;
        max-height: 20.18vh;
        background-color: #FFFFFF
            p{
                font-color: #CC3657;
                font-family: DejaVu Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 32px;
            }
        position: absolute;
    }

.cs-3-10-16-instruct-btn{
        border: none;
        background-color: #DD6B84;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        opacity:10%;
        width: 9.07vh;
        height:2.67vh;
    }

  