.class_6_10 {
    &-img_13 {
        position: fixed;
        right:18vh;
        height: 85vh;
        max-height: 608.5px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 49vh;
        max-height: 378px;
    }
    &-img_15 {
        position: fixed;
        bottom: 0;
        height: 54.4vh;
        max-height: 418px;
    }
    &-img_16 {
        height: 55.59vh;
        max-height: 427px;
    }
    &-img_17 {
        height: 47.65vh;
        max-height: 366px;
    }
    &-img_18 {
        position: fixed;
        bottom: 0;
        right: 16vh;
        height: 77.6vh;
        max-height: 596px;
    }
}

