.android-graphics{
    &-19{
        height:65vh;
        max-height:502px;
    img{
        height:100%;
    }
    }
    &-20{
        height:40vh;
        max-height:310px;
    img{
        height:100%;
    }
    }
    &-22{
        height:47vh;
        max-height:366px;
    img{
        height:100%;
    }
    }
    &-23{
        height:51vh;
        max-height:392px;
    img{
        height:100%;
    }
    }
    .background-cs-6-10-24{
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Android-graphics-interface-guide-10/cs-6-10-24.svg")
    }
}

