.class_4_14 {
    &-img_1 {
        height: 60.9vh;
        margin: 3vh auto 4vh;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 39.9vh;
    }
    &-img_4 {
        position: fixed;
        bottom: 0;
        height: 40vh;
    }
    &-img_5 {
        height: 53.5vh;
    }
}