.cs-4-14{
    img{
        height:100%;
    }
    &-10{
        height:54vh;
        max-height:418px;
    }
    &-11{
        height:44vh;
        max-height:339px;
    }
    &-12{
        height:41vh;
        max-height:317px;
    }
    &-13{
        height:36vh;
        max-height:282px;
    }
    &-14{
        height:42vh;
        max-height:323px;
    }
    &-15{
        height:45vh;
        max-height:346px;
    }
    &-16{
        height:61vh;
        max-height:473px;
    }
    &-17{
        height:40vh;
        max-height:311px;
    }
    &-18{
        height:43vh;
        max-height:331px;
    }
    
}