.background-cs-4-14{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Group-work-14/cs-4-14-19.png");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Group-work-14/cs-4-14-20.png");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Group-work-14/cs-4-14-21.png");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Group-work-14/cs-4-14-22.png");
    }
}