.cs-4-14-div {
    &-5-1-img {
        height: 38.8vh;
    }
    &-6-1-img {
        height: 36.32vh;
    }
    &-7-1-img {
        height:43.09vh;
    }
    &-13-1-img {
        height:44.79vh;
    }
    &-14-1-img {
        height:38.54vh;
    }   
        img {
            height: 100%;
        }
    }  
    
