.cs-6-12-div {
    &-3-img {
        height:54vh;
        position:absolute;
        bottom:0;
        right:10.24vw;
    }
    &-4-img {
        height:50vh;
    }
    &-5-img {
        height:44vh;

    }
    &-6-img {
        height:48.82vh;
        position:absolute;
        bottom:9.76vh;
        right:14.86vw;
    }
    &-7-img {
        height:39.84vh;
    }
    img {
        height: 100%;
    }
}