.class_6_12 {
    &-img_8 {
        height: 36vh;
        max-height: 278.9px;
        img {
            height: 100%;
        }
    }
    &-android{
        width: 25px;
        height: 32px;
        display: inline;
        vertical-align: middle;
    }
    &-ios {
        width: 25px;
        height: 31px;
        display: inline;
        vertical-align: middle;
    }
    &-img_9 {
        height: 54.55vh;
        max-height: 419px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 51.8vh;
        max-height: 398px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 49.7vh;
        max-height: 382px;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        height: 44.6vh;
        max-height: 343px;
        img {
            height: 100%;
        }
    }
    &-img_13 {
        height: 49.7vh;
        max-height: 382px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 66vh;
        max-height: 507.6px;
        img {
            height: 100%;
        }
    }
}