.cs-6-12-info{
    &-3-1-img{
        height: 40.49vh;
        margin-top: 7vh;
    }
    &-3-2-img{
        height: 50.39vh;
        margin-top: 5vh;
    }
    &-3-3-img{
        height: 54.55vh;
        margin-top: 7vh;
    }
}