.cs-6-5{
    &-1-img{
        height: 54.68vh;
        margin: 5vh auto;
    }
    &-3-img{
        height: 36.06vh;
        margin-top: 8vh;
    }
    &-4-img{
        height: 44.01vh;
        margin-top: 5vh;
    }
    &-5-img{
        height: 64.58vh;
    }
    &-6-img{
        height: 61.97vh;
        position: relative;
        top: 14vh;
        right: -17vh;
    }
    &-7-img{
        height: 23.43vh;
        margin-top: 12vh;
    }
    &-8-img{
        height: 49.73vh;
        margin-top: 7vh;
    }
}