.cs-6-5-div {
    &-16-img{
        height:45.83vh;
    }
    &-17-img{
        height: 34.89vh;
    }
    &-18-img{
        height:30.85vh;
    }
    &-19-img{
        height:43.61vh;
    }
    &-20-img{
        height:39.84vh;
    }
    &-21-img{
        height:52.99vh;
        position: absolute;
        top:10.35vh;
        right:12vw;
       
    }
    img {
        height: 100%;
    }
}
