.operators{
    &-22{
        height:49.5vh;
        max-height:381px;
    img{
        height:100%;
    }
    }
    &-23{
        height:42.9vh;
        max-height:330px;
    img{
        height:100%;
    }
    }
    &-24{
        height:14.02vh;
        max-height:108px;
    img{
        height:100%;
        bottom:50vh;
        right:0;
        position:absolute;
        width:11.4vw;
        max-width:156px;
    }
    }
}