.class_6_5 {
    &-img_5_1 {
        height: 24.7vh;
        max-height: 189.9px;
        img {
            height: 100%;
        }
    }
    &-img_6_1 {
        height: 27vh;
        max-height: 207.8px;
    }
    &-img_7_1 {
        height: 20vh;
        max-height: 156.5px;
        img {
            height: 100%;
        }
    }
    &-img_7_2 {
        height: 22.59vh;
        max-height: 173.5px;
        img {
            height: 100%;
        }
    }
    &-color_item {
        color: #AF9EDA;
    }
    &-img_8_1 {
        height: 32vh;
        max-height: 248px;
        img {
            height: 100%;
        }
    }
    &-img_9_1 {
        height: 19.77vh;
        max-height: 151.9px;
        img {
            height: 100%;
        }
    }
    &-img_10_1 {
        height: 21.6vh;
        max-height: 166px;
        img {
            height: 100%;
        }
    }
    &-img_11_1 {
        height: 19vh;
        max-height: 148.5px;
        img {
            height: 100%;
        }
    }
    &-img_11_2 {
        height: 18.6vh;
        max-height: 143px;
        img {
            height: 100%;
        }
    }
    &-img_16_1 {
        height: 26vh;
        max-height: 200px;
        img {
            height: 100%;
        }
    }
}

.cs-6-5-div{
    &-12-1-img{
        height: 41.01vh;
    }
    &-17-1-img{
        height: 18.09vh;
    }
    &-18-1-1-img{
        height: 15.23vh;
    }
    &-18-1-2-img{
        height:14.19vh;
    }
    &-19-1-img{
        height: 40.75vh;
    }
    img {
        height: 100%;
    }
}