.operators-page {
  img {
    height: 100%;
  }

  &_10 {
    height: 45vh;
    max-height: 342px;
  }

  &_11 {
    height: 27vh;
    max-height: 204px;
  }

  &_12 {
    height: 58vh;
    max-height: 400x;
  }

  &_13 {
    &.time{
      max-height: 84px;
    }
    &.text{
      color: #fff;
      font-family: "DejaVu Sans";
      font-size: 3vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #5998F7;
      min-width: 145px;
      min-height: 60px;
      max-width: 151px;
      max-height: 64px;
      border-radius: 4px;
    }
    &.select {
      width: 100%;
      display: flex;

      .true {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .select {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border: 1px solid #6f42c1;
        }

      }

      .false {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .select {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border: 1px solid #6f42c1;
          cursor: pointer;
          &.active{
            // მონიშვნისას ის ფერი დაადე რომელიც გინდა არ იყო მითითებული
            background: yellow;
          }
          &.error{
            // არასწორს ის ფერი დაადე რომელიც გინდა არ იყო მითითებული
            background: red;
          }
        }
      }

      .boxes {
        max-height: 60px;
        max-width: 130px;
        color: #62548A;
        font-weight: bold;
        padding: 10px 20px;
        box-shadow: 2px 2px 8px #E2DCF2;
        border-radius: 20px;
        margin-left: 20px;
        font-family: "DejaVu Sans";
        font-size: 3vh;
        cursor: pointer;
      }
    }
  }
  &_14{
    max-height: 294px;
    height: 39vh;
  }
  &_15{
    max-height: 480px;
    height: 63h;
  }
}
