.cs-2-3-8-14-img-div{
height: 53.51vh;
img{
    height:100%;
}
}

.cs-2-3-8-15-img-div{
    height: 40.62vh;
    img{
        height:100%;
    }
}
.cs-2-3-8-16-img-div{
    height: 29.55vh;
    img{
        height:100%;
    }
}