.cs-3-8-3-ill-img{
    height: 55.98vh;
    margin: auto;
    position: relative;
    bottom: -13vh;
}
.cs-3-8-6-ill-img{
    height: 45.83vh;
    position: relative;
    bottom: -8vh;
    margin: auto;
}
.cs-3-8-9-ill-img{
    height: 58.7vh;
    position: relative;
    bottom: -1vh;
    right: -27vh;
}
.cs-3-8-10-ill-img{
    height: 48.17vh;
    position: relative;
    bottom: -21vh;
}
.cs-3-8-11-ill-img{
    height: 56.87vh;
    position: relative;
    bottom: -0.5vh;
}