.cs-3-8-67-server-img{
    height: 34.29vh;
    margin: 3vh auto 0;
}
.cs-3-8-8-network-img{
    height: 46.74vh;
    margin-top: 5vh;
}

.cs-3-8-12-ill-img{
    height: 45.31vh;
    margin-top: 5vh;
}

.cs-3-8-13-worldwide-img{
    margin-top: 5vh;
    height: 50.91vh;
}