.background-cs-3-8-20 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/internet-8/cs-2-3-8-20.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-3-8-21 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/internet-8/cs-2-3-8-21.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-3-8-22 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/internet-8/cs-2-3-8-22.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-3-8-23 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/internet-8/cs-2-3-8-23.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cs-title-purple{
    &-cont{
        padding-top: 10vh;
    }
    color: #62548A;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
    line-height: 1.5;
}