#N-1366-04-268{
    .main_text{
        font-family: 'BPG Arial', sans-serif;
        font-size: 2.3vh;
        line-height: 3.9vh;
    }
    .window_image_box{
        max-height: 218px;
        max-width: 810px;
        height: 28.4vh;
        width: 59vw;
        margin: 10vh 0;
        img{
            height: 100%;
        }
    }
}