.n-1366-04-252-laptop-div{
    height:10.17vh;
   
    padding-right:30px; 
    display: flex;
    justify-content: flex-end;
    
    margin-bottom: 2.34vh;
    img{
        height:10.17vh; 
    }
}

.n-1366-04-252-col-5{
    h3{
        font: 2.08vh;
        left:1.5vw;
    }
}