.n-1366-04-245-container{
    margin-top:7.81vh;
}

.n-1366-04-245-row{
    justify-content: flex-end;
  align-items: center;
  align-content:center;
}

.n-1366-04-245-leptop-div{
    height:38.17vh;
    position: absolute;
    left:-120px;
    img{
        height:38.17vh;
    }
}

.n-1366-04-245-leptop-div{
    margin-top:30.98vh;
}

.n-1366-04-245-wrapper{
    background:none;
}