#N-1366-04-110 {

    .subject_component_itle_icon {
    background-position: center;
}

.bottom_components {
    a {
        margin: 0;
    } 
}
.image_box{
    height: 22.9vh;
    max-height: 117px;
    img{
        height: 100%;
    }
}
}