.nature-n-1366-04-286-leptop-task-div{
    height:31.77vh;
    img{
        height:31.77vh;
    }
}
.n-1366-04-286-art_questions{
    margin-left: 23.35vh;
    
}

.n-1366-04-286-_content_box_text a{
    font-size: 2.08vh;
    font-family: 'DejaVu Sans Oblique';
}