.n-1366-04-25-text{
    p{
    line-height: 25px;
    }
}
.water-tree-portrate-div{
    height:52.73vh;
    margin-top:2.6vh;
    display: flex;
    justify-content: center;
    img{
        height:52.73vh; 
    }
}