.summer-in-winter{
  &-1{
    height: 20vh;
    max-height: 154px;
    img{
      height: 100%;
    }
  }
}

    .nature-6-30-img{  
      &-2{
        position:absolute;
        height:43.75vh;
        top:40.88vh;
        left:20.79vw;
      }  
      img{
        height:100%
      }
    }

    .n-6-31-laptop-img-div{
      top: 20.81vh;
    }
    .n-6-32-img-div{
      .ask-question-img{
        margin-top:auto;
      }
    }