.nature-07-game-card {
    width: 13.616398vw;
    height: 18.708333vh;
    border-radius: 6px;
    padding: 1.302083vh 1.464129vw 2.604167vh 1.464129vw;
    box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.4);
    margin-right: 3.906735vw;
    margin-bottom: 2.604167vh;

    &--title {
        font-size: 1.02489vw;
        text-align: center;
        margin-bottom: 3.255208vh;
    }

    &:nth-child(4) {
        margin-right: 0;
    }

    &--child {

        img {
            width: 4.412006vw;
            border-radius: 6px;

            &:nth-child(1) {
                margin-right: 1.464129vw
            }

            &.error {
                border: 2px solid red;
            }
        }
    }
}

.nature-07-game-images {
    margin-right: 2.709vw;
    height: 56px;
    border-radius: 4px;

}