.cs-6-24-15-img {
  height: 55.25vh;
  margin: 4vh auto 0;
}
.cs-6-24-16-img {
  height: 39.97vh;
  margin-top: 1vh;
}
.cs-6-24-17-img {
  height: 57.25vh;
  margin: 3.5vh auto 0;
}
.cs-6-24-18-img {
  height: 54.56vh;
  margin-top: 4.5vh;
}
.cs-6-24-19-img {
  height: 45.86vh;
  margin: 2.5vh auto 0;
}