.Class_6 {
    &-title_item_18 {
        font-size: 2.6vh;
        font-family: 'DejaVuSans';
    }
    &-digital_world_img_18 {
        height: 40.6vh;
        max-height: 311.9px;
        img {
            height: 100%;
        }
    }
    &-digital_world_img_18_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 42.57vh;
            max-height: 327px;
        }
    }
    &-digital_world_img_19 {
        height: 37.85vh;
        max-height: 290.7px;
        img {
            height: 100%;
        }
    }
}