.Class_6 {
    &-title_item_23_20 {
        font-style: italic;
        color: #62548A;
        font-family: 'DejaVu Sans Oblique';
        font-size: 3.64vh;
    }
    &-digital_digital_20 {
      background-image: url("../img/gakvetilebi/Computer-Science/Class-6/rights-in-digital-world-23/C-6-23-20.svg");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
    }
    &-digital_digital_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/rights-in-digital-world-23/C-6-23-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-digital_digital_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/rights-in-digital-world-23/C-6-23-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-digital_digital_23 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/rights-in-digital-world-23/C-6-23-23.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}