.background-cs-6-24-23 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Real-&-virtual-world-balance-24/cs-6-24-23-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-6-24-24 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Real-&-virtual-world-balance-24/cs-6-24-24-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-6-24-25 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Real-&-virtual-world-balance-24/cs-6-24-25-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-6-24-26 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Real-&-virtual-world-balance-24/cs-6-24-26-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}




.background-cs-title-purple{
    &-cont{
        padding-top: 10vh;
    }
    color: #62548A;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
    line-height: 1.5;
}