.cs-6-14{
    &-1-img{
        height: 49.08vh;
        margin: 8vh auto;
    }
    &-3-img{
        height: 52.86vh;
    }
    &-4-img{
        height: 42.05vh;
        margin-top: 2vh;
    }
    &-5-img{
        height: 28.64vh;
        margin-top: 12vh;
    }
}