.photo-editor{
    &-19{
        height:49vh;
        max-height:377px;
    img{
        height:100%;
    }
}
    &-20{
        height:56.6vh;
        max-height:435px;
    img{
        height:100%;
    }
}
    &-21{
        height:38.67vh;
        max-height:297px;
    img{
        height:100%;
    }
}
    &-22{
        height:60.41vh;
        max-height:464px;
    img{
        height:100%;
        margin-top:-10vh;
    }
 }
    &-23{
        height:50.39vh;
        max-height:387px;
    img{
        height:100%;
    }
}
    &-24{
        height:64.3vh;
        max-height:494px;
    img{
        height:100%;
    }
}
}