.class_6_14 {
    &-img_25 {
        height: 54.9vh;
        max-height: 422px;
        img {
            height: 100%;
        }
    }
    &-img_26 {
        height: 35vh;
        max-height: 270px;
        img {
            height: 100%;
        }
    }
    &-title_bottom {
        margin-bottom: 1vh!important;
    }
    &-bg_27 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Photo-editor-14/C-6-14-27.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_28 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Photo-editor-14/C-6-14-28.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_29 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Photo-editor-14/C-6-14-29.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_30 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Photo-editor-14/C-6-14-30.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}