.N-1366-79 {
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90vh;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}