.N-1366-17 {
  background-image: url("../img/gakvetilebi/buneba/1366-17.png");
  background-position: center bottom;
}

.nature-text-wrapper {
  position: absolute;
  bottom: 0;
  height: 37vh;
  left: 0;
  right: 0;
  background: #fff;
  background: transparent linear-gradient(180deg, #00000000 0%, #FFFFFF00 25%, #FFFFFFF2 58%, #FFFFFF 100%);

  h1 {
    font-family: 'DejaVu Sans Oblique';
    color: #000;
    font-size: 2.3vh;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
  }
}

.chevron-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}