.N-1366-79 {
    background-image: url("../img/gakvetilebi/buneba/1366-79.png");
}

.bottom_nav_icons {
    position: absolute;
    bottom: 2.7vh;
    height: 4.6vh;
    left: 50%;
    transform: translate(-50%);
}