#N-1366-34 {
    .N-1366-34 {
        background-image: url("../img/gakvetilebi/buneba/N-1366-34.png");
        background-position: center;
    }

    .nature-text-wrapper {
        height: 13vh;
    }
}