#N-1366-21_bg {
  height: 100vh;
  background-image: url(../../../img/gakvetilebi/buneba/1366-21.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
