.nature-laptop-couple{
 
  height: 20.31vh;
  position:absolute;
  top:18.22vh;
  right:10.17vw;
}

.nature-material-row{
  margin-top: 14.26vh;
}
.nature-material-col{
  margin-bottom: 5.18vh; 
 img{
  height:19.53vh;
}
p{
  color: #0B2228;
  font-family: 'BPG Arial', sans-serif;
  font-size: 2.08vh;
  margin-top: 1.3vh;
   }
}