.middle_bg_nature_couple{
  width: 20.86vw;
  height: 41.40vh;
  background-image: url("../img/backgrounds/bg-ilustrations/art-couple-middle.svg");
  right: 21.3vw;
  bottom: 1.42vh;
}

.nature_subject_question_item{
  font-size: 2.08vh;
  padding-bottom: 0;
}

.nature_subject_question_item:first-child{
padding-bottom: 6.3vh;

}