.symbols_description{
    margin-top: 1vh;
    &-container{
        color: #0B2228;
        margin-top: 1.8vh;
        font-size: 2.08vh;
        font-family: 'BPG Arial';
    }
    &-img{
        height: 5.6vh;
    }
}