.ask-question-game-container {
  img {
    height: 80vh;
    margin-right: 5.3vw;
    margin-top: -10vh;
  }
  .choose-question {
    margin-left: 5.3vw;
    img {
      margin-bottom: 20px;
      margin-top: 0;
      height: 21vh;
      &:last-child {
          margin-bottom: 0;
      }
    }
  }
}
