#N-1366-20 {
  .N-1366-20 {
    background-image: url("../img/gakvetilebi/buneba/1366-20.png");
    background-size: cover;
    background-position: center;
  }

  .nature-text-wrapper {
    height: 37vh;
    h1{
      bottom: 10vh;
    }
  }
}