.cloud_page {
  &-3 {
    height: 46vh;
    max-height: 357px;

    img {
      height: 100%;
    }
  }

  &-4 {
    height: 40vh;
    max-height: 313px;

    img {
      height: 100%;
    }
  }

  &-5 {
    height: 61vh;
    max-height: 464px;

    img {
      height: 100%;
    }
  }

  &-6 {
    height: 61vh;
    max-height: 464px;

    img {
      height: 100%;
    }
  }
}
