.cs-4-6{
    &-16-img{
        height: 38.93vh;
        margin-top: 2vh;
    }
    &-17-img{
        height: 40.88vh;
        margin-top: 2vh;
    }
    &-18-img{
        height: 34.63vh;
        margin-top: 10vh;
    }
}