.cloud_page {
    &-19{
        height:34vh;
        max-height:265px;
    img{
        height:100%;
    }
    }

    &-20{
        height:60vh;
        max-height:465px;
        position: fixed;
        bottom:0;
    img{
        height:100%;
    }

    }

    &-21{
        height:50vh;
        max-height:388px;
     img{
        height:100%;
    }

    }

    &-22{
        height:44.4vh;
        max-height:341px;
    img{
        height:100%;
    }
    }

    &-23{
        height:53vh;
        max-height:408px;
    img{
        height:100%;
    }
    }

    &-24{
        height:44.4vh;
        max-height:341px;
    img{
        height:100%;
    }
    }
}
