.cs-3-12-new-div {
    &-9-img {
        height:41.53vh;
    }
    &-10-img {
        height:25vh;
    }

    &-3-1-img {
        height:55.46vh;
    }

    &-6-1-img {
        height:52.73vh;
    }
    
    &-11-1-img {
        height:41.75vh;
    }
    &-6-img {
        img {
            width: 44vh;
            height:31.66vh;
        }
    }
    img {
        height: 100%;
    }
}
