.cs-3-12-new-div {
    &-9-img {
        height:41.53vh;
    }
    &-10-img {
        height:30vh;
        width: auto;
    }

    &-13-img {
        height:25vh;
    }

    &-15-img {
        height:15vh;
    }
    
    &-16-img {
        height:15vh;
    }
    &-17-img {
        height:45vh;
    }
    &-18-img {
        height:35vh;
    }
    img {
        height: 100%;
    }
}
