.class_5_26 {
    &-img_14 {
        height: 39.5vh;
    }
    &-img_15 {
        height: 46.6vh;
    }
    &-img_16 {
        height: 44.9vh;
    }
    &-img_17 {
        height: 52vh;
    }
    &-img_18 {
        height: 46vh;
    }
    &-bg_19 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Computer-technologies-in-our-life-26/C-5-26-19.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Computer-technologies-in-our-life-26/C-5-26-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Computer-technologies-in-our-life-26/C-5-26-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Computer-technologies-in-our-life-26/C-5-26-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
