.cs-5-26-6i {
  height: 48.38vh;
  max-height: 371.6px !important;
}

.cs-5-26-7i {
  height: 41.76vh;
  max-height: 320.74px !important;
}

.cs-5-26-10i {
  height: 18.62vh;
  max-height: 143.01px !important;
}

.cs-5-26-12i {
  height: 44.99vh;
  max-height: 345.56px !important;
}

.cs-5-26-13i {
  height: 39.23vh;
  max-height: 301.29px !important;
}

.cs-5-26-14i {
  height: 34.37vh;
  max-height: 264px !important;
}
