.our-podcast{
    &-1{
        height:58.54vh;
        max-height:449.66px;
    img{
        height:100%;
    }
    }
    &-3{
        height:52vh;
        max-height:400px;
    img{
        height:100%;
    }
    }
    &-4{
        height:55.4vh;
        max-height:426px;
    img{
        height:100%;
    }
    }
    &-5{
        height:41vh;
        max-height:315px;
    img{
        height:100%;
    }
    }
    &-6{
        height:60vh;
        max-height:466px;
    img{
        height:100%;
    }
    }
}

.cs-6-15-6-img-icon{
    max-height:50px; 
    display: inline-block;
    height: 4vh;
    vertical-align: bottom;
}