.class_6_15 {
    &-img_11 {
        height: 61.97vh;
        max-height: 476vh;
    }
    &-img_12 {
        height: 48vh;
    }
    &-img_13 {
        position: fixed;
        bottom: 12vh;
        height: 45.5vh;
        max-height: 464.8px;
    }
    &-img_14 {
        position: fixed;
        bottom: 0;
        height: 60.78vh;
        max-height: 466.8px;
    }
    &-img_15 {
        position: fixed;
        bottom: 0;
        height: 56.5vh;
        max-height: 434px;
    }
    &-img_16 {
        height: 50.85vh;
        max-height: 390.59px;
        img {
            height: 100%;
        }
    }
}