.cs-6-15-div {
    &-17-img {
        height:44vh;

    }
    &-18-img {
        height:63vh;
    }
    &-19-img {
        height:60vh;
    }
    &-20-img {
        height:46.22vh;
    }
    &-21-img {
        height:39.71vh;
    }
    &-22-img {
        height:60.28vh;
        position:absolute;
        bottom:0;
        right:25.84vw;
    }
    &-23-img {
        height:42.18vh;
    }
    img {
        height: 100%;
    }
}