.background-cs-6-15{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-podcast-15/cs-6-15-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-podcast-15/cs-6-15-27.svg");
    }
    &-28{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-podcast-15/cs-6-15-28.png");
    }
    &-29{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-podcast-15/cs-6-15-29.svg");
    }
}