.m-1366-04-32-img-div-tower{
    height: 35.67vh;
    img{
        height: 35.67vh; 
    }
}
.m-1366-04-32-img-div-park{
    height: 16.79vh;
    img{
        height: 16.79vh; 
    }
}
.m-1366-04-32-img-div-shop{
    height: 16.01vh;
    img{
        height: 16.01vh; 
    }
}

.m-1366-04-32-img-div-min-tower{
    height:20.70vh;
    img{
        height: 20.70vh; 
    }
}

.m-1366-04-32-img-div-market{
    height:17.44vh;
    img{
        height: 17.44vh; 
    }
}

.m-1366-04-32-divs-container{
    margin-top:10.41vh;
}