.m-1366-04-35-text-div{

    font-size: 2.08vh;
   
    font-family: "BPG Arial";
    -webkit-box-align: baseline;
p{
     line-height: 3.4vh;
}
}

.m-1366-04-35-listen_text-container{
    margin-top:0;
    margin-bottom: 1.43vh;
}
.m-1366-04-35-text-2{
    margin-top:2.47vh;
}

.music-music-lyrics-game-round-button-div{
    height:15.62vh;
    img{
        height:15.62vh;
    }
}

.music-lyrics-game-round-button-div{
    margin-bottom: 2.23vh;
}