

.m-1366-04-12-music-symblos-middle-big-div{
    height: 36.19vh;
        margin-top:15.23vh;
    img{
         height: 36.19vh;
    }
}

.m-1366-04-12-subject-component{
    margin-bottom:  9.24vh;
}