.background-mv {
  &-52 {
    background-image: url("../../../../img/gakvetilebi/musika/musical_city/M-04-52.svg");
    &-1{
        background-image: url("../../../../img/gakvetilebi/musika/musical_city/M-04-52-1.svg");
    }
    &-2{
        background-image: url("../../../../img/gakvetilebi/musika/musical_city/M-04-52-2.svg");
    }
    &-3{
        background-image: url("../../../../img/gakvetilebi/musika/musical_city/M-04-52-3.svg");
    }
    &-4{
        background-image: url("../../../../img/gakvetilebi/musika/musical_city/M-04-52-4.svg");
    }
  }
  &-79{
    background-image: url("../../../../img/gakvetilebi/musika/musical_city/M-04-79.svg");
  }
  &-full-title--mt {
    margin-top: 4.75vh;
  }
}
