.find-way{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-24{
        background-image: url("../img/gakvetilebi/Music-Class/findWayBySound-3/cs-new-03-24.svg");
    }
    &-25{
        background-image: url("../img/gakvetilebi/Music-Class/findWayBySound-3/cs-new-03-25.svg");
    }
    &-26{
        background-image: url("../img/gakvetilebi/Music-Class/findWayBySound-3/cs-new-03-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Music-Class/findWayBySound-3/cs-new-03-27.svg");
    }
}

.background-cs-title{
color:#243E41;
}

.find-way-23{
    img{
        height:100%;
    }
    height:58vh;
    max-height:447px;
}