.find-way{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-24{
        background-image: url("../img/gakvetilebi/Music-class/findWayBySound-3/music-3-24.svg");
    }
    &-25{
        background-image: url("../img/gakvetilebi/Music-class/findWayBySound-3/cs-new-03-25.svg");
    }
    &-26{
        background-image: url("../img/gakvetilebi/Music-class/findWayBySound-3/cs-new-03-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Music-class/findWayBySound-3/music-3-27.svg");
    }
}

.background-cs-title{
color:#243E41;
}

.find-way-23{
    img{
        height:100%;
    }
    height:58vh;
    max-height:447px;
}

.class_music_3{
    img{
        height:100%;
    }
    &-img_22-1{
        height:36.45vh;
        max-height:280px;
    }
    &-img_22-2{
        height:36.97vh;
        max-height:284px;
    }
}
