.find-way{
    &-9-1{
        height: 55.98;
        max-height:430px;
    }
    &-5-1-1{
        height:68.35vh;
        max-height:525px;
        position:fixed;
        bottom:0;
        left:16vh;
    }

img{
    height:100%;
    }
}