.cs-5-17{
    &-22-img{
        height: 45.57vh;
        margin-top: 5vh;
    }
    &-23-img{
        height: 65.58vh;
        margin-top: 6vh;
    }
    &-24-img{
        height: 33.98vh;
        position: relative;
        bottom: 5vh;
    }
}