.cs-5-17-div {
    &-3-img {
        height:46.61vh;

    }
    &-4-img {
        height:53.25vh;
        position:absolute;
        bottom:0;
        right:0;
    }
    &-5-img {
        height:80.72vh;
        position:absolute;
        bottom:7.03vh;
        right:17.05vw;
    }
    &-6-img {
        height:70.44vh;
        position:absolute;
        bottom:11.19vh;
        right:15.95vw;
    }
    img {
        height: 100%;
    }
}