.class_5_17 {
    &-img_7 {
        position: fixed;
        bottom: 15vh;
        right: 30vh;
        height: 38.4vh;
        max-height: 295vh;
        img {
            height: 100%;
        }
    }
    &-img_excel {
        width: 25px;
        height: 25px;
        display: inline;
        vertical-align: middle;
    }
    &-img_8 {
        height: 41.9vh;
        max-height: 322vh;
    }
    &-img_9 {
        position: fixed;
        bottom: 0;
        height: 60vh;
        max-height: 461.5vh;
        img{
            height: 100%;
        }
    }
    &-img_10 {
        height: 38.6vh;
        max-height: 296.7vh;
    }
    &-img_11 {
        position: fixed;
        bottom: 0vh;
        right: 18vh;
        height: 67vh;
        max-height: 515px;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        position: fixed;
        bottom: -7vh;
        height: 69vh;
        max-height: 530vh;
        img {
            height: 100%;
        }
    }
    
}