.examples-and-formulas{
    &-15-1-1{
        height:40.7vh;
        max-height:313px;
    img{
        height:100%;
    }
    }
    &-15-1-2{
        height:39.8vh;
        max-height:306px;
    img{
        height:100%;
    }
    }
    &-15-1-3{
        height:49.8vh;
        max-height:383px;
    img{
        height:100%;
    }
    }
    &-15-1-4{
        height:39.8vh;
        max-height:306px;
    img{
        height:100%;
    }
    }
    &-15-1-5{
        height:54.9vh;
        max-height:422px;
    img{
        height:100%;
    }
    }
}