.cs-6-16 {
    &-1-img {
        height: 82.29vh;
        margin: auto;
        position: relative;
        top: 5vh;
        z-index: -1;
    }
    &-1-text{
        position: relative;
        bottom: 15vh;
    }
    &-3-img {
        height: 36.71vh;
        margin-top: 12vh;
    }
    &-4-img {
        height: 53.38vh;
        margin-top: 9vh;
    }
    &-5-img {
        height: 78.25vh;
    }
}