.memories_page-11 {
  height: 68vh;
  max-height: 520px;
  position: fixed;
  bottom: 5%;
  right: 20%;
}
.memories_page-11 img {
  height: 100%;
}
.memories_page-12 {
  height: 46vh;
  max-height: 350px;
}
.memories_page-12 img {
  height: 100%;
}
.memories_page-13 {
  height: 42vh;
  max-height: 324px;
}
.memories_page-13 img {
  height: 100%;
}
.memories_page-14 {
  height: 68vh;
  max-height: 520px;
}
.memories_page-14_1 {
  max-width: 314px;
  position: absolute;
  right: 0;
}
.memories_page-14_1-box {
  max-height: 124px;
  height: 16vh;
}
.memories_page-14_1-box img {
  max-height: 124px;
  height: 15vh;
}
.memories_page-14 img {
  height: 100%;
}
.memories_page-15 {
  max-height: 520px;
}
.memories_page-15_1 {
  max-width: 204px;
  position: absolute;
  right: 0;
}
.memories_page-15_1-box {
  max-height: 124px;
  height: 15vh;
}
.memories_page-15_1-box img {
  height: 100%;
}
.memories_page-15 img {
  height: 100%;
}