.our-sweet-memories-16 {
  &-16 {
    height: 73vh;
    max-height: 564px;

    img {
      height: 100%;
    }
  }

  &-17 {
    height: 70vh;
    max-height: 543px;

    img {
      height: 100%;
      margin-left: -3vh;
    }

    &_box {
      height: 14vh;
      max-height: 110px;

      img {
        height: 100%;
      }
    }
  }

  &-19 {
    height: 72vh;
    max-height: 555px;

    img {
      height: 100%;
    }
  }

  &-20 {
    height: 42.7vh;
    max-height: 328px;

    img {
      height: 100%;
    }
  }

  &-21 {
    height: 53.3vh;
    max-height: 410px;

    img {
      height: 100%;
    }
  }
}
