.class_6_16 {
    &-img_22 {
        height: 49.58vh;
        max-height: 380.85px;
        img {
            height: 100%;
        }
    }
    &-bg_23 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-sweet-memories-16/C-6-16-23.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_24 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-sweet-memories-16/C-6-16-24.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_25 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-sweet-memories-16/C-6-16-25.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_26 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Our-sweet-memories-16/C-6-16-26.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}