.cs-6-16-div {
    &-6-img {
        height: 41.27vh;
    }
    &-7-img {
        height:50vh;
    }
    &-7-p {
        position:absolute;
        right:2vw;
        top:10vh;
    }
    &-8-img {
        height:54vh;
    }
    .cs-6-16-div-8-extra{
        position:absolute;
        right:0;

        img{
            height:17.18vh;
           margin: 15px auto;
        }
    }
    &-9-img {
        height:42.57vh;
    }
    &-10-img {
        height:36.84vh;
    }
    img {
        height: 100%;
    }
}