.class_3_3 {
    &-img_1 {
        height: 55.33vh;
        max-height: 425px;
        margin: 7vh auto;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 27.7vh;
        max-height: 213px;
        img {
            height: 100%;
        }
    }
    &-img_4 {
        position: fixed;
        bottom: 2vh;
        height: 45.7vh;
        max-height: 404.9px;
        img {
            height: 100%;
        }
    }
    &-img_5 {
        position: fixed;
        bottom: 4vh;
        right: 30vh;
        height: 45.38vh;
        max-height: 348.59px;
        img {
            height: 100%;
        }
    }
    &-img_6 {
        height: 38.67vh;
        max-height: 297px;
        img {
            height: 100%;
        }
    }
    &-img_7 {
        height: 43.35vh;
        max-height: 333px;
        img {
            height: 100%;
        }
    }
}