.computer-works-3{
    &-15{
        height:62vh;
        max-height:478px;
    img{
        height:100%;
    }
    }
    &-16{
        height:65vh;
        max-height:504px;
    img{
        height:100%;
    }
    }
    &-17{
        height:46.3vh;
        max-height:356px;
    img{
        height:100%;
    }
    }
    &-18{
        height:54.16vh;
        max-height:416px;
        right:20vh;
    img{
        height:100%;
        margin-top:-32vh;
    }
   }
}


