.computer-works-3{
    &-15{
        height:62vh;
        max-height:478px;
    img{
        height:100%;
    }
    }
    &-16{
        height:65vh;
        max-height:504px;
    img{
        height:100%;
    }
    }
    &-17{
        height:65vh;
        max-height:504px;
    img{
        height:100%;
    }
    }
}