.cs-3-3-info{
    &-5-1-img{
        height: 41.66vh;
        margin-top: 3vh;
    }
    &-6-1-img{
        height: 35.76vh;
        margin-top: 3vh;
    }
    &-7-1-img{
        height: 35.93vh;
        margin-top: 3vh;
    }
    &-7-2-img{
        height: 38.15vh;
        margin-top: 3vh;
    }
    &-8-1-img{
        border-radius: 2vh;
        height: 21.90vh;
        margin-left: 2vh;
        position: relative;
        top: -2vh;
    }
    &-10-1-img{
        height: 62.5vh;
        margin-left: 2vh;
        position: relative;
        top: -30vh;
    }
}