.class_4_11 {
    &-img_7 {
        height: 39.58vh;
        max-height: 304px;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        height: 45.7vh;
        max-height: 351px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 45.5vh;
        max-height: 357px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        position: fixed;
        bottom: 0;
        height: 58vh;
        max-height: 446px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        position: fixed;
        bottom: 0;
        height: 53.64vh;
        max-height: 412px;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        height: 45.44vh;
        max-height: 349px;
        img {
            height: 100%;
        }
    }
}