.cs-4-11 {
  &_5-1 {
    height: 38.15vh;
    max-height: 293px;

    img {
      height: 100%;
    }
  }

  &_6-1 {
    height: 19.4vh;
    max-height: 149px;

    img {
      height: 100%;
    }
<<<<<<< HEAD
    &_7-1{
        height:38vh;
        max-height:293px;
    img{
        height:100%;
    }
    }
=======
  }
>>>>>>> 6be4db25b8654bf965d23e8f3606f7eac396eddc
}
