.cs-5-9-img-div
{
  &-16{
  height:54.94vh;
}
&-17{
  height:62.63vh;
  position:absolute;
  bottom:0;
  left:23.86vw;
}
&-18{
  height:37.63vh;
  position:absolute;
  bottom:12.23vh;
  right:15.81vw;
}

  img{
  height:100%;
    }
}
