.class_5_9 {
    &-img_5_1 {
        height: 36.3vh;
        max-height: 278.9px;
        img {
            height: 100%;
        }
    }
    &-img_5_2 {
        height: 24.47vh;
        max-height: 188px;
        img {
            height: 100%;
        }
    }
    &-title_color {
        color: #DC6C85;
    }
    &-img_5_3 {
        position: fixed;
        right: 20.96vh;
        top: 13.54vh;
        img {
            height: 69.4vh;
            max-height: 533px;
        }
    }
}