.class_5_9 {
    &-img_6_1 {
        height: 19.7vh;
        max-height: 151.5px; 
        img {
            height: 100%;
        }
    }
    &-img_6_1 {
        height: 17.94vh;
        max-height: 137.8px;
        img {
            height:100%
        }
    }
}