.cs-4-15{
    img{
        height:100%;
    }
    &-1{
        height:57.6vh;
        max-height:443px;
    }
    &-3{
        height:43vh;
        max-height:336px;
    }
    &-4{
        height:53.2vh;
        max-height:424px;
    }
    &-5{
        height:53vh;
        max-height:409px;
    }
    &-6{
        height:44vh;
        max-height:343px;
    }
    &-7{
        height:38.8vh;
        max-height:298px;
    }
    &-8{
        height:49.6vh;
        max-height:381px;
    }
    &-9{
        height:59.2vh;
        max-height:455px;
    }
    &-10{
        height:40.9vh;
        max-height:311px;
    }
    &-11{
        height:50vh;
        max-height:385px;
    }
    &-12{
        height:31vh;
        max-height:244px;
    }
    &-13{
        height:39.7vh;
        max-height:305px;
    }
    
}