.class_4_15 {
    &-img_14 {
        position: fixed;
        bottom: 0;
        height: 59.6vh;
    }
    &-img_15 {
        height: 47.5vh;
    }
    &-img_16 {
        position: fixed;
        bottom: 0;
        height: 46.6vh;
    }
    &-img_17 {
        height: 44.4vh;
    }
    &-img_18 {
        height: 45.8vh;
    }
    &-bg_19 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Walking-in-internet-15/C-4-15-19.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Walking-in-internet-15/C-4-15-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Walking-in-internet-15/C-4-15-21.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Walking-in-internet-15/C-4-15-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
