.Class_2_9 {
    &-img_box_14_1 {
        height: 10.94vh;
        max-height: 84px;
        img {
            height: 100%;
        }
    }
    &-img_box_14_1_2 {
        height: 34.89vh;
        max-height: 268px;
        img {
            height: 100%;
        }
    }   
}