.Class_2_9 {
    &-img_box_16_1 {
        display: inline;
        vertical-align: middle;
        height: 31.32vh;
        max-height: 240.5px;
        img {
            height: 100%;
        }
    }
    &-img_16_1_2 {
        display: inline;
        vertical-align: middle;
        height: 8.46vh;
        max-height: 65px;
        img {
            height: 100%;
        }
    }
    &-img_16_1_3 {
        display: inline;
        vertical-align: middle;
        height: 7.87vh;
        max-height: 60.5px;
        img {
            height: 100%;
        }
    }
    &-img_16_1_4 {
        display: inline;
        vertical-align: middle;
        height: 8.41vh;
        max-height: 64.6px;
        img {
            height: 100%;
        }
    }
    &-img_16_1_5 {
        display: inline;
        vertical-align: middle;
        height: 9vh;
        max-height: 70.69px;
        img {
            height: 100%;
        }
    }
    &-img_16_1_6 {
        display: inline;
        vertical-align: middle;
        height: 7.14vh;
        max-height: 54.84px;
        img {
            height: 100%;
        }
    }
    
}
.check_box .circle {
    border: 1px solid #947DCE;
    height: 2.5vh;
    width: 2.5vh;
    margin: .7vh 0.13vh;
    background-color: #b6b5ba00;
    margin-top: 3vh;
    
}
.check_box .circle-fill {
    background-color: #947DCE!important;
}