.cs-2-9-img-div-16{
  &-1{
    height:31.25vh;
  }
  img{
    height:100%;
    }
}

.cs-2-9-img-game-div
{
  &-1{
    height:8.2vh;
    margin-right: 1.69vh;
    margin-left: 1.69vh; 
  }
  &-2{
    height:9.76vh;
    margin-right: 1.69vh;
    margin-left: 1.69vh; 
  }
  &-3{
    height:7.03vh;
    margin-right: 1.69vh;
    margin-left: 1.69vh; 
  }
  img{
    height:100%;
    margin-right: 1.69vh;
    margin-left: 1.69vh; 
    }
  span{
    height:2.6vh;
    width:2.6vh;   
    border-radius: 8px;
  }
  p{
   font-size:2.34vh;
   color:#947DCE;
  }
}

.cs-2-9-img-div{
  &-18 {
    height:58.59vh;
    position:absolute;
    bottom:0;
    left:10.83vw;
  }
  &-19 {
    height:39.19vh;
    position:absolute;
    bottom:13.54vh;
    right:10.83vw;
  }
  img{
    height:100%;
  }
} 