.cs-6-26-div {
  &-3-img {
    height: 64.45vh;
  }

  &-4-img {
    height:52.73vh;
    position:absolute;
    bottom:0;
    right:0;
  }

  &-5-img {
    height: 46.61vh;
  }

  &-6-img {
    height:45.83vh;
  }
  &-6-1-img {
    height:72.91vh;
  }
  &-7-img {
    height: 39.84vh;
  }

  &-8-img {
    height:40.62vh;
  }

  img {
    height: 100%;
  }
}
