.creating-game-26{
    height:100%;

 &-17{
    position: fixed;
    left:85vh;
    bottom:17vh;
    height:55vh;
    max-height:424px;
 }
 &-18{

     height:28.6vh;
     max-height:220px;
 }
}

.creating-game-text-1{
    position:fixed;
    bottom:50vh;
}
.creating-game-text-2{
    position:fixed;
    right:58vh;
    bottom:15vh;
}