.class_6_26 { 
    &-img_9 {
        height: 44vh;
        max-height: 344px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 37.89vh;
        max-height: 291px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 41vh;
        max-height: 316px;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        height: 38.5vh;
        max-height: 296px;
        img {
            height: 100%;
        }
    }
    &-img_13 {
        height: 47vh;
        max-height: 363px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        position: fixed;
        bottom: 11vh;
        height: 45.8vh;
        max-height: 300px;
        img {
            height: 100%;
        }
    }
    &-img_15 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 52.7vh;
        max-height: 405px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        height: 43vh;
        max-height: 333px;
        img {
            height: 100%;
        }
    }
}