.class_6_25 { 
    &-img_9 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_13 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_15 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
}