.cs-5-20 {
    &-1-img {
        height: 59.11vh;
        margin: 3vh auto 5vh;
    }
    &-3-img {
        height: 47.00vh;
        margin-top: 2vh;
    }
    &-4-img {
        height: 42.31vh;
        margin-top: 2vh;
    }
    &-5-img {
        height: 39.97vh;
        margin-top: 2vh;
    }
    &-6-img {
        height: 57.94vh;
        margin-top: 3vh;
    }
    &-7-img{
        height: 81.77vh;
        margin-top: 5vh;
    }
}