.cs-5-20-div{
    &-26-img
      {
      height:28.77vh;
      }
  &-27-img
      {
      height:46.87vh;
      }
  &-28-img
      {
      height:47.65vh;
      }
   &-29-img
      {
      height:33.33vh;
      position: absolute;
      right: 21.96vw;
      bottom:0;
      }
      img{
        height:100%;
      }
}
