.class_5_20 {
    &-img_8 {
        position: fixed;
        bottom: 11vh;
        height: 41.79vh;
        max-height: 321px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        height: 78.25vh;
        max-height: 601px;
        img {
            height: 100%;
        }
    }
    &-img_excel {
        display: inline;
        vertical-align: middle;
        height: 3.55vh;
        max-height: 27.28px;
        img {
            height: 100%;
        }
    }
    &-img_data {
        display: inline;
        vertical-align: middle;
        height: 2.76vh;
        max-height: 21.22px;
        img {
            height: 100%;
        }
    }
    &-img_sort {
        display: inline;
        vertical-align: middle;
        height: 6.05vh;
        max-height: 46.5px;
        img {
            height: 100%;
        }
    }
    &-img_home {
        display: inline;
        vertical-align: middle;
        height: 2.93vh;
        max-height: 22.54px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        position: fixed;
        bottom: 0;
        height: 53.99vh;
        max-height: 414.65px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 31.5vh;
        max-height: 242px;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        height: 33.4vh;
        max-height: 256.79px;
        img {
            height: 100%;
        }
    }
    &-img_13 {
        position: fixed;
        bottom: 9vh;
        height: 35.5vh;
        max-height: 272.8px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 51vh;
        max-height: 393px;
        img {
            height: 100%;
        }
    }
}