.M-1366-04-33-lyrics-img-div{
    height:9.89vh;
    img{
        height:100%;
    }
}

.M-1366-04-33-music-play-icon{
    height:5vh;
    width:5vh;
}

.M-1366-04-33-music-play-icon_child {
    height: 3.5vh !important;
    width: 3.5vh !important;
}
.M-1366-04-33-clock-img-div{
    height:6.22vh;
    img{
        height:100%;
    }
}
.M-1366-04-33-laptop-img-div{
    height:5.2vh;
    img{
        height:100%;
    }
}
.M-1366-04-33-building-img-div{
    height:4.88vh;
    img{
        height:100%;
    }
}
.M-1366-04-33-heading{
    margin-bottom:4.81vh;
}

.M-1366-04-3-col{
    margin-bottom:5.46vh;
}
