.compiuter_development-title_22 .newDesign_subject_question_item-title {
    font-family: 'DejaVuSans';
    font-size: 2.6vh;
}

.compiuter_development-img_22 {
    // margin-top: 13vh;

    img {
        position: absolute;
        top: 25vh;
        right: 26vh;
        height: 24.46vh;
        max-height: 187.9px;
    }
}