.compiuter_development-title_23 .newDesign_subject_question_item-title {
    font-family: 'DejaVuSans';
    font-size: 2.6vh;
}

.compiuter_development-img_23 {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
        height: 45.5vh;
        max-height: 349px;
    }
}