.background-c-03-01-24 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/computer-development-1/C-3-1-24.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
        h1 {
            color: #62548a;
        }
    }
}
.background-c-03-01-25 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/computer-development-1/C-3-1-25.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
        h1 {
            color: #62548a;
        }
    }
}
.background-c-03-01-26 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/computer-development-1/C-3-1-26.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
        h1 {
            color: #62548a;
        }
    }
}
.background-c-03-01-27 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/computer-development-1/C-3-1-27.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
        h1 {
            color: #62548a;
        }
    }
}
