.Class_5_1 {
    &-img_box_8 {
        position: fixed;
        bottom: 8.2vh;
        img {
            height: 52.8vh;
            max-height: 405.8px;
        }
    }
    &-img_box_9 {
        height: 43.87vh;
        max-height: 336.9px;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        height: 47.65vh;
        max-height: 366px;
        img {
            height: 100%;
        }
    }
    &-img_box_11 {
        position: fixed;
        bottom: 0;
        right: 0;
        img {
            height: 53.25vh;
            max-height: 409px;
        }
    }
    &-img_box_12 {
        height: 42.19vh;
        max-height: 324px;
        img {
            height: 100%;
        }
    }
    &-img_box_13 {
        height: 52.86vh;
        max-height: 406px;
        img {
            height: 100%;
        }
    }
    &-img_box_14 {
        position: fixed;
        bottom: 0;
        right: 0;
        img {
            height: 65.59vh;
            max-height: 503.8px;
        }
    }
}