.UI_img-box{
  &-1{
    height: 56vh;
    max-height: 444px;
    img{
      height: 100%;
    }
  }
  &-3{
    height: 56vh;
    max-height: 444px;
    img{
      height: 100%;
    }
  }
  &-4{
    height: 56vh;
    max-height: 444px;
    img{
      height: 100%;
    }
  }
  &-5{
    height: 64vh;
    max-height: 490px;
    position: absolute;
    top: 0;
    right: 0;
    img{
      height: 100%;
    }
  }
  &-13{
    height: 51vh;
    max-height: 489px;

    img{
      height: 100%;
    }
  }
}