.cs-2-6-10-img-1-div{
    height:35.41vh;
    img{
        height:100%;
    }
}
.cs-2-6-10-btn-div{
    height:8.51vh;
  margin-top:0.5vh;
    img{
        height:100%;
    }
}
.cs-2-6-10-btn-container{
    flex-direction:column;
    margin-left:1.46vw;
}
.cs-2-6-10-2-div-img{
    height:37.1vh;
    margin-left:9vw;
    img{
        height:100%;
    }
}