
.cs-2-6-11-div-img{
    height:52.99vh;
img{
       height:100%;
    }
}

.cs-2-6-12-div-img{
    height:56.9vh;
    position: absolute;
    bottom:0;
    right: 0;
img{
       height:100%;
    }
}