.Class_2 {
    &-user_interface_17 {
        height: 40.75vh;
        max-height: 313px;
        img {
            height: 100%;
        }
    }
    &-user_interface_18 {
        height: 14.58vh;
        max-height: 112px;
        img {
            height: 100%;
        }
    }
}