.UI_img-box_6{
  height: 13.7vh;
  max-height: 105px;
  width: 7.6vw;
  max-width: 102px;
  &:last-child{
    height: 15.7vh;
    max-height: 142px;
  }
  img{
    width: 100%;
    height: auto;
  }
}
.UI-tbn-wrapper {
  .sign-description-btn{
    max-width: 156px;
  }
}