.cs-2-6-7-div-img{
    height:63.8vh;
    position: absolute;
    bottom:-8vh;
    left: 50%;
    transform: translate(-50%, 0);
img{
       height:100%;
    }
}
.cs-2-6-8-div-img{
    height:46.35vh;
img{
       height:100%;
    }
}

