.cs-2-6-9-div-img{
    margin-right:7.08vw;
    height:18.48vh;
    img{
        height:100%;
    }
}
.cs-2-6-9-div-img-4{
    margin-right:10.46vw; 
}
.cs-2-6-9-div-container{
    margin-bottom: 6.51vh;
}

.cs-2-6-9-img{
    margin-left:1.46vw;
}
