.cs-2-6-3-1-ill-img{
    margin-top: 11vh;
    height: 53.65vh;
}
.cs-2-6-13-1{
    &-1-img{
        height: 29.03vh;
    }
    &-2-img{
        height: 16.66vh;
        margin-left: 2vh;
    }
}
.cs-2-6-10-1-img{
    height: 58.33vh;
}
.cs-2-6-8-1-img{
    margin-left: 2vh;
    height: 35.54vh;
}