.Class_5 {
    &-title_item {
        font-family: "DejaVuSans";
    }
    &-img_item_5_6_14_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 51.43vh;
            max-height: 395px;
        }
    }
    &-img_item_5_6_14_2 {
        img {
            height: 34.77vh;
            max-height: 267px;
        }
    }
}