.Class_5 {
    &-title_item {
        font-family: "DejaVuSans";
    }
    &-img_item_5_6_15_2 {
        img {
            height: 39.58vh;
            max-height: 304px;
        }
    }
    &-img_item_5_6_15_4 {
        img {
            height: 39.58vh;
            max-height: 304px;
        }
    }
    &-img_item_5_6_15_1 {
        img {
            height: 13.41vh;
            max-height: 104px;
        }
    }
    &-img_item_5_6_15_3 {
        img {
            height: 13.41vh;
            max-height: 104px;
        }
    }
}