.background-c-05-06-21 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-5/parallel-programming-6/C-5-6-21.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}.background-c-05-06-22 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-5/parallel-programming-6/C-5-6-22.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}.background-c-05-06-23 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-5/parallel-programming-6/C-5-6-23.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}.background-c-05-06-24 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-5/parallel-programming-6/C-5-6-24.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}