.cs-5-6-4-img-div {
    height: 46.87vh;
    position: absolute;
    bottom: 0;
    right: 17.05vw;

    img {
        height: 100%;
    }
}
.cs-5-6-4-img-div{
    height:46.87vh;
    position:absolute;
    bottom: 0;
    right:17.05vw;
    img{
        height:100%;
    }
}