.Class_5 {
    &-title_item {
        font-family: 'DejaVuSans';
        font-size: 2.6vh;
    }
    &-img_item_5_6_5_1 {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        img {
            height: 52.9vh;
            max-height: 406px;
        }
    }
}