.Class_5 {
    &-title_item {
        font-family: "DejaVuSans";
    }
    &-img_item_5_6_8_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 62.3vh;
            max-height: 494px;
        }
    }
}