.Class_5 {
    &-title_item {
        font-family: "DejaVuSans";
    }
    &-img_item_5_6_9_1 {
        img {
            height: 41.66vh;
            max-height: 320px;
        }
    }
    &-img_item_5_6_9_2 {
        position: fixed;
        bottom: 0;
        img {
            height: 45.3vh;
            max-height: 348px;
        }
    }
}