.part_whole-title_item .newDesign_subject_question_item-title {
    font-family: 'DejaVuSans';
    font-size: 2.6vh;
}

.part_whole-img_3 {
    position: fixed;
    bottom: 0;
    img{
        height: 66.27vh;
        max-height: 509px;
    }
}