.cs-5-19-div{
    &-3-img{
        height: 57vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom:0;
    }
    &-4-img{
        height:42.44vh;
    }
    &-5-img{
        height: 39.19vh;
    }
    &-6-img{
        height: 45.57vh;
    }
    img{
        height:100%;
    }
}