.class_5_19 {
    &-img_12 {
        position: fixed;
        bottom: 10vh;
        height: 38.25vh;
        max-height: 293.8px;
        img {
            height: 100%;
        }
    }
    &-img_13 {
        position: fixed;
        bottom: 10vh;
        height: 36.7vh;
        max-height: 282px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        position: fixed;
        bottom: 2vh;
        height: 57.9vh;
        max-height: 444.9px;
        img {
            height: 100%;
        }
    }
    &-img_15 {
        height: 42.7vh;
        max-height: 328px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        height: 66.27vh;
        max-height: 509px;
        img {
            height: 100%;
        }
    }
}