.diagram-box {
  &_page-17 {
    height: 70vh;
    max-height: 570px;

    img {
      height: 100%;

    }
  }

  &_page-18 {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/Using-diagrams-19/cs-5-19-18.svg") no-repeat center;
    background-size: cover;
  }

  &_page-19 {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/Using-diagrams-19/cs-5-19-19.svg") no-repeat center;
    background-size: cover;
  }

  &_page-20 {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/Using-diagrams-19/cs-5-19-20.svg") no-repeat center;
    background-size: cover;
  }

  &_page-21 {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/Using-diagrams-19/cs-5-19-21.svg") no-repeat center;
    background-size: cover;
  }

  &_page-5-1 {
    height: 61vh;
    max-height: 471px;

    img {
      height: 100%;
    }
  }
}
