.diagram-box {
  &_page-6-1 {
    height: 63vh;
    max-height: 485px;

    img {
      height: 100%;
      margin-top:-2vh;
    }
  }
  &_page-10-1 {
    height: 69vh;
    max-height: 532px;
    margin-top:2vh;

    img {
      height: 100%;
    }
  }
  &_page-11-1 {
    height: 73vh;
    max-height: 565px;
    margin-top:-2vh;

    img {
      height: 100%;
    }
  }
  &_page-12-1 {
    height: 64vh;
    max-height: 498px;

    img {
      height: 100%;
    }
  }
  &_page-13-1 {
    height: 41vh;
    max-height: 318px;

    img {
      height: 100%;
    }
  }
}
