.walk-4{
    img{
        height:100%;
    }
    &-1{
        height:61.1vh;
        max-height:470px;
    }
    &-3{
        height:61.97vh;
        max-height:476px;
    }
    &-4{
        height:68.75vh;
        max-height:528px;
    }
}