.class_- {
    perspective: 1000px;
    .checkBox{
        height: 18px;
        width: 18px; 
        border-radius: 100%;
        border: 1px solid #000; 
        &.active {
            background: #d8c76a;
        }
    }
    &-img_18 {
        margin-top: -22vh;
    }
    &-img_18_1 {
        height: 27vh;
        img {
            margin-top: -27vh;
        }
    }
    &-img_18_2 {
        height: 27.86vh;
    }
    &-img_18_3 {
        margin-top: 3vh;
        height: 25vh;
    }
    &-img_18_2 {
        height: 27.56vh;
    }
    &-img_icon {
        display: inline;
        vertical-align: middle;
        width: 3.25vh;
    }
    &-title_purple {
        color: #947DCE;
    }
    &-img_circle {
        width: 8.2vh;
        height: 8.2vh;
    }
    &-img_19_1 {
        height: 27vh;
        img {
            margin-top: -25vh;
        }
    }
    &-img_20 {
        height: 51.3vh;
    }
    &-img_21_1 {
        border: 1px solid #947DCE;  
        opacity: 1;
        width: 30.59vh;
        height: 16.9vh;
        &.true {
            border: 1px solid #A1DD6F;
        }
        &.false{
            border: 1px solid #dc6c85;
        }
        
        img {
            cursor: pointer;
            margin: 3.5vh auto;
        }
    }
    &-img_21_2 {
        border: 1px solid #947DCE;  
        opacity: 1;
        width: 30.59vh;
        height: 16.9vh;
        &.true{
            border: 1px solid #A1DD6F;
        }
        &.false{
            border: 1px solid #dc6c85;
        }
        img {
            cursor: pointer;
            margin: 3.5vh auto;
        }
    }
    &-img_21_3 {
        border: 1px solid #947DCE;  
        opacity: 1;
        width: 30.59vh;
        height: 16.9vh;
        &.true{
            border: 1px solid #A1DD6F;
        }
        &.false{
            border: 1px solid #dc6c85;
        }
        
        img {
            cursor: pointer;
            margin: 3.5vh auto;
        }
    }
    &-img_22 {
        img {
            height: 6.4vh;
        }
    }
    &-img_23 {
        height: 45.18vh;
    }
    &-img_24_1 {
        height: 24.8vh;
    }
    &-img_24_2 {
        height: 19.5vh;
        margin-top: 7vh;
    }
    &-img_24_3 {
        height: 18vh;
        margin-bottom: -18vh;
    }
    &-img_24_4 {
        height: 24.86vh;
        margin-top: -5vh;
    }
    &-img_24_5 {
        height: 13.67vh;
        margin-right: 5vh;
    }
    &-img_25_circle {
        cursor: pointer;
        img {
            width: 12vh;
            height: 12vh;
            margin-bottom: 7vh;
        }
    }
    &-img_25_title {
        font-family: DejaVuSans;
        font-size: 2.6vh;
        color: #FFFFFF;
        opacity: 1;
    }
    &-img_25_cont {
        background: #947DCE;
        //background-repeat: no-repeat;
        //background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20.3vh;
        height: 10.4vh;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 2.6vh;
        &.active {
            background: #d8c76a;
        }
        &.error {
            background: #dc6c85;
        }
         &.success {
             background: #A1DD6F;
        }
    }
    .margin-right{
        margin-right: 10vw;

    }
        .memory-card{
            position: relative;
            height: 19.8vw;
            width: 19.8vw;
            max-height: 150px;
            max-width: 150px;
            transform: scale(1);
            transform-style: preserve-3d;
            transition: transform .5s;
            &:active {
                transform: scale(0.97);
                transition: transform .2s;
            }
            &.flip {
                transform: rotateY(180deg);
            }
            .front-face,
            .back-face {
                height: 100%;
                width: 100%;
                padding: 5px;
                position: absolute;
                backface-visibility: hidden;
            }
            .front-face {
                transform: rotateY(180deg);
            }
        }

}



