.class_music_4 {
    &-bg_27{
        background-image: url("../img/gakvetilebi/Music-class/Walk-in-the-city-4/music-04-27.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_28{
        background-image: url("../img/gakvetilebi/Music-class/Walk-in-the-city-4/music-04-28.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_29{
        background-image: url("../img/gakvetilebi/Music-class/Walk-in-the-city-4/music-04-29.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_30{
        background-image: url("../img/gakvetilebi/Music-class/Walk-in-the-city-4/music-04-30.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_31{
        background-image: url("../img/gakvetilebi/Music-class/Walk-in-the-city-4/music-04-31.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_32{
        background-image: url("../img/gakvetilebi/Music-class/Walk-in-the-city-4/music-04-32.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
.background-music-title-black-cont {
    padding-top: 10vh;
}
.background-music-title-black {
    color: #243E41;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}