.music-new-4-div {
    &-6-img {
        height:46.48vh;
    }
    &-8-img {
        height:33.72vh;
    }
    &-9-img {
        height:57.29vh;       
    }
    &-12-img {
        height:54.55vh;
    }
    &-17-img {
        height:47.52vh;
    }
    img {
        height: 100%;
    }
}
.music-new-4-div-5{
    flex-direction:column; 
    width:6.8vw;
        &-1-img {
            height:24.21vh;
        } 
        &-2-img {
            height:30.85vh;
        } 
        &-3-img {
            height:37.63vh;
        } 
        &-4-img {
            height:44.4vh;
        } 
        &-5-img {
            height:51.3vh;
        } 
}

.music-new-4-div-5-img-circle{
    height:8.2vh;
    width:8.2vh;
    border: 2px solid #7FD1D8;
    border-radius: 100%;
    margin-left: auto;
    margin-right:auto;
}
.music-new-4-div-5-icons{
    
    img{
        height:8.2vh;
        margin-right:2.19vw;
    }
}
.music-new-4-div-7-blue-icon{
    flex-direction:column; 
    img{
        height:5.98vh;
        margin-bottom:2.7vh;
    }
}

.music-new-4-div-7-lyrics{
    flex-direction:column; 
    img{
        height:7.8vh;
        margin-bottom:0.5vh;
    }
}
.music-new-4-div-14{
    &-img{
        height:5.98vh;
    } 
 &-img-ball{ 
        height:3.9vh;
    } 
    &-img-arrow {
        height:21.35vh;
    }
    &-middle-container{
        height:15.62vh;
        width:23.42vw;
        border: 2px solid #947DCE;
        border-radius: 9px; 
    } 
}

.music-new-4-div-16-lyrics{
    flex-direction:column; 
    img{
        height:5.2vh;
        margin-bottom: 3.38vh;
    } 
}
.music-new-4-div-16-buildings{
    width:inherit;
    &-img-1 {
        height:26vh;
    } 
    &-img-2 {
        height:36.58vh;
    } 
    &-img-3 {
        height:23.43vh;
    }
}
.music-new-4-div-16-park{
    position:absolute;
    bottom:21.47vh;
    right:10.24vw;
    img{
        height:27.73vh;
    }
}

.music-new-4-div-10-lyrics-container{
    position:absolute;
    top:21.21vh;
    right:14.56vw;
}
.music-new-4-div-10-lyrics-container-box{
    position:relative;
    img{
        height:21.61vh;
        
    }
}

.music-new-4-div-lyrics-box{
    border: 1px solid #7FD1D8;
    background: #FFFFFF;
    height:6.9vh;
    width:12.8vw;
    position:absolute;
    &-10 {
        bottom:1.95vh;
    }
    &-11 {
        top:3.95vh;
    }
}

.music-new-13-div-numbers{
    justify-content:space-evenly;
    img{
        height:11.97vh;
    }
}
.music-new-13-div-buttons{
    justify-content:space-evenly;
}
.music-new-13-div-button-container{
    
    img{
        height:6.44vh;
    }
}


.music-new-13-div-button-circle{
    border: 4px solid #CECECE;
    background: #FFFFFF;
    border-radius: 100%;  
    width:4.16vh;
    height:4.16vh;
    margin-right:1.4vw;
}
.music-new-15-div-button-container{
    
    img{
        height:10.41vh;
    }
}

.music-new-15-div-icons{
    justify-content:space-evenly;
}
.music-new-15-div-icons-container{   
img{
    height:6.77vh;
    margin-right:2.85vw;
    }
}