.animation-music-12{
    img{
        height:100%;
    }
    &-1{
        height:63vh;
        max-height:484px;
    }
    &-3{
        height:64vh;
        max-height:498px;
    }
    &-4{
        height:61.84vh;
        max-height:475px;
    }
}