.animation-soundtrack-12 {
    &-13{
            height:19vh;
            max-height:150px;
        img{
            height:100%;
        }   
    }
    &-bg_14{
        background-image: url("../img/gakvetilebi/Music-class/Create-animation-soundtrack-12/music-12-bg-illustrations-14.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_15{
        background-image: url("../img/gakvetilebi/Music-class/Create-animation-soundtrack-12/music-12-bg-illustrations-15.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_16{
        background-image: url("../img/gakvetilebi/Music-class/Create-animation-soundtrack-12/music-12-bg-illustrations-16.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_17{
        background-image: url("../img/gakvetilebi/Music-class/Create-animation-soundtrack-12/music-12-bg-illustrations-17.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
.background-music-title-black-cont {
    padding-top: 10vh;
}
.background-music-title-black {
    color: #243E41;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}