.presentation-of-my-project-19{
    &-15{
        height:56.77vh;
        max-height:436px;
    img{
        height:100%;
    }
    }
    &-16{
        height:27.6vh;
        max-height:212px;
    img{
        height:100%;
    }
    }
    &-17{
        height:48.6vh;
        max-height:374px;
    img{
        height:100%;
    }
    }
    &-18-1{
        height:15.8vh;
        max-height:122px;
    img{
        height:100%;
    }
    }
    &-18-2{
        height:19.14vh;
        max-height:147px;
        position:fixed;
        margin-top:5vh;
        margin-left:50vh;
    img{
        height:100%;
    }
    }
}