.class_6_19 {
    &-img_19 {
        height: 37.89vh;
        max-height: 291px;
        img {
            height: 100%;
        }
    }
    &-img_20 {
        position: fixed;
        bottom: 0;
        img {
            height: 50.26vh;
        }
    }
    &-img_21 {
        height: 48.3vh;
        max-height: 371px;
        img {
            height: 100%;
        }
    }
    &-img_22 {
        height: 34.8vh;
        max-height: 267.5px;
        img {
            height: 100%;
        }
    }
    &-img_23 {
        height: 51.56vh;
        max-height: 396px;
        img {
            height: 100%;
        }
    }
    &-img_24 {
        height: 48.9vh;
        max-height: 375.6px;
        img {
            height: 100%;
        }
    }
    &-img_25 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 51.56vh;
        max-height: 396px;
        img {
            height: 100%;
        }
    }
}