.cs-6-17{
    &-1-img{
        height: 61.45vh;
        margin: 3vh auto 5vh;
    }
    &-3-img{
        height: 55.72vh;
    }
    &-4-img{
        height: 54.73vh;
        position: relative;
        right: -17vh;
        top: 8vh;
    }
    &-5-img{
        height: 59.24vh;
        position: relative;
        right: -17vh;
        top: 0.5vh;
    }
}