.secure-digital-world{
    &-12{
        position: fixed;
        right:0;
        bottom:0;
        height:53.9vh;
        max-height:414px;
    img{
        height:100%;
    }
    }
    &-13{
        height:53.7vh;
        max-height:413px;
    img{
        height:100%;
    }
    }
    &-14{
        height:54.8vh;
        max-height:421px;
    img{
        height:100%;
    }
    }
    &-16{
        height:66.14vh;
        max-height:508px;
    img{
        height:100%;
        margin-top: -8vh;
    }
    }
    &-17{
        position: fixed;
        right:0;
        bottom:0;
        height:56vh;
        max-height:431px;
    img{
        height:100%;
    }
    }
}