.class_6_17 {
    &-img_18 {
        height: 33vh;
        max-height: 255px;
    }
    &-bg_19 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Secure-digital-world-17/C-6-17-19.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Secure-digital-world-17/C-6-17-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Secure-digital-world-17/C-6-17-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Secure-digital-world-17/C-6-17-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}