.cs-6-17-div {
    &-5-1-img {
        height: 22.78vh;
    }
    &-5-2-img {
        height:38.41vh;
    }
    &-6-1-img {
        height:70.96vh;
        position:absolute;
        bottom:10.15vh;
        right:21.44vw;
    }
    &-12-1-img {
        height:43.48vh;
    }
    &-13-1-img {
        height:41.79vh;
    }
    img {
        height: 100%;
    }
}