.cs-5-1-img-div
{
    &-13{
        height:39.71vh;
    }
    &-14{
        height:52.47vh;
        position:absolute;
        bottom:0;
        right:18vw;
    }
    &-15{
        height:32.94vh;
        position:absolute;
        bottom:10.54vh;
        right:16.17vw;
    }
    &-18{
        height:56.38vh; 
    }
    &-17{
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        height: 44.42vh;
    }
      &-19{
        height:42.83vh; 
    }
    img{
        height:100%;
    }
}
.cs-5-1-img-div-16
{
    &-crossword{
        height:65.49vh;
    }
    &-1{
        height:6.58vh;   
    }
  &-2{
    height:8.2vh;   
  }
   p{
        color:#8A7CC7;
        font-size: 3.64vh;
        margin-right:0.83vw;
    }
    img{
        height:100%;
   }
}