.class_5_1 {
    &-img_20 { 
        position: fixed;
        bottom: 0;
        height: 58.85vh;
        max-height: 452px;
        img {
            height: 100%;
        }
    }
    &-title-20 {
        margin-bottom: .9vh;
    }
}