.class_music_7 {
    &-img_8 {
        position: fixed;
        bottom: 0;
        height: 67.78vh;
    }
    &-img_9 {
        height: 29vh;
    }
    &-img_10 {
        height: 29vh;
    }
    &-img_11 {
        height: 29vh;
    }
    &-img_12 {
        height: 29vh;
    }
}