.class_music_7 {
    &-img_8 {
        position: fixed;
        bottom: 0;
        height: 67.7vh;
    }
    &-blue_circle {
        width: 8.2vh;
        height: 8.2vh;
        border: 3px solid #7FD1D8;
        border-radius: 50%;
    }
    &-img_circle_9 {
        height: 8vh;
    }
    
    &-img_10_circle_blue {
        width: 8.2vh;
        height: 8.2vh;
        border: 3px solid #7FD1D8;
        border-radius: 50%;
    }
    &-img_10 {
        height: 18.75vh;
    }
    &-img_11 {
        img {
            width: 31.77vh;
            height: 18.75vh;
        }
    }
    &-img_12 {
        height: 35.9vh;
    }
}
.Create-broadcast-hat {
    &-1 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-9-1.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19.79vh;
        height: 14.97vh;
    }
    &-2 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-9-2.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19.79vh;
        height: 14.97vh;
    }
    &-3 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-9-3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19.79vh;
        height: 14.97vh;
    }
    &-4 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-9-4.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19.79vh;
        height: 14.97vh;
    }
    &-5 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-9-5.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19.79vh;
        height: 14.97vh;
    }
    &-11-1 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-11-1.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31.77vh;
        height: 18.6vh;
    }
    &-11-2 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-11-2.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31.77vh;
        height: 18.6vh;
    }
    &-11-3 {
        background-image: url('../img/gakvetilebi/Music-class/Create-broadcast-hat-7/music-7-11-3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31.77vh;
        height: 18.6vh;
    }
}