.create-broadcast-7 img {
  height: 100%;
}

.create-broadcast-7-6-1 {
  height: 50.52vh;
  max-height: 388px;
}

.create-broadcast-7-7-1 {
  height: 58.5vh;
  max-height: 450px;
  margin-top: -5vh;
}

.create-broadcast-7-9-2 {
  height: 39.45vh;
  max-height: 303px;
}
