.ui {
  &_page-6 {
    height: 14vh;
    // max-height: 117px;


    &_select {
      border: 2px solid #696969;
      border-radius: 8px;
      opacity: 1;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &.active {
        background: #947DCE;
      }
    }

    .reload_game_wrapper {
      bottom: 10vh;
    }

    img {
      height: 100%;
      border-radius: 2vh;
    }
  }

  &_page-7 {
    height: 50vh;
    max-height: 379px;

    img {
      height: 100%;
    }
  }

  &_page-8 {
    &_btns {
      display: flex;
      flex-direction: column;

      
      .drag__area {
        display: flex;
        align-items: flex-start;

        img {
          width: 3vw;
          margin-left: 1vw;
        }
      }
    }

    &_img {
      height: 8vh;
      max-height: 55px;

      img {
        height: 100%;
      }
    }
  }

  &_page-9 {
    height: 55vh;
    max-height: 435px;
    position: fixed;
    bottom: 0;
    right: 0;

    img {
      height: 100%;
    }
  }

  &_page-10 {
    height: 48vh;
    max-height: 370px;

    img {
      height: 100%;
    }
  }
}
