.class_4_5{
    &-3-1{
        height:58vh;
        max-height:447px;
    img{
        height:100%;
    }
    }

    &-10-1{
        height:43.35vh;
        max-height:332.95px;
    img{
        height:100%;
    }
    }
    &-13-1 {
        img {
            height: 60vh;
        }
    }

}