.background-38{
    background-image: url(../img/gakvetilebi/xelovneba/Landscape/A-1366-06-38.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-39{
    background-image: url(../img/gakvetilebi/xelovneba/Landscape/A-1366-06-39.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-40{
    background-image: url(../img/gakvetilebi/xelovneba/Landscape/A-1366-06-40.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-41{
    background-image: url(../img/gakvetilebi/xelovneba/Landscape/A-1366-06-41.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-42{
    background-image: url(../img/gakvetilebi/xelovneba/Landscape/A-1366-06-42.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}