.A-1366-06-28-cols{
    margin-top:5.33vh;
}

.A-1366-06-28-img-container{
    height:46.48vh;
    img{
        height:100%;
    }
}

.A-1366-06-28-txt-container{
    margin-left:1.24vw;
    color:#47A8A8;
    line-height: 7vh;
    text-align: center;
    font-family: 'DejaVu Sans Oblique'
}