.A-1366-06-26-img-container{
    height:58vh;
    margin-top:5.24vh;
    img{
        height:100%;
    }
}
.landscape-exercise-description{
    position: absolute;
    font-size: 2.64vh;
    font-family: 'DejaVu Sans Oblique';
    color: #47A8A8;
    line-height: 3.69vh;
    top: 60%;
    left: 40%;
    transform: translate(-40%, -50%);
    text-align: center;
}