.n-1366-03-20-header-text-col{
  padding-left: 6.32vw; 
}

 .nature-game-season-changer-div{
   position: relative; 
    align-items: center;
    height:67.96%;     
    left: 50%;
    transform: translateX(-50%);
    margin-top: 14vh;

    &.left {
      left: 20%;
      transition: all 0.3s;
    }
 } 

 .tree-sec {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 10%;
   opacity: 0;
 }

 .nature-game-season-changer-changer{
>img{
     height:282px;
   }
 }

.nature-game-season-circles{
  display: flex;
  justify-content: center; 
  width: 75px;
  height: 75px;
  border-radius:50%;
  box-shadow: 0px 3px 6px #00000029;
  position: absolute;
 
  img{
    width: 20px;
    height: initial;
  }
}

 .nature-game-season-circle-1{
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
}

.nature-game-season-circle-2{
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}

.nature-game-season-circle-3{
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  }

.nature-game-season-circle-4{
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
}

.nature-game-season-changer-tree{
  position: absolute;
  right:0px;
  top:50%;
  left: 50%;
}

