.nature_plant-game {
  &-text {
    color: #0b2228;
    font-size: 2.34vh;
    font-family: "BPG Arial";
    line-height: inherit;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      &-white {
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137254902);
        border-radius: 27px;
        height: 5.07vh;
        width: 12.29vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        &-1 {
          top: 6.7vh;
          left: -9.7vw;
        }
        &-2 {
          top: 3.5vh;
          right: -11.4vw;
        }
        &-3 {
          top: 26vh;
          left: -8.9vw;
        }
        &-4 {
          top: 29.5vh;
          right: -1.9vw;
        }
        &-5 {
          bottom: 0.5vh;
          left: -8.9vw;
        }
        &.error {
          background: #dc6c85;
        }
        &.success {
          background: #a1dd6f;
        }
      }
    }
  }
  &-img {
    height: 100%;
    &-container {
      height: 48.82vh;
      position: relative;
    }
  }
}
