.plant-parts {
    p {
        font-family: 'BPG Arial';
        font-size: 2.34vh;
        padding-top: 2vh;
        color: #0B2228;
    }
    img  {
        max-height: 19.24vh;
    }
    &-229{
        text-align: center;
        img{
            max-height: 14vh;
        }
    }
}
.n-03-264-radio {
    margin-top: 10vh;
    margin-bottom: 10vh;
}