.n-1366-03-20-header-text-col{
  padding-left: 6.32vw; 
}

 .nature-game-season-changer-div{
   position: relative; 
    align-items: center;
  /*   height:36.71vh;  */
    height:67.96%;     
  /*   height:67.96vh;  */
  margin-top: 14vh;

 } 
 .nature-game-season-changer-changer{
>img{
     height:282px;
   }
 }

.nature-game-season-circles{
  display: flex;
  justify-content: center; 
  width: 75px;
  height: 75px;
  border-radius:50%;
  box-shadow: 1px 1px 1px 1px  grey;
  position: absolute;
 
  img{
    width: 20px;
    height: initial;
  }
}

 .nature-game-season-circle-1{
  top:-29%;    
}

.nature-game-season-circle-2{

bottom: -29%;
}
.nature-game-season-circle-3{
  left: 29%;
  }
.nature-game-season-circle-4{
right: 29%;
}

.nature-game-season-changer-tree{
  position: absolute;
  right:0px;
  top:50%;
  left50%;
}