.cs-5-27-div{
    &-1-img{
        height:50vh;
        margin: 1vh auto;
    } 
   &-3-img{
       height:63.67vh;
   } 
   &-4-img{
    height:45.05vh;
    }
    &-5-img{
        height:57.16vh;
    }
    &-6-img{
        height:39vh;
    }
    &-7-img{
        height:26.69vh;
    } 
    &-8-img{
    height:53.12vh;
    }
    &-9-img{
    height:40.1vh;
    }
    &-10-img{
    height:35.67vh;
    }
    &-11-img{
        height:48.69vh;
    } 
    &-12-img{
    height:60.67vh;
    }
    &-13-img{
    height:50.78vh;
    }
    &-14-img{
    height:60.41vh;
    }
    &-15-img{
    height:60.93vh;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
   }
   &-16-img{
    height:36.58vh;
   }
   &-17-img{
       height:53.64vh;
   } 
   &-18-img{
    height:40.88vh;
   }
   &-19-img{
    height:48.56vh;
   }
   &-20-img{
    height:44.92vh;
   }
   &-21-img{
    height:55.72vh;
   }
   img{
       height:100%;
   }
}