.cs-5-27{
    img{
        height:100%;
    }
    &-22{
        height:47vh;
        max-height:367px;
    }
    &-23{
        height:54vh;
        max-height:415px;
    }
    &-24{
        height:40vh;
        max-height:315px;
    }
    &-25{
        height:38vh;
        max-height:294px;
    }

}

.background-cs-5-27{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Decorate-electronic-table-27/cs-5-25-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Decorate-electronic-table-27/cs-5-25-27.svg");
    }
    &-28{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Decorate-electronic-table-27/cs-5-25-28.svg");
    }
    &-29{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Decorate-electronic-table-27/cs-5-25-29.svg");
    }
}