#M-1366-03-2 {
    .subject_question_item p {
        line-height: 4vh;
    }

    .image-box_center {
        max-height: 308px;
        height: 40vh;

        img {
            height: 100%;
        }
    }
    .bottom_components{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.subject_component_title {
    text-align: center;
}