.cs-5-3-16-div-img-1{
    justify-content:space-evenly;
    img{
        height:7.07vh;
    }
}
.cs-5-3-16-div-img-2{
    justify-content:space-evenly;
    img{
        height:19.1vh;
    }
}
.cs-5-3{
    &-18-img{
        height:50vh;
    }
    &-19-img{
        height:45.31vh;
    }
}