.cs-programing-image {
  &-box_4 {
    height: 41vh;
    max-height: 321px;

    img {
      height: 100%;
    }
  }

  &-box_5 {
    height: 44vh;
    max-height: 341px;

    img {
      height: 100%;
    }
  }

  &-box_13 {
    height: 33.7vh;
    max-height: 259px;

    &_btn {
      height: 10vh;
      max-height: 65px;

      img {
        height: 100%
      }
    }

    img {
      height: 100%;
    }
  }

  &-box_12 {
    height: 36.7vh;
    max-height: 280px;

    &_btn {
      height: 10vh;
      max-height: 65px;

      img {
        height: 100%
      }
    }

    img {
      height: 100%;
    }
  }
  &-box_14 {
    height: 40vh;
    max-height: 340px;

    img {
      height: 100%;
    }
  }
}