.cs-5-3{
    &-5-div-img-1{
        height:55.2vh;
    }
    &-5-div-img-2{
        height:47.65vh;
    }
    &-15-img{
        height:48.82vh;    
    }
    img{
    height:100%;
    }
}
