.Class_5_3 {
    &-img_box_1 {
        height: 6.5vh;
    }
    &-img_box {
        height: 6.51vh;
        border-radius: 12px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        p {
            color: #fff;
        }
    }

    
}
.Class_5_3-img_box_1 {
    background-color: #7FD1D8;
}
.Class_5_3-img_box_2 {
    background-color: #947DCE;
}
.Class_5_3-img_box_3 {
    background-color: #F7CF43;
}
.Class_5_3-img_box_4 {
    background-color: #947DCE;
}