.Class_5_3 {
    &-img_box_1 {
        height: 6.5vh;
        max-height: 50px;
        img {
            height: 100%;
        }
    }
    &-img_box {
        height: 5.759vh;
        max-height: 44.23px;
        img {
            height: 100%;
        }
    }

}