.Class_5_3 {
    &-img_box_9 {
        height: 50vh;
        max-height: 384px;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        height: 43.83vh;
        max-height: 336.62px;
        img {
            height: 100%;
        }
    }
    &-img_box_11 {
        height: 44.58vh;
        max-height: 342.43px;
        img {
            height: 100%;
        }
    }
    &-img_box_12 {
        height: 44.55vh;
        max-height: 342.17px;
        img {
            height: 100%;
        }
    }
    &-img_box_13 {
        height: 55.76vh;
        max-height: 428.24px;
        img {
            height: 100%;
        }
    }
    &-img_box_14 {
        height: 41.89vh;
        max-height: 321.79px;
        img {
            height: 100%;
        }
    }
}