.background-cs-5-3-21 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/What-is-program-3/cs-5-3-21-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-5-3-22 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/What-is-program-3/cs-5-3-22-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-5-3-23 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/What-is-program-3/cs-5-3-23-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-5-3-24 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/What-is-program-3/cs-5-3-24-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cs-title-purple{
    &-cont{
        padding-top: 10vh;
    }
    color: #62548A;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
    line-height: 1.5;
}