.M-1366-05-11-music-rnd-lyrics-container {
  height: 9.89vh;
  position: relative;
  .M-1366-05-11-lyrics-img {
    height: 100%;
  }
  .M-1366-05-11-notes-button-extra-small {
    position: absolute;
    bottom: -0.73vw;
    right:-1.3vh;
    height: 4.68vh;
  }
}
.M-1366-05-11-btn-width{
    width:12.29vw;
    height:7.68vh;
}

.M-1366-05-11-subject_component{
    margin-bottom: 2.8vh;
}

.M-1366-05-11-musical_notes_game-container{
    margin: 2vh auto;
}