#M-1366-05-20 {
  p {
    font-family: 'BPG Arial', sans-serif;
    font-size: 2vh;

    a {
      color: #7FD1D8;
      cursor: pointer;

      &:hover {
        color: #7FD1D8;
      }

      &:visited {
        color: #7FD1D8;
      }
    }
  }
  .images_boxes{
    height: 14.7vh;
    max-height: 115px;
    img{
      height: 100%;
    }
  }
  table{
    margin-top: 2.1vh;
    width: 100%;
    height: 29vh;
    box-shadow: 0 0 0 5px rgb(127, 209, 216); /* this draws the table border  */
    td{
      border: 5px solid rgb(127, 209, 216);
      img{
        height: 3.8vh;
      }
      .inner_box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5vh;
        &-img{
          height: 100%;
          img{
            height: 80%;
          }
        }
      }
    }
  }
  .cell-title{
    margin-top: 0;
  }
  .cell-footer{
    margin-top: 2vh;
  }
}