.cs-5-21{
    &-1-img{
        height: 63.93vh;
        margin: 2vh auto;
    }
    &-3-img{
        height: 48.30vh;
        margin-top: 3vh;
    }
    &-4-img{
        height: 47.52vh;
        margin-top: 2vh;
    }
    &-5-img{
        height: 26.95vh;
        margin-top: 2vh;
    }
    &-6-img{
        height: 32.94vh;
        margin-top: 1vh;
    }
}
