.class_5_21 {
    &-img_13 {
        height: 34.76vh;
        max-height: 267px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 33.58vh;
        max-height: 257.9px;
        img {
            height: 100%;
        }
    }
    &-img_15 {
        height: 36.28vh;
        max-height: 278.7px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        height: 47.5vh;
        max-height: 365px;
        img {
            height: 100%;
        }
    }
    &-img_17 {
        height: 59vh;
        max-height: 454px;
        img {
            height: 100%;
        }
    }
    &-img_18 {
        height: 31.57vh;
        max-height: 242.5px;
        img {
            height: 100%;
        }
    }
}