.background-cs-5-21{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/function-in-Exel-21/cs-5-21-20-img.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/function-in-Exel-21/cs-5-21-21-img.svg");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/function-in-Exel-21/cs-5-21-22-img.svg");
    }
    &-23{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/function-in-Exel-21/cs-5-21-23-img.svg");
    }
}