.class_5_21{
    &-6-1{
        height:80.5vh;
        max-height: 619px;
    img{
        height:100%;
    }
    }
    &-8-1{
        height:75vh;
        max-height:579px;
    img{
        height:100%;
    }
    }
    &-13-1{
        height:70vh;
        max-height:542px;
    img{
        height:100%;
    }
    }
    &-13-1{
        height:70vh;
        max-height:542px;
    img{
        height:100%;
    }
    } 
    &-14-1{
        height:40vh;
        max-height:309px;
    img{
        height:100%;
    }
    }
    &-15-1{
        height:70vh;
        max-height:544px;
    img{
        height:100%;
    }
    }
    &-18-1{
        height:61vh;
        max-height:471px;
    img{
        height:100%;
    }
    }
}