.class_4_13 {
    &-img_11 {
        position: fixed;
        right: 17vh;
        top: 25vh;
        img {
            height: 45.5vh;
        }
    }
    &-img_12 {
        height: 39.8vh;
        max-height: 306px;
        img {
            height: 100%;
        }
    }
    &-img_word {
        display: inline;
        vertical-align: middle;
    }
    &-img_13 {
        position: fixed;
        bottom: 0;
        right: 23vh;
        img {
            height: 61vh;
        }
    }
    &-img_14 {
        position: fixed;
        bottom: 0;
        img {
            height: 56vh;
        }
    }
    &-img_15 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 79vh;
        max-height: 605px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        position: fixed;
        bottom: 0;
        img {
            height: 46vh;
        }
    }
    &-img_17 {
        height: 38vh;
        max-height: 291px;
        img {
            height: 100%;
        }
    }
    &-img_18 {
        position: fixed;
        bottom: 0;
        height: 64vh;
        img {
            height: 100%;
        }
    }
}