.cs-4-13{
    img{
        height:100%;
    }
    &-19{
        height:65vh;
        max-height:501px;
    }
    &-20{
        height:49.8vh;
        max-height:383px;
    }
    &-21{
        height:44.4vh;
        max-height:341px;
    }
    &-22{
        height:42vh;
        max-height:328px;
    }
    &-23{
        height:43.7vh;
        max-height:336px;
    }
    &-24{
        height:43vh;
        max-height:331px;
        position:fixed;
        top:22vh;
    }
    &-25{
        height:48.1vh;
        max-height:370px;
    }
}


.background-cs-4-13{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Books-and-brochures-13/cs-4-13-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Books-and-brochures-13/cs-4-13-27.svg");
    }
    &-28{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Books-and-brochures-13/cs-4-13-28.svg");
    }
    &-29{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Books-and-brochures-13/cs-4-13-29.svg");
    }
}