.bg-items-10 {
  background: url("../img/gakvetilebi/xelovneba/items-10/items-slider.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel_text {
  z-index: 99999  ;
}