.art-10-17-div-container {
    flex-wrap:wrap;
}

.art-10-17-image-div-container{
    height:18.75vh;
    margin-bottom:2.6vh;
    img{
        height:100%;
    }
}

.art-10-17-image-empty-div-container{
    border: 1px solid #707070;
    height:18.75vh;
    width:18.15vw;
}