.items_drop-boxes {
  p{
    font-family: 'DejaVuSans', serif;
    font-size: 2.6vh;
  }
  .drop-boxes{
    border: 1px solid #707070;
    height: 55.9vh;
    max-height: 430px;
    max-width: 249px;
    width: 18vw;
  }
}