.art-10-28-image-div-container{
    height:29.55vh;
        img{
            height:100%;
        }
}

.art-10-28-div-container{
    margin-top:17.18vh;
    justify-content: space-evenly;
}

.art-10-28-div-text-container{
    justify-content: space-evenly; 
    margin-top:2.73vh;
    p{
        
        font-family: 'DejaVu Sans';
        font-size:2.6vh;
        margin-top:2.6vh;
        
      }
      label{
         margin-bottom:4.5vh; 
      }
}