.art-10-31-div-container{
    
    padding-top:11.71vh;
     
}

.art-10-31-div-img-container{
    height:6.51vh;
 
        img{
            height:100%;
        }
}
.art-10-31-text-div-container{
   padding-top:4.6vh;
}