.art-10-32-image-div-container{
    height:22.395vh;
    justify-content: center;
    margin-top:3.64vh;
        img{
            height:100%;
        }
}
.art-10-32-text-blue-margin{
    margin-top:2.6vh;
}