.background-10-33 {
    background-image: url(../img/gakvetilebi/xelovneba/items-10/33.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }.background-10-34 {
    background-image: url(../img/gakvetilebi/xelovneba/items-10/34.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }.background-10-35 {
    background-image: url(../img/gakvetilebi/xelovneba/items-10/35.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }.background-10-36 {
    background-image: url(../img/gakvetilebi/xelovneba/items-10/36.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background-10-37 {
    background-image: url(../img/gakvetilebi/xelovneba/items-10/37.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }