.n-9-map{
    &-29{
        height: 59.24vh;
        margin-top: 5vh;
    }
    &-26{
        height: 57.44vh;
    }
    &-34{
        height: 58.98vh;
        margin-top: 3vh;
    }
    &-location-31{
        height: 24.21vh;
        margin: 10vh auto 0;
    }
}
