.around_world-image-box {
  &_height {
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.around_world-image-box-04 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-4.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-05 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-5.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-06 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-6.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-07 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-7.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-08 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-8.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-09 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-9.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-12 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-12.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-13 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-13.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-14 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-14.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-16 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-16.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-17 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-17.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-22 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-22.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-25 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-25.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-28 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-28.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-29 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-29.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-30 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-30.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-33 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-33.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-36 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-36.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-39 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-39.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-40 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-40.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-41 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-41.png") no-repeat center;
    background-size: cover;
}
.around_world-image-box-42 {
  background: url("../img/gakvetilebi/buneba/around-word-09/N-09-42.png") no-repeat center;
    background-size: cover;
}