@import "./main-page/index2";
@import "./main-page/main-new";
@import "./Nature-page/Bruca-07/3";
@import "./Nature-page/Bruca-07/5";
@import "./Nature-page/Bruca-07/60";
@import "./Nature-page/Bruca-07/27";
@import "./Nature-page/Bruca-07/6";
@import "./Nature-page/Bruca-07/41";
@import "./Nature-page/Bruca-07/games/g100";
@import "./Nature-page/Bruca-07/games/g200";
@import "./Nature-page/Bruca-07/43";
@import "./Nature-page/Bruca-07/17";
@import "./Nature-page/Bruca-07/45";
@import "./Nature-page/Bruca-07/51";
@import "./Nature-page/Bruca-07/games/52";
@import "./Nature-page/Bruca-07/31";
@import "./art-page/City-07/13";
@import "art-page/City-07/1";
@import "./art-page/City-07/4";
@import "./art-page/City-07/9";
@import "./art-page/City-07/10";
@import "./art-page/City-07/37";
@import "./art-page/City-07/11";
@import "./art-page/City-07/18";
@import "./art-page/City-07/20";
@import "./art-page/City-07/25";
@import "./art-page/City-07/30";
@import "./art-page/City-07/18-1";
@import "./art-page/City-07/11-1";
@import "./art-page/City-07/32-1";
@import "./art-page/rescue_nature_08/9";
@import "./art-page/rescue_nature_08/10";
@import "./art-page/rescue_nature_08/11";
@import "./art-page/rescue_nature_08/16";
@import "./art-page/rescue_nature_08/17";
@import "./art-page/rescue_nature_08/18";
@import "./art-page/rescue_nature_08/17-1";
@import "./art-page/rescue_nature_08/13";
@import "./art-page/rescue_nature_08/22";
@import "./art-page/rescue_nature_08/21-1";
@import "./art-page/friends_09/6";
@import "./art-page/friends_09/9";
@import "./art-page/friends_09/9-1";
@import "./art-page/friends_09/10";
@import "./art-page/friends_09/17";
@import "./art-page/friends_09/21";
@import "./art-page/friends_09/22";
@import "./art-page/friends_09/18";
@import "./art-page/friends_09/20";
@import "./art-page/friends_09/23-1";
@import "./art-page/friends_09/27";
@import "Nature-page/flamingo-08/comixes";
@import "Nature-page/flamingo-08/7";
@import "Nature-page/flamingo-08/9";
@import "Nature-page/flamingo-08/15";
@import "Nature-page/flamingo-08/21";
@import "Nature-page/flamingo-08/33";
@import "Nature-page/flamingo-08/46";
@import "Nature-page/flamingo-08/41";
@import "Nature-page/flamingo-08/45";
@import "Nature-page/flamingo-08/19";
@import "Nature-page/flamingo-08/27";
@import "Nature-page/flamingo-08/29";
@import "Nature-page/flamingo-08/26-1";
@import "Nature-page/flamingo-08/49";
@import "Nature-page/flamingo-08/50";
@import "art-page/items-10/1";
@import "art-page/items-10/19-1";
@import "art-page/items-10/32-2-2";
@import "./art-page/items-10/33";
@import "./art-page/items-10/6";
@import "./art-page/items-10/16";
@import "./art-page/items-10/7";
@import "./art-page/items-10/14";
@import "./art-page/items-10/18";
@import "./art-page/items-10/28";
@import "./art-page/items-10/31";
@import "./art-page/items-10/32";
@import "./art-page/items-10/20";
@import "./Nature-page/coat-10/comices";
@import "./Nature-page/coat-10/36";
@import "./Nature-page/coat-10/27";
@import "./Nature-page/coat-10/28";
@import "./Nature-page/coat-10/34";
@import "./Nature-page/coat-10/40";
@import "./Nature-page/coat-10/11";
@import "./Nature-page/coat-10/17-1";
@import "./art-page/daily-news-11/41";
@import "./art-page/daily-news-11/30-1";
@import "art-page/daily-news-11/1";
@import "art-page/daily-news-11/2";
@import "art-page/daily-news-11/4";
@import "art-page/daily-news-11/5";
@import "art-page/daily-news-11/13";
@import "art-page/daily-news-11/19";
@import "art-page/daily-news-11/14-1";
@import "art-page/daily-news-11/23";
@import "./Nature-page/around-world-09/23";
@import "./Nature-page/around-world-09/24";
@import "./Nature-page/around-world-09/20";
@import "Nature-page/around-world-09/N-09-comics";
@import "Nature-page/around-world-09/10";
@import "Nature-page/around-world-09/37";
@import "Nature-page/around-world-09/32";
@import "./Nature-page/sport/6";
@import "./Nature-page/sport/27";
@import "./Nature-page/sport/32";
@import "./Nature-page/sport/20";
@import "Nature-page/sport/comices";
@import "art-page/VR_exhibition/1";
@import "art-page/VR_exhibition/2";
@import "art-page/VR_exhibition/9";
@import "art-page/VR_exhibition/10";
@import "art-page/VR_exhibition/11";
@import "art-page/VR_exhibition/20";
@import "art-page/VR_exhibition/21";
@import "art-page/VR_exhibition/32";
@import "./Nature-page/snow-12/34";
@import "./Nature-page/snow-12/comices";
@import "./Nature-page/snow-12/40";
@import "./Nature-page/snow-12/50";
@import "./Nature-page/snow-12/51";
@import "./Nature-page/snow-12/23";
@import "./Nature-page/snow-12/11";
.DragGame--Parent .success {
  background-color: #a1dd6f !important;
  p,
  a {
    color: #fff;
  }
}

.DragGame--Parent .error {
  background-color: #dc6c85 !important;
  p,
  a {
    color: #fff;
  }
}

.DragGame--Parent .selectedPurple {
  background-color: #947dce !important;
}

.DragGame--Parent .textWhite {
  color: #fff;
}

@import "./Computer-Science/algorithmes-02/1";
@import "./Computer-Science/algorithmes-02/3";
@import "./Computer-Science/algorithmes-02/4";
@import "./Computer-Science/algorithmes-02/5";
@import "./Computer-Science/algorithmes-02/7";
@import "./Computer-Science/algorithmes-02/8";
@import "./Computer-Science/algorithmes-02/10";
@import "./Computer-Science/algorithmes-02/18";
@import "./Computer-Science/algorithmes-02/22";
@import "./Computer-Science/algorithmes-02/29";
@import "./Computer-Science/algorithmes-02/15";
@import "./Computer-Science/algorithmes-02/21";
@import "./Computer-Science/algorithmes-02/28";
@import "./Computer-Science/Class-2/conditional-signs-1/1";
@import "./Computer-Science/Class-2/conditional-signs-1/11";
@import "./Computer-Science/Class-2/conditional-signs-1/18";
@import "./Computer-Science/Class-2/conditional-signs-1/9";
@import "./Computer-Science/Class-2/conditional-signs-1/10";
@import "./Computer-Science/Class-2/conditional-signs-1/26";
@import "./Computer-Science/Class-2/conditional-signs-1/20";
@import "./Computer-Science/Class-2/cycle-4/games/12";
@import "./Computer-Science/Class-2/cycle-4/23";
@import "./Computer-Science/Class-2/cycle-4/7";
@import "./Computer-Science/Class-2/cycle-4/8";
@import "./Computer-Science/Class-2/cycle-4/9";
@import "./Computer-Science/Class-2/cycle-4/10";
@import "./Computer-Science/Class-2/cycle-4/11";
@import "./Computer-Science/Class-2/cycle-4/15";
@import "./Computer-Science/Class-2/cycle-4/16";
@import "./Computer-Science/Class-2/cycle-4/17";
@import "./Computer-Science/Class-2/cycle-4/18";
@import "./Computer-Science/Class-2/cycle-4/19";
@import "./Computer-Science/Class-2/cycle-4/1";
@import "./Computer-Science/Class-2/cycle-4/3";
@import "./Computer-Science/Class-2/cycle-4/4";
@import "./Computer-Science/Class-2/cycle-4/5";
@import "./Computer-Science/Class-2/cycle-4/12";
@import "./Computer-Science/Class-2/cycle-4/6";
@import "./Computer-Science/Class-2/cycle-4/20";
@import "./Computer-Science/Class-2/cycle-4/13";
@import "./Computer-Science/Class-2/marks-2/1";
@import "./Computer-Science/Class-2/marks-2/6";
@import "./Computer-Science/Class-2/marks-2/7";
@import "./Computer-Science/Class-2/marks-2/8";
@import "./Computer-Science/Class-2/marks-2/9";
@import "./Computer-Science/Class-2/marks-2/10";
@import "./Computer-Science/Class-2/marks-2/11";
@import "./Computer-Science/Class-2/marks-2/12";
@import "./Computer-Science/Class-2/marks-2/15";
@import "./Computer-Science/Class-2/marks-2/16";
@import "Computer-Science/Class-2/marks-2/18";
@import "Computer-Science/Class-2/marks-2/19";
@import "./Computer-Science/Class-2/marks-2/14-1";
@import "./Computer-Science/Class-2/marks-2/13";
@import "./Computer-Science/Class-2/marks-2/22";
@import "./Computer-Science/Class-2/marks-2/20";
@import "./Computer-Science/Class-2/marks-2/3";
@import "./Computer-Science/Class-2/marks-2/5";
@import "./Computer-Science/Class-2/marks-2/6-1";
@import "./Computer-Science/Class-2/marks-2/14";
@import "./Computer-Science/Class-2/marks-2/17";
@import "./Computer-Science/Class-2/marks-2/21";
@import "./Computer-Science/Class-2/marks-2/cs-bg-illustrations-2-2";
@import "./Computer-Science/Class-2/programing-8/2";
@import "./Computer-Science/Class-2/programing-8/6";
@import "./Computer-Science/Class-2/programing-8/12";
@import "./Computer-Science/Class-2/programing-8/14";
@import "./Computer-Science/Class-2/programing-8/18";
@import "Computer-Science/Class-2/programing-8/1";
@import "Computer-Science/Class-2/programing-8/4";
@import "Computer-Science/Class-2/programing-8/5";
@import "Computer-Science/Class-2/programing-8/7";
@import "Computer-Science/Class-2/programing-8/8";
@import "Computer-Science/Class-2/programing-8/9";
@import "Computer-Science/Class-2/programing-8/11";
@import "Computer-Science/Class-2/programing-8/15";
@import "./Computer-Science/Class-3/internet-8/1";
@import "./Computer-Science/Class-3/internet-8/5-1";
@import "./Computer-Science/Class-3/internet-8/7-1";
@import "./Computer-Science/Class-3/internet-8/13-1";
@import "./Computer-Science/Class-3/internet-8/14-1";
@import "./Computer-Science/Class-3/internet-8/14-15-16";
@import "./Computer-Science/Class-3/internet-8/17";
@import "./Computer-Science/Class-3/internet-8/18";
@import "./Computer-Science/Class-3/internet-8/cs-bg-illustrations-3-8";
@import "./Computer-Science/Class-3/internet-8/2";
@import "./Computer-Science/Class-3/internet-8/3";
@import "./Computer-Science/Class-3/internet-8/4";
@import "./Computer-Science/Class-3/internet-8/5";
@import "./Computer-Science/Class-3/internet-8/7";
@import "./Computer-Science/Class-2/programing-8/19";
@import "./Computer-Science/Class-2/part&whole-3/3";
@import "./Computer-Science/Class-2/part&whole-3/4";
@import "./Computer-Science/Class-2/part&whole-3/12";
@import "./Computer-Science/Class-2/part&whole-3/22";
@import "./Computer-Science/Class-2/part&whole-3/23";
@import "./Computer-Science/Class-2/part&whole-3/24";
@import "./Computer-Science/Class-2/part&whole-3/25";
@import "./Computer-Science/Class-2/part&whole-3/26";
@import "./Computer-Science/Class-2/part&whole-3/27";
@import "./Computer-Science/Class-2/part&whole-3/28";
@import "./Computer-Science/Class-2/part&whole-3/1";
@import "./Computer-Science/Class-2/part&whole-3/5";
@import "./Computer-Science/Class-2/part&whole-3/6";
@import "./Computer-Science/Class-2/part&whole-3/7";
@import "./Computer-Science/Class-2/part&whole-3/11";
@import "./Computer-Science/Class-2/part&whole-3/16";
@import "./Computer-Science/Class-2/part&whole-3/8";
@import "./Computer-Science/Class-2/part&whole-3/9";
@import "./Computer-Science/Class-2/part&whole-3/10";
@import "./Computer-Science/Class-2/part&whole-3/13";
@import "./Computer-Science/Class-2/part&whole-3/14";
@import "./Computer-Science/Class-2/part&whole-3/15";
@import "./Computer-Science/Class-2/part&whole-3/17";
@import "./Computer-Science/Class-2/part&whole-3/21-1";
@import "./Computer-Science/Class-2/part&whole-3/21";
@import "./Computer-Science/Class-2/part&whole-3/1";
@import "./Computer-Science/Class-2/part&whole-3/18";
@import "./Computer-Science/Class-2/part&whole-3/19";
@import "./Computer-Science/Class-2/part&whole-3/20";
@import "./Computer-Science/Class-2/part&whole-3/19-1";
@import "./Computer-Science/Class-3/computer-development-1/1";
@import "./Computer-Science/Class-3/computer-development-1/22";
@import "./Computer-Science/Class-3/computer-development-1/23";
@import "./Computer-Science/Class-3/computer-development-1/3";
@import "./Computer-Science/Class-3/computer-development-1/5";
@import "./Computer-Science/Class-3/computer-development-1/6";
@import "./Computer-Science/Class-3/computer-development-1/7";
@import "./Computer-Science/Class-3/computer-development-1/8";
@import "./Computer-Science/Class-3/computer-development-1/10";
@import "./Computer-Science/Class-3/computer-development-1/19";
@import "./Computer-Science/Class-3/computer-development-1/24";
@import "./Computer-Science/Class-5/function-5/1";
@import "./Computer-Science/Class-5/function-5/8";
@import "./Computer-Science/Class-5/function-5/9";
@import "./Computer-Science/Class-5/function-5/7-1";
@import "./Computer-Science/Class-5/function-5/8-1";
@import "./Computer-Science/Class-5/function-5/5-1";
@import "./Computer-Science/Class-5/function-5/13-1";
@import "./Computer-Science/Class-5/function-5/15";
@import "./Computer-Science/Class-5/function-5/17";
@import "./Computer-Science/Class-5/function-5/3";
@import "./Computer-Science/Class-5/function-5/5";
@import "./Computer-Science/Class-5/function-5/cs-bg-illustrations-5-5";
@import "./Computer-Science/Class-3/programming-language-5/1";
@import "./Computer-Science/Class-3/programming-language-5/6";
@import "./Computer-Science/Class-3/programming-language-5/7";
@import "./Computer-Science/Class-3/programming-language-5/8";
@import "./Computer-Science/Class-3/programming-language-5/9";
@import "./Computer-Science/Class-3/programming-language-5/10";
@import "./Computer-Science/Class-3/programming-language-5/11";
@import "./Computer-Science/Class-3/programming-language-5/12";
@import "./Computer-Science/Class-3/programming-language-5/14";
@import "./Computer-Science/Class-3/programming-language-5/15";
@import "./Computer-Science/Class-3/programming-language-5/3";
@import "./Computer-Science/Class-3/programming-language-5/4";
@import "./Computer-Science/Class-3/programming-language-5/5";
@import "./Computer-Science/Class-3/programming-language-5/6-1";
@import "./Computer-Science/Class-3/programming-language-5/7-1";
@import "./Computer-Science/Class-3/programming-language-5/16";
@import "./Computer-Science/Class-3/programming-language-5/18";
@import "./Computer-Science/Class-3/programming-language-5/21";
@import "./Computer-Science/Class-3/programming-language-5/22";
@import "./Computer-Science/Class-3/programming-language-5/23";
@import "./Computer-Science/Class-3/programming-language-5/24";
@import "./Computer-Science/Class-3/programming-language-5/25";
@import "./Computer-Science/Class-3/programming-language-5/26";
@import "./Computer-Science/Class-3/programming-language-5/27";
@import "./Computer-Science/Class-3/programming-language-5/28";
@import "./Computer-Science/Class-3/programming-language-5/29";
@import "./Computer-Science/Class-5/parallel-programming-6/1";
@import "./Computer-Science/Class-5/parallel-programming-6/5-1";
@import "./Computer-Science/Class-5/parallel-programming-6/8-1";
@import "./Computer-Science/Class-5/parallel-programming-6/9-1";
@import "./Computer-Science/Class-5/parallel-programming-6/14-1";
@import "./Computer-Science/Class-5/parallel-programming-6/15-1";
@import "./Computer-Science/Class-5/parallel-programming-6/16";
@import "./Computer-Science/Class-5/parallel-programming-6/21";
@import "./Computer-Science/Class-5/parallel-programming-6/3";
@import "./Computer-Science/Class-5/parallel-programming-6/4";
@import "./Computer-Science/Class-5/parallel-programming-6/5";
@import "./Computer-Science/Class-5/parallel-programming-6/6";
@import "./Computer-Science/Class-5/parallel-programming-6/8";
@import "./Computer-Science/Class-5/parallel-programming-6/9";
@import "./Computer-Science/Class-5/parallel-programming-6/11";
@import "./Computer-Science/Class-5/parallel-programming-6/12";
@import "./Computer-Science/Class-5/parallel-programming-6/13";
@import "./Computer-Science/Class-5/parallel-programming-6/14";
@import "./Computer-Science/Class-5/parallel-programming-6/15";
@import "./Computer-Science/Class-5/parallel-programming-6/18";
@import "./Computer-Science/Class-5/parallel-programming-6/6-1";
@import "./Computer-Science/Class-5/parallel-programming-6/16-1";
@import "./Computer-Science/Class-5/parallel-programming-6/13-1";
@import "./Computer-Science/Class-5/objects-moving-4/1";
@import "./Computer-Science/Class-5/objects-moving-4/16";
@import "./Computer-Science/Class-5/objects-moving-4/17";
@import "./Computer-Science/Class-5/objects-moving-4/bottom_bg_pages";
@import "./Computer-Science/Class-5/objects-moving-4/7-1";
@import "./Computer-Science/Class-5/objects-moving-4/9-1";
@import "./Computer-Science/Class-5/objects-moving-4/24-1";
@import "./Computer-Science/Class-5/objects-moving-4/31";
@import "./Computer-Science/Class-5/objects-moving-4/3";
@import "./Computer-Science/Class-5/objects-moving-4/4";
@import "./Computer-Science/Class-5/objects-moving-4/5";
@import "./Computer-Science/Class-5/objects-moving-4/6";
@import "./Computer-Science/Class-5/objects-moving-4/7";
@import "./Computer-Science/Class-5/objects-moving-4/8";
@import "./Computer-Science/Class-5/objects-moving-4/cs-bg-illustrations-5-4";
@import "./Computer-Science/Class-5/objects-moving-4/16";
@import "./Computer-Science/Class-5/objects-moving-4/17";
@import "./Computer-Science/Class-5/objects-moving-4/18";
@import "./Computer-Science/Class-5/objects-moving-4/19";
@import "./Computer-Science/Class-5/objects-moving-4/20";
@import "./Computer-Science/Class-5/objects-moving-4/21";
@import "./Computer-Science/Class-5/objects-moving-4/22";
@import "./Computer-Science/Class-5/objects-moving-4/23-30";
@import "Computer-Science/Class-4/programing-mistakes-2/14-16";
@import "Computer-Science/Class-4/programing-mistakes-2/19-22";
@import "./Computer-Science/Class-3/Presentation-11/1";
@import "./Computer-Science/Class-3/Presentation-11/8";
@import "./Computer-Science/Class-3/Presentation-11/9-10";
@import "./Computer-Science/Class-3/Presentation-11/11";
@import "./Computer-Science/Class-3/Presentation-11/12-13";
@import "./Computer-Science/Class-3/Presentation-11/14-19";
@import "./Computer-Science/Class-3/Presentation-11/3";
@import "./Computer-Science/Class-3/Presentation-11/4";
@import "./Computer-Science/Class-3/Presentation-11/6";
@import "./Computer-Science/Class-3/Presentation-11/20";
@import "./Computer-Science/Class-3/Presentation-11/22";
@import "Computer-Science/Class-4/programing-mistakes-2/1";
@import "Computer-Science/Class-4/programing-mistakes-2/3";
@import "Computer-Science/Class-4/programing-mistakes-2/4-5-6-7";
@import "Computer-Science/Class-4/programing-mistakes-2/8";
@import "Computer-Science/Class-4/programing-mistakes-2/9";
@import "Computer-Science/Class-4/programing-mistakes-2/10";
@import "Computer-Science/Class-4/programing-mistakes-2/11";
@import "Computer-Science/Class-4/programing-mistakes-2/12";
@import "Computer-Science/Class-4/programing-mistakes-2/17";
@import "Computer-Science/Class-4/programing-mistakes-2/18";
@import "Computer-Science/Class-4/programing-mistakes-2/13-1";
@import "Computer-Science/Class-4/programing-mistakes-2/25";
@import "Computer-Science/Class-4/programing-mistakes-2/26";
@import "Computer-Science/Class-4/programing-mistakes-2/27";
@import "Computer-Science/Class-4/programing-mistakes-2/28";
@import "Computer-Science/Class-3/Visual-Communication-6/bg-pages";
@import "Computer-Science/Class-3/Visual-Communication-6/7";
@import "Computer-Science/Class-3/Visual-Communication-6/11";
@import "Computer-Science/Class-3/Visual-Communication-6/14-15-16-17-18";
@import "Computer-Science/Class-3/Visual-Communication-6/19";
@import "Computer-Science/Class-3/Visual-Communication-6/1";
@import "Computer-Science/Class-3/Visual-Communication-6/3";
@import "Computer-Science/Class-3/Visual-Communication-6/4";
@import "Computer-Science/Class-3/Visual-Communication-6/5";
@import "Computer-Science/Class-3/Visual-Communication-6/6";
@import "Computer-Science/Class-3/Visual-Communication-6/21";
@import "Computer-Science/Class-3/Visual-Communication-6/22";
@import "./Computer-Science/Class-2/user-interface-6/9";
@import "./Computer-Science/Class-2/user-interface-6/10";
@import "./Computer-Science/Class-2/user-interface-6/15";
@import "./Computer-Science/Class-2/user-interface-6/hint-pages";
@import "./Computer-Science/Class-2/user-interface-6/1-5";
@import "./Computer-Science/Class-2/user-interface-6/6";
@import "./Computer-Science/Class-2/user-interface-6/7-8";
@import "./Computer-Science/Class-2/user-interface-6/11-12";
@import "./Computer-Science/Class-2/user-interface-6/17";
@import "./Computer-Science/Class-2/user-interface-6/19";
@import "./Computer-Science/Class-2/user-interface-6/14";
@import "Computer-Science/Class-2/Creating-cycles-5/1";
@import "Computer-Science/Class-2/Creating-cycles-5/13";
@import "Computer-Science/Class-2/Creating-cycles-5/14";
@import "Computer-Science/Class-2/Creating-cycles-5/15-18";
@import "Computer-Science/Class-2/Creating-cycles-5/3-1";
@import "Computer-Science/Class-2/Creating-cycles-5/19-22";
@import "./Computer-Science/Class-4/correcting-text-8/9";
@import "./Computer-Science/Class-4/correcting-text-8/10";
@import "./Computer-Science/Class-4/correcting-text-8/18";
@import "./Computer-Science/Class-4/correcting-text-8/5-1";
@import "./Computer-Science/Class-4/correcting-text-8/15-1";
@import "./Computer-Science/Class-4/correcting-text-8/22-1";
@import "./Computer-Science/Class-4/correcting-text-8/21-1";
@import "Computer-Science/Class-2/Creating-cycles-5/1";
@import "./Computer-Science/Class-4/correcting-text-8/1-4";
@import "./Computer-Science/Class-4/correcting-text-8/5";
@import "./Computer-Science/Class-4/correcting-text-8/6";
@import "./Computer-Science/Class-4/correcting-text-8/7";
@import "./Computer-Science/Class-4/correcting-text-8/8";
@import "./Computer-Science/Class-4/correcting-text-8/19-20-21-22";
@import "./Computer-Science/Class-4/correcting-text-8/cs-bg-illustrations-4-8";
@import "./Computer-Science/Class-4/correcting-text-8/11";
@import "./Computer-Science/Class-4/correcting-text-8/13-14-15-16-17";
@import "Computer-Science/Class-2/Creating-cycles-5/13";
@import "Computer-Science/Class-2/Creating-cycles-5/14";
@import "Computer-Science/Class-2/Creating-cycles-5/15-18";
@import "Computer-Science/Class-2/Creating-cycles-5/1";
@import "./Computer-Science/Class-2/Creating-cycles-5/19-22";
@import "./Computer-Science/Class-2/Creating-cycles-5/3-1";
@import "Computer-Science/Class-2/Creating-cycles-5/7-8-9-10-11-12";
@import "Computer-Science/Class-2/Creating-cycles-5/1-2-3-4";
@import "Computer-Science/Class-2/Creating-cycles-5/5-6";
@import "./Computer-Science/Class-3/search-engine-9/2-8";
@import "./Computer-Science/Class-3/search-engine-9/18-19-20";
@import "./Computer-Science/Class-3/search-engine-9/cs-bg-illustrations-3-9";
@import "./Computer-Science/Class-3/search-engine-9/1";
@import "./Computer-Science/Class-3/search-engine-9/6-1";
@import "./Computer-Science/Class-3/search-engine-9/9";
@import "./Computer-Science/Class-3/search-engine-9/10-11-12-13-14";
@import "./Computer-Science/Class-3/search-engine-9/15-16";

// Digital world
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/14";
@import "Computer-Science/Class-6/rights-in-digital-world-23/18-19";
@import "Computer-Science/Class-6/rights-in-digital-world-23/20-21-22-23";
@import "Computer-Science/Class-6/rights-in-digital-world-23/1--8";
@import "Computer-Science/Class-6/rights-in-digital-world-23/9";
@import "Computer-Science/Class-6/rights-in-digital-world-23/11-12-13";
@import "Computer-Science/Class-6/rights-in-digital-world-23/15";
@import "Computer-Science/Class-6/rights-in-digital-world-23/16";
@import "Computer-Science/Class-6/rights-in-digital-world-23/8-1";
@import "Computer-Science/Class-6/rights-in-digital-world-23/17";
@import "Computer-Science/Class-6/rights-in-digital-world-23/10";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/1";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/8-14";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/14";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/21-22";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/cs-bg-illustrations-6-24";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/15-20";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/1";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/3-7";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/14";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/21-22";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/cs-bg-illustrations-6-24";
@import "Computer-Science/Class-6/Real-&-virtual-world-balance-24/15-20";

// ძველის-ახალი scss ქვემოთ ჩასვით
@import "./Art-Class/Adventure/1";
@import "./Art-Class/Landscape-6/1";
@import "./Art-Class/Landscape-6/14";
@import "./Art-Class/Landscape-6/14-1";
@import "./Art-Class/Landscape-6/15-1";
@import "./Art-Class/Landscape-6/16-20";

@import "Art-Class/Calm_&_stormy/1";
@import "./Art-Class/Calm_&_stormy/30-2";
@import "./Art-Class/Calm_&_stormy/28";
@import "./Art-Class/Calm_&_stormy/cs-bg-illustrations-art-2";

@import "./Art-Class/Forest/4-1";
@import "./Art-Class/Forest/5";
@import "./Art-Class/Forest/cs-bg-illustrations-art-3";

@import "Nature-Class/Color-story/main";

@import "Nature-Class/The-living-world-4/1-3";
@import "Nature-Class/The-living-world-4/4-9";
@import "Nature-Class/The-living-world-4/11";
@import "Nature-Class/The-living-world-4/13-17";
@import "Nature-Class/The-living-world-4/22-28-29-37-38";
@import "Nature-Class/The-living-world-4/23-26";
@import "Nature-Class/The-living-world-4/31";
@import "Nature-Class/The-living-world-4/32";
@import "Nature-Class/The-living-world-4/40";
@import "Nature-Class/Dangerous-toys/main";
@import "./Nature-Class/Summer-in-winter/summer_in-winter";

@import "./Computer-Science/Class-4/template-and-table-9/1-7";
@import "./Computer-Science/Class-4/template-and-table-9/16-18";

@import "./Computer-Science/Class-4/template-and-table-9/19-20";
@import "./Computer-Science/Class-4/template-and-table-9/21-24";
@import "./Computer-Science/Class-4/template-and-table-9/8-15";

@import "./Computer-Science/Class-2/network-10/1-6";
@import "./Computer-Science/Class-2/network-10/19-24";
@import "./Computer-Science/Class-2/network-10/13-18";
@import "./Computer-Science/Class-2/network-10/7-12";

@import "./Computer-Science/Class-2/programs-management-7/1-7";
@import "./Computer-Science/Class-2/programs-management-7/9-10-11-13-14";
@import "./Computer-Science/Class-2/programs-management-7/12";
@import "./Computer-Science/Class-2/programs-management-7/15-19";
@import "./Computer-Science/Class-2/programs-management-7/8";
@import "./Computer-Science/Class-2/programs-management-7/5--1-2-3-4-5";

@import "./Computer-Science/Class-5/What-is-program-3/1-2-3";
@import "./Computer-Science/Class-5/What-is-program-3/6-6-hints";
@import "Computer-Science/Class-5/What-is-program-3/4-5_12-15-add";
@import "Computer-Science/Class-5/What-is-program-3/7-8";
@import "Computer-Science/Class-5/What-is-program-3/9-14";
@import "Computer-Science/Class-5/What-is-program-3/5-1_5-2";
@import "Computer-Science/Class-5/What-is-program-3/16-20";
@import "./Computer-Science/Class-5/What-is-program-3/cs-bg-illustrations-5-3";

@import "./Computer-Science/Class-4/text-editor-10/1";
@import "./Computer-Science/Class-4/text-editor-10/4.10-hint-pages";
@import "Computer-Science/Class-4/text-editor-10/10-17";
@import "Computer-Science/Class-4/text-editor-10/3-9";

@import "Computer-Science/Class-4/text-editor-10/18-21";

@import "Computer-Science/Class-4/text-editor-10/cs-bg-illustrations-4-10";

@import "./Computer-Science/Class-5/Infinite-cycles-7/1-8";
@import "./Computer-Science/Class-5/Infinite-cycles-7/5-1-2-3";
@import "Computer-Science/Class-5/Infinite-cycles-7/9-12";
@import "Computer-Science/Class-5/Infinite-cycles-7/11-1";
@import "Computer-Science/Class-5/Infinite-cycles-7/12-1-2-3";
@import "Computer-Science/Class-5/Infinite-cycles-7/13-16";

@import "Computer-Science/Class-5/Cycles-8/19-21";
@import "Computer-Science/Class-5/Cycles-8/7-12";
@import "Computer-Science/Class-5/Cycles-8/1-6";
@import "Computer-Science/Class-5/Cycles-8/5-1";
@import "Computer-Science/Class-5/Cycles-8/13-18";
@import "Computer-Science/Class-5/Infinite-cycles-7/cs-bg-illustrations-5-7";

@import "Computer-Science/Class-5/objects-10/1-7";
@import "Computer-Science/Class-5/objects-10/8-14";
@import "Computer-Science/Class-5/objects-10/15-21";

@import "Computer-Science/Class-5/objects-10/extras";

@import "Computer-Science/Class-2/Identify-with-computer-9/1-8";
@import "./Computer-Science/Class-2/Identify-with-computer-9/9-15";
@import "./Computer-Science/Class-2/Identify-with-computer-9/16-1-2-3-4";

@import "Computer-Science/Class-5/conditional-marks-1/7-12";

@import "./Computer-Science/Class-5/conditional-marks-1/1-6";
@import "./Computer-Science/Class-5/conditional-marks-1/6-1";
@import "./Computer-Science/Class-5/conditional-marks-1/7-1";
@import "./Computer-Science/Class-5/conditional-marks-1/13-1";
@import "./Computer-Science/Class-5/conditional-marks-1/20";
@import "./Computer-Science/Class-5/conditional-marks-1/21-24";

@import "./Computer-Science/Class-3/computer-equipment-2/18";

@import "./Computer-Science/Class-3/computer-equipment-2/cs-bg-illustrations-3-2";

@import "Computer-Science/Class-3/computer-equipment-2/1-5";
@import "Computer-Science/Class-3/computer-equipment-2/6-10-11";
@import "Computer-Science/Class-3/computer-equipment-2/7-8-9";
@import "Computer-Science/Class-3/computer-equipment-2/12-17";

@import "Computer-Science/Class-5/interface-of-devices-12/1-7";
@import "Computer-Science/Class-5/interface-of-devices-12/23-24";
@import "Computer-Science/Class-5/interface-of-devices-12/25-28";

@import "./Computer-Science/Class-5/interface-of-devices-12/8-14";

@import "Computer-Science/Class-5/conditional-operators-9/1-7";
@import "Computer-Science/Class-5/conditional-operators-9/5-1-2-3";
@import "Computer-Science/Class-5/conditional-operators-9/6-1-2";
@import "Computer-Science/Class-5/conditional-operators-9/7-1";
@import "Computer-Science/Class-5/conditional-operators-9/12-1";
@import "Computer-Science/Class-5/conditional-operators-9/13-1";

@import "./Computer-Science/Class-2/Identify-with-computer-9/16-19";
@import "./Computer-Science/Class-2/Identify-with-computer-9/cs-bg-illustrations-2-9";

@import "./Computer-Science/Class-5/conditional-operators-9/8-15";

@import "Computer-Science/Class-5/conditional-marks-1/13-18";

@import "./Computer-Science/Class-5/interface-of-devices-12/15-22";

@import "./Computer-Science/Class-5/conditional-operators-9/16-18";

@import "./Computer-Science/Class-5/conditional-operators-9/cs-bg-illustrations-5-9";

@import "./Computer-Science/Class-5/Protect-your-data-24/9-1-2";
@import "./Computer-Science/Class-5/Protect-your-data-24/1-8";

@import "./Computer-Science/Class-5/Protect-your-data-24/10-1";
@import "./Computer-Science/Class-5/Protect-your-data-24/14-1";
@import "./Computer-Science/Class-5/Protect-your-data-24/15-1";
@import "./Computer-Science/Class-5/Protect-your-data-24/24-26";

@import "./Computer-Science/Class-5/Protect-your-data-24/17-23";
@import "./Computer-Science/Class-5/Protect-your-data-24/9-16";

@import "./Computer-Science/Class-5/Information-in-the-table-14/1-8";

@import "./Computer-Science/Class-5/Information-in-the-table-14/9-15";
@import "./Computer-Science/Class-5/Information-in-the-table-14/16-21";
@import "./Computer-Science/Class-5/Information-in-the-table-14/23-1";
@import "./Computer-Science/Class-5/Information-in-the-table-14/22-24";
@import "./Computer-Science/Class-5/Information-in-the-table-14/cs-bg-illustrations-5-14";

@import "./Computer-Science/Class-5/Working-with-tables-15/1-8";

@import "./Computer-Science/Class-5/Working-with-tables-15/3-1";
@import "./Computer-Science/Class-5/Working-with-tables-15/14-20";
@import "./Computer-Science/Class-5/Working-with-tables-15/21";
@import "./Computer-Science/Class-5/Working-with-tables-15/22-25";
@import "./Computer-Science/Class-5/Working-with-tables-15/8-13";

@import "./Computer-Science/Class-6/Conditional-operators-2/1-8";

@import "./Computer-Science/Class-6/Conditional-operators-2/addon-5-7_12-14";
@import "./Computer-Science/Class-6/Conditional-operators-2/9-16";
@import "./Computer-Science/Class-6/Conditional-operators-2/17-23";

@import "./Computer-Science/Class-4/Text-editor-&-tools-7/1-7";
@import "./Computer-Science/Class-4/Text-editor-&-tools-7/5-1";
@import "./Computer-Science/Class-4/Text-editor-&-tools-7/8-14";
@import "./Computer-Science/Class-4/Text-editor-&-tools-7/15-19";
@import "Computer-Science/Class-4/Text-editor-&-tools-7/20-22";

@import "./Computer-Science/Class-4/Text-editor-&-tools-7/cs-bg-illustrations-4-7";

@import "Computer-Science/Class-4/Predicting-behavior-3/6-11";

@import "Computer-Science/Class-4/Predicting-behavior-3/12-15";

@import "Computer-Science/Class-4/Predicting-behavior-3/1-5";

@import "Computer-Science/Class-4/Predicting-behavior-3/16-18";

@import "./Computer-Science/Class-4/Predicting-behavior-3/cs-bg-illustrations-4-3";

@import "Computer-Science/Class-3/Visual-programing-7/6-11";

@import "Computer-Science/Class-3/Visual-programing-7/12-16";
@import "Computer-Science/Class-3/Visual-programing-7/17-18";
@import "Computer-Science/Class-3/Visual-programing-7/cs-bg-illustrations-3-7";

@import "Computer-Science/Class-3/Visual-programing-7/1-5";

@import "Computer-Science/Class-6/create-game-1/1-8";
@import "Computer-Science/Class-6/create-game-1/9-16";
@import "Computer-Science/Class-6/create-game-1/info-pages";
@import "Computer-Science/Class-6/create-game-1/_cs-bg-illustrations-6-1";

@import "Computer-Science/Class-6/embedded-cycles-3/1-8";
@import "Computer-Science/Class-6/embedded-cycles-3/9-16";
@import "Computer-Science/Class-6/embedded-cycles-3/17-23";
@import "Computer-Science/Class-6/embedded-cycles-3/24-27_info";

@import "Computer-Science/Class-5/diagram-in-electronic-table-18/1-8";
@import "Computer-Science/Class-5/diagram-in-electronic-table-18/9-16";
@import "Computer-Science/Class-5/diagram-in-electronic-table-18/22-25";
@import "Computer-Science/Class-5/diagram-in-electronic-table-18/cs-bg-illustrations-5-18";

@import "Computer-Science/Class-5/diagram-in-electronic-table-18/17-21-info";

@import "Computer-Science/Class-5/Using-diagrams-19/1-6";

@import "Computer-Science/Class-5/Using-diagrams-19/12-16";
@import "Computer-Science/Class-5/Using-diagrams-19/17-21";
@import "Computer-Science/Class-5/Using-diagrams-19/7-11";
@import "Computer-Science/Class-5/Using-diagrams-19/info";

@import "Computer-Science/Class-6/Variables-4/15-18";
@import "Computer-Science/Class-6/Variables-4/1-7";
@import "Computer-Science/Class-6/Variables-4/8-14";

@import "Computer-Science/Class-6/Variables-4/19-21";

@import "Computer-Science/Class-6/Variables-4/info";

@import "Computer-Science/Class-6/Variables-4/cs-bg-illustrations-6-4";

@import "Computer-Science/Class-5/Remember-information-11/6-11";
@import "Computer-Science/Class-5/Remember-information-11/20-21";
@import "Computer-Science/Class-5/Remember-information-11/cs-bg-illustrations-5-11";
@import "Computer-Science/Class-5/Remember-information-11/1-5";
@import "Computer-Science/Class-5/Remember-information-11/info";

@import "Computer-Science/Class-5/Remember-information-11/12-19";

@import "Computer-Science/Class-6/Responding-to-events-7/15-18";

@import "Computer-Science/Class-6/Responding-to-events-7/cs-bg-illustrations-6-7";

@import "Computer-Science/Class-6/Responding-to-events-7/6-11";
@import "Computer-Science/Class-6/Responding-to-events-7/5-6-7-13-add";
@import "Computer-Science/Class-6/Responding-to-events-7/12-14";
@import "Computer-Science/Class-6/Responding-to-events-7/1-5";

@import "Computer-Science/Class-5/Enter-table-data-16/1-6";
@import "Computer-Science/Class-5/Enter-table-data-16/7-12";
@import "Computer-Science/Class-5/Enter-table-data-16/13-18";
@import "Computer-Science/Class-5/Enter-table-data-16/19-24";
@import "Computer-Science/Class-5/Enter-table-data-16/cs-bg-illustrations-5-16";
@import "Computer-Science/Class-5/Enter-table-data-16/15-1";

@import "Computer-Science/Class-4/Creating-program-4/1-5";

@import "Computer-Science/Class-4/Creating-program-4/6-10";

@import "Computer-Science/Class-4/Creating-program-4/19-20";

@import "Computer-Science/Class-4/Creating-program-4/cs-bg-illustrations-4-4";

@import "Computer-Science/Class-4/Creating-program-4/11-18";
@import "Computer-Science/Class-4/Creating-program-4/info";

@import "Computer-Science/Class-4/Sending-email-11/7-12";
@import "Computer-Science/Class-4/Sending-email-11/13-18";

@import "Computer-Science/Class-4/Sending-email-11/info";
@import "Computer-Science/Class-4/Sending-email-11/19-21";
@import "Computer-Science/Class-4/Sending-email-11/cs-bg-illustrations-4-11";
@import "Computer-Science/Class-4/Sending-email-11/1-6";

@import "Computer-Science/Class-5/sort-and-filter-20/8-14";

@import "Computer-Science/Class-5/sort-and-filter-20/15-25";
@import "Computer-Science/Class-5/sort-and-filter-20/1-7";
@import "Computer-Science/Class-5/sort-and-filter-20/info";
@import "Computer-Science/Class-5/sort-and-filter-20/26-29";

@import "Computer-Science/Class-5/sort-and-filter-20/cs-bg-illustrations-5-20";

@import "Computer-Science/Class-5/function-in-Exel-21/7-12";
@import "Computer-Science/Class-5/function-in-Exel-21/13-18";
@import "Computer-Science/Class-5/function-in-Exel-21/1-6";

@import "Computer-Science/Class-5/function-in-Exel-21/19";
@import "Computer-Science/Class-5/function-in-Exel-21/info";

@import "Computer-Science/Class-5/function-in-Exel-21/cs-bg-illustrations-5-21";

@import "Computer-Science/Class-4/UI-5/1-5";
@import "Computer-Science/Class-4/UI-5/19";
@import "Computer-Science/Class-4/UI-5/6-10";

@import "Computer-Science/Class-4/UI-5/12-18";
@import "Computer-Science/Class-4/UI-5/info";

@import "Computer-Science/Class-4/UI-5/cs-bg-illustrations-4-5";

@import "Computer-Science/Class-4/Maintain-electronic-device-1/1-5";
@import "Computer-Science/Class-4/Maintain-electronic-device-1/11-15";
@import "Computer-Science/Class-4/Maintain-electronic-device-1/3-1";
@import "Computer-Science/Class-4/Maintain-electronic-device-1/16";

@import "Computer-Science/Class-4/Maintain-electronic-device-1/cs-bg-illustrations-4-1";
@import "Computer-Science/Class-4/Maintain-electronic-device-1/6-10";

@import "Computer-Science/Class-6/Multimedia-online-platforms-18/1-6";
@import "Computer-Science/Class-6/Multimedia-online-platforms-18/7-12";
@import "Computer-Science/Class-6/Multimedia-online-platforms-18/22";
@import "Computer-Science/Class-6/Multimedia-online-platforms-18/cs-bg-illustrations-6-18";

@import "Computer-Science/Class-6/Multimedia-online-platforms-18/19-21-extras";

@import "Computer-Science/Class-6/Arithmetic-operators-6/1-6";
@import "Computer-Science/Class-6/Arithmetic-operators-6/13-18";
@import "Computer-Science/Class-6/Arithmetic-operators-6/19-20";
@import "Computer-Science/Class-6/Arithmetic-operators-6/cs-bg-illustrations-6-6";

@import "Computer-Science/Class-6/Using-variables-8/1-6";
@import "Computer-Science/Class-6/Arithmetic-operators-6/extras";

@import "Computer-Science/Class-6/Using-variables-8/13-18";

@import "Computer-Science/Class-6/Using-variables-8/extras";
@import "Computer-Science/Class-6/Using-variables-8/cs-bg-illustrations-6-8";

@import "Computer-Science/Class-6/List-9/1-6";
@import "Computer-Science/Class-6/List-9/7-12";
@import "Computer-Science/Class-6/List-9/13-18";

@import "Computer-Science/Class-6/List-9/19-20";
@import "Computer-Science/Class-6/List-9/cs-bg-illustrations-6-9";

@import "Computer-Science/Class-4/Cloud-services-6/1-6";
@import "Computer-Science/Class-4/Cloud-services-6/7-12";

@import "Computer-Science/Class-6/Multimedia-online-platforms-18/13-18";

@import "Computer-Science/Class-6/Arithmetic-operators-6/7-12";

@import "Computer-Science/Class-4/Cloud-services-6/6-1-info";
@import "Computer-Science/Class-4/Cloud-services-6/16-18";
@import "Computer-Science/Class-4/Cloud-services-6/19-24";

@import "Computer-Science/Class-4/Cloud-services-6/cs-bg-illustrations-4-6";

@import "Computer-Science/Class-4/Cloud-services-6/15-25-26";
@import "Computer-Science/Class-6/Using-variables-8/7-12";
@import "Computer-Science/Class-6/List-9/info";

@import "Computer-Science/Class-5/Examples-and-formulas-17/3-6";
@import "Computer-Science/Class-5/Examples-and-formulas-17/7-12";
@import "Computer-Science/Class-5/Examples-and-formulas-17/13-21";
@import "Computer-Science/Class-5/Examples-and-formulas-17/info";

@import "Computer-Science/Class-5/Examples-and-formulas-17/22-24";
@import "Computer-Science/Class-5/Examples-and-formulas-17/cs-bg-illustrations-5-17";

@import "Computer-Science/Class-6/Android-graphics-interface-guide-10/13-18";
@import "Computer-Science/Class-6/Android-graphics-interface-guide-10/25-27";
@import "Computer-Science/Class-6/Android-graphics-interface-guide-10/1-6";
@import "Computer-Science/Class-6/Android-graphics-interface-guide-10/19-24";
@import "Computer-Science/Class-6/Android-graphics-interface-guide-10/7-12";

@import "Computer-Science/Class-6/ios-graphical-interface-11/22-23";

@import "Computer-Science/Class-6/ios-graphical-interface-11/1-6";
@import "Computer-Science/Class-6/ios-graphical-interface-11/7-10";
@import "Computer-Science/Class-6/ios-graphical-interface-11/11-16";

@import "Computer-Science/Class-6/ios-graphical-interface-11/cs-bg-illustrations-6-11";

@import "Computer-Science/Class-6/Our-podcast-15/7-10";
@import "Computer-Science/Class-6/Our-podcast-15/1-6";

@import "Computer-Science/Class-6/Secure-digital-world-17/6-11";
@import "Computer-Science/Class-6/Secure-digital-world-17/18-22";
@import "Computer-Science/Class-6/Secure-digital-world-17/12-17";

@import "Computer-Science/Class-6/ios-graphical-interface-11/17-21";

@import "Computer-Science/Class-6/Our-podcast-15/24-25";
@import "Computer-Science/Class-6/Our-podcast-15/cs-bg-illustrations-6-15";

@import "Computer-Science/Class-6/Our-podcast-15/11-16";
@import "Computer-Science/Class-6/Our-podcast-15/17-23";
@import "Computer-Science/Class-6/Our-podcast-15/7-10";
@import "Computer-Science/Class-6/Our-podcast-15/1-6";

@import "Computer-Science/Class-6/Secure-digital-world-17/12-17";
@import "Computer-Science/Class-6/Secure-digital-world-17/6-11";
@import "Computer-Science/Class-6/Secure-digital-world-17/18-22";
@import "Computer-Science/Class-6/Secure-digital-world-17/1-5";
@import "Computer-Science/Class-6/Secure-digital-world-17/extras";

@import "Computer-Science/Class-3/Cloud-services-10/1-6";
@import "Computer-Science/Class-3/Cloud-services-10/7-12";
@import "Computer-Science/Class-3/Cloud-services-10/15-20";
@import "Computer-Science/Class-3/Cloud-services-10/21-22";
@import "Computer-Science/Class-3/Cloud-services-10/cs-bg-illustrations-3-10";
@import "Computer-Science/Class-3/Cloud-services-10/13-14";

@import "Computer-Science/Class-6/Windows-UI-12/8-14";
@import "Computer-Science/Class-6/Windows-UI-12/23-30";

@import "Computer-Science/Class-6/Windows-UI-12/15-22";

@import "Computer-Science/Class-6/Create-our-presentation-13/19-24";
@import "Computer-Science/Class-6/Create-our-presentation-13/cs-bg-illustrations-25-28";
@import "Computer-Science/Class-6/Create-our-presentation-13/info";

@import "Computer-Science/Class-6/Create-our-presentation-13/13-18";

@import "Computer-Science/Class-6/Windows-UI-12/1-7";
@import "Computer-Science/Class-6/Windows-UI-12/15-22";
@import "Computer-Science/Class-6/Windows-UI-12/info-pages-6-12";
@import "Computer-Science/Class-6/Windows-UI-12/cs-bg-illustrations-6-12";

@import "Computer-Science/Class-6/Create-our-presentation-13/19-24";
@import "Computer-Science/Class-6/Create-our-presentation-13/1-6";
@import "Computer-Science/Class-6/Create-our-presentation-13/7-12";

@import "Computer-Science/Class-6/Our-sweet-memories-16/11-15";
@import "Computer-Science/Class-6/Our-sweet-memories-16/22-26";
@import "Computer-Science/Class-6/Our-sweet-memories-16/1-5";
@import "Computer-Science/Class-6/Our-sweet-memories-16/6-10";
@import "Computer-Science/Class-6/Our-sweet-memories-16/16-21";

@import "Computer-Science/Class-2/Storing-information-11/13-18";
@import "Computer-Science/Class-2/Storing-information-11/19-24";
@import "Computer-Science/Class-2/Storing-information-11/info";

@import "Computer-Science/Class-2/Storing-information-11/1-6";
@import "Computer-Science/Class-2/Storing-information-11/7-12";

@import "Computer-Science/Class-3/How-computer-works-3/1-7";
@import "Computer-Science/Class-3/How-computer-works-3/8-14";
@import "Computer-Science/Class-3/How-computer-works-3/15-18";
@import "Computer-Science/Class-3/How-computer-works-3/info-pafes-3-3";
@import "Computer-Science/Class-3/How-computer-works-3/19-21";
@import "Computer-Science/Class-3/How-computer-works-3/cs-bg-illustrations-3-3";

@import "Computer-Science/Class-6/Presentation-of-my-project-19/1-7";
@import "Computer-Science/Class-6/Presentation-of-my-project-19/8-14";
@import "Computer-Science/Class-6/Presentation-of-my-project-19/15-18";

@import "Computer-Science/Class-6/Presentation-of-my-project-19/26-27";
@import "Computer-Science/Class-6/Presentation-of-my-project-19/cs-bg-illustrations-6-19";
@import "Computer-Science/Class-6/Presentation-of-my-project-19/19-25";

@import "Computer-Science/Class-6/Creating-interactive-content-20/1-5";
@import "Computer-Science/Class-6/Creating-interactive-content-20/6-10";
@import "Computer-Science/Class-6/Creating-interactive-content-20/info-pafes-6-20";
@import "Computer-Science/Class-6/Creating-interactive-content-20/15-17";
@import "Computer-Science/Class-6/Creating-interactive-content-20/11-13";
@import "Computer-Science/Class-6/Creating-interactive-content-20/14-18-21";

@import "Computer-Science/Class-6/Information-ethics-norms-21/11-15";
@import "Computer-Science/Class-6/Information-ethics-norms-21/5-1-6-1";

@import "Computer-Science/Class-6/Information-ethics-norms-21/1-5";
@import "Computer-Science/Class-6/Information-ethics-norms-21/16-21";

@import "Computer-Science/Class-6/Information-ethics-norms-21/6-10";

@import "Computer-Science/Class-5/My-first-robot-2/6-10";
@import "Computer-Science/Class-5/My-first-robot-2/11-16";
@import "Computer-Science/Class-5/My-first-robot-2/20-24";
@import "Computer-Science/Class-5/My-first-robot-2/1-5";
@import "Computer-Science/Class-5/My-first-robot-2/1-5";
@import "Computer-Science/Class-5/My-first-robot-2/17-19-infos";

@import "Computer-Science/Class-5/Sorting-methods-13/1-5";
@import "Computer-Science/Class-5/Sorting-methods-13/5-1-2-3-info-pages";
@import "Computer-Science/Class-5/Sorting-methods-13/9-15";

@import "Computer-Science/Class-6/Operators-5/9-15";
@import "Computer-Science/Class-6/Operators-5/22-24";
@import "Computer-Science/Class-6/Operators-5/cs-bg-illustrations-6-5";

@import "Computer-Science/Class-5/Sorting-methods-13/22-25";
@import "Computer-Science/Class-5/Sorting-methods-13/cs-bg-illustrations-5-13";
@import "Computer-Science/Class-5/Sorting-methods-13/6-8-infos";
@import "Computer-Science/Class-5/Sorting-methods-13/16-21";

@import "Computer-Science/Class-6/Operators-5/9-15";
@import "Computer-Science/Class-6/Operators-5/5-11-16-info-pages";
@import "Computer-Science/Class-6/Operators-5/1-8";
@import "Computer-Science/Class-6/Operators-5/16-21";

@import "Computer-Science/Class-6/Social-responsibility-22/11-15";
@import "Computer-Science/Class-6/Social-responsibility-22/19-23";
@import "Computer-Science/Class-6/Social-responsibility-22/1-5";
@import "Computer-Science/Class-6/Social-responsibility-22/6-10";
@import "Computer-Science/Class-6/Social-responsibility-22/16-18-infos";

@import "Computer-Science/Class-2/working-with-account-12/7-12";
@import "Computer-Science/Class-2/working-with-account-12/18-22";
@import "Computer-Science/Class-2/working-with-account-12/info-pages";
@import "Computer-Science/Class-2/working-with-account-12/13-17";

@import "Computer-Science/Class-2/working-with-account-12/1-6";

@import "Computer-Science/Class-5/informational-resources-23/6-10";
@import "Computer-Science/Class-5/informational-resources-23/17-22";
@import "Computer-Science/Class-5/informational-resources-23/11-16";
@import "Computer-Science/Class-5/informational-resources-23/1-5";

@import "Computer-Science/Class-3/managing-office365-12/13-18";
@import "Computer-Science/Class-3/managing-office365-12/13-14-info-pages";
@import "Computer-Science/Class-3/managing-office365-12/19-22";
@import "Computer-Science/Class-3/managing-office365-12/info_19-22";

@import "Computer-Science/Class-6/Photo-editor-14/6-11";
@import "Computer-Science/Class-3/managing-office365-12/1-6";
@import "Computer-Science/Class-3/managing-office365-12/7-12";

@import "Computer-Science/Class-6/Photo-editor-14/19-24";
@import "Computer-Science/Class-6/Photo-editor-14/25-30";
@import "Computer-Science/Class-6/Photo-editor-14/1-5";

@import "Computer-Science/Class-6/Photo-editor-14/12-18";

@import "Computer-Science/Class-4/What-is-information-12/7-11";
@import "Computer-Science/Class-4/What-is-information-12/12-16";
@import "Computer-Science/Class-4/What-is-information-12/info";

@import "Computer-Science/Class-4/What-is-information-12/17";
@import "Computer-Science/Class-4/What-is-information-12/cs-bg-illustrations-4-12";

@import "Computer-Science/Class-4/What-is-information-12/1-6";

@import "Computer-Science/Class-5/Privacy-in-email-22/1-6";
@import "Computer-Science/Class-5/Privacy-in-email-22/7-12";
@import "Computer-Science/Class-5/Privacy-in-email-22/info";
@import "Computer-Science/Class-5/Privacy-in-email-22/13-17";
@import "Computer-Science/Class-5/Privacy-in-email-22/18-22";

@import "Computer-Science/Class-6/Creating-games-with-objects-25/1-7";
@import "Computer-Science/Class-6/Creating-games-with-objects-25/8-14";
@import "Computer-Science/Class-6/Creating-games-with-objects-25/15-18";
@import "Computer-Science/Class-6/Creating-games-with-objects-25/extras";
@import "Computer-Science/Class-6/Creating-games-with-objects-25/cs-bg-illustrations-6-25";
@import "Computer-Science/Class-6/Creating-game-in-scratch-26/17-19";
@import "Computer-Science/Class-6/Creating-game-in-scratch-26/cs-bg-illustrations-6-26";
@import "Computer-Science/Class-6/Creating-game-in-scratch-26/info";
@import "Computer-Science/Class-6/Creating-game-in-scratch-26/9-16";
@import "Computer-Science/Class-6/Creating-game-in-scratch-26/1-8";

@import "Music-Class/voices-1/11-18";
@import "Music-Class/voices-1/10-16-info";
@import "Music-Class/voices-1/19-23";

@import "Music-Class/voices-1/3-10";

@import "Music-Class/city-voices-2/1-8";
@import "Music-Class/city-voices-2/18-22";
@import "Music-Class/city-voices-2/info";

@import "Music-Class/findWayBySound-3/10-21";
@import "Music-Class/city-voices-2/9-17";

@import "Music-Class/findWayBySound-3/22-27";
@import "Music-Class/findWayBySound-3/info";

@import "Music-Class/findWayBySound-3/3-9";

@import "Music-Class/Walk-in-the-city-4/1-4";
@import "Music-Class/Walk-in-the-city-4/5-17";
@import "Music-Class/Walk-in-the-city-4/18-25";
@import "Music-Class/Walk-in-the-city-4/27-32";
@import "Music-Class/Walk-in-the-city-4/26";
@import "Music-Class/Walk-in-the-city-4/info";

@import "Music-Class/Create-music-from-noise-6/1-8";
@import "Music-Class/Create-music-from-noise-6/9-15";
@import "Music-Class/Create-music-from-noise-6/16-19";
@import "Music-Class/Create-music-from-noise-6/info";

@import "Music-Class/Create-broadcast-hat-7/1-7";
@import "Music-Class/Create-broadcast-hat-7/8-12";

@import "Music-Class/Create-broadcast-hat-7/13-16";
@import "Music-Class/Create-broadcast-hat-7/info";

@import "Music-Class/Create-broadcast-audio-8/1-8";
@import "Music-Class/Create-broadcast-audio-8/9-16";
@import "Music-Class/Create-broadcast-audio-8/17-21";

@import "Music-Class/One-day-5/1-7";
@import "Music-Class/One-day-5/8-15";
@import "Music-Class/One-day-5/11-13";
@import "Music-Class/One-day-5/music-bg-illustrations-5";
@import "Music-Class/One-day-5/infos";

@import "Music-Class/Game-music-9/1-4";
@import "Music-Class/Game-music-9/5-9";
@import "Music-Class/Game-music-9/11-14";

@import "Music-Class/Music-in-animation-and-cinema-11/1-7";
@import "Music-Class/Music-in-animation-and-cinema-11/8-16";

@import "Music-Class/Choose-background-music-10/5-9";
@import "Music-Class/Choose-background-music-10/10-12";
@import "Music-Class/Choose-background-music-10/1-4";
@import "Music-Class/Choose-background-music-10/13-15";

@import "Music-Class/Create-animation-soundtrack-12/1-4";
@import "Music-Class/Create-animation-soundtrack-12/5-12";
@import "Music-Class/Create-animation-soundtrack-12/13-17";
@import "Music-Class/Create-animation-soundtrack-12/info";

@import "Computer-Science/Class-6/Create-game-in-scratch-28/1-11";
@import "Computer-Science/Class-6/Create-game-in-scratch-28/12-15";
@import "Computer-Science/Class-6/Create-game-in-scratch-28/16-19";
@import "Computer-Science/Class-6/Create-game-in-scratch-28/20-23";
@import "Computer-Science/Class-6/Create-game-in-scratch-28/info";

@import "Computer-Science/Class-6/Creating-two-tours-game-27/1-8";
@import "Computer-Science/Class-6/Creating-two-tours-game-27/9-16";
@import "Computer-Science/Class-6/Creating-two-tours-game-27/17-21";
@import "Computer-Science/Class-6/Creating-two-tours-game-27/5-1-12-1";

@import "Computer-Science/Class-3/Do-you-have-robot-13/16-23";

@import "Computer-Science/Class-3/Do-you-have-robot-13/1-8";
@import "Computer-Science/Class-3/Do-you-have-robot-13/9+13-15";
@import "Computer-Science/Class-3/Do-you-have-robot-13/10-12";
@import "Computer-Science/Class-3/Do-you-have-robot-13/info";

@import "Computer-Science/Class-3/Mystery-of-binary-bracelet-14/1-8";
@import "Computer-Science/Class-3/Mystery-of-binary-bracelet-14/9-11";
@import "Computer-Science/Class-3/Mystery-of-binary-bracelet-14/12-14";
@import "Computer-Science/Class-3/Mystery-of-binary-bracelet-14/15-21";
@import "Computer-Science/Class-3/Mystery-of-binary-bracelet-14/infos";

@import "Computer-Science/Class-3/First-heroes-15/24-35";

@import "Computer-Science/Class-4/Books-and-brochures-13/1-10";
@import "Computer-Science/Class-4/Books-and-brochures-13/11-18";
@import "Computer-Science/Class-4/Books-and-brochures-13/19-29";
@import "Computer-Science/Class-4/Books-and-brochures-13/info";
@import "Computer-Science/Class-3/First-heroes-15/24-35";
@import "Computer-Science/Class-3/First-heroes-15/1-12";
@import "Computer-Science/Class-3/First-heroes-15/13-23";
@import "Computer-Science/Class-3/First-heroes-15/info";

@import "Computer-Science/Class-3/How-my-robot-acts-16/1-12";
@import "Computer-Science/Class-3/How-my-robot-acts-16/13-14-17";
@import "Computer-Science/Class-3/How-my-robot-acts-16/15-16";
@import "Computer-Science/Class-3/How-my-robot-acts-16/18-27";
@import "Computer-Science/Class-3/How-my-robot-acts-16/info";

@import "Computer-Science/Class-4/Group-work-14/1-5";
@import "Computer-Science/Class-4/Group-work-14/6-9";
@import "Computer-Science/Class-4/Group-work-14/10-18";
@import "Computer-Science/Class-4/Group-work-14/info";
@import "Computer-Science/Class-4/Group-work-14/cs-bg-illustrations-4-14";

@import "Computer-Science/Class-4/How-to-form-text-16/19-29";
@import "Computer-Science/Class-4/How-to-form-text-16/1-10";
@import "Computer-Science/Class-4/How-to-form-text-16/11-14";
@import "Computer-Science/Class-4/How-to-form-text-16/15-18";

@import "Computer-Science/Class-5/working-with-excel-file-28/1-19";
@import "Computer-Science/Class-5/working-with-excel-file-28/20-23";
@import "Computer-Science/Class-5/working-with-excel-file-28/24-27";
@import "Computer-Science/Class-5/working-with-excel-file-28/info";

@import "Computer-Science/Class-5/develop-informational-society-25/1-16";
@import "Computer-Science/Class-5/develop-informational-society-25/17-23";
@import "Computer-Science/Class-5/develop-informational-society-25/info";

@import "Computer-Science/Class-5/Computer-technologies-in-our-life-26/14-22";
@import "Computer-Science/Class-5/Computer-technologies-in-our-life-26/info";

@import "Computer-Science/Class-5/Decorate-electronic-table-27/1-21";
@import "Computer-Science/Class-5/Decorate-electronic-table-27/22-29";

@import "Computer-Science/Class-4/Walking-in-internet-15/1-13";
@import "Computer-Science/Class-4/Walking-in-internet-15/14-22";
@import "Computer-Science/Class-4/Walking-in-internet-15/info";



@import "Computer-Science/Class-3/cloud-presentation-12-new/1-20";


@import "./main-page//tablets.scss";

.info-box {
  overflow-y: auto;
  scrollbar-width: none;
  /* width */
  &::-webkit-scrollbar {
    width: 2px;
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

#authors {
  padding: 0 10px;

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #7fd1d8;
  }
  .author_section {
    height: 100%;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    h2 {
      font-size: 20px;
      font-weight: 300;
      color: #000;
      strong {
        color: #dc6c85;
        font-size: 22px;
        font-weight: 600;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      text-decoration: underline;
      font-style: oblique;
      padding-bottom: 10px;
    }
    ul {
      list-style-type: disc;
      list-style-position: inside;
      li {
        padding-bottom: 8px;
        padding-left: 20px;
        &::marker {
          color: #7fd1d8;
          display: inline-block;
          font-size: 20px;
        }
      }
    }
  }

}
body.isDarkMode #authors .author_section {
  background-color: #000;
  color: #fff;
}

body.isDarkMode #authors .author_section h2 {
  color: #fff;
}
