.background-cs-35 {
    background-image: url(../img/gakvetilebi/Computer-Science/algorithme/CS-02-35.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-36 {
    background-image: url(../img/gakvetilebi/Computer-Science/algorithme/CS-02-36.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-37 {
    background-image: url(../img/gakvetilebi/Computer-Science/algorithme/CS-02-37.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-38 {
    background-image: url(../img/gakvetilebi/Computer-Science/algorithme/CS-02-38.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}