.cs_school-img-06{
    height: 44.14vh;
    margin: 4vh auto 0;
}
.cs_illustration-img-06{
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cs_illustration-img-27{
    height: 62.73vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}