#C-1366-02-32 {
  .main_text {
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.8vh;
    margin-bottom: 2.8vh;
    color: #0B2228;

    p > span {
      color: #7FD1D8;
    }
  }

  .secondary_text {
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.3vh;
    color: #676767;
  }
}