#C-1366-06-05{
    p{
        font-size: 2.8vh;
        font-family: 'BPG Arial', sans-serif;
    }
    .mt-13vh{
        margin-top: 13vh;
    }
    .subject_component .bg_bouble_pink{
        background-size: contain;
    }
    h4{
        font-family: 'ALK Sanet', sans-serif;
        font-size: 1.8vh;
    }
    .step_m{
        margin-right: 9vw;
    }
}