.C-1366-02-16-mixer-img-container{
    height:49.47vh;
    img{
       height:100%
    }
}

.C-1366-02-16-cols-container{
    padding-top:25.26vh;
    justify-content: space-evenly;
}

.C-1366-02-16-txt-container{
    font-size: 4.68vh;
    font-family: "BPG Arial"; 
    color:#FF0000;
}