#C-1366-04-28{
    .box-wrapper{
        margin-top: 11.3vh;
        .img-box{
            height: 38.8vh;
            max-height: 298px;
            img{
                height: 100%;
            }
        }
    }
}