.art-8-13-padding{
    padding-top:14.06vh;
}
.art-8-13-image-div-container{
    position:absolute;
    bottom:14.47vh;
    right:17.05vw;
    
    height:34.09vh;
    img{
        height:100%;
    }
}