.background-08-22 {
    background-image: url(../img/gakvetilebi/xelovneba/rescue_nature_08/22.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-08-23 {
    background-image: url(../img/gakvetilebi/xelovneba/rescue_nature_08/23.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-08-24 {
    background-image: url(../img/gakvetilebi/xelovneba/rescue_nature_08/24.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}.background-08-25 {
    background-image: url(../img/gakvetilebi/xelovneba/rescue_nature_08/25.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}