#contact-app {
  .header-logo {
    img {
      width: 54.98px;
      height: 53.44px;
    }
  }
  .user-item {
    display: flex;
    justify-content: center;
    align-items: end;
    border: 1px solid #f7cf43;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    i {
      color: #f7cf43;
      font-size: 31px; 
    }
  }
  .nav-item {
    position: relative;
    a {
      color: #c5cbcd;
      font-size: 16px;
      font-family: ALK Sanet;
    }
  }
  .nav-link {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    padding-bottom: 0 !important;
  }
  .nav-item {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
  .nav-link.active:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -8px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #f7cf43;
  }
  .nav-link:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -8px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: #f7cf43;
    transition:.5s;
  }
  .nav-link.active {
    color: #7fd1d8;
  }
  .nav-link:hover {
    color: #7fd1d8;
  }
  .nav-link:hover:after {
    width: 100%;
    background: orange;
  }
  .card.card-item {
    width: 76vh;
    height: 53vh;
    border: 1px solid rgba(127, 209, 216, 0.1);
    box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.4);
    border-radius: 3.1vh;
    padding-left: 15px;
  }

  .card-title {
    color: #7fd1d8;
    font-size: 25px;
    font-family: ALK Sanet;
    padding-top: 1.8vh;
  }
  .card-text {
    color: #c5cbcd;
    font-size: 2.2vh;
    font-family: Noto Sans;
    margin-bottom: 0.8rem!important;
    a {
      color: #c5cbcd;
      text-decoration: underline;
    }
    &-top {
      margin-top: 4vh;
    }
  }
  .contact {
    &-img_1 {
      margin-top: -3.5vh;
      margin-right: 1.5vh;
      img {
        width: 59px;
        height: 52px;
      }
    }
    &-img_2 {
      margin-top: 32vh;
      margin-left: 1.5vh;
      img {
        width: 230px;
        height: 191px;
      }
    }
    &-box {
      margin-top: 8vh;
    }
    &-content_item {
      padding-left: 24vh;
    }
    &-header_box {
      margin-top: 2vh;
    }
  }
  footer{
    position: absolute;
    bottom: 10%;
    width: 80%;
  }
  .soc i {
    color: #7fd1d8;
    font-size: 30px;
  }
}
