.cs-5-22{
    &-1-img{
        height: 57.55vh;
        margin: 5vh auto;
    }
    &-3-img{
        height: 33.46vh;
        margin-top: 1vh;
    }
    &-4-img{
        height: 41.40vh;
        margin-top: 4vh;
    }
    &-5-img{
        height: 41.40vh;
        margin-top: 4vh;
    }
    &-6-img{
        height: 45.05vh;
        margin-top: 2vh;
    }
}