.class_5_22 {
    &-img_7 {
        position: fixed;
        height: 37vh;
        max-height: 287px;
        bottom: 9vh;
        margin-left: 10vh;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        height: 46.48vh;
        max-height: 357px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        height: 42vh;
        max-height: 323px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 38vh;
        max-height: 294.7px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 42.57vh;
        max-height: 327px;
        position: fixed;
        bottom: 4vh;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        height: 35.9vh;
        max-height: 276px;
        img {
            height: 100%;
        }
    }
}