.privacy-in-email-22{
    img{
        height:100%;
    }

    &-3-1{
        height:45.7vh;
        max-height:351px;
    }
    &-5-1{
        height:48.5vh;
        max-height:373px;
    }
    &-6-1{
        height:29vh;
        max-height:229px;
    }
    &-7-1{
        height:45vh;
        max-height:346px;
    }
    &-11-1{
        height:40.8vh;
        max-height:314px;
    }
    &-12-1{
        height:48.82vh;
        max-height:375px;
    }
    &-13-1{
        height:53.6vh;
        max-height:412px;
    }
}