.cs-5-24-div-img{
  &-1{
    height:57.94vh;
  } 
  &-3{
    height:44.79vh;
  }
  &-4{
    height:42.31vh;
  }
  &-5{
    height:49.73vh;
  }
  &-6{
    height:44.79vh;
  }
  &-7{
    height:40.62vh;
  }
  &-8{
    height:38.54vh;
  }
  img{
    height:100%;
  }
}