.class_5_24 {
    &-img_box_10_1 {
        width: 115vh;
        height: 66.15vh;
        max-width: 900px;
        max-height: 508px;
        margin-left: 10vh;
        background-color: #C5CBCD;
    }
}