.protect-data {
  &_page-17 {
    height: 53vh;
    max-height: 407px;
    position: fixed;
    right: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  &_page-18 {
    height: 52vh;
    max-height: 405px;
    position: fixed;
    right: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  &_page-19 {
    height: 64vh;
    max-height: 491px;
    position: fixed;
    right: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  &_page-20 {
    height: 60vh;
    max-height: 461px;
    position: fixed;
    right: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  &_page-21 {
    height: 50vh;
    max-height: 388px;

    img {
      height: 100%;
    }
  }

  &_page-22 {
    height: 38vh;
    max-height: 293px;

    img {
      height: 100%;
    }
  }

  &_23-background {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/Protect-your-data-24/cs-5-24-23.svg") no-repeat center;
    background-size: cover;
  }
}
