.cs-5-24{
    &-9-img-1{
        height: 33.20vh;
        margin-right: 2vh;
    }
    &-9-img-2{
        height: 41.53vh;
    }
    &-10-img{
        height: 38.93vh;
        margin: auto;
        position: relative;
        top: -3vh;
    }
    &-11-img{
        height: 59.11vh;
        margin-top: 5vh;
    }
    &-12-img{
        height: 50.52vh;
        margin-top: 3vh;
    }
    &-13-img{
        height: 43.88vh;
    }
    &-14-img{
        height: 53.38vh;
        position: relative;
        top: -4vh;
    }
    &-15-img{
        height: 44.27vh;
        position: relative;
        top: -5vh;
    }
    &-16-img{
        height: 61.19vh;
    }
}