.class_5_24 {
    &-img_box_9_1 {
        height: 34.5vh;
        max-height: 265px;
        img {
            height: 100%;
        }
    }
    &-img_box_9_2 {
        height: 45.96vh;
        max-height: 353px;
        img {
            height: 100%;
        }
    }
}