
.programing-8  .newDesign_subject_question_item-title {
    font-family: 'DejaVuSans';
    font-size: 2.6vh;
}
.programing-8_item-title{
    font-family: 'DejaVuSans';
    font-size: 2.6vh;
    margin: 5.41vh 0 4.95vh 0;
}

.programing-8-img-12 {
    position: fixed;
    bottom: 0;

    img {
        height: 55.9vh;
        max-height: 483px;
    }
}