.background-c-02-08-19 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/programing-8/C-2-8-19.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
}.background-c-02-08-20 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/programing-8/C-2-8-20.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
}.background-c-02-08-21 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/programing-8/C-2-8-21.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
}.background-c-02-08-22{
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/programing-8/C-2-8-22.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
}