.programing-8 .newDesign_subject_question_item-title {
    font-family: 'DejaVuSans';
    font-size: 2.6vh;
}
.programing-8-img {
    position: fixed;
    bottom: 1.5vh;
    img {
        height: 42.31vh;
        max-height: 325px;
    }
}