.programing-5 {
  &_1-img-box{
    height: 44vh;
    max-height: 340px;
    img{
      height: 100%;
    }
  }
  &_2-img-box{
    margin-top: 2.6vh;
    height: 23.8vh;
    max-height: 183px;
    img{
      height: 100%;
    }
  }
}