.top-pointer_images-box {
  width: 11.42vw;
  height: 11.458vh;
  
  img {
    height: 100%;
  }
}

.direcion-pointer_box-image {
  height: 26vh;
  max-height: 198px;

  img {
    cursor: pointer;
    width: 40%;
    height: max-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
  }
}

.clock-box {
  height: 11vh;
  max-height: 84px;
  float: left;

  img {
    height: 100%;
  }

  #time {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9vw; 
  }
}

.counter-box {
  height: 8vh;
  width: 11vw;
  max-height: 64px;
  max-width: 152px;
  background: #5998F7;
  float: left;
  border-radius: 6px;

  &_text {
    color: #FFFFFF;
  }

  &_number {
    font-size: 2vh;
    color: #ffffff;
  }
}


@keyframes fadeInUp {
  0% {
    bottom: -100%;
    opacity: 1;
    visibility: visible;
  }
  99% {
    bottom: 99%;
    opacity: 1;
    visibility: visible;
  }
  100% {
    bottom: 100%;
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 15s;
}