.top-pointer_images-box {
  width: 11.42vw;
  height: 11.458vh;
  
  img {
    height: 100%;
  }
}

.direcion-pointer_box-image {
  height: 26vh;
  max-height: 198px;

  img {
    cursor: pointer;
    height: 100%;
  }
}

.clock-box {
  height: 11vh;
  max-height: 84px;
  float: left;

  img {
    height: 100%;
  }

  #time {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9vw; 
  }
}

.counter-box {
  height: 8vh;
  width: 11vw;
  max-height: 64px;
  max-width: 152px;
  background: #5998F7;
  float: left;
  border-radius: 6px;

  &_text {
    color: #FFFFFF;
  }

  &_number {
    font-size: 2vh;
    color: #ffffff;
  }
}


@keyframes fadeInUp {
  0% {
      transform: translate3d(0, 200%, 0)
  }
  to {
      transform: translateZ(-50px)
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}