.object_moving-img_box_17 {
    height: 11.4vh;
    max-height: 87.6px;
    img{
        height: 100%;
    }
}
.C-5-4-17-sign-description-btn-title {
    height:6.5vh;
    width: 20vh;
    border-radius: 3vh;
    p{
        color: #947DCE;
    }
}