.object_moving-img_box_18 {
    height: 29.94vh;
    max-height: 230px;
    img{
        height: 100%;
    }
}
.object_moving-img_box_18_1 {
    height: 43.49vh;
    max-height: 334px;
    img{
        height: 100%;
    }
}
.check_box {
    .circle {
        border: 1px solid #947DCE;
        height: 2.5vh;
        width: 2.5vh;
        margin: .7vh 0.13vh;
        background-color: #b6b5ba00;
    }
    p {
        color: #947DCE;
        font-size: 2.34vh;
    }
}
