.object_moving-img_box_19_1, 
.object_moving-img_box_19_2,
.object_moving-img_box_19_3, 
.object_moving-img_box_19_4, 
.object_moving-img_box_19_5,
.object_moving-img_box_19_6 {
    width: 11vw;

    img {
        width: 100%;
        height: 100%;
    }
}
