.object_moving-img_box_19_1 .object_moving-img_box_19_2 .object_moving-img_box_19_4 .object_moving-img_box_19_6{
    height: 30vh;
    max-height: 230px;
    img{
        height: 100%;
    }
}
.object_moving-img_box_19_3 {
    height: 30vh;
    max-height: 230px;
    img{
        height: 100%;
    }
}
.object_moving-img_box_19_5 {
    height: 30vh;
    max-height: 230px;
    img{
        height: 100%;
    }
}
