.cs-5-4{
    &-23-img{
        height: 47.74vh;
        margin: 5vh auto 0;
    }
    &-24-img{
        height: 55.46vh;
        margin: 3vh auto 0;
    }
    &-25-img{
        height: 30.59vh;
        margin: 7vh auto 0;
    }
    &-26-img{
        height: 44.79vh;
        margin: 5vh auto 0;
    }
    &-27-img{
        height: 8.59vh;
        margin: 1vh 0;
    }
    &-28-img{
        height: 51.56vh;
        margin: 5vh auto 0;
    }
    &-29-img{
        height: 68.84vh;
        position: relative;
        bottom: 4.5vh;
    }
    &-30-img{
        height: 39.19vh;
        margin: 7vh auto 0;
    }
}