.cs-5-4-31-img-div{
    height:20.57vh;
    position:absolute;
    bottom:0;
    left:11.63vw;
    img{
        height:100%;
    }
.cs-5-4-31-img-div{
    height:20.57vh;
    position:absolute;
    bottom:0;
    left:11.63vw;
    img{
        height:100%;
    }
}