.cs-5-4-7-1-img-div {
    height: 48.17vh;
    position: absolute;
    bottom: 6.5vh;
    right: 24.01vw;

    img {
        height: 100%;
    }
}
.cs-5-4-7-1-img-div{ 
    height:48.17vh;
    position:absolute;
    bottom:6.5vh;
    right:24.01vw;
    img{
        height:100%;
    }
}