.image-box-object {
  &_9 {
    height: 39vh;
    max-height: 303px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &_10 {
    height: 52vh;
    max-height: 399px;
  }

  &_11 {
    height: 52vh;
    max-height: 306px;
  }

  &_12 {
    height: 56vh;
    max-height: 420px;
  }

  &_13 {
    height: 41vh;
    max-height: 313px;
  }

  &_14 {
    height: 41vh;
    max-height: 313px;
  }

  &_15 {
    height: 17vh;
    max-height: 128px;
  }

  img {
    height: 100%;
  }
}