.class_6_27 {
    &-title_item {
        margin-bottom: 0!important;
    }
    &-bg_18 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-two-tours-game-27/C-6-27-18.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_19 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-two-tours-game-27/C-6-27-19.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-two-tours-game-27/C-6-27-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-two-tours-game-27/C-6-27-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}