.C-1366-01-05-purple-man-img-container{
    left:25.03vw;
}

.C-1366-01-05-purple-man-txt-container{
    margin-top:2.6vh;
    span{
        line-height:25px;
    }
}

.C-1366-01-06-texts-container-padding{
    margin-top:11.71vh;
}