.A-1366-03-12-txt-container{
  p{
    line-height: 30px;
  }
}

.A-1366-03-15-img-div{
    font-size: 2.08vh;
    font-family: "BPG Arial";
    height:26.43vh;
   margin-right: 6.14vw; 
     p{
    margin-top:2.6vh;   
  }
  img{
    height:100%;
  }
}