#A-1366-04-9{
  .main-text{
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.3vh;
    a{
      color: #7FD1D8;
      &:hover, &:focus, &:visited{
        color: #7FD1D8;
      }
    }
  }
  .img-box{
    height: 52vh;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    img{
      height: 100%;
    }
  }
}