#A-1366-04-13{
  p{
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.3vh;
  }
  .img-box{
    margin-top: 8vh;
    height: 33vh;
    max-height: 256px;
    img{
      height: 100%;
    }
  }
}