#A-1366-04-16{
  p{
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.3vh;
  }
  .img-box{
    margin-top: 5vh;
    height: 33vh;
    max-height: 255px;
    p{
      font-size: 2vh;
    }
    img{
      height: 100%;
    }
  }
}