#A-1366-04-10{
p{
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.3vh;
    a{
      color: #7FD1D8;
      &:hover, &:focus, &:visited{
        color: #7FD1D8;
      }
    }
  }
  .img-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 29vh;
    max-height: 226px;
    margin-top: 10vh;
    img{
      height: 100%;
    }
  }
}