.background-21 {
  background-image: url(../img/gakvetilebi/xelovneba/magic-world/A-1366-04-21.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-21-1 {
  background-image: url(../img/gakvetilebi/xelovneba/magic-world/A-1366-04-21-1.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-21-2 {
    background-image: url(../img/gakvetilebi/xelovneba/magic-world/A-1366-04-21-2.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background-21-3 {
    background-image: url(../img/gakvetilebi/xelovneba/magic-world/A-1366-04-21-3.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background-21-4 {
    background-image: url(../img/gakvetilebi/xelovneba/magic-world/A-1366-04-21-4.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
