.cs-2-12{
    &-13-img{
        height: 52.34vh;
        margin-top: 3vh;
    }
    &-14-img{
        height: 49.86vh;
    }
    &-15-img{
        height: 43.48vh;
        margin-top: 5vh;
    }
    &-16-img{
        height: 57.03vh;
        margin-top: 2vh;
    }
    &-17-img{
        height: 48.95vh;
        margin-top: 2vh;
    }
}