.working-with-account{
    &-7{
        height:49.08vh;
        max-height:377px;
    img{
        height:100%;
    }

    }
    &-8{
        height:45.18vh;
        max-height:347px;
    img{
        height:100%;
    }

    }
    &-9{
        height:53vh;
        max-height:412px;
    img{
        height:100%;
    }

    }
    &-10{
        height:54.29vh;
        max-height:417px;
    img{
        height:100%;
    }

    }
    &-11{
        height:39.19vh;
        max-height:301px;
    img{
        height:100%;
    }

    }
    &-12{
        height:40.23vh;
        max-height:309px;
    img{
        height:100%;
    }

    }
}