.class_2_12 {
    &-img_5_1 {
        height: 51.6vh;
        max-height: 396.6px;
        img {
            height: 100%;
        }
    }
    &-img_8_1 {
        height: 41vh;
        max-height: 315px;
        img {
            height: 100%;
        }
    }
    &-img_12_1 {
        height: 52vh;
        max-height: 402px;
        img {
            height: 100%;
        }
    }
    &-img_13_1 {
        height: 46.48vh;
        max-height: 357px;
        img {
            height: 100%;
        }
    }
    &-img_14_1 {
        position: fixed;
        bottom: 0;
        height: 57vh;
        max-height: 437.9px;
        img {
            height: 100%;
        }
    }
    &-img_bottom {
        margin-bottom: 1vh;
    }
}
