.cs-6-23-div-img
{
  &-1{
    height:50.26vh;
  }
  &-3{
    height:38.15vh;
  }
  &-4{
    height:42.18vh;
  }
  &-5{
    height:53.38vh;
    position:absolute;
    bottom:8.2vh;
    right:15.44vw;
  }
  &-6{
    height:42.44vh;
  }
  &-8{
    height:55.85vh;
    position:absolute;
    bottom:0;
    right:8.56vw;
}
    img{
      height:100%;
    }
  }
  .cs-6-23-div-img-7 {
    height:28.9vh;
    img{
      height:100%;
    } 
    p{
      margin-top:1.95vh;
    }
  }