.rules-game-box{
    &-cont{
        width: 100%;
        background-color: #947DCE;
        padding: 0 5vh 5vh;
    }
    &-header{
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &-title{
        color: #fff;
        font-family: 'BPG Arial';
        font-size: 2.3vh;
    }
    &-answers{
        width: 100%;
        min-height: 40.36vh;
        background-color: rgba($color: #fff, $alpha: 0.7);
        padding: 4vh 1vh 0;
        border-radius: 2vh;

        .sign-description-btn-title {
            color: #000000;
            font-size: 2.3vh;
            font-family: 'BPG Arial';
            text-align:center;
            margin-bottom: 3vh;
        }
    }
}