.no-margin {
    margin-bottom: 0 !important;
}

.transp {
    opacity: 0;
}

.cs-4-16-11 {
    height: 34.87vh !important;
    max-height: 267.83px !important;
}

.cs-4-16-12 {
    height: 55.83vh !important;
    max-height: 428.83px !important;
}

.cs-4-16-13 {
    height: 37.6vh !important;
    max-height: 288.8px !important;
}

.cs-4-16-14 {
    height: 43.35vh !important;
    max-height: 332.98px !important;
}
