.cs-4-16{
    img{
        height:100%;
    }
    &-19{
        height:39vh;
        max-height:300px;
    }
    &-20{
        height:34vh;
        max-height:268px;
    }
    &-21{
        height:46vh;
        max-height:357px;
    }
    &-22{
        height:33vh;
        max-height:254px;
    }
    &-23{
        height:35vh;
        max-height:385px;
    }
    &-24{
        height:51vh;
        max-height:396px;
    }
    &-25{
        height:26.5vh;
        max-height:204px;
    }
}


.background-cs-4-16{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/How-to-form-text-16/cs-4-16-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/How-to-form-text-16/cs-4-16-27.svg");
    }
    &-28{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/How-to-form-text-16/cs-4-16-28.svg");
    }
    &-29{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/How-to-form-text-16/cs-4-16-29.svg");
    }
}