.game-music-10{
    img{
        height:100%;
    }
    &-1{
        height:57.8vh;
        max-height:444px;
    }
    &-3{
        height:54.42vh;
        max-height:418px;
    }
    &-4{
        height:50vh;
        max-height:389px;
    }
}