.cs-4-7{
    &-1-img{
        height: 50.52vh;
        margin: 8vh auto 5vh;
    }
    &-3-img{
        height: 39.45vh;
        margin-top: 2vh;
    }
    &-4-img{
        height: 48.17vh;
        margin-top: 9vh;
    }
    &-5-img{
        height: 44.92vh;
        margin-top: 2vh;
    }
    &-6-img{
        height: 36.53vh;
        border-radius: 2vh;
    }
    &-7-img{
        height: 28.64vh;
        margin-top: 5vh;
    }
}