.cs-4-7-1-img {
  height: 50.52vh;
  margin: 8vh auto 5vh;
}
.cs-4-7-3-img {
  height: 39.45vh;
  margin-top: 2vh;
}
.cs-4-7-4-img {
  height: 48.17vh;
  margin-top: 9vh;
}
.cs-4-7-5-img {
  height: 44.92vh;
  margin-top: 2vh;
}
.cs-4-7-6-img {
  height: 36.53vh;
  border-radius: 2vh;
}
.cs-4-7-7-img {
  height: 28.64vh;
  margin-top: 5vh;
}