.class_4_7 {
    &-img_box_15 {
        height: 52.4vh;
        max-height: 402.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_16 {
        height: 52.8vh;
        max-height: 405.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_17 {
        height: 38vh;
        max-height: 293px;
        img {
            height: 100%;
        }
    }
    &-img_box_18 {
        height: 20.55vh;
        max-height: 167.7px;
        img {
            height: 100%;
        }
    }
    &-img_box_19 {
        height: 50.78vh;
        max-height: 390px;
        img {
            height: 100%;
        }
    }
}