.background-cs-4-7{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-23{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Text-editor-&-tools-7/cs-4-7-23-img.svg");
    }
    &-24{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Text-editor-&-tools-7/cs-4-7-24-img.svg");
    }
    &-25{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Text-editor-&-tools-7/cs-4-7-25-img.svg");
    }
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Text-editor-&-tools-7/cs-4-7-26-img.svg");
    }
}