.The_living_world {
    &-img_box_2 {
        height: 22.9vh;
        max-height: 117px;
    img{
        height: 100%;
      }
    }
    &-img_box_3 {
    height:55.59vh;
    max-height: 365px;
    img{
        height: 100%;
      }
    }

}