.The_living_world {
    &-img_box_13 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-247.png");
        background-position: center ;
    }
    &-img_box_14 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-248.png");
        background-position: left center;
    }
    &-img_box_15 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-249.png");
        background-position: center bottom;
    }
    &-img_box_16 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-250.png");
        background-position: left center;
    }
    &-img_box_17 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-251.png");
        background-position: center;
    }
}