.The_living_world {
    &-img_box_22 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-255.png");
        background-position: center;
    }
    &-img_box_28 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-266.png");
        background-position: center;
    }
    &-img_box_29 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-267.png");
        background-position: center;
    }
    &-img_box_37 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-284.png");
        background-position: center;
    }
    &-img_box_38 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-285.svg");
        background-position: center;
    }
    .game-circle-box:nth-child(3) {
        top: -63vh;
        right: 30%;
    }
} 