.The_living_world {
    &-img_box_31 {
        height: 36.45vh;
        max-height: 239px;
        img {
            height: 100%;
        }
    }
    &-img_1 {
        height: 22.04vh;
        max-height: 144.7px;
        img {
            height: 100%;
        }
    }
    &-img_2 {
        height: 10.88vh;
        max-height: 71.4px;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 12.64vh;
        max-height: 83px;
        img {
            height: 100%;
        }
    }
}