.The_living_world {
    &-text_item {
        position: absolute;
        bottom: 0;
        height: 37vh;
        left: 0;
        right: 0;
        background: #fff;
        background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(255, 255, 255, 0)), color-stop(58%, rgba(255, 255, 255, 0.949)), to(white));
        background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.949) 58%, white 100%);  
    }
    &-text_item_5 {
        height: 16vh;
    }
    &-text_item {
        h1 {
        font-family: 'DejaVu Sans Oblique';
        color: #000;
        font-size: 2.3vh;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 12vh;
       }
    }
    &-full_img_box{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 95vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-img_box_4 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-238.png");
        background-position: center bottom;
    }
    &-img_box_5 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-239.png");
        background-position: top center;
    }
    &-img_box_6 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-240.png");
        background-position: top center;
    }
    &-img_box_7 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-241.png");
        background-position: top center;
    }
    &-img_box_8 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-242.png");
        background-position: top center;
    }
    &-img_box_9 {
        background-image: url("../img/gakvetilebi/buneba/lesson4/1366-243.png");
        background-position: center bottom;
    }

    
}