.cs-5-15-div-img{
  &-1{
    height:54.94vh;
  } 
  &-3{
    height:64.58vh;
  }
  &-4{
    height:47.65vh;
  }
  &-5{
    height:42.7vh;
  }
  &-6{
    height:33.85vh;
  }
  &-7{
    height:47.91vh;
  }
  &-8{
    height:47.91vh;
  }
  img{
    height:100%;
  }
}