.class_5_15 {
    &-img_box_3_1 {
        position: fixed;
        bottom: 0;
        height: 47.22vh;
        max-height: 362.7px;
        img {
            height: 100%;
        }
    }
    &-bottom{
        margin-bottom: 0!important;
    }
}
