.cs-5-15{
    &-8-img{
        height: 47.52vh;
        margin: 5vh auto 0;
    }
    &-9-img{
        height: 70.96vh;
        margin-left: 2vh;
    }
    &-11-img{
        height: 47.78vh;
        margin: 5vh auto 0;
    }
    &-12-img{
        height: 52.34vh;
        margin: 5vh auto 0;
    }
    &-13-img{
        height: 59.37vh;
        margin: 3vh auto;
    }
}