.buildings_type_container{ 
    margin-left: 2.82vw;       
    
}



.buildings_type_atributes{
    background-image: url("../img/gakvetilebi/musika/mv_1366_9_house_buildings_middle.svg");   
    height:54.03vh;  
    background-size: contain;
    background-repeat: no-repeat; 
}