.m_exercise_text-container{
    color: #0B2228;
    font-size: 2.34vh;
    font-family: 'BPG Arial';
    margin-top: 8.54vh;
    p{
        line-height: 3.9vh;
    }
}
.m-1366-51-img-container{
    left: 40vw;
    img{
        height: 56vh;
    }
}