.voices_tasks_with_points{
    margin-top:5.24vh;
   
}

.points_question_item{
   margin-bottom: 0.52vh;
span{
    font-size: 2.34vh;
        font-family: 'BPG Arial'; 
        color: #0B2228;
}
}

.voices_tasks_smallfont{
font-size: 1.82vh;
font-family: 'BPG Arial'; 
color: #0B2228;
padding-bottom:2.5vh;
}

.voices_tasks_smallfont_with_images{
    font-size: 1.82vh;
    font-family: "italic Helvetica Neue"; 
    color: #0B2228;
    padding-bottom: 0;
    justify-content: space-between;
    align-items:flex-end;
   -webkit-align-items:flex-end;
   margin-left:3.82vw;
}

.voices_tasks_smallfont_image{
   
         background-image: url("../img/gakvetilebi/musika/MV-1366-26-street -music-round.png");   
         height:23.17vh; 
         width:13.03vw;
         background-size: contain;
         background-repeat: no-repeat; 
          
}



