
/* .voices_man_trumpet_container{ 
          
} */

 .voices_man_trumpet_atributes{
   position: absolute;
    left: 0;
    bottom: 0;  
    background-image: url("../img/backgrounds/music_man_trumpet.png");   
    height:73.935vh; 
    width:47.84vw;
    background-size: contain;
    background-repeat: no-repeat;  
}