.voices_man_trumpet_atributes {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../img/backgrounds/music_man_trumpet.png");
  height: 70vh;
  width: 47.84vw;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}