.n_57_game-container{
    text-align: center;
    .m_exercise_text-container{
        margin-top: 1.5vh;
    }
    &-words{
        .m_exercise_text-container{
            margin-top: 1.5vh;
        } 
    }
}

.N-1366-05-27-game-container{
    height:45vh !important;
}