.n-1366-05-53-sun {
  position: absolute;
  top: 3vh;
  left: 0;
  max-height: 58vh;
}
.n-1366-05-53-arrow-1 {
  position: absolute;
  top: 5vh;
  left: 28vw;
  max-height: 3.89vh;
}
.n-1366-05-53-arrow-2 {
  position: absolute;
  top: 20vh;
  left: 28vw;
  max-height: 3.89vh;
}
.n-1366-05-53-arrow-3 {
  position: absolute;
  top: 35vh;
  left: 28vw;
  max-height: 3.89vh;
}
.n-1366-05-53-arrow-4 {
  position: absolute;
  top: 50vh;
  left: 28vw;
  max-height: 3.89vh;
}
.n-1366-05-53-earth {
  position: absolute;
  top: 18vh;
  left: 55vw;
  max-height: 24vh;
}
.moon{
  &-div-1 {
    position: absolute;
    top: 9vh;
    right: 37vh;
    border: 1px dashed #FFDC67;
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
  }
  &-div-2 {
    position: absolute;
    top: 24vh;
    right: 43vh;
    border: 1px dashed;
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
  }
  &-div-3 {
    position: absolute;
    top: 39vh;
    right: 37vh;
    border: 1px dashed;
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
  }
}
.moon_box{
  position: absolute;
  top: 10vh;
  left: 65vw;
  max-height: 24vh;
  z-index: 9999;
  cursor: pointer;
  img{
    height: 100%;
  }
}
.shadow_box{
  position: absolute;
  top: 25vh;
  right: 11vh;
  .shadow_moon{
    display: none;
    width: 55%;
  }
}
