.cs-6-7{
    &-1-img{
        height: 62.76vh;
        margin: 3vh auto;
    }
    &-3-img{
        height: 55.20vh;
        margin-left: 2vh;
    }
    &-4-img{
        height: 55.85vh;
    }
    &-5-img{
        height: 48.82vh;
        margin-top: 5vh;
    }
}