.class_6_7 {
    &-img_12 {
        height: 43.2vh;
        max-height: 331.8px;
        img {
            height: 100%;
        }
    }
    &-img_13 {
        position: fixed;
        bottom: 0;
        height: 62.63vh;
        max-height: 481px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        height: 43.2vh;
        max-height: 331.8px;
        img {
            height: 100%;
        }
    }
}