.cs-6-7-div{
    &-15-img
      {
      height:44.14vh;
      }
  &-16-img
      {
      height:54.03vh;
      }
  &-17-img
      {
      height:41.27vh;
      }
  &-18-img
      {
      height:27.34vh;
      position: absolute;
      right: 16.98vw;
      bottom:37.1vh;
      }
      img{
        height:100%;
      }
}