.class_6_7 {
    &-video_box_5_1 {
        video{
            background-color: #000;
            width: 65.95vw;
            height: 58.46vh;
        }
    }
    &-img_6_1 {
        height: 42.12vh;
        max-height: 323.5px;
        img {
            height: 100%;
        }
    }
    &-img_7_1 {
        height: 38.5vh;
        max-height: 296px;
        img {
            height: 100%;
        }
    }
    &-img_13_1 {
        height: 18.75vh;
        max-height: 144px;
        img {
            height: 100%;
        }
    }
}