.background-cs-6-7{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Responding-to-events-7/cs-6-7-19-img.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Responding-to-events-7/cs-6-7-20-img.png");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Responding-to-events-7/cs-6-7-21-img.svg");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Responding-to-events-7/cs-6-7-22-img.png");
    }
}