.cs-6-20-div {
    &-3-img {
        height:61.45vh;
        position: absolute;
        bottom:0;
        right:9.49vw;
    }   
    &-4-img {
        height:52.6vh;
        position: absolute;
        bottom:0;
        right:5.49vw;
    }
    &-5-1-img {
        height:53.25vh;
        position: absolute;
        bottom:0;
        right:2.49vw;
    }
    &-5-blocks-img {
        height:5.72vh;
        justify-content: space-between; 
        margin:4vh auto auto auto;
    }
    img {
        height: 100%;
    }
}
