.go{
    height:37px;
    width:105px;
    display:inline;
    vertical-align:middle;
}
.click{
    height:35px;
    width:137px;
    display:inline;
    vertical-align:middle;
}
.normal{
    height:34px;
    width:236px;
    display:inline;
    vertical-align:middle;

}

.cs-6-20-12-1{
    height:38px;
    width:108px;
    display:inline;
    vertical-align:middle;
}

.content-20{
    &_12{
        height:65vh;
        max-height:501px;
     img{
         height:100%;
     }
    }
    &_13{
        height:40vh;
        max-height:314px;
     img{
         height:100%;
     }

    }
}

.cs-6-20-13-1{
    height:38px;
    width:108px;
    display:inline;
    vertical-align:middle;
}