.class_6_20 {
    &-img_14 {
        position: fixed;
        bottom: 0;
        height: 64vh;
        max-height: 494px;
        img {
            height: 100%;
        }
    }
    &-bg_18 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-interactive-content-20/C-6-20-18.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_19 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-interactive-content-20/C-6-20-19.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-interactive-content-20/C-6-20-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-interactive-content-20/C-6-20-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}