.cs-6-20{
    &-15-img{
        height: 60.54vh;
        margin-top: 7vh;
    }
    &-16-img{
        height: 44.92vh;
        margin-top: 4vh;
    }
    &-17-img{
        height: 56.25vh;
        margin-top: 4vh;
    }
}