.nature-8-15-game-pink-img{
  left:11vh;
  position:absolute;
}
.nature-8-15-game-div-container {
  position:relative;
}

.nature-8-15-game-div{
  justify-content:space-evenly;
  margin-top:5.2vh;
}
.nature-8-15-div{
  justify-content:space-between;
  margin-top:5.2vh;
}

.nature-8-15-div-container{
  height:10.15vh;
  
  img{
      height:100%;
      margin-right:2.6vh;
  }
}