.nature-8-21-img-div-container-2{
  height:34.24vh;
  position: absolute;
  top:6vh;
  left:7.9vw;
img{
  height:100%;
}
}

.nature-8-21-img-div-container-1{
  height:46.66vh;
  position: absolute;
  bottom:16vh;
  right:24vw;
img{
  height:100%;
}
}