.nature-8-27-img-div-container{
  height:33.2vh;
  img{
      height:100%;
  }
}

.nature-8-27-div-container{
  justify-content:center;
  margin-top: 7.8vh;
}

.nature-8-27-imgs-div-container{
 justify-content: space-evenly;
 margin-top:3.6vh;
}