.nature-8-26-1-img-div-container{
  height:52.47vh; 
  img{
      height:100%
  }
}

.nature-8-29-div-container{
  justify-content:space-evenly;
}

.nature-8-29-game-div-container{
 
 .nature-8-29-game-img{
 height:14.84vh; 
  }
}
.nature-8-29-game-white-rect-img{
  width:100%;
  height:4.42vh;
  box-shadow: 2px 2px 8px #00D5D529;
  border-radius: 6px;
  opacity:1;
  margin-top: 1.95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nature-8-29-text-div-container{
  margin-top:4.2vh;
  span,p{
    display: inline-block;
    font-family: 'DejaVu Sans Oblique';
    font-size:1.8vh;
  }
  }

.nature-8-29-text-container{
  margin-left:3.7vw;
  margin-bottom:2.6vh;
}
