.n-08-45{
    &-comp-img{
        height: 17.57vh;
        margin-top: 5vh;
    }
    &-img{
        width: 100%;
        height: 17.92vh;
        border-radius: 10px;
        margin-bottom: 2vh;
    }
    &-cont{
        margin-top: 10vh;
    }
}