.nature-8-7-img-div-container{
  height:37.76vh;
  img{
      height:100%;
  }
}

.nature-8-7-div-container{
  justify-content:space-evenly;
  p{
    text-align:center;
    font-family: 'DejaVu Sans Oblique';
    font-size:2.6vh;
    margin-top:2.6vh;
  }
}
.nature-8-7-container{
  margin-top:14.38vh;
}