.nature-8-9-img-div-container{
  height:56.9vh;
  img{
      height:100%;
  }
}

.nature-8-9-div-container{
  justify-content:space-evenly;
  p{
    font-family: 'DejaVu Sans Oblique';
    font-size:1.8vh;
    margin-top:3.9vh;
  }
}
.nature-8-9-container{
  margin-top:7.38vh;
}