.class_music_2 {
    &-img_1 {
        height: 63vh;
        max-height: 487px;
        margin: 4vh auto 3vh;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 49.8vh;
        max-height: 383px;
        img {
            height: 100%;
        }
    }
    &-img_4 {
        position: fixed;
        right: 3vh;
        height: 80.59vh;
        max-height: 619px;
        img {
            height: 100%;
        }
    }
    &-img_5 {
        height: 22.5vh;
        max-height: 173px;
        img {
            height: 100%;
        }
    }
    &-img_5_circle {
        height: 8vh;
    }
    &-img_5_circle_blue {
        height: 66px;
        width: 66px;
        border: 3px solid #7FD1D8;
        border-radius: 50%;
    }
    &-img_6 {
        height: 47vh;
        max-height: 360px;
        img {
            height: 100%;
        }
    }
    &-img_7 {
        height: 11vh;
        max-height: 85px;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        height: 44vh;
        max-height: 338px;
        img {
            height: 100%;
        }
    }
}