.city-voices-2{
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        &-18{
            background-image: url("../img/gakvetilebi/Music-class/city-voices-2/cs-new-02-18.svg");
        }
        &-19{
            background-image: url("../img/gakvetilebi/Music-class/city-voices-2/cs-new-02-19.svg");
        }
        &-20{
            background-image: url("../img/gakvetilebi/Music-class/city-voices-2/cs-new-02-20.svg");
        }
        &-21{
            background-image: url("../img/gakvetilebi/Music-class/city-voices-2/cs-new-02-21.svg");
        }
        &-22{
            background-image: url("../img/gakvetilebi/Music-class/city-voices-2/cs-new-02-22.svg");
        }

}

.background-cs-title{
    color:#243E41;
}
