.music-new-2-div {
    &-9-img {
        height:48.82vh;
    }
    &-10-img {
        height:30.98vh;
    }
    &-11-img {
        height:22.52vh;   
    }
    &-12-img {
        height:60vh;
    }
    &-13-img {
        height:8.85vh;
    }
    &-14-img {
        img{
        width:50.1vw;
        }
        .music-new-1-div-5-img-circle{
            height:6.5vh;
            width:6.5vh;
            margin-left:2.44vw;
        }
    }
    &-15-img {
        height:52.08vh;
    }
    &-16-img {
        height:52.08vh;
    }
    &-19-img {
        height:52.08vh;
    }
    img {
        height: 100%;
    }
}
.listen-music-purple-tag{
    color:#947DCE;
}