.cs-5-12-img-div{
  &-15{
    height:38.52vh;
  }
  &-15-1{
    height: 33vh;
    margin-top: 2.5vh;
  }
  &-17{
    height:45.05vh;
  }
  &-18{
    height:20.83vh;
  }
  &-19{
    height:40.75vh;
    position: absolute;
    bottom:0;
    left:10.24vw;
  }
  &-21{
    height:56.25vh;
  }
  &-22{
    height:27.47vh;
  }
  &-20-1{
    height:47.52vh;
  }
  img{
    height:100%;
  }
}
.cs-5-12-img-div-20-2-circle{
  border: 1px solid #947DCE;
  height: 5.46vh;
  width: 5.46vh;
  border-radius: 50%;
}
.cs-5-12-img-div-20-2-btn{
  height:8.51vh;
}

.cs-5-12-img-div-20-3 {
  img{
    height: 5.46vh;
  }
}
.cs-5-12-img-div-17-1 {
  height: 21.5vh;
}