.class_5_12 {
    &-title_item {
        font-style: italic;
        color: #62548A;
        font-family: 'DejaVu Sans Oblique';
        font-size: 3.64vh;
    }
    &-bg_25 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/interface-of-devices-12/C-5-12-25.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_26 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/interface-of-devices-12/C-5-12-26.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_27 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/interface-of-devices-12/C-5-12-27.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_28 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/interface-of-devices-12/C-5-12-28.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}