.cs-5-12{
    &-8-img{
        height: 35.67vh;
        margin: auto;
    }
    &-9-img{
        height: 48.82vh;
        margin: auto;
    }
    &-10-img{
        height: 47.78vh;
        margin: auto;
    }
    &-11-img{
        height:  20.84vh;
        margin: auto;
    }
    &-12-img{
        height:  54.42vh;
        margin: 12vh auto 0;;
    }
    &-13-img{
        height: 20.18vh;
        margin: 8vh auto 0;;
    }
    &-14-img{
        height: 46.22vh;
        margin: 5vh auto 0;;
    }
}