.w-85 {
  width: 85%;
}
.music-play-icon {
  position: absolute;
  top: 5vh;
  left: 5vh;
  height: 4vh !important;
  width: 4vh !important;
  &_child {
      height: 2.5vh !important;
      width: 2.5vh !important;
  }
}
