.music-game-task-notes-strings-containers-col{
  margin-top:1.95vh;
  margin-left: 50px;

  &:nth-child(1){
    margin-left: 0;
  }

  &:nth-child(4){
    margin-left: 0;
  }
}

.music-game-task-notes-strings-container{
  position: relative;
  width:15vw;
  &.m-1366-04-13-height{
    width:13vw;
  }
}
.music-game-task-notes-string-container-img{
 height:100%;
 width: 100%;
}
.music-game-task-notes-strings-text-div{
  margin-top:1.94vh;
}

.music-game-task-notes-strings-lyrics-img{
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: auto;
  width: calc(100% - 10px);
}