.music-game-task-notes-strings-containers-col{
margin-top:1.95vh;
/* padding-right:6.64vh; */
}

.music-game-task-notes-strings-container{
  position: relative;
   height:18.88vh;
  width:15vw;
}
.music-game-task-notes-string-container-img{
 height:100%;
 width:100%;
}
.music-game-task-notes-strings-text-div{
  margin-top:4.94vh;
}

.music-game-task-notes-strings-lyrics-img{
  position: absolute;
  bottom:0.39vh;
  height:8.33vh;
 
 
  width:100%;
}