.m_musical_names_corner_game{
    &-cont{}
    &-img{
        margin-top: 2vh;
        height: 13.67vh;
        &-steps{
            height: 28.64vh;
            margin-bottom: 2vh;
        }
    }
}
