.m-1366-04-20-musical_notes_game-container-cols{
    margin-top:4.14vh;
}



.musical_notes_game-img-blue-middle{
    height:4.83vh;
}

.musical_notes_game-press-button-extra-small{
    position:absolute;
    height:4.68vh;
    bottom:-15px;
    right:0;
}