.m-1366-04-23-music-note-container-div{
    margin-top:15.23vh;
    
}

.m-1366-04-23-music-game-note-circles{
    display: flex;
    justify-content: center; 
    width: 58px;
    height: 58px;
    border-radius:50%;
    box-shadow: 0px 3px 6px #00000029;

    &.error {
        background-color:#ff5252;
      }
      &.success {
        background-color:#A1DD6F;
      }
      &.selected {
        background-color:#F8D24B;
      }
  }

  .m-1366-04-23-music-note-circles-div{
    margin-top: 5.2vh;
  }