.M-1366-04-13-buttom-note-container{
  .M-1366-04-13-strings-lyrics-img{
    height:3.64vh;
  }
  .M-1366-04-13-button-extra-small{
  height: 4.68vh;
  }
}

.M-1366-04-13-button-extra-small-absolute{
  height: 4.68vh;
  position: absolute;
  top:-10px;
  left:50%;
  transform:translateX(-50%);
}
 .m-1366-04-13-buttom-note-container-cols{
margin-top: 2.88vh;
} 

.m-1366-04-13-container-divs{
margin-bottom:3.97vh;
}
.M-1366-04-13-buttom-note-container{
margin-top:1.25vh;
}

.M-1366-04-13-buttom-note-container-col{
  width:12.95vw;
  margin-right:3.66vw;
}