.cs-2-1-11-ill-img{
    height: 69.92vh;
    position: relative;
    bottom: 5vh;
}

.cs-2-1-6-1-ill-img{
    height: 55.85vh;
}
.cs-2-1-5-1-ill-img{
    height: 60.28vh;
    position: relative;
    bottom: -4vh;
}

.cs-2-1-20-1-img{
    height: 47.20vh;
}