.sign-description-btn{
    height: 4.85vh;
    width: 25.18vh;
    background: white;
    box-shadow: 2px 2px 8px rgba(148, 125, 206, 0.4);
    border-radius: 2vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;



    .draggedElement {
        font-size: 1.8vh;
        color: #62548A;
        line-height:2vh;
        padding: 3vh;
        font-family: 'FiraGO Book';
    }

    &.error {
        background-color: #dc6c85;

        p {
            color: #fff !important;
        }
    }

    &.success {
        background-color: #a1dd6f;

        p {
            color: #fff;
        }
    }

    &-title {
        font-size: 1.8vh;
        color: #62548A;
        line-height: 2vh;
        padding: 4px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'FiraGO Book';
    }


}
.cs-2-1-9-forbidden-img{
    height: 12.36vh;
}
