.class_6_8 {
    &-img_1 {
        height: 60.9vh;
        max-height: 468px;
        margin: 3vh auto;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 38vh;
        max-height: 293.7px;
    }
    &-img_4 {
        height: 49.47vh;
        max-height: 380px;
    }
    &-img_5 {
        height: 43.86vh;
        max-height: 336.9px;
    }
    &-img_6 {
        height: 40vh;
        max-height: 310px;
    }
}