.using-variables_page{
    &-7{
        height:63vh;
        max-height:489px;
    img{
        height:100%;
    }

    }
    &-8{
        height:36vh;
        max-height:280px;
    img{
        height:100%;
    }

    }

    &-9{
        height:63vh;
        max-height:488px;

    img{
        height:100%;
        margin-top: -3vh;
    }

    } 
     &-10{
        height:52vh;
        max-height:407px;

    img{
        height:100%;
    }
    }
    
    &-11{
        height:50vh;
        max-height:389px;

    img{
        height:100%;
        margin-left:90vh;
    }
    }
    &-12{
        height:50vh;
        max-height:383px;

    img{
        height:100%;
        margin-left:60vh;
    }
    }
}