.background-cs-6-8{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Using-variables-8/cs-6-8-19.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Using-variables-8/cs-6-8-20.png");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Using-variables-8/cs-6-8-21.png");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Using-variables-8/cs-6-8-22.svg");
    }
}