.cs-6-8-div {
    &-5-1-img {
        height: 51.56vh;
    }
    &-6-1-img {
        height: 62.63vh;
    }
    &-7-1-img {
        height: 36.71vh;
    }
     &-12-1-img {
        height: 61.45vh;
    }
    &-13-1-img {
        height: 59.63vh;
    }
    &-14-1-img {
        height: 50.39vh;
    }
    img {
        height: 100%;
    }
    video{
        height: 100%;
    }
}

.cs-6-8-div-6-1-text{
    p{
        margin-bottom:6.3vh;
    }
}