.cs-3-2-18-img{
    height: 34.89vh;
    margin: 1vh auto;
}

.cs-3-4-28-text-row{
    p
    {
    color: #262626;
    font-size: 2.4vh;
    font-family: "DejaVuSans";
    line-height: 2.9vh;
    } 
    margin: auto;
}

.cs-3-9-10-row-text{
    margin-left:auto ;
}
.cs-3-8-3-row-text{
    p{
    font-size: 2.4vh;
    font-family: "DejaVuSans";
    }
   
}