.cs-3-2-18-img{
    height: 34.89vh;
    margin: 1vh auto;
}

.cs-3-4-28-text-row{
    p
    {
    color: #262626;
    font-size: 1.8vh;
    font-family: "DejaVuSans";
    line-height: 2.9vh;
    } 
    position: absolute;
    bottom: 24vh;
    right: 23vw;
}