.Class_3_2 {
    &-img-6 {
        position: fixed;
        bottom: 0;
        right:0;
        height: 56.25vh;
        max-height: 432px;
        img {
            height: 100%;
        }
    }
    &-img-10 {
        height: 33.28vh;
        max-height: 255.6px;
        img {
            height: 100%;
        }
    }
    &-img-11 {
        position: fixed;
        bottom: 0;
        height: 57.14vh;
        max-height: 438.84px;
        img {
            height: 100%;
        }
    }
}