.Class_3_2 {
    &-img-7-1 {
        height: 9.98vh;
        max-height: 76.7px;
        img {
            height: 100%;
        }
    }
    &-img-7-2 {
        height: 15.88vh;
        max-height: 122px;
        img {
            height: 100%;
        }
    }
    &-img-7-3 {
        height: 10.13vh;
        max-height: 77.8px;
        img {
            height: 100%;
        }
    }
    &-img-7-4 {
        height: 13.15vh;
        max-height: 101px;
        img {
            height: 100%;
        }
    }
    &-img-7-5 {
        height: 14.32vh;
        max-height: 110px;
        img {
            height: 100%;
        }
    }
    &-img-7 {
        img {
            height: 8.46vh;
            max-height: 65px;
        }
    }
    &-img-8-1 {
        height: 12vh;
        max-height: 92.7px;
        img {
            height: 100%;
        }
    }
    &-img-8-2 {
        height: 13.15vh;
        max-height: 101px;
        img {
            height: 100%;
        }
    }
    &-img-8-3 {
        height: 15.23vh;
        max-height: 117px;
        img {
            height: 100%;
        }
    }
    &-img-8-4 {
        height: 16.6vh;
        max-height: 128px;
        img {
            height: 100%;
        }
    }
    &-img-8-5 {
        height: 11.52vh;
        max-height: 88.5px;
        img {
            height: 100%;
        }
    }
    &-img-8-6 {
        height: 12.6vh;
        max-height: 97px;
        img {
            height: 100%;
        }
    }
    &-img-9_1 {
        height: 56.77vh;
        max-height: 436px;
        img {
            height: 100%;
        }
    }
    &-img-9-1 {
        margin: 0 3.9vh 0 0;
        height: 8.94vh;
        max-height: 68.7px;
        img {
            height: 100%;
        }
    }
    &-img-9-2 {
        margin: 3vh 4.6vh 0 0;
        height: 7.6vh;
        max-height: 58.5px;
        img {
            height: 100%;
        }
    }
    &-img-9-3 {
        margin: 0 3vh 0 0;
        height: 8.46vh;
        max-height: 65px;
        img {
            height: 100%;
        }
    }
    &-img-9-4 {
        margin: 1.3vh 4.7vh 0 0;
        height: 8.2vh;
        max-height: 63px;
        img {
            height: 100%;
        }
    }
    &-img-9-5 {
        margin: 0 4.7vh 4.9vh 0;
        height: 6vh;
        max-height: 46.7px;
        img {
            height: 100%;
        }
    }
    &-img-9-6 {
        margin: 2vh 6.3vh 0 0;
        height: 10.28vh;
        max-height: 79px;
        img {
            height: 100%;
        }
    }
    &-img-9-7 {
        margin: 4vh 3.9vh 0 0;
        height: 5.54vh;
        max-height: 42.6px;
        img {
            height: 100%;
        }
    }
    &-img-9-8 {
        margin: 1vh 6.3vh 0 0;
        height: 5.45vh;
        max-height: 41.9px;
        img {
            height: 100%;
        }
    }
    &-img-9-9 {
        margin-right: 7vh;
        height: 8.69vh;
        max-height: 66.8px;
        img {
            height: 100%;
        }
    }
    &-img-9-10 {
        margin: 12vh 4vh 0 0;
        height: 5.79vh;
        max-height: 44.5px;
        img {
            height: 100%;
        }
    }
    &-img-9-11 {
        margin: 5vh 5.5vh 0 0;
        height: 7.9vh;
        max-height: 61px;
        img {
            height: 100%;
        }
    }
    &-img-9-12 {
        margin: 0 5.4vh 10vh 0;
        height: 11vh;
        max-height: 84.9px;
        img {
            height: 100%;
        }
    }
    &-img-9-13 {
        margin-top: 1.5vh;
        height: 6.9vh;
        max-height: 53px;
        img {
            height: 100%;
        }
    }
}