.background-cs-3-2{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/computer-equipment-2/cs-3-2-19.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/computer-equipment-2/cs-3-2-20.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/computer-equipment-2/cs-3-2-21.svg");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/computer-equipment-2/cs-3-2-22.svg");
    }
}