.Class_3 {
    &-img_box_11_1 {
        height: 9.52vh;
        max-height: 73px;
        img {
            height: 100%;
        }
    }
    &-img_box_11_2 {
        height: 10vh;
        max-height: 77px;
        img {
            height: 100%;
        }
    }
    &-img_box_11_3 {
        height: 12.9vh;
        max-height: 99.14px;
        img {
            height: 100%;
        }
    }
    &-img_box_11_4 {
        height: 13.2vh;
        max-height: 101.35px;
        img {
            height: 100%;
        }
    }
    &-img_box_11_5 {
        height: 16.73vh;
        max-height: 128.52px;
        img {
            height: 100%;
        }
    }
    &-img_box_11_6 {
        height: 12.25vh;
        max-height: 94.1px;
        img {
            height: 100%;
        }
    }
    &-content_box_11 {
        margin-left: 20vh;
    }
    &-Visual_programing_6_11{
        position: fixed;
        bottom: 0;
        right: 5vh;
        img {
            height: 64.99vh;
            max-height: 499px;
        }
    }
}