
.cs-3-6-14-div-img{
    height:44.53vh;
    position: absolute;
    bottom:-8vh;
    left: 50%;
    transform: translate(-50%, 0);
img{
       height:100%;
    }
}

.cs-3-6-15-div-img{
    height:59.24vh;
    position: absolute;
    bottom:-8vh;
    right:0;
img{
       height:100%;
    }
}
.cs-3-6-16-div-img{
    height:46.87vh;
    position: absolute;
    bottom:-8vh;
    right:-8vh;
img{
       height:100%;
    }
}
.cs-3-6-17-div-img{
    height:71.61vh;
img{
       height:100%;
    }
}
.cs-3-6-18-div-img{
    height:63.02vh;
    position: absolute;
    bottom:0;
    right:0;
img{
       height:100%;
    }
}
.cs-3-6-20-div-img{
    height:53vh;
    position: absolute;
    bottom:-8vh;
    left: 50%;
    transform: translate(-50%, 0);
img{
       height:100%;
    }
}