.cs-3-6-19-div-imgs{
   flex-wrap: wrap;
    p{
        color:#00A5EF;
    font-size:1.56vh;
    }
}
.cs-3-6-19-div-container{
    margin-top:2.68vh;
    width: 100%;
    justify-content: space-evenly;
}
.cs-3-6-19-img{
    p{
        margin-right:0.73vw;
    }
}
.cs-3-6-19-img-1
{
   height:9.21vh;
}
.cs-3-6-19-img-2
{
    height:8.15vh;
}

.cs-3-6-19-img-3
{
    height:7.68vh;
}

.cs-3-6-19-img-4
{
    height:10.12vh;
}

.cs-3-6-19-img-5
{
    height:8.69vh;
}

.cs-3-6-19-img-6
{
    height:6.37vh;
}


.cs-3-6-19-img-7
{
    height:9.25vh;
}

.cs-3-6-19-img-8
{
    height:8.41vh;
}
.cs-3-6-19-img-9
{
    height:8.93vh;
}


#puzzel {
    border: 0;
    margin: 0;
    box-shadow: initial;
}

.cs-3-6-19-div-crossword{
    height:62.75vh;
    display: inline-block;

    tbody {
        width: 100%;
        height: 100%;
        display: block;

        tr {
            width: 100%;
            height: calc(100% / 14);
            display: block;
            position: relative;
            

            td {
                width: 2.562vw;
                height: 4.557vh;
                border: 2px solid #000000;


                input {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    font-family: 'FiraGO Book';

                    &.error {
                        color: #fff;
                    }
                    
                    &.error::placeholder {
                        color: #fff;
                    }

                    &.error:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #fff;
                      }
                      
                      &.error::-ms-input-placeholder { /* Microsoft Edge */
                        color: #fff;
                      }
                }

                span {
                    position: absolute;
                    left: 2px;
                    top: 0px;
                    color: #00A5EF;
                }
            }
        }
    }


}
