.Class_3-Visual_programing_6_7 {
  position: fixed;
  right: 30.5vh;
  bottom: 39vh;
  border-radius: 2vh;
  height: 24.9vh;
}
.Class_3-Visual_programing_6_7_1 {
  position: fixed;
  right: 27.5vh;
  bottom: 10vh;
  border-radius: 2vh;
  height: 24.9vh;
}
.Class_3-Visual_programing_6_8 {
  position: fixed;
  right: 27.5vh;
  bottom: 10vh;
}
.Class_3-Visual_programing_6_8 img {
  border-radius: 2vh;
  height: 32.3vh;
}
.Class_3-Visual_programing_6_9 {
  position: fixed;
  right: 0;
  bottom: 0;
}
.Class_3-Visual_programing_6_9 img {
  height: 65.44vh;
  max-height: 502.6px;
}
.Class_3-Visual_programing_6_10 {
  position: fixed;
  bottom: 0;
}
.Class_3-Visual_programing_6_10 img {
  height: 45.8vh;
  max-height: 352px;
}
.Class_3-Visual_programing_6_12 {
  position: fixed;
  bottom: 0;
}
.Class_3-Visual_programing_6_12 img {
  height: 61.97vh;
  max-height: 475.97px;
}
.Class_3-Visual_programing_6_13 {
  position: fixed;
  bottom: 0;
}
.Class_3-Visual_programing_6_13 img {
  height: 55.35vh;
  max-height: 425.1px;
}