.visual{
  &_23 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Visual-Communication-6/C-3-6-23.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &_24 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Visual-Communication-6/C-3-6-24.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &_25 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Visual-Communication-6/C-3-6-25.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &_26 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Visual-Communication-6/C-3-6-26.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

}