.music-new-11-div {
    &-3-img {
        height:46.87vh;
    }
    &-4-img{
        height:54.29vh;
        position: absolute;
        bottom:3.38vh;
        right:12.44vw;
    }
    img {
        height: 100%;
    }
}

 