.class_music_11 {
    &-18{
        height:30vh;
        max-height:238px;
    }
    
    &-bg_20{
        background-image: url("../img/gakvetilebi/Music-class/Music-11/music-11-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_21{
        background-image: url("../img/gakvetilebi/Music-class/Music-11/music-11-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_22{
        background-image: url("../img/gakvetilebi/Music-class/Music-11/music-11-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_23{
        background-image: url("../img/gakvetilebi/Music-class/Music-11/music-11-23.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
.background-music-title-black-cont {
    padding-top: 10vh;
}
.background-music-title-black {
    color: #243E41;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}