.class_music_11 {
    &-img_8 {
        img{
            height: 13.54vh;
        }
    }
    &-check_box {
        width: 2.6vh;
        height: 2.6vh;
        border: 2px solid #696969;
        border-radius: 8px;
        opacity: 1;
    }
    &-title_item {
        font-size: 2.6vh;
        font-family: DejaVu Sans Book;
    }
    &-img_9 {
        img{
            height: 9.3vh;
        }
    }
    &-img_10 {
        img{
            height: 9.7vh;
        }
    }   
    &-img_11 {
        height: 4.4vh;
        margin: 2vh auto;
    }
    &-img_one {
        img {
            margin: 13vh auto 3vh;
            height: 21.4vh;
        }
    }
    &-img_two {    
        img {
            margin: 0;
            height: 37.6vh;
        }
    }
    &-img_three {
        img {
            margin: 9vh auto 3vh;
            height: 25.4vh;
        }
    }
    &-check_box_11 {
        width: 3.26vh;
        height: 3.26vh;
        border: 2px solid #696969;
        border-radius: 8px;
        opacity: 1;
    }
    &-img_12 {
        height: 46.5vh;
    }
    &-img_13 {
        height: 29.3vh;
    }
    &-img_14 {
        img{
            height: 22vh;
        }
    }
    &-img_14_1 {
        img{
            height: 4.4vh;
            margin: 2vh auto;
        }
    }
    &-img_15 {
        position: fixed;
        bottom: 11vh;
        right: 19vh;
        height: 35.5vh;
    }
    &-img_15_1 {
        width: 6.6vh;
        height: 6.6vh;
        display: inline;
        vertical-align: middle;
    } 
    &-img_16 {
        img {
            height: 7.9vh;
            margin: 2vh auto 4vh;
        }
    }
    &-check_box_16 {
        width: 2.6vh;
        height: 2.6vh;
        border: 2px solid #696969;
        border-radius: 8px;
        opacity: 1;
        margin: 1vh;
    }
    &-title_item_16 {
        margin-left: 2vh;
        font-size: 2.6vh;
        font-family: DejaVu Sans Book;
    }
}