.music-11 img {
  height: 100%;
}

.music-11-5-1 {
  height: 29.6vh;
  max-height: 228px;
}

.music-11-6-1 {
  height: 39.97vh;
  max-height: 307px;
}

.music-11-13-1 {
  height: 28.25vh;
  max-height: 217px;
}

.music-11-13-2 {
  height: 27.34vh;
  max-height: 210px;
}

.music-11-13-3 {
  height: 48.17vh;
  max-height: 370px;
}
