.music-11{
    img{
        height:100%;
    }
    &-5-1{
        height:29.6vh;
        max-height:228px;
    }
    &-6-1{
        height:39.97vh;
        max-height:307px;
    }
    &-13-1{
        height:28.25vh;
        max-height:217px;
    }
    &-13-2{
        height:27.34vh;
        max-height:210px;
    }
    &-13-3{
        height:48.17vh;
        max-height:370px;
    }
}