.class_6_9 {
    &-img_13 {
        height: 41.79vh;
        max-height: 321px;
    }
    &-img_14 {
        height: 60vh;
        max-height: 461px;
    }
    &-img_15 {
        height: 51vh;
        max-height: 392px;
    }
    &-img_16 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 57.4vh;
        max-height: 441px;
    }
    &-img_17 {
        height: 45.57vh;
        max-height: 350px;
    }
    &-img_18 {
        height: 59.5vh;
        max-height: 457px;
    }
}