.cs-6-9-div {
    &-19-img {
        height: 50.39vh;
        position:absolute;
        bottom:16.79vh;
        right:17.05vw;
    }
    &-20-img {
        height:58.46vh;
    }
    img {
        height: 100%;
    }
}