.cs-6-9{
    &-7-img{
        height: 67.44vh;
        position: relative;
        right: -17vh;
    }
    &-8-img{
        height: 52.60vh;
        margin-top: 3vh;
    }
    &-10-img{
        height: 61.45vh;
        position: relative;
        bottom: 5vh;
        left: 1vh;
    }
    &-11-img{
        height: 42.96vh;
    }
    &-12-img{
        height: 51.30vh;
        margin-top: 7vh;
    }
}