.list_page{
    &_8-1{
        height:63vh;
        max-height:486px;
    img{
        height: 100%;
        top:-35vh;
        left:20vh;
    }
    }
    &_14-1{
        height:50vh;
        max-height:390px;
    img{
        height: 100%;
    }
    }
    &_13-1{
        video{
            background-color:#000;
            width:65vw;
            height:65vh;
    
        }
  
    }
    &_15-1{

       height:58.9vh;
       max-height:453px;
    img{
        height:100%;
    }

    }


    
}