
.art-lesson-content{
    margin-bottom:2.61vh;
}
.art-lesson-content_links {
    margin-top:5.31vh;
    a {
      width: 100%;     
    } 
  }
  
 .subject_bottom_illustration-art{  
        position: absolute;
        height: 23.69vh; 
        bottom:2.35vh; 
        right: 7.60vh;
     }
 
 