.container_main_title {
  margin-bottom: 5vh;
  h1 {
    font-family: "ALK Sanet", sans-serif;
    font-size: 1.8vh;
    color: #262626;
  }
}
.bottom_components .item_flex {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .subject_component_title {
    margin-left: 0;
    margin-top: 3vh;
    font-size: 1.8vh;
  }
}
