
  .question_suggestion_item_image_hidden{
  img{
    visibility: hidden;
      }
  }

  .middle_bg_hand_big{
    width: 32vw;
    height: 45.85vh;
    background-image: url("../img/backgrounds/bg-ilustrations/hand-middle.svg");
}