.container_main_title {
  display: flex;
  justify-content: center;
  color: #262626;
  align-items: center;
  font-family: "ALK Sanet";
  font-size: 1.9vh;
  img {
    height: 4.4vh;
    padding-right: 1.1vh;
  }
}
.container_main_title_art-paddings{
    padding-bottom: 10.4vh;
    padding-top: 3.4vh;
}
.subject_question_item {
  display: flex;
  color: #0b2228;
  justify-content: left;
  font-size: 2.8vh;
  line-height: 3.9vh;
  padding-bottom: 5.2vh;
  font-family: "BPG Arial";
  align-items: baseline;
  img {
    height: 2.2vh;
    padding-right: 1.9vh;
  }
}
.paging_buttons {
  display: flex;
  &_position {
    position: absolute;
    bottom: 2.6vh;
    right: 10.2vw;
    z-index: 10;
  }
  a {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    img {
      width: 4.6vh;
      height: 4.6vh;
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 50%;
    }
  }
  &_right {
    transform: matrix(0, -1, 1, 0, 0, 0);
  }
  &_left {
    transform: matrix(0, 1, -1, 0, 0, 0);
  }
  &_margin-left{
    margin-left: 3.9vw;
  }
}
