.container_main_title_portfolio-paddings {
  padding-bottom: 5.2vh;
}
.portfolio-item-container {
  position: relative;
  height: 55.2vh;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fullScreen_modal {
  &-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
  }
  &-body {
    padding: 0 1rem;
  }
  &-content {
    height: 100%;
    border-radius: 0;
  }
  &-header {
    border-bottom: none;
    padding-bottom: 0;
  }
  &-img-lg-vert {
    width: 59.1vh;
    height: 80vh;
    margin-left: 28.6vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-img-lg-hor {
    width: 54vw;
    height: 80vh;
    margin-left: 10.1vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-title {
    color: #000;
    font-size: 26px;
    font-family: "Helvetica Neue";
    margin: 15px 0;
    font-style: italic;
  }
}

.portfolio-slider.owl-theme .owl-dots {
  left: auto;
  right: 9.1vw;
  .owl-dot span {
    width: 16.9vh;
    height: 16.9vh;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4.3vw;
  }
  .owl-dot:first-child span {
    background-image: url("../../../img/gakvetilebi/xelovneba/cnobili-namushevrebi/1.jpg");
  }
  .owl-dot:nth-child(2) span {
    background-image: url("../../../img/gakvetilebi/xelovneba/cnobili-namushevrebi/2.jpg");
  }
  .owl-dot:nth-child(3) span {
    background-image: url("../../../img/gakvetilebi/xelovneba/cnobili-namushevrebi/3.jpg");
  }
  .owl-dot {
    outline: none;
    &.active span {
      display: none;
    }
  }
}
