.paint_atributes_container{
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 7.29vh;
  right: 19.85vw;
  top:34.11vh;
}

.paint_atributes_color_box{
        height:28.77vh;
        width:17.34vw; 
        background-size: contain;
        background-repeat: no-repeat;        
        background-image: url("../img/gakvetilebi/xelovneba/paint-boxo.svg");   
}

.paint_atributes_color_brush{
        height:58.59vh;
        width:43.92vw; 
        background-size: contain;
        background-repeat: no-repeat; 
        background-image: url("../img/gakvetilebi/xelovneba/red_brush.svg"); 
}