.art_main-title{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-family: 'ALK Sanet';
    font-size: 1.8vh;
    img{
        height: 4.4vh;
        padding-right: 1.1vh;
    }
}