section .arrow_up_down {
    display: flex;
    justify-content: center;
    z-index: 9999;

    &_upArrow {
        transform: matrix(1, 0, 0, 1, 0, 0);
        background: $color-sky;
        max-height: 36px;
        max-width: 36px;
        height: 4.6vh;
        width: 4.6vh;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh;

        img {
            height: 90%;
        }
    }

    &_downArrow {
        transform: matrix(-1, 0, 0, -1, 0, 0);
        background: $color-sky;
        max-height: 36px;
        max-width: 36px;
        height: 4.6vh;
        width: 4.6vh;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh;

        img {
            height: 90%;
        }
    }


}