.container_choose_arrowDown {
  display: flex;
  height: 3vh;
  div {
    font-family: "ALK Sanet", sans-serif;
    font-size: 3.1vh;
    color: rgb(11, 34, 40);
    margin-right: 3.3vh;
  }
  img {
    height: 100%;
  }
}
