.close {
    z-index: 99999;
    position: relative;
    // height: 6vh;
    // width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: rgb(255, 255, 255);
    // box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    // border-radius: 50%;
    opacity:1;
    img{
      height: 7.46vh;  
    }
    
}