// თამაშების სხვადასხვა ფერერის ფუნჯები

.color-game-paint {
    width: 52px;
    transition: all 0.3s;
}

.color-game-paint-big {
    width: 77px;
    transition: all 0.3s;
}


#Path_3994 {
    transition: all 0.5s;
}

.finalyColorSingle {
    display: none
}