.reset__btn {
    background: $reset-game-btn;
    border-radius: 27px;
    height: 39px;
    width: 167px;
    text-align: center;
    color: #FFFFFF;
    font-family: $alk-sanet;

    &:focus {
        outline: none;
    }
}