.reset__btn {
  background: $completed-game-btn;
  border-radius: 27px;
  height: 6.07vh;
  width: 12.29vw;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: $alk-sanet;
  font-size: 11px;
  letter-spacing: 1.1px;

  &:focus {
    outline: none;
  }
}
