.completed__btn {
  background: $reset-game-btn;
  border-radius: 27px;
  height: 38px;
  width: 167px;
  text-align: center;
  color: #ffffff;
  font-family: $alk-sanet;
  font-size: 11px;
  letter-spacing: 1.1px;

  &:focus {
    outline: none;
  }
}
