.completed__btn {
  border-radius: 27px;
  height: 38px;
  width: 167px;
  text-align: center;
  color: #7FD1D8;
  background-color: #fff;;
  box-shadow: 2px 2px 8px rgba(127,209,216,.4);
  font-family: $alk-sanet;
  font-size: 11px;
  letter-spacing: 1.1px;
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #7FD1D8;
    color: #fff;
  }

  &:disabled {
    background: rgba(127, 209, 216, 0.5);
    transition: all 0.3s;
  }
}
