.reset__btn {
  background: #fff;
  border-radius: 27px;
  height: 38px;
  width: 167px;
  text-align: center;
  color: #F8D24B;
  box-shadow: 2px 2px 8px rgba(248, 210, 73, 0.4);
  margin-bottom: 10px;
  font-family: $alk-sanet;
  font-size: 11px;
  letter-spacing: 1.1px;
  transition: all 0.3s;

  &:hover {
    background-color: #F8D24B;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}
