header {
  height: 8vh;
  width: 100%;
  margin: 0 auto;
  margin-top: 5.3vh;
  margin-bottom: 4.42vh;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    .header-logo {
      height: inherit;
      a {
        height: 100%;
        display: block;
        img {
          max-height: 21px;
          height: 100%;
        }
      }
    }
    .header-menu {
      height: inherit;
      img {
        max-height: 22px;
        height: 100%;
      }
    }
    .header-sound {
      height: inherit;
      .header-sound_switch {
        height: inherit;
        box-shadow: 0px 4px 6px #00000029;
        max-width: 36px;
        max-height: 36px;
        height: 4.6vh;
        width: 4.6vh;
        border-radius: 50%;
        outline: none;
        background: #fff;
        img {
          max-height: 36px;
          height: 100%;
        }
      }
      .sound-on {
        margin-right: 50px;
      }
      .active {
        background: #7fd1d8;
      }
    }
  }
}
