.main_box_links {
  .music {
    background-image: url("../img/gakvetilebi/musika/musika-logo.svg");
  }
  .art {
    background-image: url("../img/gakvetilebi/xelovneba/xelovneba-logo.svg");
  }
  .nature {
    background-image: url("../img/gakvetilebi/buneba/buneba-logo.svg");
  }
  a {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    text-align: center;
    padding: 2vh 9vh;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    border-radius: 40px;
    font-size: 2.74vh;
    font-family: "ALK Sanet", sans-serif;
    color: #262626;
  }
}
