.listen_btn{
    background-color: #7FD1D8;
    color: #fff;
    padding: 0 3.39vw;
    height: 5.98vh;
    border-radius: 27px;
    font-family: 'ALK Sanet';
    font-size: 1.82vh;
    &:focus{
        outline: none;
    }
}
