.container_main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-family: "ALK Sanet";
    font-size: 1.9vh;

    img {
      height: 4.4vh;
      padding-right: 1.1vh;
    }
  }