
  .middle_bg_box_image {
  background-image: url("../img/backgrounds/bg-ilustrations/hand-middle.svg");
 
  background-size: contain;
  background-repeat: no-repeat; 
  position: absolute;
  bottom: 0; 
  background-position: bottom;
  right: 19.38vw;
  }
