.m-1366-04-20-notes-button{ 
    background-color: #FFFFFF;
    color: #fff;
    width: 12.26vw;
    height:7.68vh;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    color: rgb(11, 34, 40);
    font-family: "BPG Arial";
    font-size: 2.08vh;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137254902);
    position: relative;
}

.musical_notes_game-press-button-extra-small{
    position:absolute;
    height:5.68vh;
    bottom:-2.8vh;
    right:0;
}