.m-1366-04-20-notes-button{ 
    background-color: #FFFFFF;
    color: #fff;
    width: 12.26vw;
    height:7.68vh;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    color: rgb(11, 34, 40);
    font-family: "BPG Arial";
    font-size: 2.08vh;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137254902);
    position: relative;
}


.musical_notes_game-press-button-extra-small{
    position:absolute;
    height:5.68vh;
    bottom:-2.8vh;
    right:0;
    &.margin-right{
        right:-15px;
    }
}

.m-1366-04-19-notes-circle-button{
width: 7.55vh;
height: 7.55vh;
-webkit-transform: matrix(0, -1, 1, 0, 0, 0);
transform: matrix(0, -1, 1, 0, 0, 0);
background: #ffffff 0% 0% no-repeat padding-box;
-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137254902);
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137254902);
opacity: 1;
border-radius: 50%;


-webkit-transform: translateX(-50%);
transform: translateX(-50%);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}