
.paint_atributes_container{
  display: flex;
  align-items: flex-end;        
  position: absolute;
 /*  float:right; */
 /*  padding-top:5.89vh;
  padding-right:7.4vw; */
  right:19.85vw; 
  bottom: 7.29vh;
}

.paint_atributes_color_box{
        height:28.77vh;
        width:17.34vw; 
        background-size: contain;
        background-repeat: no-repeat;        
}

.paint_atributes_color_brush{
        height:58.59vh;
        width:43.92vw; 
        background-size: contain;
        background-repeat: no-repeat; 
}