.subject_question_item {
    display: flex;
    color: #0b2228;
    justify-content: left;
    font-size: 2.8vh;
    line-height: 3.9vh;
    padding-bottom: 4.2vh;
    font-family: "BPG Arial";
    align-items: baseline;
    img {
      height: 2.2vh;
      padding-right: 1.9vh;
    }
  }