// subject title wrapper box
.subject_component {
  margin-left: 5.3vw;
  margin-bottom: 5vh;

  // flex box for icon and title
  .item_flex {
    height: inherit;
    display: flex;
    align-items: center;

    // subcejt title bg icon
    .subject_component_itle_icon {
      height: 5.7vh;
      width: 5.7vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      // fill subject bg with different icons
      img {
        height: 100%;
        max-height: 2.2vh;
      }
    }
    .subject_component_title {
      font-family: "ALK Sanet", sans-serif;
      color: #c5cbcd;
      font-size: 2.3vh;
      margin-left: 2vh;
    }
  }

  // Blue bouble image for subject title
  .bg_bouble_pink {
    background-image: url("../img/backgrounds/bg-ilustrations/bouble_pink.svg");
    background-repeat: no-repeat;
  }
  // pink bouble image for subject title
  .bg_bouble_blue {
    background-image: url("../img/backgrounds/bg-ilustrations/bouble_blue.svg");
    background-repeat: no-repeat;
  }
}
