.top-bar{
  height: 4vh;
  width: 342px;
  box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button{
    background-color: rgb(127, 209, 216);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
    border: none;
    box-shadow: none;
  }
  .disabled{
    background-color: rgba(127, 209, 216, 0.4);
    outline: none;
    border: none;
    box-shadow: none;
  }
}