.top-bar {
  height: 4vh;
  width: 342px;
  box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.4);
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background-color: #7FD1D8;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 18px;
    transition: all 0.3s linear;
    overflow: hidden;

    &:hover {
      transition: all 0.3s linear;
      transform: scale(1.5);
    }
  }

  .start {
    box-shadow: 0 0 1px 3px #F7CF4366;
  }

  .select {
    box-shadow: 0 0 1px 3px #F7CF4366;
  }
  
  .links {
    box-shadow: 0 0 1px 3px #F7CF4366;
  }

  .sections{
    box-shadow: 0 0 1px 3px #F7CF4366;
  }
}

#app {
  header {
    position: relative;
    z-index: 9999999;
  }

  .section_box {
    position: relative;
    z-index: 9999999;
  }

  .class_box {
    .circles {
      cursor: pointer;
      height: 8.7vh;
      width: 8.7vh;
      max-height: 57px;
      max-width: 57px;

      &_number-pink {
        background: #ffffff;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        box-shadow: 2px 2px 8px rgba(247, 207, 67, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 4.5vh;
          width: 4.5vh;
          max-height: 30px;
          max-width: 20px;
        }
      }

      &_number-white {
        background: #947DCE;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        box-shadow: 2px 2px 8px rgba(247, 207, 67, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 4.5vh;
          width: 4.5vh;
        }
      }
    }
  }

  .active {
    /*animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;*/
    background: #947DCE;
  }
}
