.top-bar{
  height: 4vh;
  width: 342px;
  box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.4);
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button{
    background-color: rgba(127, 209, 216, 0.4);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
    border: none;
    box-shadow: none;
  }
  .start{
    background-color: rgb(127, 209, 216);
  }
  .select{
    background-color: rgb(127, 209, 216);
    outline: none;
    border: none;
    box-shadow: none;
  }
  .links{
    background-color: rgb(127, 209, 216);
    outline: none;
    border: none;
    box-shadow: none;
  }
  .sections{
    background-color: rgb(127, 209, 216);
    outline: none;
    border: none;
    box-shadow: none;
  }
}

#app {
  header{
    position: relative;
    z-index: 9999999;
  }
  .section_box{
    position: relative;
    z-index: 9999999;
  }
}