.class_- {
  perspective: 1000px;
}
.class_- .checkBox {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  border: 1px solid #000;
}
.class_- .checkBox.active {
  background: #d8c76a;
}
.class_--img_18 {
  margin-top: -22vh;
}
.class_--img_18_1 {
  height: 27vh;
}
.class_--img_18_1 img {
  margin-top: -27vh;
}
.class_--img_18_2 {
  height: 27.86vh;
}
.class_--img_18_3 {
  margin-top: 3vh;
  height: 25vh;
}
.class_--img_18_2 {
  height: 27.56vh;
}
.class_--img_icon {
  display: inline;
  vertical-align: middle;
  width: 3.25vh;
}
.class_--title_purple {
  color: #947DCE;
}
.class_--img_circle {
  width: 8.2vh;
  height: 8.2vh;
}
.class_--img_19_1 {
  height: 27vh;
}
.class_--img_19_1 img {
  margin-top: -25vh;
}
.class_--img_20 {
  height: 51.3vh;
}
.class_--img_21_1 {
  border: 1px solid #947DCE;
  opacity: 1;
  width: 30.59vh;
  height: 16.9vh;
}
.class_--img_21_1.true {
  border: 1px solid #A1DD6F;
}
.class_--img_21_1.false {
  border: 1px solid #dc6c85;
}
.class_--img_21_1 img {
  cursor: pointer;
  margin: 3.5vh auto;
}
.class_--img_21_2 {
  border: 1px solid #947DCE;
  opacity: 1;
  width: 30.59vh;
  height: 16.9vh;
}
.class_--img_21_2.true {
  border: 1px solid #A1DD6F;
}
.class_--img_21_2.false {
  border: 1px solid #dc6c85;
}
.class_--img_21_2 img {
  cursor: pointer;
  margin: 3.5vh auto;
}
.class_--img_21_3 {
  border: 1px solid #947DCE;
  opacity: 1;
  width: 30.59vh;
  height: 16.9vh;
}
.class_--img_21_3.true {
  border: 1px solid #A1DD6F;
}
.class_--img_21_3.false {
  border: 1px solid #dc6c85;
}
.class_--img_21_3 img {
  cursor: pointer;
  margin: 3.5vh auto;
}
.class_--img_22 img {
  height: 6.4vh;
}
.class_--img_23 {
  height: 45.18vh;
}
.class_--img_24_1 {
  height: 24.8vh;
}
.class_--img_24_2 {
  height: 19.5vh;
  margin-top: 7vh;
}
.class_--img_24_3 {
  height: 18vh;
  margin-bottom: -18vh;
}
.class_--img_24_4 {
  height: 24.86vh;
  margin-top: -5vh;
}
.class_--img_24_5 {
  height: 13.67vh;
  margin-right: 5vh;
}
.class_--img_25_circle {
  cursor: pointer;
}
.class_--img_25_circle img {
  width: 12vh;
  height: 12vh;
  margin-bottom: 7vh;
}
.class_--img_25_title {
  font-family: DejaVuSans;
  font-size: 2.6vh;
  color: #FFFFFF;
  opacity: 1;
}
.class_--img_25_cont {
  background: #947DCE;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.3vh;
  height: 10.4vh;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 2.6vh;
}
.class_--img_25_cont.active {
  background: #d8c76a;
}
.class_--img_25_cont.error {
  background: #dc6c85;
}
.class_--img_25_cont.success {
  background: #A1DD6F;
}
.class_- .margin-right {
  margin-right: 10vw;
}
.class_- .memory-card {
  position: relative;
  height: 19.8vw;
  width: 19.8vw;
  max-height: 150px;
  max-width: 150px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.class_- .memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.class_- .memory-card.flip {
  transform: rotateY(180deg);
}
.class_- .memory-card .front-face,
.class_- .memory-card .back-face {
  height: 100%;
  width: 100%;
  padding: 5px;
  position: absolute;
  backface-visibility: hidden;
}
.class_- .memory-card .front-face {
  transform: rotateY(180deg);
}