.class_5_13 {
    &-img_1 {
        height: 60.67vh;
        max-height: 466px;
        margin: 5vh auto 3vh;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 45vh;
        max-height: 347px;
    }
    &-img_4 {
        height: 60.4vh;
        max-height: 464px;
    }
    &-img_5 {
        height: 49.7vh;
        max-height: 382px;
        img {
            height: 100%;
        }
    }
    &-img_6 {
        height: 73.56vh;
        max-height: 565px;
    }
    &-img_7 {
        height: 46.87vh;
        max-height: 360px;
    }
    &-img_8 {
        height: 23.69vh;
        max-height: 182px;
    }
}