.sorting-methods{
    &-16{
        height:40.8vh;
        max-height:314px;
    img{
        height:100%;
    }
    }
 
    &-17{
        height:50vh;
        max-height:385px;
    img{
        height:100%;
    }
    }
    &-18{
        height:38.2vh;
        max-height:294px;
    img{
        height:100%;
    }
    }
    &-19{
        height:47vh;
        max-height:361px;
    img{
        height:100%;
    }
    }
    &-20{
        height:54.5vh;
        max-height:419px;
    img{
        height:100%;
    }
    }
    &-21{
        height:40.69vh;
        max-height:312.5px;
    img{
        height:100%;
    }
    }
}

.sorting-methods-grey-div-16{
    border: 8px solid #DDDDDD;
    height:8.2vh;
    width:8.2vh;
}