.cs-5-13{
    &-22-img{
        height: 56.77vh;
        margin-top: 3vh;
    }
    &-23-img{
        height: 46.22vh;
    }
    &-24-img{
        height: 33.46vh;
        margin-top: 2vh;
    }
    &-25-img{
        height: 22.13vh;
        margin-top: 5vh;
    }
}