.class_5_13 {
    &-img_5_1 {
        height: 50vh;
        max-height: 386.5px;
        position:relative;
        img {
            height: 100%;
        }
    }
    &-title {
        position: absolute;
        top: 2vh;
        left: 6vh;
        p {
            font-family: DejaVu Sans;
            font-size: 18px;
            color: white;
        }
    }
    &-box_item_1 {
        position: absolute;
        top: 16vh;
        left: 15vh;
    }
    &-box_item_1_2 {
        position: absolute;
        top: 24.2vh;
        left: 15vh;
    }
    &-box_item_2 {
        position: absolute;
        top: 24.2vh;
        left: 26vh;
    }
    &-box_item_3 {
        position: absolute;
        top: 24.2vh;
        left: 37vh;
    }
    &-box_item_4 {
        position: absolute;
        top: 30.6vh;
        left: 48vh;
    }
    &-img_kolba {
        height: 27vh;
    }
    &-img_middle_kolba {
        height: 18.7vh;
    }
    &-img_small_kolba {
        height: 12.3vh;
    }
    &-img_ball {
        position: absolute;
        top: 2.6vh;
        height: 6vh;
    }
    &-img_ball_1_2 {
        position: absolute;
        top: 0.3vh;
        height: 6vh;
    }
    &-img_ball_2 {
        position: absolute;
        top: 0.3vh;
        height: 6vh;
    }
    &-img_ball_2_2 {
        position: absolute;
        top: 6.3vh;
        height: 6vh;
    }
    &-img_ball_3 {
        position: absolute;
        top: 0.3vh;
        height: 6vh;
    }
    &-img_ball_3_2 {
        position: absolute;
        top: 6.3vh;
        height: 6vh;
    }
    &-img_ball_4 {
        position: absolute;
        top: 0;
        height: 6vh;
    }
   
}