.cs-5-13-div {
    &-6-img{
        height:73.56vh;
        position:absolute;
        bottom:0;
        right:0;
    }
    &-7-img{
        height: 46.87vh;
    }
    &-8-img{
        height:23.69vh;
    }
    &-3-1-img{
        height:50.26vh;
    }
    &-10-1-img{
        height:49.21vh;
    }
    &-14-1-img{
        height:46.74vh;
    }
    img {
        height: 100%;
    }
}
