.background-art-3{  
    &-16{
        background-image: url(../img/gakvetilebi/xelovneba/forest/1366-03-38.svg);
    }
    &-17{
        background-image: url(../img/gakvetilebi/xelovneba/forest/1366-03-39.svg);
    }
    &-18{
        background-image: url(../img/gakvetilebi/xelovneba/forest/1366-03-40.svg);
    }
    &-19{
        background-image: url(../img/gakvetilebi/xelovneba/forest/1366-03-41.svg);
    }
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-art-3-title{
    &-cont{
        padding-top: 10vh;
    }
    color: white;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}