.class_6_25 {
    &-img_1 {
        height: 59.5vh;
        max-height: 457px;
        margin: 4vh auto 3vh;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        position: fixed;
        bottom: 0;
        right: 20vh;
        height: 59.63vh;
        max-height: 458px;
        img {
            height: 100%;
        }
    }
    &-img_4 {
        height: 41vh;
        max-height: 316px;
        img {
            height: 100%;
        }
    }
    &-img_5 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 56.5vh;
        max-height: 434px;
        img {
            height: 100%;
        }
    }
    &-img_6 {
        height: 44vh;
        max-height: 341px;
        img {
            height: 100%;
        }
    }
    &-img_7 {
        height: 45.96vh;
        max-height: 353px;
        img {
            height: 100%;
        }
    }
}