.cs-6-25{
    &-15-img{
        height: 59.89vh;
        position:absolute;
        bottom:0;
        right:10.6vw;
    }
}
.class_6_25 {
    &-img-16{
        height: 50.13vh;
    }
    &-img-17{
        height: 46.87vh;
        position: fixed;
        bottom: 9.89vh;
        right: 3vw;
    }
    &-img-18{
        height: 32.29vh;
        position: fixed;
        bottom: 8.86vh;
        right: 25.72vh;
    }
 }
 
img{
    height:100%;
    }
