.cs-6-25{
    &-15-img{
        height: 59.89vh;
        position:absolute;
        bottom:0;
        right:10.6vw;
    }
    &-16-img{
        height:50.13vh;
    }
    &-17-img{
        height:46.87vh;
        position:absolute;
        bottom:9.89vh;
        right:3vw;
    }
    &-18-img{
        height: 32.29vh;
        position:absolute;
        bottom:14.86vw;
        right:5.72vh;
 }
 
img{
    height:100%;
    }
}