.creating-games{
    img{
        height:100%;
    }

    &-8{
        height:46vh;
        max-height:356px;
    }
    &-9{
        height:56.5vh;
        max-height:434px;
    }
    &-10{
        height:39.4vh;
        max-height:303px;
    }
    &-11{
        height:61.5vh;
        max-height:473px;
    }
    &-12{
        height:36.4vh;
        max-height:280px;
    }
    &-13{
        height:41vh;
        max-height:315px;
    }
    &-14{
        position: fixed;
        bottom:0;
        right:0;
        height:57vh;
        max-height:439px;
    }
}
