.background-cs-6-25-19 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-games-with-objects-25/cs-6-25-19.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-6-25-20 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-games-with-objects-25/cs-6-25-20.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-6-25-21 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-games-with-objects-25/cs-6-25-21.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-6-25-22 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Creating-games-with-objects-25/cs-6-25-22.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}




.background-cs-title-purple{
    &-cont{
        padding-top: 10vh;
    }
    color: #62548A;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
    line-height: 1.5;
}
