.class_6_25 {
    &-img_5_1 {
        height: 78.51vh;
    }
    &-img_6_1 {
        height:55.85vh;
    }
    &-img_12_1 {
        height:52.86vh;
    }
    &-img_13_1 {
        height: 74.6vh;
    }
img {
    height:100%;
    }
}