.cs-6-25{
    &-5-1-img{
        height: 78.51vh;
    }
    &-6-1-img{
        height:55.85vh;
    }
    &-12-1-img{
        height:52.86vh;
    }
    &-13-1-img{
        height: 74.6vh;
        position:absolute;
        bottom:14.86vw;
        right:5.72vh;
    }
img{
    height:100%;
    }
}