#A-1366-06-22 {

  .text {
    font-family: "DejaVu Sans Oblique", sans-serif;
    font-size: 2.3vh;
    padding-top: 1vh;
  }

  .image_container {
    height: 46vh;
    width: 26vw;
    max-width: 355px;
    max-height: 355px;
    margin-top: 5.5vh;
    margin-bottom: 2vh;
    position: relative;

    #bg {
      position: absolute;
      height: 100%;
      z-index: 5;
    }

    #middle_bg {
      position: absolute;
      height: 36%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
#boats{
  height: 100%;
  position: relative;
  z-index: 50;
}
    .click_icon {
      border-radius: 100%;
      height: 5vh;
      width: 5vh;
      max-height: 40px;
      max-width: 40px;
      z-index: 15;
      background-image: url('../img/gakvetilebi/xelovneba/Landscape/touch-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }
    .M{
      position: absolute;
      cursor: pointer;
      top: 22%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9999999;
    }
  }

  .image_text {
    font-family: 'DejaVu Sans Oblique', sans-serif;
    font-size: 1.8vh;
    text-align: center;
  }
}
