.a-1366-06-box {
  .a-1366-06-img-box {
    height: 40vh;
  }
  p {
    font-family: "DejaVu Sans Oblique";
    font-size: 2vh;
    padding-top: 1vh;
    line-height: 2;
  }
  .touch-icon-1 {
    position: absolute;
    top: 10vh;
    left: 1vh;
    opacity: 0.8;
    height: 1vh;
    z-index: 99;
    img {
      height: 6vh;
    }
  }
  .touch-icon-2 {
    position: absolute;
    top: 28vh;
    left: 16vh;
    opacity: 0.8;
    z-index: 99;

    img {
      height: 6vh;
    }
  }
  .touch-icon-3 {
    position: absolute;
    top: 10vh;
    left: 31vh;
    opacity: 0.8;
    z-index: 99;
    img {
      height: 6vh;
    }
  }
  .left-figure {
    position: absolute;
    top: 0;
    left: 0;
    img {
      height: 40vh;
    }
  }
  .middle-figure {
    position: absolute;
    top: 0;
    left: 0;
    img {
      height: 40vh;
    }
  }
  .right-figure {
    position: absolute;
    top: 0;
    right: 0;
    img {
      height: 40vh;
    }
  }
}
