.music-new-1-div{
    img{
        height:100%;
    }
    &-11-img{
        height:55.9vh;
        max-height:430px;
    }
    &-13-img{
        height:66.79vh;
        max-height:513px;
    }
}

.music-new-15-div{
    img{
        height:100%;
    }
    &-img-1{
        height:22.52vh;
        max-height:173px;
    }
    &-img-2{
        height:22.52vh;
        max-height:173px;
    }
    &-img-3{
        height:22.52vh;
        max-height:173px;
    }
    &-img-4{
        height:22.52vh;
        max-height:173px;
    }
}

.music-new-18-div{
    img{
        height:100%;
    }
    &-img{
        height:53.38vh;
        max-height:410px;
    }
}

.music-16{
    img{
        height:100%;
    }
    &-img-1{
        height:22.52vh;
        max-height: 173px;
    }
    &-img-2{
        height:22.52vh;
        max-height: 173px;
    }
    &-img-3{
        height:22.52vh;
        max-height: 173px;
    }
}

.music-14{
    img{
        height:100%;
    }
    &-img-1{
        height:14.32vh;
        max-height: 110px;
    }
    &-img-2{
        height:14.32vh;
        max-height: 110px;
    }
    &-img-3{
        height:14.32vh;
        max-height: 110px;
    }
}