.music-new-1-div{
    img{
        height:100%;
    }
    &-11-img{
        height:55.9vh;
        max-height:430px;
    }
    &-13-img{
        height:66.79vh;
        max-height:513px;
    }
}

.music-new-15-div{
    img{
        height:100%;
    }
    &-img-1{
        height:22.52vh;
        max-height:173px;
    }
    &-img-2{
        height:22.52vh;
        max-height:173px;
    }
    &-img-3{
        height:22.52vh;
        max-height:173px;
    }
    &-img-4{
        height:22.52vh;
        max-height:173px;
    }
}

.music-new-18-div{
    img{
        height:100%;
    }
    &-img{
        height:53.38vh;
        max-height:410px;
    }
}

.music-16{
    img{
        height:100%;
    }
    &-img-1{
        height:22.52vh;
        max-height: 173px;
    }
    &-img-2{
        height:22.52vh;
        max-height: 173px;
    }
    &-img-3{
        height:22.52vh;
        max-height: 173px;
    }
}

.music-14-img-col{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5vh;
}

.music-14-img{
    img{
        height:14.32vh;
    }
    span{
        margin-bottom:1vh;
        color:#947DCE;
        font-family: "DejaVuSans";
        font-size:2.6vh;
    }
}

.music-new-1-div-12-img-circle{
    margin-top:auto !important;
    margin-right:15vh;
}