.protect-behavior {
  &_page-12 {
    height: 53vh;
    max-height: 405px;

    img {
      height: 100%;
    }

    &_addon {
      height: 7vh;
      max-height: 54px;
      bottom: 0;

      img {
        height: 100%;
      }
    }
  }

  table {
    border-radius: 0px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #947DCE;

    td {
      border: 2px solid #947DCE;
      max-height: 41px;
      max-width: 41px;
      height: 6vh;
      width: 6vh;

      div {
        height: 100%;
        width: 100%;

        img {
          height: 45%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &_count {
    width: 65%;

    div {
      border-radius: 100%;
      box-shadow: 2px 2px 8px #947DCE66;
      height: 36px;
      width: 36px;
      color: #947DCE;
    }
  }

  button {
    width: 21vh;
  }

  &_page-13 {
    height: 60vh;
    max-height: 459px;
    position: fixed;
    bottom: 0;
    right: 10%;

    img {
      height: 100%;
    }
  }

  &_page-14 {
    .dot {
      border: 2px solid #696969;
      border-radius: 8px;
      height: 25px;
      width: 25px;
      margin-right: 2.3vh;
    }

    .img-box {
      height: 7.2vh;
      max-height: 54px;

      img {
        height: 100%;
      }
    }
  }
}

.protect-behavior_page-14, .main-img-box {
  width: 100%;
  img {
    height: 50vh;
  }
}