.class_4_3 {
    &-img_box_6 {
        height: 42.78vh;
        max-height: 328.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_7 {
        height: 49.97vh;
        max-height: 383.8px;
        img {
            height: 100%;
        }
    }
    &-img_box_7_1 {
        height: 14.25vh;
        max-height: 109.5px;
        img {
            height: 100%;
        }
    }
    &-img_box_8 {
        position: fixed;
        bottom: 0;
        height: 64.84vh;
        max-height: 498px;
        img {
            height: 100%;
        }
    }
    &-img_box_9 {
        position: fixed;
        bottom: 0;
        height: 57.79vh;
        max-height: 443.9px;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        height: 39.8vh;
        max-height: 306px;
        img {
            height: 100%;
        }
    }
    &-img_box_11 {
        height: 50vh;
        max-height: 385px;
        img {
            height: 100%;
        }
    }
}
.checkmark_box{
    border-radius: 1vh;
    height: 3.25vh;
    width: 3.25vh;
    margin: .5vh 2vh 1vh 0;
    border: 2px solid #696969;
}
.checkmark_box.circle-fill {
    background-color: #947dce;
    border-color: #947dce;
}
