.background-cs-4-3{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Predicting-behavior-3/cs-4-3-19-img.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Predicting-behavior-3/cs-4-3-20-img.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Predicting-behavior-3/cs-4-3-21-img.svg");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Predicting-behavior-3/cs-4-3-22-img.svg");
    }
}