.Landscape_6 {
    &-title_item {
        font-family: 'DejaVuSans';
        font-size: 2.6vh;
    }
    &-title_item_9 {
        position: absolute;
        font-size: 2.64vh;
        font-family: 'DejaVu Sans Oblique';
        color: #47A8A8;
        line-height: 3.69vh;
        top: 64%;
        left: 46%;
        transform: translate(-40%, -50%);
        text-align: center;
    }
    &-img_box_1 {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-img_box_4 {
        height: 45.44vh;
        max-height: 45.44vh !important;
        img {
            height: 100%;
        }
    }
    &-img_box_9 {
        height: 58vh;
        margin-top: 5.24vh;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        height: 45.44vh;
        max-height: 45.44vh !important;
        margin-top: 7.81vh;
        img {
            height: 100%;
        }
    }
}