.Landscape_6 {
    &-title_item_11 {
        color: #47A8A8;
        line-height: 7vh;
        text-align: center;
        font-family: 'DejaVu Sans Oblique'
    }
    &-img_box_10 {
        height: 46.48vh;
        img {
            height: 100%;
        }
    }
}