.N-1366-05-21-container {  
  background-image: url(../../../../img/gakvetilebi/buneba/Where-sun-goes/N-1366-05-21-container.svg);
  
}

.N-1366-05-21-img-container{
  height:75.98vh;
  img{
    height:100%;
    margin:auto;
    padding-top:22.13vh;
  }
} 
