.n_hint_shadow {
  &-text {
    font-size: 2.34vh;
    font-family: "BPG Arial";
    margin: 5vh 3vw 3vh;
    font-weight: bold;
  }
  &-img {
    height: 53.77vh;
  }
  &-img-44{
      height: 36.97vh;
      margin-top: 5vh;
  }
  &-subject_question_item{
      margin-top: 0;
      margin-left: 3vw;
  }
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}
