.N-1366-05-48-laptop-container{
  height: 33.46vh;
  position:absolute;
  right:15.7vw;
  top:20vh;
  img{
    height:100%;
  }
}
.N-1366-05-48-cols-container
{
  margin-top:28.38vh;
}
.N-1366-05-48-earth-container, .N-1366-05-48-sun-container, .N-1366-05-48-moon-container, .N-1366-05-48-moon-container{
  height: 21.87vh;
  img{
    height:100%;
  }
  p{
    margin-top:4.16vh;
    text-align: center;
  }
}
.N-1366-05-48-sun-container{
  height:34.24vh;

}
.N-1366-05-48-moon-container{
  height: 14.45vh;
}

