#N-1366-05-10 {
  .N-1366-03-153 {
    background-image: url("../img/gakvetilebi/buneba/Where-sun-goes/sun-10.png");
    background-position: center;
  }
}

.nature-text-wrapper_16 {
  position: absolute;
  bottom: 0;
  height: 16vh;
  left: 0;
  right: 0;
  background: #fff;
  background:
          transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.949) 58%, white 100%);
}