.cs-3-9-15-div{
  height:43.22vh;
  img{
    height:100%;
  }
}
.cs-3-9-16-div{
  height:58.46vh;
 
  img{
    height:100%;
  }
}

.cs-3-9-17-img{
  height: 40.49vh;
  margin: 5vh auto 0;
}