.cs-3-9 {
  &-18-ill-img {
    height: 59.07vh;
    margin: 5vh auto 0;
  }
  &-19-ill-img {
    height: 62.36vh;
    margin-top: 4vh;
  }
  &-20-img {
    height: 57.03vh;
    position: relative;
    right: -17.2vh;
    margin-top: 5.5vh;
  }
}
