.Class_2 {
    &-title_item_2 {
        font-size: 2.6vh;
        font-family: 'DejaVuSans';
    }
    &-search_engine_9_2 {
        position: fixed;
        right: 24.2vh;
        top: 39vh;
        img {
            height: 10.9vh;
            max-height: 84px;
        }
    }
    &-search_engine_9_3 {
        height: 39.96vh;
        max-height: 306.9px;
        img {
            height: 100%;
        }
    }
    &-search_engine_9_4 {
        position: fixed;
        right: 0;
        bottom: 0;
        img {
            height: 49.99vh;
            max-height: 383.96px;
        }
    }
    &-search_engine_9-5 {
        img {
            height: 26.04vh;
            max-height: 200px;
        }
    }
    &-search_engine_9_6 {
        height: 40.75vh;
        max-height: 313px;
        img {
            height: 100%;
        }
    }
    &-search_engine_9_7 {
        height: 40.36vh;
        max-height: 310px;
        img {
            height: 100%;
        }
    }
    &-search_engine_9_8 {
        margin-top: 5vh;
        height: 28.76vh;
        max-height: 220.9px;
        img {
            height: 100%;
        }
    }
}