.search_image-box {
  &-6_1 {
    height: 24vh;
    max-height: 185px;

    img {
      height: 100%;
    }
  }

  &-15_1 {
    height: 59.5vh;
    max-height: 457px;

    img {
      height: 100%;
    }
  }
}