.cs-5-2{
    &-1-img{
        height: 58.33vh;
        margin: 5vh auto;
    }
    &-3-img{
        height: 34.37vh;
        margin-top: 5vh;
    }
    &-4-img{
        height: 37.76vh;
        margin-top: 5vh;
    }
    &-5-img{
        height: 41.01vh;
        margin-top: 2vh;
    }
}