.my-first-robot{
  &-11{
      height:53.12vh;
      max-height:408px; 
    img{
        height:100%;
    }
  }
  &-12{
    height:40vh;
    max-height:314px; 
  img{
      height:100%;
  }
}
&-13{
    height:61.8vh;
    max-height:475px; 
  img{
      height:100%;
  }
}
&-14{
    height:53.2vh;
    max-height:409px; 
  img{
      height:100%;
  }
}
&-15{
    height:52vh;
    max-height:400px; 
  img{
      height:100%;
  }
}
&-15{
    height:52vh;
    max-height:400px; 
  img{
      height:100%;
  }
}
&-16{
    height:62vh;
    max-height:483px; 
  img{
      height:100%;
  }
}
}