.cs-5-2-div {
    &-17-img{
        height:64.97vh;
        position:absolute;
        bottom:0;
        right:15vw;
    }
    &-18-img{
        height: 56.11vh;
    }
    &-19-img{
        height:38.28vh;
    }
    &-3-1-img{
        height:53.15vh;
        position:absolute;
        top:15vh;
        right:13vw;
    }
    &-3-2-img{
        height:51vh;
    }
    img {
        height: 100%;
    }
}
