.class_5_2 {
    &-img_6 {
        height: 40.6vh;
        max-height: 312px;
        img {
            height: 100%;
        }
    }
    &-img_7 {
        height: 42vh;
        max-height: 322.6px;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        height: 47vh;
        max-height: 361px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        position: fixed;
        bottom: 0;
        height: 59vh;
        max-height: 454px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 49vh;
        max-height: 378.8px;
        img {
            height: 100%;
        }
    }
}