.n-hint {
  &-img-group {
    height: 58.52vh;
    width: 100%;
  }
  &-sm-text {
    font-family: "BPG Arial";
    font-size: 2.08vh;
    color: #0b2228;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    //   padding: 3vh 0;
    }
  }
}
