.cs-3-5-15-dashed-div-container{
    flex-wrap:wrap;
    align-items: center;
    margin-left:6.6vh;
}

.cs-3-5-15-dashed-div{
    height:11.71vh;
    width:11.71vh;
    border: 1px dashed #707070;
    margin-right:6.6vh;    
}

.cs-3-5-15-img-div-md{
    height:11.19vh;
    img{
        height:100%;
    }
}
.cs-3-5-15-img-div-sm{
    height:15.62vh;
    img{
        height:100%;
    }
}
.cs-3-5-15-img-div-bg{
    height:18.61vh;
    img{
        height:100%;
    }
}

