.background-c-05-29 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/programming-language-5/C-5-5-29.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}.background-c-05-30 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/programming-language-5/C-5-5-30.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}.background-c-05-31 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/programming-language-5/C-5-5-31.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}.background-c-05-32 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-3/programming-language-5/C-5-5-32.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 h1 {
        color: #62548a;
    }
}