.cs-5-18 {
    &-1-img {
        height: 53.64vh;
        margin: 8vh auto 5vh;
    }
    &-3-img {
        height: 46.09vh;
        margin: 3vh auto;
    }
    &-4-img {
        height: 49.34vh;
        margin-top: 7vh;
    }
    &-5-img {
        height: 54.07vh;
        position: relative;
        top: -20vh;
        right: -7vh;
    }
    &-6-img {
        height: 58.33vh;
        margin-top: 9vh;
    }
    &-7-img {
        height: 54.55vh;
        position: relative;
        bottom: 8vh;
    }
    &-8-img {
        height: 58.33vh;
    }
}
