  .cs-5-18-div{
    &-22-img
      {
      height:49.34vh;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom:0;
      }
  &-23-img
      {
      height:65.36vh;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom:0;
      }
  &-24-img
      {
      height:47vh;
      position: absolute;
      right:0;
      bottom:0;
      }
  &-25-img
      {
      height:47.78vh;
      position: absolute;
      right:0;
      bottom:0;
      }
      img{
        height:100%;
      }
}