.class_5_18 {
    &-img_box_9 {
        position: fixed;
        bottom: 0;
        height: 53vh;
        max-height: 408px;
        img {
            height: 100%;
        }
    }
    &-img_exel {
        display: inline;
        vertical-align: middle;
        height: 4.1vh;
        max-height: 27px;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        position: fixed;
        bottom: 0;
        height: 60.66vh;
        max-height: 465.9px;
        img {
            height: 100%;
        }
    }
    &-img_box_11 {
        position: fixed;
        bottom: 0;
        height: 48.56vh;
        max-height: 373px;
        img {
            height: 100%;
        }
    }
    &-img_box_12 {
        position: fixed;
        bottom: 0;
        height: 56.64vh;
        max-height: 435px;
        img {
            height: 100%;
        }
    }
    &-img_box_13 {
        position: fixed;
        bottom: 0;
        height: 50vh;
        max-height: 384px;
        img {
            height: 100%;
        }
    }
    &-img_box_14 {
        position: fixed;
        bottom: 0;
        height: 65.36vh;
        max-height: 502px;
        img {
            height: 100%;
        }
    }
    &-img_box_15 {
        position: fixed;
        bottom: 0;
        height: 46.6vh;
        max-height: 358px;
        img {
            height: 100%;
        }
    }
    &-img_box_16 {
        height: 34.6vh;
        max-height: 265.8px;
        img {
            height: 100%;
        }
    }
}
