.background-cs-5-18{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/diagram-in-electronic-table-18/cs-5-18-26-img.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/diagram-in-electronic-table-18/cs-5-18-27-img.svg");
    }
    &-28{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/diagram-in-electronic-table-18/cs-5-18-28-img.svg");
    }
    &-29{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/diagram-in-electronic-table-18/cs-5-18-29-img.svg");
    }
}