.car_game {
  &_img_numbers-container {
    display: flex;
    justify-content: space-around;
  }
  &_img_number {
    height: 4.02vh;
  }
}
.btn_play-music{
  height: 5.77vh;
  cursor: pointer;
}
/* The custom_radioButton_container */
.custom_radiobutton {
  &_full_container {
    display: flex;
    justify-content: space-around;
    margin: 2vh 0 4vh;

    &-margins {
      margin: 4vh 0 6vh;
    }
  }
}



.custom_radioButton_container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.active {
    .checkmark {
      background: #7FD1D8;
    }
  }
  &.error {
    .checkmark {
      background: #dc6c85;
    }
  }

  &.correct {
    &::after {
      display: none;
    }
  }
}



.custom_radioButton_container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkmark.error {
    background: #dc6c85;
  }

  .checkmark.selected {
    background: #f7d24b;
  }

  .checkmark.success {
    background: #dc6c85;
  }
}


.correct::after {
  display: none;
}

/* Hide the browser's default radio button */
.custom_radioButton_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.51vh;
  width: 3.51vh;
  border-radius: 50%;
  border: 1px solid #c5cbcd;
}

