.music_M-1366-49_content_cols{
  padding-top: 6.51vh;
}

.music_M-1366-49_content_text{
  color: #0B2228;
    font-size: 2.34vh;
    font-family: 'BPG Arial';   
}

.trumpet_game__round_col{
  height: 16.27vh;
}