.music_m-1366-49_content_cols{
  padding-top: 6.51vh;
}

.music_m-1366-49_item_text{
  color: #0B2228;
    font-size: 2.34vh;
    font-family: 'BPG Arial';   
}

.trumpet_game__round_col{
  height: 16.27vh;
  img{
    height: 16.27vh;
  }
}

.music_m-1366-49_item{
  padding-bottom: 0;
}

.music_m-1366-49_content_text{
  padding-bottom: 0;
}

  .music_m-1366-49_content_padding_big{
padding-bottom:2.97vh;
}  

.music_m-1366-49_content_padding_small{
  padding-bottom:1.97vh;
}

.trumpet_game_content_trumpets{
height: 24.05vh;
}


.trumpet_game_container{
 
  position :relative;
  .trumpet_game__round_left .trumpet_game__round_right{
    position: absolute;
  }
  .trumpet_game__round_left{
  top:6.09vh;
  left:10.09vw;
  }
  .trumpet_game__round_right{ 
    left:6.09vw;
    }
}