.m_game_text-container {
  margin-top: 0;
}
.listen_text-container {
  display: flex;
  margin-top: 2.5vh;
  &-txt-margin {
    margin-left: 1.36vw;
  }
}

.listen_text-container--m {
  margin-top: 6vh;
}

.car_game {
  &_container_full {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5vh !important;
    &-between {
      justify-content: space-between;
    }
  }
  &_container {
    position: relative;
    height: 21.87vh;

    &.trumpet_game__round_col {
      .car_game_white_circle {
        width: 7.55vh;
        height: 7.55vh;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: calc(100% + 17px);
      background: transparent;
    }

    &.error {
      .car_game_white_circle {
        background: red;
      }
    }
  }
  &_img {
    img {
      height: 21.87vh;
    }
  }
  &_white_circle {
    width: 7.55vh;
    height: 7.55vh;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    bottom: -2.6vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 4.03vh;
    }
  }
}
.game_btns_position {
  position: absolute;
  right: 18vh;
  bottom: 15vh;
}

#trumpetQuestion .car_game_white_circle.error {
  background: red;
}

.car_game_white_circle.selected {
  background: #f7d24b;
}