.bg_bouble_blue {
    background-image: url("../img/backgrounds/bg-ilustrations/bouble_blue.svg");
    background-repeat: no-repeat;
}

.dots {
    margin-top: 4.6vh;

    &-box {
        padding-left: 0;
    }

    .dot-select {
        margin-bottom: 3vh;

        &:last-child {
            margin-bottom: 0;
        }
    }

    span {
        height: 3.5vh;
        width: 3.5vh;
        max-width: 24px;
        max-height: 24px;
        border: 1px solid #C5CBCD;
        transform: scale(2%);
        display: inline-block;
        border-radius: 100%;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        margin-right: 1.3vw;
    }

    p {
        font-size: 2vh;
        color: rgb(11, 34, 40);
        font-family: 'BPG Arial', sans-serif;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .active {
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 2vh;
            width: 2vh;
            max-width: 22px;
            max-height: 22px;
            background: #7FD1D8;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            margin-top: -1vh;
            margin-left: -1vh;
        }
    }

}




#M-1366-22 {
    .dots .dot-select {
        margin-bottom: 0;
    }

    .dot-select {
        .voices__question__dot {
            &.correct {
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 2vh;
                    width: 2vh;
                    max-width: 22px;
                    max-height: 22px;
                    background: #7FD1D8;
                    border-radius: 100%;
                    top: 50%;
                    left: 50%;
                    margin-top: -1vh;
                    margin-left: -1vh;
                }
            }


            &.error {
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 2vh;
                    width: 2vh;
                    max-width: 22px;
                    max-height: 22px;
                    background: red;
                    border-radius: 100%;
                    top: 50%;
                    left: 50%;
                    margin-top: -1vh;
                    margin-left: -1vh;
                }
            }
        }
    }    

    .music_content_wrapper {
        margin-left: 5.3vw;
        font-size: 2.3vh;
        color: #0B2228;
        font-family: 'BPG Arial', sans-serif;

        p {
            margin-bottom: 4vh;
        }

        .music_code_box {
            margin-top: 4.6vh;
            max-width: 446px;
            max-height: 320px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .music_play_wrapper {
            width: 100%;

            .music_play_box {
                margin-left: 0.8vw;
                height: 14vh;
                width: 14vh;
                max-width: 110px;
                max-height: 110px;
                background: #fff;
                border-radius: 100%;
                margin-bottom: 1.5vh;
                box-shadow: 0px 3px 6px #00000029;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '';
                    background: transparent;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .img {
                    max-width: 30px;
                    max-height: 30px;
                    height: 100%;
                    width: 100%;
                }

                &_icon {
                    height: 6vh;
                    width: 6vh;
                    max-width: 42px;
                    max-height: 42px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    &:last-child {
                        margin-bottom: 0;
                    }

                }
            }
        }
    }
}