.tables-data {
  &_img {
    position: fixed;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
  }

  &_page-1 {
    height: 56vh;
    max-height: 430px;

    img {
      height: 100%;
    }
  }

  &_page-3 {
    height: 45vh;
    max-height: 342px;

    img {
      height: 100%;
    }
  }

  &_page-4 {
    height: 45vh;
    max-height: 345px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
      height: 100%;
    }
  }

  &_page-5 {
    height: 58vh;
    max-height: 451px;

    img {
      height: 100%;
    }
  }

  &_page-6 {
    height: 56vh;
    max-height: 434px;

    img {
      height: 100%;
    }
  }
}
