.cs-5-16 {
    &-13-img {
        height: 55.98vh;
        margin-top: 10vh;
    }
    &-14-img {
        height: 55.59vh;
        margin-top: 19vh;
    }
    &-15-img {
        height: 45.44vh;
        margin-top: 13vh;
    }
    &-16-img {
        height: 62.5vh;
        margin-left: 2vh;
    }
    &-17-img {
        height: 47.52vh;
    }
    &-18-img {
        height: 58.85vh;
        margin-left: 5vh;
        margin-top: 3vh;
    }
}
