.class_5_16 {
    &-img_7 {
        position: fixed;
        bottom: 0;
        height: 51.56vh;
        max-height: 396px;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        height: 50.65vh;
        max-height: 389px;
        img {
            height: 100%;
        }
    }
    &-img_excel {
        display: inline;
        vertical-align: middle;
        height: 3.125vh;
        max-height: 24px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        position: fixed;
        bottom: -2vh;
        height: 43.48vh;
        max-height: 334px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        position: fixed;
        bottom: 0;
        height: 57.68vh;
        max-height: 443px;
        img {
            height: 100%;
        }
    }
    &-img_11 {
        height: 28.64vh;
        max-height: 220px;
        img {
            height: 100%;
        }
    }
    &-img_12 {
        position: fixed;
        bottom: 0;
        height: 57.68vh;
        max-height: 443px;
        img {
            height: 100%;
        }
    }
}