.cs-6-1{
    &-1-img{
        height: 52.10vh;
        margin: 8vh auto 5vh;
    }
    &-3-img{
        height: 35.15vh;
        margin: 5vh auto 0;
    }
    &-4-img{
        height: 39.74vh;
        margin-top: 3vh;
    }
    &-5-img{
        height: 43.03vh;
        margin-top: 1vh;
    }
    &-6-img{
        height: 51.17vh;
        margin: 5vh auto 0;
    }
    &-7-img{
        height: 38.02vh;
        margin: 12vh auto 0;
    }
    &-8-img{
        height: 41.27vh;
        margin: 10vh auto 0;
    }
} 