.class_6_1 {
    &-img_box_9 {
        position: fixed;
        bottom: 0;
        height: 61.97vh;
        max-height: 476px;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        height: 47.59vh;
        max-height: 365.5px;
        img {
            height: 100%;
        }
    }
    &-img_box_11 {
        height: 45.92vh;
        max-height: 352.7px;
        img {
            height: 100%;
        }
    }
    &-img_box_12 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 52.7vh;
        max-height: 405px;
        img {
            height: 100%;
        }
    }
    &-img_box_13 {
        position: fixed;
        bottom: 0;
        height: 49.7vh;
        max-height: 381.89px;
        img {
            height: 100%;
        }
    }
    &-img_box_14 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 69.79vh;
        max-height: 536px;
        img {
            height: 100%;
        }
    }
    &-img_box_15 {
        height: 35.28vh;
        max-height: 271px;
        img {
            height: 100%;
        }
    }
    &-img_box_16 {
        position: fixed;
        bottom: 0;
        height: 67.9vh;
        max-height: 521.5px;
        img {
            height: 100%;
        }
    }
}