.background-cs-6-1 {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  &-20 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/create-game-1/cs-6-1-20-img.svg");
  }

  &-21 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/create-game-1/cs-6-1-21-img.svg");
  }

  &-22 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/create-game-1/cs-6-1-22-img.svg");
  }

  &-23 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-6/create-game-1/cs-6-1-23-img.svg");
  }
}
