.create-game {
  &_page-6-1 {
    height: 61vh;
    max-height: 467px;

    img {
      max-height: 100%;
    }
  }

  &_page-7-1 {
    height: 51vh;
    max-height: 395px;

    img {
      height: 100%;
    }
  }

  &_page-8-1 {
    height: 61vh;
    max-height: 467px;

    img {
      height: 100%;
    }
  }

  &_page-13-1 {
    height: 68vh;
    max-height: 525px;

    img {
      height: 100%;
    }
  }

  &_page-14-1 {
    height: 48vh;
    max-height: 367px;

    img {
      height: 100%;
    }
  }

  &_page-15-1 {
    height: 74vh;
    max-height: 568px;

    img {
      height: 100%;
    }
  }
}
