.snow-15 {
  .img-box {
    height: 31.5vh;
    max-height: 242px;
    img {
      height: 100%;
    }
  }
  .question-box {
    height: 19.4vh;
    max-height: 149px;
    img{
      height: 100%;
    }
  }
  a{
    color: #1b1e21;
  }
}