.snow-50 {
  .active {
    background: #22B573 !important;
  }

  .btn-box {
    margin-top: 8.3vh;
    font-family: 'FiraGO Book', serif;
    font-weight: normal;
    font-style: normal;
    .btn{
      outline: none;
      background: #F15A24;
      border-radius: 12px;
      color: #FFFFFF;
      width: 100%;
      padding: .8rem 0;
      border: none;
      box-shadow: none;
      font-size: 2vh;
      :active {
        background: #22B573 !important;
      }
    }
  }
}


@media only screen and (max-width: 992px){
  .snow-50 {
    .btn-box .btn{
      font-size: 1vh;
    }
  }
}


.cls-1 {
  fill: #0464b2;
}

.cls-2 {
  fill: #067cf2;
}

.cls-3 {
  fill: #494949;
  opacity: 0.28;
}

.cls-4 {
  fill: #828282;
}

.cls-5 {
  fill: #8e8e8e;
}

.cls-6 {
  fill: #a7a7a8;
}

.cls-7 {
  fill: #b7b7b7;
}

.cls-8 {
  fill: #c8cccc;
}
@keyframes rain {
  0% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 75px, 0);
    opacity: 0;
  }
}

@keyframes rain2 {
  0% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 70px, 0);
    opacity: 0;
  }
}

@keyframes smallCloud {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloud {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

#drop9-even,
#drop10-even {
  animation-name: rain;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top left;
}

#drop8-even,
#drop11-even {
  animation-name: rain;
  animation-duration: 2s;
  animation-delay: 0.65s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top left;
}

#drop7-even,
#drop12-even {
  animation-name: rain;
  animation-duration: 2s;
  animation-delay: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top left;
}

#drop6-odd,
#drop3-odd {
  animation-name: rain2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top left;
}

#drop5-odd,
#drop2-odd {
  animation-name: rain2;
  animation-duration: 2s;
  animation-delay: 0.65s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top left;
}

#drop4-odd,
#drop1-odd {
  animation-name: rain2;
  animation-duration: 2s;
  animation-delay: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top left;
}

#cloud_sm {
  animation-name: smallCloud;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

#cloud {
  animation-name: cloud;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center center;
}
