.cs-4-10-div {
    &-18-img {
        height:34.37vh;
    }
    &-19-img {
        height:56.38vh;
        position:absolute;
        bottom:0;
        right:0;
    }
    &-20-img {
        height:42.96vh;
    }
    &-21-img {
        height:42.96vh;
    }
    img{
    height:100%;
    }
}