.hint-4-10{
    &-16-1-img{
        height: 67.70vh;
        margin: auto;
    }
    &-17-1-img{
        height: 70.05vh;
        margin: 8vh auto 0;
    }
    &-21-1-img{
        height: 63.80vh;
        margin: 1vh auto;
    }
    &-5-1-img{
        height: 64.32vh;
        margin: 1vh auto;
    }
    &-6-1-img{
        height: 43.75vh;
        margin: 9vh auto 0;
    }
}