.background-cs-4-10-22 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/text-editor-10/cs-4-10-22-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-4-10-23 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/text-editor-10/cs-4-10-23-img.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-4-10-24 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/text-editor-10/cs-4-10-24-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-4-10-25{
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/text-editor-10/cs-4-10-25-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cs-title-purple{
    &-cont{
        padding-top: 10vh;
    }
    color: #62548A;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}