.cs-network{
  &-box-19{
    height: 55vh;
    max-height: 423px;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    img {
      height: 100%;
    }
  }
  &-box-20{
    height: 29vh;
    max-height: 224px;
    img {
      height: 100%;
    }
  }
  &-box-5-1{
    height: 44vh;
    max-height: 338px;
    img {
      height: 100%;
    }
  }
  .title{
    color: #62548A;
    font-size: 3.6vh;
  }
  &_bg{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    &-21{
      background: url("../img/gakvetilebi/Computer-Science/Class-2/network-10/cs-2-10-21.svg") no-repeat center;
      background-size: cover;
    }
    &-22{
      background: url("../img/gakvetilebi/Computer-Science/Class-2/network-10/cs-2-10-22.svg") no-repeat center;
      background-size: cover;
    }
    &-23{
      background: url("../img/gakvetilebi/Computer-Science/Class-2/network-10/cs-2-10-23.svg") no-repeat center;
      background-size: cover;
    }
    &-24{
      background: url("../img/gakvetilebi/Computer-Science/Class-2/network-10/cs-2-10-24.svg") no-repeat center;
      background-size: cover;
    }
  }
}