.subject_bottom_illustration-computer {
  position: absolute;
  height: 23.69vh;
  width: 8.27vw;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 2.35vh;
  right: 4.27vw;
  background-image: url('../img/gakvetilebi/Computer-Science/main_img.png');
}