.cs-4-4-div{
    &-11-img
      {
      height:52.6vh;
      }
  &-12-img
      {
      height:53.25vh;
      }
  &-13-img
      {
      height:47.91vh;
      }
  &-14-img
      {
      height:56.51vh;
      }
 &-15-img
      {
      height:40.75vh;
      }
&-16-img
      {
      height:47.39vh;
      }
 &-17-img
      {
      height:50.65vh;
      position: absolute;
      right:2.34vw;
      bottom:0; 
      }
&-18-img
      {
      height:50.26vh;
      }
      img{
        height:100%;
      }
}

.cs-4-4-btns-div{
    width:3.25vh;
    height: 3.25vh;
    margin-right:2vh;
}