.class_4_4 {
    &-img_6 {
        height: 51.92vh;
        max-height: 398.7px;
        img {
            height: 100%;
        }
    }
    &-img_7 {
        height: 78.34vh;
        max-height: 601.7px;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        position: fixed;
        bottom: 0;
        height: 56vh;
        max-height: 431.6px;
        img {
            height: 100%;
        }
    }
    &-img_9 { 
        height: 49vh;
        max-height: 377.8px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 41.4vh;
        max-height: 318px;
        img {
            height: 100%;
        }
    }
}