.diagram-box{
    &_9-1{
        height:56vh;
        max-height:432px;
    img{
        height:100%;
        margin-top:5vh;
    }
    }
}
    &_5-1{
        height:6vh;
        max-height: 53vh;
    img{
        height:100%;
    }
    }
    
    &_5-1.2{
        height:51vh;
        max-height:396px;
    img{
        height:100%;
    }
    
    &_button-start {
        background: #FFFFFF;
        border: 2px solid #947DCE66;
        border-radius: 5px;
        opacity: 1;
        padding: 25px;
      }
    }