.cs-5-28-div{
   &-3-img{
       height:47.65vh;
       position:absolute;
       bottom:0;
       left:50%;
       transform:translateX(-50%);
   } 
   &-4-img{
    height:60vh;
    width:auto;
    }
    &-5-img{
        height:48.95vh;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
    }
    &-6-img{
        height:50.98vh;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
    }
    &-7-img{
        height:55.59vh;
        position:absolute;
        bottom:0;
        right:0;
    } 
    &-8-img{
    height:31.25vh;
    }
    &-9-img{
    height:33.07vh;
    }
    &-10-img{
    height:55.46vh;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    }
    &-11-img{
        height:67.70vh;
         position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
    } 
    &-12-img{
    height:57.55vh;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    }
    &-13-img{
    height:46.48vh;
    }
    &-14-img{
    height:44.4vh;
    }
    &-15-img{
    height:60.41vh;
   }
   &-16-img{
    height:31.77vh;
   }
   &-17-img{
       height:53.64vh;
   } 
   &-18-img{
    height:39.58vh;
   }
   &-19-img{
    height:35.02vh;
    position:absolute;
    top:31.77vh;
    right:12.07vw;
   }

   img{
       height:100%;
   }
}