.cs-5-28{
    img{
        height:100%;
    }
    &-20{
        height:81vh;
        max-height:623px;
    }
    &-22{
        height:58vh;
        max-height:451px;
    }
    &-21{
        height:33.5vh;
        max-height:258px;
    }
    &-23{
        height:33.9vh;
        max-height:261px;
    }

}