.class_5_28 {
    &-bg_24 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/working-with-excel-file-28/C-5-28-24.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_25 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/working-with-excel-file-28/C-5-28-25.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_26 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/working-with-excel-file-28/C-5-28-26.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_27 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/working-with-excel-file-28/C-5-28-27.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}