.cs-6-3-div {
    &-1-img {
        height: 58.33vh;
        margin: 8vh auto 5vh;
    }
    &-3-img {
        height: 36.19vh;
    }
    &-4-img {
        height: 51.17vh;
    }
    &-5-img {
        height: 57.68vh;
    }
    &-6-img {
        height: 52.86vh;
    }
    &-7-img {
        height: 50.52vh;
    }
    &-8-img {
        height: 64.97vh;
    }
    img {
        height: 100%;
    }
}