.class_6_3 {
    &-img_box_17 {
        height: 27.95vh;
        max-height: 214.7px;
        img {
            height: 100%;
        }
    }
    &-img_box_18 {
        position: fixed;
        bottom: 0;
        right: 24.69vh;
        height: 58.3vh;
        max-height: 447.89px;
        img {
            height: 100%;
        }
    }
    &-img_box_19 {
        position: fixed;
        bottom: 0;
        height: 60.2vh;
        max-height: 462.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_20 {
        height: 27.86vh;
        max-height: 214px;
        img {
            height: 100%;
        }
    }
    &-img_box_21 {
        height: 47.6vh;
        max-height: 365.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_22 {
        height: 27.2vh;
        max-height: 209px;
        img {
            height: 100%;
        }
    }
    &-video_box_23 {
        video{
            width: 65.95vw;
            height: 65.23vh;
        }
    }
}