.background-cs-6-3 {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;

  &_24 {
    background: url("../img/gakvetilebi/Computer-Science/Class-6/embedded-cycles-3/cs-6-3-24.svg") center no-repeat;
    background-size: cover;
  }

  &_25 {
    background: url("../img/gakvetilebi/Computer-Science/Class-6/embedded-cycles-3/cs-6-3-25.svg") center no-repeat;
    background-size: cover;
  }

  &_26 {
    background: url("../img/gakvetilebi/Computer-Science/Class-6/embedded-cycles-3/cs-6-3-26.svg") center no-repeat;
    background-size: cover;
  }

  &_27 {
    background: url("../img/gakvetilebi/Computer-Science/Class-6/embedded-cycles-3/cs-6-3-27.svg") center no-repeat;
    background-size: cover;
  }
}

.embedded-cycles {
  &_page-13-1 {
    height: 43vh;
    max-height: 334px;

    img {
      height: 100%;
    }
  }

  &_page-14-1 {
    height: 65vh;
    max-height: 501px;

    video {
      height: 100%;
    }
  }
}
