.class_4_1 {
    &-img_1 {
        height: 64vh;
        max-height: 492px;
        margin: 5vh auto;
        img {
            height: 100%;
        }
    }
}
.class_4_1-img_1 {
    height: 64vh;
        max-height: 492px;
}