.class_4_1 {
    &-img_1 {
        height: 64vh;
        max-height: 492px;
        margin: 2vh auto;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        position: absolute;
        bottom: 14vh;
        height: 35.8vh;
        max-height: 329px;
        right: 40vh;
        img {
            border-radius: 2vh;
            height: 100%;
        }
    }
    &-img_4 {
        position: fixed;
        bottom: 0;
        height: 45.8vh;
        max-height: 398px;
        img {
            height: 100%;
        }
    }
    &-img_5 {
        height: 32.68vh;   
    }
}
