.background-cs-4-1{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-17{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Maintain-electronic-device-1/cs-4-1-17.svg");
    }
    &-18{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Maintain-electronic-device-1/cs-4-1-18.png");
    }
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Maintain-electronic-device-1/cs-4-1-19.png");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/Maintain-electronic-device-1/cs-4-1-20.svg");
    }
}