body {
  color: #262626;
  font-size: 14px;
  line-height: 21px;
}

// base class
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items {
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.z-index {
  z-index: 500;
}

.fixed-bottom {
  z-index: 998;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.d-block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-initial {
  height: initial !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
  color: black !important;
}

.opacity-5 {
  opacity: 0.5;
  transition: sll 0.5s;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
  transition: all 0.5s;
}

.transparent {
  fill: transparent;
}

.rainbow--line {
  transition: all 0.5s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.page-main-icon {
  width: 42px;
  margin-right: 15px;
}

.text-container {
  display: flex;
  align-items: center;
}

.center-title {
  margin-top: 37px;
  display: flex;
  align-items: center;

  p {
    color: #262626;
    font-family: $alk-sanet;
  }
}

.center-title img {
  width: 18px;
  margin-right: 15px;
}

/*section {
  padding-top: 6vh;
}*/

#rainbowGame {
  transition: all 0.3s;
}

.owl-dot:focus {
  outline: none;
}


@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1300px;
  }
}


.current__pagination,
.pagination__prev__btn,
.pagination__next__btn {
  width: 6vh;
  height: 6vh;
  box-shadow: 0 3px 6px #7FD1D8;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  margin: 0 2px;
  color: #DC6C85 !important;
  font-family: "alk sanet";
  cursor: pointer;
  background-color: #fff;
}


.pagination__prev__btn {
  margin-right: 2vh;

  img {
    height: 2vh;
  }
}

.pagination__next__btn {
  margin-left: 2vh;

  img {
    height: 2vh;
  }
}

.pagination__dot {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00D5D5;
  border-radius: 50%;
  cursor: pointer;
  font-size: 15px;
  margin: 0 2px;
  color: #DC6C85 !important;
  font-family: "alk sanet";
  cursor: pointer;
  transition: all 0.3s;

  &.active {
    width: 43px;
    height: 43px;
    background-color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px #7FD1D8;
  }
}

.our__pagination {
  align-items: center;
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
}

.pagination__item{
  .current__pagination {
    width: 43px;
    height: 43px;
    background-color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px #7FD1D8;
  }
}


.pagination__item.pagination__item--el {
  margin-right: 4px;
  position: relative;
  width: 15px;
  height: 15px;  
}


@import "spacing";

.dj-3vh {
  font-family: 'DejaVuSans';
  font-size: 3.3vh;
}

.dj-2_6vh {
  font-family: 'DejaVuSans';
  font-size: 2.6vh;
}

.dj-2vh {
  font-family: 'DejaVuSans';
  font-size: 2vh;
}

.dj-2_3vh {
  font-family: 'DejaVuSans';
  font-size: 2.3vh;
}

.dj-1_8vh {
  font-family: 'DejaVuSans';
  font-size: 1.8vh;
}

.dj-1_5vh {
  font-family: 'DejaVuSans';
  font-size: 1.5vh;
}

.alk-san_2-6vh {
  font-family: 'ALK Sanet';
  font-size: 2.6vh;
}

.height-75 {
  height: 75%;
}


//darck-mode
.dark-mode {
  background-color: black;
  color: white;
}

.switchDark {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
}

.switchDark input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: -2px;
  bottom: 2px;
  background-color: #7fd1d8;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
  box-shadow: 1px 3px 6px #FADE7E;
}

input:focus + .slider {
  box-shadow: 1px 3px 6px #7fd1d8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #F7CF43;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//
.pagination_black{
  color: #ffffff !important;
  background-color: rgb(0, 0, 0) !important;
}

.reset__btn_black{
  background: rgb(0, 0, 0);
  color: #ffffff;
}

.completed__btn_black {
  color: #ffffff !important;
  background-color: rgb(0, 0, 0);
}

.newDesign_subject_question_item-title_black_P {
  color: #ffffff !important;
}
//
.new_btn-start_black_btn {
  background: rgb(0, 0, 0) !important;
}
.img_background_white{
  background: white;
}
.x_game_succes{
  margin-left: 2vh;
  margin-top: 1.3vh;
}
.border1PxSW{
  border: 1px solid white;
}
.bot_header_black:before{
  background: rgb(0, 0, 0) !important;
}
.bot_header_black:after{
  background: rgb(0, 0, 0) !important;
}
.pagination__dot_black.active {
  background-color: #000;
  color: #ffffff !important;
}
