// colors
$color-sky: #7FD1D8;
$color-black-primary: #262626;
$completed-game-btn: #F8D24B;
$reset-game-btn: #7FD1D8;


//sizes
$sizes: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ,20, 21, 22);
//directions
$positions: ('top', 'bottom', 'left', 'right');

// fonts
$alk-sanet: 'ALK Sanet';