.cs-5-7 {
    &-1-img {
        height: 59.5vh;
        margin: 5vh auto 3vh;
    }
    &-3-img {
        height: 34.76vh;
        margin: 10vh auto;
    }
    &-4-img {
        height: 50.73vh;
        margin-top: 1vh;
    }
    &-5-img {
        height: 61.71vh;
        position: relative;
        top: -10vh;
    }
    &-6-img {
        height: 50.65vh;
        margin-top: 5.5vh;
    }
    &-7-img {
       height: 37.10vh;
       margin: 12vh auto;
    }
    &-8-img {
        height: 56.90vh;
        margin-top: 7.2vh;
     }
}
