.Class_5_7 {
    &-img_box_12_1-1 {
        height: 26.4vh;
        max-height: 202.8px;
        img {
            height: 100%;
        }
    }
    &-img_box_12_1-2 {
        height: 30.7vh;
        max-height: 235.9px;
        img {
            height: 100%;
        }
    }
}