.Class_5_7 {
    &-img_box_12_1-1 {
        height: 26.4vh;
        max-height: 202.8px;
        img {
            height: 100%;
        }
    }
    &-img_box_12_1-2 {
        height: 30.7vh;
        max-height: 235.9px;
        img {
            height: 100%;
        }
    }
}

.infinite-page-6{
    &_1{
        height: 46vh;
        max-height: 351px;
        img{
            height: 100%;
        }
    }
    &_2{
        height: 44vh;
        max-height: 339px;
        img{
            height: 100%;
        }
    }
    &_3{
        height: 42vh;
        max-height: 324px;
        img{
            height: 100%;
        }
    }
}
