.cs-5-7-div{
    &-13-img{
        height:45.31vh;
    }
    &-14-img{
        height:56.64vh;
        position:absolute;
        bottom:0;
        right:4.41vw;
    }
   
    &-15-img{
        height:53.25vh;
    } 
    &-16-img{
        height:20.57vh;
        position:absolute;
        
        top:23.95vh;
        right:17.2vw;
    }
    img{
       height:100%;
    }
}