.Class_5_7 {
    &-img_box_5_1 {
        position: fixed;
        bottom: 0;
        img {
            height: 62.23vh;
            max-height: 477.96px;
        }
    }
    &-img_box_5_2 {
        height: 33.46vh;
        max-height: 257px;
        img {
            height: 100%;
        }
    }
    &-img_box_5_3 {
        height: 51.36vh;
        max-height: 394.5px;
        img {
            height: 100%;
        }
    }
}