.cs-cycles-image{
  &-box_11{
    height: 59vh;
    max-height: 454px;
    img{
      height: 100%;
    }
  }
  &-box_10{
    right: 0;
    bottom: 0;
    position: fixed;
    height: 59vh;
    max-height: 454px;
    img{
      height: 100%;
    }
  }
  &-box_11{
    height: 41vh;
    max-height: 321px;
    img{
      height: 100%;
    }
  }
  &-box_12{
    height: 51vh;
    max-height: 397px;
    img{
      height: 100%;
    }
  }
}