.background-cs-5-7-17 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Infinite-cycles-7/cs-5-7-17-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-5-7-18 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Infinite-cycles-7/cs-5-7-18-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-5-7-19 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Infinite-cycles-7/cs-5-7-19-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-5-7-20{
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Infinite-cycles-7/cs-5-7-20-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cs-title-purple{
    &-cont{
        padding-top: 10vh;
    }
    color: #62548A;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
    line-height: 1.5;
}