.class_5_11 {
    &-img_1 {
        height: 45.18vh;
        max-height: 347px;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 39.77vh;
        max-height: 305.5px;
        img {
            height: 100%;
        }
    }
    &-img_4 {
        position: fixed;
        bottom:0;
        right: 0;
        height: 62.89vh;
        max-height: 483px;
        img {
            height: 100%;
        }
    }
    &-img_5 {
        position: fixed;
        right: 35vh;
        height: 74.48vh;
        max-height: 572px;
        img {
            height: 100%;
        }
    }
}