.cs-5-11-div{
    &-12-img
      {
      height:62.89vh;
      position: absolute;
      right:0;      
      bottom:0;
      }
  &-13-img
      {
      height:48.95vh;
      }
  &-14-img
      {
      height:17.57vh;
      }
  &-15-img
      {
      height:42.31vh;
      }
 &-16-img
      {
      height:47.78vh;

      }
&-17-img
      {
      height:50.52vh;
      }
 &-18-img
      {
      height:61.45vh;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom:0;
      }
  &-19-img
      {
      height:51.3vh;
      }
      img{
        height:100%;
      }
}