.remember-box {
  &_page-6 {
    height: 50vh;
    max-height: 384px;

    img {
      height: 100%;
    }
  }

  &_page-7-1 {
    height: 24vh;
    max-height: 185px;

    img {
      height: 100%;
    }
  }

  &_page-7-2 {
    height: 21vh;
    max-height: 162px;

    img {
      height: 100%;
    }
  }

  &_page-8 {
    height: 41vh;
    max-height: 321px;

    img {
      height: 100%;
    }
  }

  &_page-9 {
    height: 38vh;
    max-height: 295px;

    img {
      height: 100%;
    }
  }

  &_page-10 {
    height: 60vh;
    max-height: 464px;

    img {
      height: 100%;
    }
  }

  &_page-11 {
    height: 39vh;
    max-height: 307px;

    img {
      height: 100%;
    }
  }
}
