.background-cs-5-11{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Remembering-information-11/cs-5-11-22.svg");
    }
    &-23{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Remembering-information-11/cs-5-11-23.svg");
    }
    &-24{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Remembering-information-11/cs-5-11-24.svg");
    }
    &-25{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Remembering-information-11/cs-5-11-25.svg");
    }
}