.cs-5-11 {
    &_5-1{
        height:20vh;
        max-height:161px;
    img{
        height:100%;
        margin-top:10vh;
    }
    }
    &_6-1{
        height:43vh;
        max-height:333px;
    img{
        height:100%;
    }
    }
    &_14-1{
        height:45vh;
        max-height:351px;
    img{
        height:100%;
    }
    }
        
    &_16-1{
        height:45vh;
        max-height:351px;
    img{
        height:100%;
    }
    }
}