.cs-5-11 {
    &_5-1{
        height:20vh;
        max-height:161px;
    img{
        height:100%;
        margin-top:10vh;
    }
    }
    &_6-1{
        height:43vh;
        max-height:333px;
    img{
        height:100%;
    }
    }
    &_14-1{
        height:45vh;
        max-height:351px;
    img{
        height:100%;
    }
    }
        
    &_16-1{
        height:45vh;
        max-height:351px;
    img{
        height:100%;
    }
    }

    &_15_1{
        height:30vh;
        max-height:231px;

    img{
        height:100%;
    }
    }

    &-video-box_15_1{
        video{
            background-color:#000;
            width:52vw;
            height:51.56vh;
            margin-top:-3vh;
            margin-left:-13vh;

        }
  
    }

    &_17_1{
        height:45vh;
        max-height: 351px;
    img{
        height:100%;
    }
    }

    &_13_1{
        height:42vh;
        max-height: 324px;
    img{
        height:100%;
        margin-left:-15vh;
    }
    }

    &-video-box_13_1{
        video{
            background-color:#000;
            width:52vw;
            height:51.56vh;
            margin-top:6vh;

        }
  
    }


}