.class_3_15 {
    &-img_13 {
        height: 45vh;
    }
    &-img_14 {
        height: 48vh;
    }
    &-img_15 {
        position: fixed;
        bottom: 0;
        height: 50.7vh;
    }
    &-img_16 {
        height: 34vh;
    }
    &-img_17 {
        height: 38.8vh;
    }
    &-img_18 {
        height: 39.5vh;
    }
    &-img_19 {
        height: 38vh;
    }
    &-img_20 {
        height: 14.5vh;
    }
    &-img_21 {
        height: 36vh;
    }
    &-img_22 {
        height: 42.5vh;
    }
    &-img_23 {
        height: 46.8vh;
    }
}
.class_3_15_title {
    position:absolute;
    font-family: "DejaVu Sans";
    font-size: 2vh;
    color: #0B2228;
    &-1 {
        top: -2vh;
        left: 24vh;
    }
    &-2 {
        top: 1vh;
    }
    &-3 {
        top: -8vh;
        right: 27vh;
    }
}