.cs-6-21{
    &-1-img{
        height: 62.89vh;
        margin: 3vh auto;
    }
    &-3-img{
        height: 40.10vh;
        margin-top: 3vh;
    }
    &-4-img{
        height: 57.29vh;
        margin-left: 2vh;
        position: relative;
        top: -10vh;
    }
    &-5-img{
        height: 40.75vh;
        margin-top: 3vh;
    }
}