.ethic_page{
  img{
    height: 100%;
  }
  &-11{
    height: 52vh;
    max-height: 404px;
  }
  &-12{
    position: fixed;
    bottom: 0;
    right: 10%;
    height: 48vh;
    max-height: 367px;
  }
  &-13{
    position: fixed;
    bottom: 0;
    right: 15%;
    height: 52vh;
    max-height: 406px;
  }
  &-14{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 56vh;
    max-height: 431px;
  }
  &-15{
    height: 61vh;
    max-height: 466px;
  }
}
