.cs-6-21-div {
    &-6-img {
        height:37.76vh;
    }   
    &-7-img {
        height:51.17vh;
    }
    &-8-img {
        height:44.66vh;
    }
    &-9-img  {
        height:67.83vh;
        position:absolute;
        bottom:0;
        right:5.04vw;
    }
    &-10-img {
        height:51.04vh;
    }
    img {
        height: 100%;
    }
}
