.class_6_21 {
    &-img_7-1 {
        height: 48.65vh;
        max-height: 373.7px;
        img {
            height: 100%;
        }
    }
    &-img_8-1 {
        position: fixed;
        bottom: 0;
        height: 58vh;
        max-height: 446px;
        img {
            height: 100%;
        }
    }
    &-img_12-1 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 52.8vh;
        max-height: 405.8px;
        img {
            height: 100%;
        }
    }
    &-img_13-1 {
        position: fixed;
        bottom: 2vh;
        height: 67vh;
        max-height: 517px;
        img {
            height: 100%;
        }
    }
    &-img_14-1 {
        height: 45.55vh;
        max-height: 349.9px;
        img {
            height: 100%;
        }
    }
}