.Digital_world_24 {
    &-title_text_1 {
        font-style: italic;
        font-family: DejaVu Sans;
    }
    &-img_box_1 {
        height: 57.42vh;
        max-height: 441px;
        img {
            height:100%;
        }
    }
}