.cs-4-2_wrapper-box {
  img {
    height: 100%;
  }
  table{
    margin: 0;
    box-shadow: 0 0 0 2px #000;
    border-radius: unset;
    td{
      border: 2px solid #000;
      vertical-align: middle;
    }
  }
  .arrow-key-box {
    max-height: 71px;
    td{
      height: 9.2vh;
      width: 9.2vh;
      max-height: 71px;
      max-width: 71px;
    }
  }

  &_19 {
    .image-box {
      height: 5.2vh;
      max-height: 40px;
    }

    .table-box {
      table {
        margin: 0;
        box-shadow: 0 0 0 2px #000;
        border-radius: unset;
        width: 100%;


        td {
          height: 7.9vh;
          max-height: 61px;
          width: 7.2vh;
          max-width: 99px;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 28px;
            width: 28px;
            max-height: 30px;
          }
        }
      }
    }
  }
}


.nature-4-2-game-table {
  tbody {
    tr {
      td {
        img {
          width: 30px;
        }
      }
    }
  }
}