.Class_4 {
    &-programing_2_title {
        font-size: 2.6vh;
        font-family: 'DejaVuSans';
    }

    &-programing_2_26_1 {
        img {
            height: 20.1vh;
            max-height: 154.5px;
        }
    }
    &-programing_2_26_3 {
        img {
            height: 19.24vh;
            max-height: 147.8px;
        }
    }
}