.Class_4 {
    &-title_item_28 {
        color: #62548A;
        font-family: 'DejaVu Sans Oblique';
        font-size: 3.64vh;
    }
    &-C_4_2_28 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/programing-mistakes-2/C-4-2-28.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-C_4_2_29 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/programing-mistakes-2/C-4-2-29.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-C_4_2_30 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/programing-mistakes-2/C-4-2-30.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-C_4_2_31 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-4/programing-mistakes-2/C-4-2-31.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
     
}
