
.cs-4-2-4-div-img{
    height:47.39vh;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
img{
       height:100%;
    }
}
.cs-4-2-5-div-img{
    height:58.59vh;
    position: absolute;
    bottom:-7vh;
    left: 50%;
    transform: translate(-50%, 0);
img{
       height:100%;
    }
}
.cs-4-2-5-1-div-img{
  height:40vh;
  max-height: 308px;
  img{
    height:100%;
  }
}

.cs-4-2-6-div-img{
    height:40.75vh;
img{
       height:100%;
    }
}
.cs-4-2-7-div-img{
    height:51.17vh;
img{
       height:100%;
    }
}


.cs-4-2-7-1-div-img{
    height:12.23vh;
img{
       height:100%;
    }
}

.cs-4-2-6-1-div-img{
    height:14.58vh;
img{
       height:100%;
    }
}
