.cs-3-7-div{
    &-1
    {
    height:62.36vh;
    }
    &-1-img
    {
    margin: 6vh auto 4vh;
    }
    &-3-img
    {
    height:20vh;
    }
    &-4-img
    {
    position:absolute;
    bottom:0;
    right:0;
    height:52.73vh;
    }
    &-5-img
    {
    height:39.84vh;
    }
    img{
      height:100%;
    }
}