.class_3_7 {
    &-img-bg-blue {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Visual-programing-7/C-3-7-6-blue.svg");
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.1vh;
        max-height: 46.9px;
        width: 9.5vw;
        max-width: 130px;
        color: #ffffff;
        p{
           padding: 0 1vh;
           line-height: 1.4;
        }
    }
    &-bottom {
        margin-bottom: -3.5vh!important;
    }
    &-img-bg-black {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Visual-programing-7/C-3-7-6-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7.7vh;
        max-height: 50.6px;
        width: 10.24vw;
        max-width: 140px;
    }
    &-img_box_7 {
        height: 41vh;
        max-height: 315.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_8 {
        height: 41.38vh;
        max-height: 317.8px;
        img {
            height: 100%;
        }
    }
    &-img_box_9 {
        position: fixed;
        bottom: 0;
        height: 56.9vh;
        max-height: 437.5px;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        height: 35.87vh;
        max-height: 275.5px;
        img {
            height: 100%;
        }
    }
    &-img_box_11 {
        position: fixed;
        bottom: 0;
        height: 50.5vh;
        max-height: 388px;
        img {
            height: 100%;
        }
    }
}
// .class_3_7-bg-box {
//     height: 6.1vh;
//     max-height: 46.9px;
//     width: 9.5vw;
//     max-width: 130px;
//     color: #ffffff;
//     p{
//         // padding: 0 5vh;
//         line-height: 2.5vh;
//     }
//     &-bg-box-blue{
//         height: inherit;
//         background-image: url("../../../../../img/gakvetilebi/Computer-Science/Class-3/Visual-programing-7/C-3-7-6-blue.svg") no-repeat center;
//         background-size: contain;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
// }
