.class_3_7 {
    &-img_box_blue {
        
    }
    &-img_box_7 {
        height: 41vh;
        max-height: 315.6px;
        img {
            height: 100%;
        }
    }
    &-img_box_8 {
        height: 41.38vh;
        max-height: 317.8px;
        img {
            height: 100%;
        }
    }
    &-img_box_9 {
        position: fixed;
        bottom: 0;
        height: 56.9vh;
        max-height: 437.5px;
        img {
            height: 100%;
        }
    }
    &-img_box_10 {
        height: 35.87vh;
        max-height: 275.5px;
        img {
            height: 100%;
        }
    }
    &-img_box_11 {
        position: fixed;
        bottom: 0;
        height: 50.5vh;
        max-height: 388px;
        img {
            height: 100%;
        }
    }
}