.VR_right-bottom-bg {
  position: absolute;
  right: 0;
  transform: translateX(-60%);
  height: 59.6vh;
  max-height: 458px;
}
.pt-10vh {
  padding-top: 10vh;
}


.VR_right-bottom-bg-12 {
  position: absolute;
  right: 0;
  transform: translateX(-30%);
  height: 50.6vh;
  max-height: 390px;
  bottom: 0;
}
.pt-10vh {
  padding-top: 10vh;
}