.background-12-32 {
  background-image: url(../img/gakvetilebi/xelovneba/VR_exhibition/A-12-32.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-12-33 {
  background-image: url(../img/gakvetilebi/xelovneba/VR_exhibition/A-12-33.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-12-34 {
  background-image: url(../img/gakvetilebi/xelovneba/VR_exhibition/A-12-34.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-12-35 {
  background-image: url(../img/gakvetilebi/xelovneba/VR_exhibition/A-12-35.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-12-36 {
  background-image: url(../img/gakvetilebi/xelovneba/VR_exhibition/A-12-36.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-12-37 {
  background-image: url(../img/gakvetilebi/xelovneba/VR_exhibition/A-12-37.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
