.class_6_6 {
    &-img_1 {
        height: 61.8vh;
        max-height: 474.8px;
        margin: 2vh auto;
        img {
            height: 100%;
        }
    }
    &-img_3 {
        height: 50.35vh;
        max-height: 386.7px;
    }
    &-img_4 {
        height: 39.97vh;
        max-height: 307px;
    }
    &-img_5 {
        height: 67vh;
        max-height: 516px;
    }
    &-img_6 {
        height: 55vh;
        max-height: 425px;
    }
}