.arithmetic_page {
  &-13 {
    height: 56vh;
    max-height: 416px;
    position: fixed;
    right: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  &-14 {
    max-height: 288px;
    height: 38vh;

    img {
      height: 100%;
    }
  }

  &-17 {
    max-height: 377px;
    height: 48vh;

    img {
      height: 100%;
    }
  }
}
