.background-cs-6-6{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Arithmetic-operators-6/cs-6-6-21.svg");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Arithmetic-operators-6/cs-6-6-22.svg");
    }
    &-23{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Arithmetic-operators-6/cs-6-6-23.svg");
    }
    &-24{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Arithmetic-operators-6/cs-6-6-24.svg");
    }
}