.cs-6-6-div {
    &-5-1-img {
        height: 40.1vh;
    }
    &-6-1-img {
        height: 21.48vh;
    }
    &-7-1-img {
        height: 21vh;
    }
    &-8-1-img {
        height: 21.87vh;
    }
    &-13-1-img {
        height: 51.3vh;
    }
    &-14-1-img {
        height: 37.5vh;
    }
    &-15-1-img {
        height:37.5vh;
    }
    &-16-1-img {
        height:39.58vh;
    }
    &-17-1-img {
        height: 47.65vh;
    }
    img {
        height: 100%;
    }
}