.a-1366-03-21-letter-spacing{
    letter-spacing: 1px;
}

.art-man-creating-statue{
    height: 59.89vh;
    position:absolute;
    bottom:0px;
    left:31.25vw;
    img{
        height: 59.89vh;
    }
}