#A-1366-03-6 {
    .subject_question_item {
        font-size: 1.8vh;
    }

    .padding-top-13vh {
        padding-top: 13vh;
    }
    .image-box{
        width: 70%;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.full-link {
    cursor: pointer;
}