.background-38 {
    background-image: url(../../../../img/gakvetilebi/xelovneba/forest/1366-03-38.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}