.a-1366-03-21-letter-spacing-paddingtop{
    letter-spacing: 1px;
    padding-top:5.24vh;
}

.house-sketch-fullcolor{
    height: 39.37vh;
    position:absolute;
    left: 23.42vw;
    bottom:14vh;
    img{
        height: 39.37vh;
    }
}