.tile-box_header{
    font-family: 'BPG Arial', sans-serif;
    font-size: 2.8vh;
    margin-top: 6.2vh;
}
.image-box-foresthouse{
    height: 41vh;
    max-height: 316px;
    img{
        height: 100%;
    }
}