.cs-6-13{
    &-1-img{
        height: 62.5vh;
        margin: 3vh auto;
    }
    &-3-img{
        margin-top: 5vh;
        height: 39.97vh;
    }
    &-4-img{
        margin-top: 3vh;
        height: 47.78vh;
    }
    &-5-img{
        margin-top: 3vh;
        height: 41.92vh;
    }
    &-6-img{
        margin-top: 7vh;
        height: 46.31vh;
    }
}