.class_6_13 {
    &-img_13 {
        position: fixed;
        bottom: 0;
        padding-left: 4vh;
        height: 70vh;
        max-height: 537.6px;
        img {
            height: 100%;
        }
    }
    &-img_14 {
        position: fixed;
        bottom: 0;
        height: 56.38vh;
        max-height: 602px;
        img {
            height: 100%;
        }
    }
    &-img_15 {
        height: 52vh;
        max-height: 402px;
        img {
            height: 100%;
        }
    }
    &-img_16 {
        height: 45.7vh;
        max-height: 351px;
        img {
            height: 100%;
        }
    }
    &-img_17 {
        position: fixed;
        bottom: 0;
        right: 12vh;
        height: 80.59vh;
        max-height: 618.97px;
        img {
            height: 100%;
        }
    }
    &-voice {
        display: inline;
        vertical-align: middle;
        width: 24px;
        height: 37px;
    }
    &-start {
        display: inline;
        vertical-align: middle;
        width: 27px;
        height: 26px;
    }
    &-img_18 {
        height: 39.7vh;
        max-height: 305px;
        img {
            height: 100%;
        }
    }
}