.cs-6-13-div {
    &-7-img {
        height: 52.21vh;
    }
    &-8-img {
        height:63.93vh;
    }
    &-9-img {
        height:63.93vh;
    }
    &-10-img {
        height:71.87vh;
        position:absolute;
        bottom:0;
        right:4.46vw;
    }
    &-11-img {
        height:51vh;
        position:absolute;
        bottom:0;
        right:28.47vw;
    }
    &-12-img {
        height:53.77vh;
    }
    img {
        height: 100%;
    }
}