.background-cs-6-13{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-25{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Create-our-presentation-13/cs-6-13-25.png");
    }
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Create-our-presentation-13/cs-6-13-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Create-our-presentation-13/cs-6-13-27.svg");
    }
    &-28{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-6/Create-our-presentation-13/cs-6-13-28.svg");
    }
}