.cs-6-13-3-1-div img {
  margin: auto;
  height: 32.9vh;
  width: 18.52vw;
}
.cs-6-13-3-1-div p {
  color: #947DCE;
}

.cs-6-13-3-1-div-2 img {
  margin: 2px auto 0;
  height: 32vh;
  width: 18.52vw;
}
.cs-6-13-3-1-div-2 p {
  color: #947DCE;
}

.presentation-box {
  border: 1px solid black;
  height: 32.9vh;
  width: 18.52vw;
}