.background-54 {
  background-image: url(../../../../img/gakvetilebi/musika/interesting-day/M-1366-06-54.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-52-1-2 {
  background-image: url(../../../../img/gakvetilebi/musika/interesting-day/M-1366-06-52-1-2.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-81 {
    background-image: url(../../../../img/gakvetilebi/musika/interesting-day/M-1366-06-81.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-52-2-3 {
    background-image: url(../../../../img/gakvetilebi/musika/interesting-day/M-1366-06-52-2-3.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
