.m_listen_icon {
  &-nmb {
    height: 3.94vh;
    margin-bottom: 1vh;
    cursor: pointer;
    &-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-full {
        display: flex;
        justify-content: space-evenly;
        margin: 6vh 0;
      }
    }
  }
  &-md {
    height: 5.26vh;
    cursor: pointer;
  }
}
