#N-1366-103 { 
    font-family: 'BPG Arial', sans-serif;
    color: #0B2228;
    .text p {
    font-family: inherit;
    color: inherit;
    font-size: 2.3vh;
    margin-bottom: 5vh;
    }
    .text-bottom {
        position: absolute;
        bottom: 16.4vh;
        font-family: inherit;
        color: inherit;
        font-size: 2.3vh;
        margin-bottom: 5vh;
    }
}