.n2-146-text-container {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.160784);
    border-radius: 27px;
    width: 21vw;
    height: 21vh;
    cursor: pointer;
    p {
        line-height: 1.8;
        padding-left: 2vh;
        padding-top: 2vh;
    }
    
}
.selected{
    background-color: rgba(248, 210, 75, 0.5);
}
.error {
    background-color: #dc6c85;
}
.success {
    background-color: #a1dd6f;
}
.selected {
    background-color: #f8d24b;
}