.magnets_pols {
  margin-top: 4.8vh;
  height: 52vh;
  max-height: 400px;

  img {
    height: 100%;
  }
}

.ask {
  font-family: 'BPG Arial', sans-serif;
  font-size: 2.3vh;

  &-question_left-text {
    margin-top: 20vh;
  }

  &-questions_left-text{
    margin-top: 7.4vh;
    display: block;
    color: #0B2228;
  }
}