.N-1366-94 {
  background-image: url("../img/gakvetilebi/buneba/invisible_forces/N2-366-94.png");
  background-position: center bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
