#chatBot {
  bottom: 11vh;
  position: absolute;
  right: 10%;
}

#chatBot a {
  text-decoration: none;
}

#chatBot .chatBot-box {
  float: right;
}

#chatBot .phoneNumber__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#chatBot #prime {
  background: url("../Vue-chatBot/img/botBox.png") no-repeat center;
  background-size: cover;
  height: 10vh;
  width: 10vh;
  max-height: 80px;
  max-width: 80px;
  min-height: 60px;
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#chatBot #prime .chat_img {
  background: url("../Vue-chatBot/img/chat.png") no-repeat center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

#chatBot #prime .chat-close {
  background: url("../Vue-chatBot/img/close.svg") no-repeat center;
  background-size: contain;
  height: 18px;
  width: 18px;
}

#chatBot .fabs {
  bottom: calc(7.8vh + 315px);
  position: fixed;
  margin: 1em;
  right: 0;
  z-index: 998;
}

#chatBot #formData {
  padding-bottom: 10px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chatBot #formData input {
  padding-left: 30px;
  font-family: 'DejaVuSans';
  font-size: 14px;
}

#chatBot .fab {
  display: block;
  width: 56px;
  height: 56px;
  text-align: center;
  color: #f0f0f0;
  margin: 25px auto 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  position: relative;
  z-index: 998;
  overflow: hidden;
  background: #7fd1d8;
}

#chatBot .fab > i {
  font-size: 2em;
  line-height: 55px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#chatBot .chat {
  position: fixed;
  right: 78px;
  bottom: 7.8vh;
  margin-top: 25px;
  width: 352px;
  font-size: 12px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#chatBot .chat_fullscreen {
  position: fixed;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

#chatBot .chat_header {
  height: 42px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#chatBot .chat_header .chat_head {
  background: url("../Vue-chatBot/img/chat.png") no-repeat center;
  background-size: contain;
  height: 25px;
  width: 25px;
}

#chatBot .chat_header .head_line {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 3px;
  z-index: 999;
  -webkit-box-shadow: 0 3px 6px rgba(127, 209, 216, 0.4);
          box-shadow: 0 3px 6px rgba(127, 209, 216, 0.4);
}

#chatBot .chat_msg_item_admin .phoneNumber--style {
  color: #fff;
  background: #D85471;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 4px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 10px;
  outline: none;
}

#chatBot #sendMessage {
  background: transparent;
  background: url("../Vue-chatBot/img/send.svg") no-repeat center;
  background-size: contain;
  height: 22px;
  width: 22px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  cursor: pointer;
}

#chatBot #sendMessage:disabled {
  cursor: initial;
}

#chatBot .voice__mail__child {
  background-color: #f1f0f0;
  border-radius: 12px;
  width: 113.464px;
  height: 28px;
  border: 1px solid transparent;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chatBot .voice-mail-hr {
  width: 30px;
  height: 2px;
  background: #4b4f56;
  display: inline-block;
  margin: 0 10px;
}

#chatBot .voice-mail-play,
#chatBot .voice-mail-pause {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

#chatBot .voice__maile {
  max-width: 125px;
  background-color: #f1f0f0;
  position: relative;
  border-radius: 30px;
}

#chatBot .voice__hr {
  border-bottom: 2px solid #4b4f56;
  margin-left: 28px;
  margin-right: 44px;
  padding-top: 13px;
}

#chatBot .chat_position {
  right: 15px;
  bottom: 80px;
  z-index: 520;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 7px 3px #7FD1D866;
          box-shadow: 1px 1px 7px 3px #7FD1D866;
}

#chatBot .bots_logo_box {
  height: 60px;
  width: 100%;
}

#chatBot .bots_logo_box .logo_box_active {
  background-size: cover;
  background: url("../Vue-chatBot/img/activeBot.svg") no-repeat top;
}

#chatBot .bots_logo_box .logo_box {
  position: relative;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chatBot .bots_logo_box .logo_box::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#chatBot .bots_logo_box .logo_box:nth-child(1):hover {
  background-size: cover;
  background: url("../Vue-chatBot/img/hoverBot.svg") no-repeat top;
}

#chatBot .bots_logo_box .logo_box:nth-child(2):hover {
  background-size: contain;
  background: url("../Vue-chatBot/img/hoverBot.svg") no-repeat top;
}

#chatBot .bots_logo_box .logo_box:nth-child(3):hover {
  background-size: contain;
  background: url("../Vue-chatBot/img/hoverBot.svg") no-repeat top;
}

#chatBot .bots_logo_box .logo_box:nth-child(4):hover {
  background-size: contain;
  background: url("../Vue-chatBot/img/hoverBot.svg") no-repeat top;
}

#chatBot .bots_logo_box .logo_box-nature {
  height: 35px;
  width: 35px;
  background: url("../img/icons/bunebabot.png") no-repeat center;
  background-size: contain;
}

#chatBot .bots_logo_box .logo_box-It {
  height: 35px;
  width: 35px;
  background: url("../img/icons/komp-mecnierebot.png") no-repeat center;
  background-size: contain;
}

#chatBot .bots_logo_box .logo_box-music {
  height: 35px;
  width: 35px;
  background: url("../img/icons/musikabot.png") no-repeat center;
  background-size: contain;
}

#chatBot .bots_logo_box .logo_box-art {
  height: 35px;
  width: 35px;
  background: url("../img/icons/xelovnebabot.png") no-repeat center;
  background-size: contain;
}

#chatBot .bubble-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0;
}

#chatBot .container-circle {
  padding-left: 20px;
}

#chatBot .circle {
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #B6B5BA;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#chatBot #circle1 {
  -webkit-animation-name: circle1;
}

#chatBot #circle2 {
  -webkit-animation-name: circle2;
}

#chatBot #circle3 {
  -webkit-animation-name: circle3;
}

#chatBot #circle1 {
  -webkit-animation-name: circle1;
          animation-name: circle1;
}

#chatBot #circle2 {
  -webkit-animation-name: circle2;
          animation-name: circle2;
}

#chatBot #circle3 {
  -webkit-animation-name: circle3;
          animation-name: circle3;
}

#chatBot .cc1 {
  background-color: #9E9DA2;
}

#chatBot .slide-enter-active {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#chatBot .slide-leave-active {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#chatBot .ink {
  display: block;
  position: absolute;
  background: rgba(38, 50, 56, 0.4);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#chatBot .ink.animate {
  -webkit-animation: ripple 0.5s ease-in-out;
  animation: ripple 0.5s ease-in-out;
}

#chatBot .chat.is-visible {
  opacity: 1;
  -webkit-animation: zoomIn 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  animation: zoomIn 1s cubic-bezier(0.42, 0, 0.58, 1);
}

#chatBot .is-hide {
  opacity: 0;
}

#chatBot .chat_field {
  position: relative;
  margin: 0;
  width: 85%;
  font-size: 12px;
  font-weight: 500;
  color: #4b4b4b;
  border: none;
  outline: none;
  display: inline-block;
}

#chatBot .chat_field.chat_message {
  padding-left: 10px;
  resize: none;
  font-size: 13px;
  font-weight: 400;
}

#chatBot .fab_field {
  width: 100%;
  display: inline-block;
  background: #fff;
  border-top: 1px solid #eee;
}

#chatBot #fab_send {
  position: absolute;
  right: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
}

#chatBot .fab_field .fab {
  width: 35px;
  height: 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 5px;
}

#chatBot .fab_field .fab > i {
  font-size: 1.6em;
  line-height: 35px;
  color: #bbb;
}

#chatBot .fab_field .fab > i:hover {
  color: #7fd1d8;
}

#chatBot .chat_converse {
  position: relative;
  background: #fff;
  height: 300px;
  min-height: 0;
  line-height: 18px;
  overflow-y: auto;
  width: 100%;
}

#chatBot .chat .chat_converse .chat_msg_item {
  position: relative;
  margin: 8px 0 8px 0;
  padding: 0 10px;
  max-width: 60%;
  display: block;
  word-wrap: break-word;
  -webkit-animation: zoomIn 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  animation: zoomIn 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 999;
}

#chatBot .chat .chat_converse .chat_msg_item .chat_avatar {
  position: absolute;
  top: 0;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_admin .chat_avatar {
  left: -52px;
  background: rgba(0, 0, 0, 0.03);
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_user .chat_avatar {
  right: -52px;
  background: rgba(0, 0, 0, 0.6);
}

#chatBot .chat .chat_converse .chat_msg_item .chat_avatar,
#chatBot .chat_avatar img {
  width: 40px;
  height: 40px;
  text-align: center;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_admin {
  margin-left: 60px;
  padding-bottom: 5px;
  color: #666;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_admin .chat_msg_item-text {
  border-radius: 20px 20px 20px 0;
}

#chatBot .chat .chat_msg_item .chat_msg_item-text {
  display: block;
  color: #0B2228;
  font-family: "DejaVuSans", sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 5px;
  -webkit-box-shadow: 2px 2px 8px #7FD1D866;
          box-shadow: 2px 2px 8px #7FD1D866;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_admin a.chat_msg_item-text {
  color: #7fd1d8;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_user {
  margin-right: 20px;
  max-width: 100%;
  margin-left: 40%;
  display: block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_user .chat_msg_item-text {
  border-radius: 20px 20px 0px 20px;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_user .chat_msg_item-text {
  display: block;
  font-family: "DejaVuSans", sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 5px;
  color: #0B2228;
}

#chatBot .chat .chat_converse .chat_msg_item.chat_msg_item_admin:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -12px;
  z-index: 998;
  border: 6px solid transparent;
  border-right-color: rgba(255, 255, 255, 0.4);
}

#chatBot .chat_msg_item-buttons {
  text-align: center;
}

#chatBot .chat_msg_item-buttons button {
  color: #fff;
  background: #D85471;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 4px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 10px;
  outline: none;
  font-family: 'DejaVuSans';
}

#chatBot .chat_msg_item-buttons button:focus {
  outline: none;
}

#chatBot .chat_msg_item-buttons button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

#chatBot .chat_msg_item_img-container {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

#chatBot ::-webkit-scrollbar {
  width: 8px;
  height: 9px;
}

#chatBot ::-webkit-scrollbar-track {
  border-radius: 0;
}

#chatBot ::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 10px;
  background: #7fd1d8;
}

#chatBot .is-active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#chatBot .is-float {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

#chatBot .is-loading {
  display: block;
  -webkit-animation: load 1s cubic-bezier(0, 0.99, 1, 0.6) infinite;
  animation: load 1s cubic-bezier(0, 0.99, 1, 0.6) infinite;
}

#chatBot #chatSend::-webkit-input-placeholder {
  color: #bbb;
}

#chatBot #chatSend:-ms-input-placeholder {
  color: #bbb;
}

#chatBot #chatSend::-moz-placeholder {
  color: #bbb;
}

#chatBot #chatSend:-moz-placeholder {
  color: #bbb;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes circle1 {
  0% {
    top: 2px;
  }
  15% {
    top: -8px;
  }
  25% {
    top: 2px;
  }
}

@keyframes circle1 {
  0% {
    top: 2px;
  }
  15% {
    top: -8px;
  }
  25% {
    top: 2px;
  }
}

@-webkit-keyframes circle2 {
  10% {
    top: 2px;
  }
  25% {
    top: -8px;
  }
  35% {
    top: 2px;
  }
}

@keyframes circle2 {
  10% {
    top: 2px;
  }
  25% {
    top: -8px;
  }
  35% {
    top: 2px;
  }
}

@-webkit-keyframes circle3 {
  15% {
    top: 2px;
  }
  30% {
    top: -8px;
  }
  40% {
    top: 2px;
  }
}

@keyframes circle3 {
  15% {
    top: 2px;
  }
  30% {
    top: -8px;
  }
  40% {
    top: 2px;
  }
}
/*# sourceMappingURL=Newbot.css.map */