.cs-5-1{
    &-1-img{
        height: 62.63vh;
        margin: 3vh auto;
    }
    &-3-img{
        height: 44.27vh;
        margin: 7vh auto;
    }
    &-5-img{
        height: 52.47vh;
        margin: 5vh auto;
    }
    &-7-img{
        height: 47.13vh;
        margin: 7vh auto;
    }
}