.objects_box {
  &-image-15 {
    height: 44vh;
    max-height: 340px;

    img {
      height: 100%;
    }
  }
  &-image-16 {
    height: 62vh;
    max-height: 478px;

    img {
      height: 100%;
    }
  }
  &-image-17 {
    height: 50vh;
    max-height: 387px;

    img {
      height: 100%;
    }
  }
  &-image-18 {
    height: 55vh;
    max-height: 424px;
    position: fixed;
    right: 0;
    bottom: 0;
    img {
      height: 100%;
    }
  }
  &-image-19{
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-19.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  &-image-20{
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-20.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &-image-21{
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-21.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &-image-22{
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-22.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}