.objects_box {
  &-image-15 {
    height: 44vh;
    max-height: 340px;

    img {
      height: 100%;
    }
  }
  &-image-16 {
    height: 62vh;
    max-height: 478px;

    img {
      height: 100%;
    }
  }
  &-image-17 {
    height: 50vh;
    max-height: 387px;

    img {
      height: 100%;
    }
  }
  &-image-18 {
    height: 55vh;
    max-height: 424px;
    position: fixed;
    right: 0;
    bottom: 0;
    img {
      height: 100%;
    }
  }
  &-image-19{
    height: 100vh;
    width: 100%;
    position: fixed;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-19.svg") no-repeat center;
    background-size: cover;
  }
  &-image-20{
    height: 100vh;
    width: 100%;
    position: fixed;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-20.svg") no-repeat center;
    background-size: cover;
  }
  &-image-21{
    height: 100vh;
    width: 100%;
    position: fixed;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-21.svg") no-repeat center;
    background-size: cover;
  }
  &-image-22{
    height: 100vh;
    width: 100%;
    position: fixed;
    background: url("../img/gakvetilebi/Computer-Science/Class-5/objects-1/cs-5-1-22.svg") no-repeat center;
    background-size: cover;
  }
}