.cs-5-10-img-div-extras{
    &-5-1{
        height:50.39vh;
    }
    &-6-1{
        height:53.51vh;
    }
    &-7-1{
        height:69.79vh;
    }
    &-12-1{
        position: absolute;
        left:10.24vw;
        top:22.13vh;
        height:50.91vh;
    }
    &-13-1{
        height:54.68vh;
    }
    &-14-1{
        height:68.09vh;
    }
    img{
        height:100%;
    }
}