.class_3_16 {
    &-img_15 {
        height: 21.7vh;
    }
    &-icon_arrow {
        height: 4.7vh;
    }
    &-icon_arrow_right {
        height: 3.2vh;
    }
    &-icon_arrow_around {
        height: 3.8vh;
    }
    &-border_box_1 {
        width: 8.2vh;
        height: 8.2vh;
        border: 1px solid #262626;
    }
}