.my-robot{
    img{
        height:100%;
    }
    &-18{
        height:59.3;
        max-height:456px;
        
    }
    &-19{
        height:51vh;
        max-height:392px;
    }
    &-20{
        height:31vh;
        max-height:239px;
    }
    &-21{
        height:36.9vh;
        max-height:284px;
    }
    &-22{
        height:58.3vh;
        max-height:448px;
        position:fixed;
        bottom:13vh;
        right:35vh;
    }
    &-23{
        height:42.3vh;
        max-height:325px;
    }


}

.background-cs-3-16{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-24{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/How-my-robot-acts-16/cs-3-16-24.svg");
    }
    &-25{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/How-my-robot-acts-16/cs-3-16-25.svg");
    }
    &-26{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/How-my-robot-acts-16/cs-3-16-26.svg");
    }
    &-27{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/How-my-robot-acts-16/cs-3-16-27.svg");
    }
}