.Class_5_8 {
    &-img_box_13_1 {
        height: 29.29vh;
        max-height: 225px;
        img {
            height: 100%;
        }
    }
    &-img_box_13_2 {
        height: 22vh;
        max-height: 169px;
        img {
            height: 100%;
        }
    }
    &-img_box_14 {
        height: 48vh;
        max-height: 369px;
        img {
            height: 100%;
        }
    }
    &-img_box_15 {
        position: fixed;
        bottom: 12.36vh;
        img {
            height: 58.46vh;
            max-height: 449px;
        }
    }
    &-img_box_16 {
        position: fixed;
        bottom: 0;
        img {
            height: 65.6vh;
            max-height: 504px;
        }
    }
    &-img_box_17 {
        height: 37.21vh;
        max-height: 285.8px;
        img {
            height: 100%;
        }
    }
}