.Class_5_8 {
  &-image_19 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Cycles-8/cs-5-8-19.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &-image_20 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Cycles-8/cs-5-8-20.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  &-image_21 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Cycles-8/cs-5-8-21.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
