.rainbow__main__img {
    height: 58.510416666666664vh;
}

.game-44-right {
    height: 51.510416666666664vh;
}

.rainbow-img {
    width: 390px;
    height: 200px;
    flex-wrap: wrap;

    .color-game-paint-parent--child {
        position: relative;

        &.cursor-pointer {
            &::after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}


 .x-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
}


