.dot_wrapper {
  position: absolute;
  left: 5.1vw;
  top: 51vh;
  height: 18vh;
  width: 40px;
}

.draggable__answer__btns {
  width: 28px;
  height: 28px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.5;
  }

  &.cold__btn {
    background: #1855cc;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.hot__btn {
    background: #ea7515;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.questions__images {
  &_wrapper_box {
    max-height: 38.15vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .question__dot {
      position: relative;
      border: 1px solid #707070;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      margin-top: 2.8vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      color: red;

      &.error {
        &::after {
          position: absolute;
          content: '';
          width: 60px;
          height: 60px;
          background: transparent;
          cursor: default;
          z-index: 1000000000;
        }
      }

      .draggable__answer__btns {
        margin: 0;
        width: 23px;
        height: 23px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


.draggable__answer__btns {
  &:focus {
    outline: none;
  }
}

.reload_game_wrapper {
  position: absolute;
  bottom: 11vh;
  right: 11.5vw;
}


.questions__images-item {
  margin-right: 16px;

  .errorImg {
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    z-index: 10000;
  }
}