.rainbow__main__img {
    height: 56.510416666666664vh;
}

.game-44-right {
    height: 53.510416666666664vh;
}

.rainbow-img {
    width: 390px;
    height: 200px;
    flex-wrap: wrap;

    .color-game-paint-parent--child {
        position: relative;

        &.cursor-pointer {
            &::after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}


 .x-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
}

// .rainbow--line.error::after {
//     content: '';
//     background-image: url('../img/gakvetilebi/xelovneba/color-game/x.svg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 30px;
//     height: 30px;
// }