.game__section.color-game-1 {
    .yellow-blue, .red-blue {
        .choose__color:nth-child(1){
            margin-right: 35px;
        }
    }

    .yellow-blue {
        margin-bottom: 45px;
    }
}

#otherbtn {
    margin-bottom: 30px;
    .img1 {
        margin-right: 15px;
    }
}