.game-208-mainsvg {
    .desktop-paint-colors,
    .desktop-green-color--light,
    .desktop-paint-colors {
        transition: all 0.3s;
    }
}

.game-208 {
    .color-game-paint-parent--child {
        &.cursor-pointer {
            &::after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}



.game-208-mainsvg {
    width: 54.6875vh;
}

.game-208-left {
    width: 58.59375vh
}