.success-game {
    margin: 0 auto;
    margin-top: 10.416vh;
    height: 47.9167vh;
}


.rainbow--line--first {
    &.bor {
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 2px;
        background: red;
    }
}