.background-c-02-04-23 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/cycle-4/C-2-4-23.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
  }.background-c-02-04-24 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/cycle-4/C-2-4-24.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
  }.background-c-02-04-25 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/cycle-4/C-2-4-25.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
  }.background-c-02-04-26 {
    background-image: url(../img/gakvetilebi/Computer-Science/Class-2/cycle-4/C-2-4-26.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    .title-59 {
      h1 {
        color: #62548a;
      }
    }
  }