.background-09-27 {
  background-image: url(../img/gakvetilebi/xelovneba/friends_09/27.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-09-28 {
  background-image: url(../img/gakvetilebi/xelovneba/friends_09/28.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-09-29 {
  background-image: url(../img/gakvetilebi/xelovneba/friends_09/29.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-09-30 {
  background-image: url(../img/gakvetilebi/xelovneba/friends_09/30.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-09-31 {
  background-image: url(../img/gakvetilebi/xelovneba/friends_09/31.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
