.cs-2-5-1-div-img{
  height:52.08vh;
img{
     height:100%;
  }
}

.cs-2-5-3-div-img{
  height:51.56vh;
  position:absolute;
  right:0;
  bottom:0;
  img{
       height:100%;
    }
}
.cs-2-5-4-div-img{
  height:51.3vh;
  position:absolute;
  right:15.44vw;
  bottom:0;
  img{
       height:100%;
    }
}