.Class_2 {
    &-title_item_5_19 {
        font-style: italic;
        color: #62548A;
        font-family: 'DejaVu Sans Oblique';
        font-size: 3.64vh;
    }
    &-Creating_cycles_19 {
      background-image: url("../img/gakvetilebi/Computer-Science/Class-2/user-interface-6/C-2-6-19.svg");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
    }
    &-Creating_cycles_20 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-2/user-interface-6/C-2-6-20.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-Creating_cycles_21 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-2/user-interface-6/C-2-6-21.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-Creating_cycles_22 {
        background-image: url("../img/gakvetilebi/Computer-Science/Class-2/user-interface-6/C-2-6-22.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}