.cs-6-22{
    &-1-img{
        height: 49.73vh;
        margin: 7vh auto;
    }
    &-3-img{
        height: 41.92vh;
        margin-top: 4vh;
    }
    &-4-img{
        height: 44.14vh;
        margin-top: 2vh;
    }
    &-5-img{
        height: 58.46vh;
        margin-top: 2vh;
    }
}