.cs-6-22{
    &-16-img{
        height:39.84vh;
    }
    &-17-img{
        height: 63.67vh;
        position:absolute;
        bottom:0;
        right:14.86vw;
    }
    &-18-img{
        height:37.1vh;
    }
    &-6-1-img{
        height:51.43vh;
    }
    &-8-1-img{
        height:48.69vh;
    }
    &-11-1-img{
        height:44.4vh;
    }
    &-11-1-img{
        height:46.35vh;
    }
}