.social-responsibility{
&-6{
    height:35vh;
    max-height:271px;
img{
    height:100%;
}
}
&-7{
    height:54.6vh;
    max-height:420px;
img{
    height:100%;
}
}
&-8{
    height:54.6vh;
    max-height:420px;
img{
    height:100%;
}
}
&-9{
    height:41.7vh;
    max-height:321px;
img{
    height:100%;
}
}
&-10{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 52.7vh;
    max-height: 405px;
}

}