.cs-5-23{
    &-1-img{
        height: 60.80vh;
        margin: 4vh auto;
    }
    &-3-img{
        height: 43.88vh;
    }
    &-4-img{
        height: 38.02vh;
        margin-top: 4vh;
    }
    &-5-img{
        height:22.25vh;
        margin-top: 4vh;
    }
}