.cs-5-23-1-img {
  height: 60.8vh;
  margin: 4vh auto;
}
.cs-5-23-3-img {
  height: 43.88vh;
}
.cs-5-23-4-img {
  height: 38.02vh;
  margin-top: 4vh;
}
.cs-5-23-5-img {
  height: 22.25vh;
  margin-top: 4vh;
}