.informational-resources{
    &-17{
      height:45vh;
      max-height:351px;
    img{
        height:100%;
    }
} 
    &-18{
        height:48.04vh;
        max-height:369.22px;
    img{
        height:100%;
    }
    } 
}

.background-cs-5-23{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Informational-resources-23/cs-5-23-19.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Informational-resources-23/cs-5-23-20.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Informational-resources-23/cs-5-23-21.svg");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-5/Informational-resources-23/cs-5-23-22.svg");
    }
}