.class_5_23 {
    &-img_6 {
        position: fixed;
        bottom: 3vh;
        right: 24vh;
        height: 61.78vh;
        max-height: 474.5px;
        img {
            height: 100%;
        }
    }
    &-img_7 {
        position: fixed;
        bottom: 13vh;
        height: 57vh;
        max-height: 440px;
        img {
            height: 100%;
        }
    }
    &-img_8 {
        position: fixed;
        bottom: 0;
        height: 56.9vh;
        max-height: 437px;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        position: fixed;
        bottom: 0;
        height: 66vh;
        max-height: 508px;
        img {
            height: 100%;
        }
    }
    &-img_10 {
        height: 54.68vh;
        max-height: 430px;
        img {
            height: 100%;
        }
    }
    &-img_bottom {
        margin-bottom: 1vh!important;
    }
}
