.information-data img {
  height: 100%;
}
.information-data_5-1 {
  height: 43vh;
  max-height: 329px;
}
.information-data_6-1 {
  height: 32vh;
  max-height: 252px;
}
.information-data_10-1 {
  height: 74vh;
  max-height: 566px;
  position: fixed;
  right: 15%;
  bottom: 5%;
}
.information-data_13-1 {
  height: 54vh;
  max-height: 416px;
  position: fixed;
  right: 15%;
  bottom: 0%;
}