.multimedia_page{
    &-13{
        height:48.8vh;
        max-height:375.44px;
    img{
        height:100%;
    }

    }

    &-14{
        height:55vh;
        max-height:423px;
    img{
        height:100%;
    }

    }

    &-15{
        height:50.26vh;
        max-height:386px;
    img{
        height:100%;
    }

    }
    &-16{
        height:47.26vh;
        max-height:363px;
    img{
        height:100%;
    }

    }
    &-17{
        height:60vh;
        max-height:468px;
        position: fixed;
        right: 0;
   
    img{
        height:100%;
    }

    }
    &-18{
        height:60vh;
        max-height:468px;
   
    img{
        height:100%;
    }

    }


}