.cs-6-18-div {
    &-19-img {
        height: 47vh;
    }
    &-20-img {
        height: 54vh;
    }
    &-21-img {
        height: 61.9vh;
        position:absolute;
        bottom:0;
        right:0;
    }
    &-3-1-img {
        height: 48vh;
        position: absolute;
        bottom:0;
        left:10.24vw;
    }
    &-7-1-img {
        height: 36.32vh;
    }
    img {
        height: 100%;
    }
}