.class_6_18 {
    &-img_7 {
        height: 36vh;
        max-height: 276.6px;
    }
    &-img_8 {
        position: fixed;
        bottom: 0;
        height: 54.8vh;
        max-height: 421px;
    }
    &-img_9 {
        height: 56vh;
        max-height: 431.8px;
    }
    &-img_10 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 65.6vh;
        max-height: 504px;
    }
    &-img_11 {
        position: fixed;
        bottom: 0;
        height: 58.59vh;
        max-height: 450px;
    }
    &-img_12 {
        height: 30.7vh;
        max-height: 235.9px;
        img {
            height: 100%;
        }
    }
}