.cs-4-8 {
  &-13-img {
    height: 36.84vh;
    margin-left: 1vh;
  }
  &-14-img {
    height: 55.85vh;
    margin-left: 1vh;
  }
  &-15-img {
    height: 35.54vh;
    margin-left: 1vh;
  }
  &-16-img {
    height: 38.80vh;
    margin-left: 1vh;
  }
  &-17-img {
    height: 45.44vh;
    margin: 5vh auto 0;
  }
}

