.Class_4 {
    &-programing_4_15_1 {
        height: 34.11vh;
        max-height: 262px;
        img {
            height: 100%;
        }
    }
    &-programing_4_15_1_2 {
        height: 34.64vh;
        max-height: 266px;
        img {
            height: 100%;
        }
    }
}