.cs-2-6-19-div-img {
  height: 64.06vh;
  img{
    height: 100%;
  }
}
.cs-2-6-20-div-img {
  height: 46.48vh;
  img{
    height: 100%;
  }
}

.cs-2-6-21-div-img {
  height:58.59vh;
  position:absolute;
  bottom:0;
  right: 0;
  img{
      height:100%;
  }
}
.cs-2-6-22-div-img {
  height: 27.34vh;
  img{
    height: 100%;
  }
}