.Class_4 {
    &-programing_4_21_1-1 {
        height: 61.19vh;
        max-height: 470px;
        img {
            height: 100%;
        }
    }
    &-programing_4_21_1-2 {
        position: fixed;
        bottom: 0;
        right: 0;
        img {
            height: 57.68vh;
            max-height: 443px;
        }
    }
}