.Class_4 {
    &-programing_4_22_1-1 {
        position: fixed;
        bottom:0;
        left: 14vh;
        img {
            height: 50.13vh;
            max-height: 385px;
        }
    }
    &-programing_4_22_1-2 {
        height: 61.19vh;
        max-height: 470px;
        img {
            height: 100%;
        }
    }
}