.background-cs-4-8-23 {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/correcting-text-8/cs-4-8-23-img.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-4-8-24  {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/correcting-text-8/cs-4-8-24-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-4-8-25  {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/correcting-text-8/cs-4-8-25-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-cs-4-8-26  {
    background-image: url("../img/gakvetilebi/Computer-Science/Class-4/correcting-text-8/cs-4-8-26-img.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cs-title-purple{
    &-cont{
        padding-top: 10vh;
    }
    color: #62548A;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
    line-height: 1.5;
}