.c-2-1-algorithme-img{
    margin: 8vh auto 10vh;
    height: 44.53vh;
}
.algorithme-title-italic{
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.38vh;
    color: #262626;
    text-align: center;
}
