.answer-div {
    width: 24vw;
    height: 6vh;
    background-color: #fff;
    border-radius: 15vh;
    box-shadow: #947DCE66 2px 2px 8px;
    p {
        font-size: 2vh;
        color: #947DCE;
        font-family: 'FiraGO Book';
    }
}