.c-02-28-game-div {
    width: 6.45vw;
    height: 6.84vh;
    background-color: #D51C29;
    border-radius: 10px;
    position: absolute;
    left: 18vw;
    bottom: 24vh;
    span {
        color: #FFBE32;
        font-size: 3vh;
        font-family: 'Arial';
        font-weight: bold;
    }
}
.c-02-28-pine {
    height: 9.6vh;
    width: 20vw;
    left: 18vw;
    bottom: 40vh;
}