.background-c-02-29 {
  background-image: url(../img/gakvetilebi/Computer-Science/algorithmes-02/C-2-29.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  .title-59 {
    h1 {
      color: #62548a;
    }
  }
}
.background-c-02-30 {
  background-image: url(../img/gakvetilebi/Computer-Science/algorithmes-02/C-2-30.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  .title-59 {
    h1 {
      color: #62548a;
    }
  }
}
.background-c-02-31 {
  background-image: url(../img/gakvetilebi/Computer-Science/algorithmes-02/C-2-31.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  .title-59 {
    h1 {
      color: #62548a;
    }
  }
}
.background-c-02-32 {
  background-image: url(../img/gakvetilebi/Computer-Science/algorithmes-02/C-2-32.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  .title-59 {
    h1 {
      color: #62548a;
    }
  }
}
