.game-holder {
    margin: 0 100px 0 0;
    span {
        display: flex;
        margin-top: -1 !important;
        .game-block {
            height: 4.94vh;
            width: 4.94vh;
            margin: 0;
            display: inline-block;
            border: black 1px solid;
        }
    }
}

.marg-l {
    margin-left: 50px;
}

.redBord {
    border-color: red !important;
}

.black-bg {
    background-color: black;
}

.class_3_14 {
    &-border_bottom {
        width: 8.5vh;
        height: 9vh;
        margin: 0 auto;
        border-bottom: 2px solid #000000;
        opacity: 1;
    }
    &-line_cont {
        margin: 0 auto;
    }
    &-line_cont_1 {
        margin: 0 10.3vh;
    }
    &-line_cont_2 {
        margin: 0 5vh;
    }
    &-img_13_letter_a {
        position: absolute;
        top: -1vh;
    }
    &-img_13_letter_b {
        position: absolute;
        top: 7vh;
    }
    &-img_13_letter_c {
        position: absolute;
        top: 15.4vh;
    }
    &-img_13 {
        height: 20vh;
    }
    &-box {
        width: 6vh;
        height: 6vh;
        margin: auto;
        border: 1px solid #000000;
        opacity: 1;
    }
    &-img_14 {
        height: 44.5vh;
    }
    &-img_14_1 {
        width: 5vh;
        height: 5vh;
    }
}