.cs-3-14{
    img{
        height:100%;
    }
    &-15{
        height:41vh;
        max-height:319px; 
    }
    &-16{
        height:55.2vh;
        max-height:424px; 
    }
    &-17{
        height:36.6vh;
        max-height:279px; 
    }
}

.background-cs-3-14-img{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-18{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Mystery-of-binary-bracelet-14/cs-3-14-18.svg");
    }
    &-19{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Mystery-of-binary-bracelet-14/cs-3-14-19.svg");
    }
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Mystery-of-binary-bracelet-14/cs-3-14-20.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Mystery-of-binary-bracelet-14/cs-3-14-21.svg");
    }
}