.cs-3-14-div {
    &-3-1-info-img {
        height:60vh;
      
       
    }
    &-6-1-info-img {
        height:36.45vh; 
        position: absolute;
        left:50%;
        transform:translateX(-50%); 
        bottom:15vh;
    }

    img {
        height: 100%;
    }
}
