.nature-7-17-laptop{
    height: 34.24vh;
    img{
        height:100%
    }
}
.nature-7-17-questions{
    height: 50.52vh;
    position: absolute;
    bottom:15.95vh;
    right:17.05vw;
    img{
        height:100%
    }
}