.nature-text-wrapper-newDesign{
    height: 17vh;
}
.comics {
  &_N-07-6 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-6.png);
    background-position: bottom center;
  }
  &_N-07-7 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-7.png);
    background-position: bottom center;
  }
  &_N-07-8 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-8.png);
    background-position: bottom center;
  }
  &_N-07-9 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-9.png);
    background-position: center;
  }
  &_N-07-11 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-11.png);
    background-position: center;
  }
  &_N-07-12 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-12.png);
    background-position: center;
  }
  &_N-07-14 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-14.png);
    background-position: center;
  }
  &_N-07-15 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-15.png);
    background-position: bottom center;
  }
  &_N-07-21 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-21.png);
    background-position: bottom center;
  }
  &_N-07-22 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-22.png);
    background-position: bottom center;
  }
  &_N-07-23 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-23.png);
    background-position: bottom center;
  }
  &_N-07-24 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-24.png);
    background-position: bottom center;
  }
  &_N-07-31 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-31.png);
    background-position: center;
  }
  &_N-07-32 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-32.png);
    background-position: bottom center;
  }
  &_N-07-37 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-37.png);
    background-position: bottom center;
  }
  &_N-07-38 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-38.png);
    background-position: bottom center;
  }
  &_N-07-39 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-39.png);
    background-position: bottom center;
  }
  &_N-07-40 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-40.png);
    background-position: bottom center;
  }
  /*&_N-07-43 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-43.png);
    background-position: bottom center;
  }*/
  &_N-07-44 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-44.png);
    background-position: bottom center;
  }
  &_N-07-50 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-50.png);
    background-position: bottom center;
  }
  &_N-07-56 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-56.png);
    background-position: bottom center;
  }
  &_N-07-57 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-57.png);
    background-position: bottom center;
  }
  &_N-07-59 {
    background-image: url(../img/gakvetilebi/buneba/Bruca-07/N-07-59.png);
    background-position: bottom center;
  }
}
