#C-1366-02-33{
  .item_box{
    max-width: 260px;
    width: 90%;
    height: 10vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
    img{
      margin-left: 15px;
      height: 50%;
    }

    p {
      font-family: 'BPG Arial';
    }
  }
  .row{
    margin-top: 3.9vh;
    &:nth-child(2){
      margin-top: 0;
    }
  }
  .container_main_title{
    height: inherit;
  }
  .container_main_title_art-paddings{
    padding-bottom: 0;
  }
}