.c-1366-02-11-text-div-container{
    padding-bottom:5.43vh;
}

#C-1366-02-11-25 {
    .subject_question_item {
        span.error {
            color: #dc6c85;
            background: initial;
        }
    }
}