@import "../global/header";
.main-box {
  height: 82.28vh;
  .text-container {
    display: flex;
    height: 5vh;
    div {
      font-family: "ALK Sanet", sans-serif;
      font-size: 3.1vh;
      color: #0b2228;
      margin-right: 3.3vh;
    }
    img {
      height: 100%;
    }
  }
}
