@import "../global/header";
.main-box {
  height: 82.28vh;
  .text-container {
    display: flex;
    height: 5vh;
    div {
      font-family: "ALK Sanet", sans-serif;
      font-size: 24px;
      color: #0b2228;
      margin-right: 25px;
    }
  }
}
