#N-1366-04-273 {
    P {
        font-family: 'BPG Arial', sans-serif;
    }

    .timline_box {
        height: 20.8vh;
        max-height: 154px;

        img {
            height: 19.5vh;
            max-height: 150px;
        }

        p {
            font-size: 2.08vh;
        }
    }
}