.circles_game {

  &-img-computer {
    height: 32.04vh;
    width: 100%;
  }

  &-blue {
    &-container {
      position: absolute;
      width: 85%;
      top: 96%;
      height: 100%;

      .ask_question_game_box,
      .draggedElement {
        color: #fff;
        position: absolute;
        height: 18vh;
        width: 18vh;
        max-width: 150px;
        max-height: 150px;
        margin-top: 2.5vh;
        border: 6px solid #44bbbd;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 11px;
        font-size: 14px;
        text-align: center;
        color: #0b2228;
        cursor: pointer;
        font-family: "BPG Arial";

        h5 {
          font-size: 1.6vh;
          line-height: 1.2;
          color: #fff;
        }
      }

      .ask_question_game_box--first,
      .draggedElement:nth-child(1) {
        right: 12%;
        top: 0;
      }
      .ask_question_game_box--second,
      .draggedElement:nth-child(2) {
        right: 60%;
        top: 1vh;
      }
      .ask_question_game_box--third,
      .draggedElement:nth-child(3) {
        right: 34%;
        top: 23vh;
      }




    }

  }
}
