.nature-plants-cubes-div{
    height: 52.21vh;  
}
.nature-plants-cubes-div-container{
        height: 52.21vh;
    }
.n-1366-04-244-container_main_title_text{
    align-self:center;
}
.n-1366-04-244-container_main_title {
margin-left:5.3vw;
}

.n-1366-04-244-checkbox-container{
 align-items: center;
 align-self:flex-end;
 margin-bottom: 4.4vh;
 img{
     height: 9vh;
 }
}

.n-1366-04-244-checkbox-text{
    line-height: 30px;
}
.n-1366-04-244-checkbox-container-row{
    justify-content:center;
}
.n-1366-04-244-checkbox-container-row-no-justify{
    justify-content:start;
}

.n-1366-04-244-checkbox-subject_component{
    margin-bottom:1.8vh;
}



.nature-plants-green-cube-1, .nature-plants-green-cube-2, .nature-plants-green-cube-3, .nature-plants-green-cube-4 {
        position:absolute;
        width: 50px;
        height:50px;         
} 

.nature-plants-green-cube-1{
 top:8vh;
 left:3vw;
}
.nature-plants-green-cube-2{
    top: 4.2vh;
    right: 3.8vw;
}
.nature-plants-green-cube-3{
    bottom: 12vh;
    left: 2.5vw;
}
.nature-plants-green-cube-4{
    bottom: 20vh;
    right: 3.8vw;
}