.color_story {
    &-image-22-1 {
        width: 23vw!important;
        height: auto!important;
    }
    &-image-22 {
        width: 18vw!important;
        height: auto!important;
    }
    &-image-23-2 {
        width: 15vw!important;
        height: auto!important;
    }
}