.color_story-image-22-1 {
  width: 23vw !important;
  height: auto !important;
}
.color_story-image-22 {
  width: 18vw !important;
  height: auto !important;
}
.color_story-img_22 {
  height: 46.04vh;
}
.color_story-image-23-2 {
  width: 15vw !important;
  height: auto !important;
}