.title-59 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding-top: 10vh;

    h1 {
        font-size: 28px;
        font-style: italic;
        font-family: 'DejaVu Sans Oblique';
        color: #fff;
    }
}