
.paint_color_atributes{        
        background-image: url("../img/gakvetilebi/xelovneba/colors_brush.svg");   
}

.container_main_title-46{
        
        height: 5.07vh;
   img{
        padding-right: 1.12vw;
    }    
}

.paint_color_atributes{
        height:59.37vh;
        width:61.42vw; 
        background-size: contain;
        background-repeat: no-repeat; 
}