// .text-wrapper_content-box {
//   margin-top: 14.7vh;
// }
// .main-box_relative .owl-carousel .owl-item img {
//   width: 100%;
// }

.main-box_absolute {
  position: absolute;
  height: 100vh;
  z-index: -555;
  top: 0;
  left: 0;
  right: 0;
  .main-box_relative {
    position: relative;
    height: 100%;
    .owl-carousel {
      height: inherit;
      .item {
        width: 100%;
        height: inherit;
        object-fit: none;
        img{
          width: 100%;
        }
      }
    }
    .text-wrapper {
      position: absolute;
      bottom: 0;
      height: 25vh;
      left: 0;
      right: 0;
      z-index: 5555;
      background: transparent
        linear-gradient(180deg, #00000000 20%, #000000 100%) 0% 0%;
      p {
        font-family: "Helvetica Neue", sans-serif;
        font-size: 5.5vh;
        margin-left: 2.6vh;
        line-height: 1vh;
        color: #fff;
      }
      .icon-box {
        margin-top: 7.8vh;
        height: 4.7vh;
        width: 4.7vh;
        background-color: #fff;
        border-radius: 50%;
        img {
          height: 50%;
        }
      }
    }
  }
}
