.marks-19 {
  .buttons-boxes{
    border-radius: 30px;

    &:first-child{
      margin-top: 5.5vh;
    }

    &.error,
    &.success {
      p {
        color: #fff;
      }
    }

    p {
      box-shadow: 2px 2px 8px rgba(148, 125, 206, 0.4);
      padding: 20px 30px;
      border-radius: 30px;
      color: #947DCE;
    }
    
    .draggedElement {
      box-shadow: 2px 2px 8px rgba(148, 125, 206, 0.4);
      padding: 20px 30px;
      border-radius: 30px;
      color: #947DCE;
    }

  }
  &_box-img {
    height: 15vh;
    max-height: 118px;
    margin-top: 5.5vh;
    img{
      height: 100%;
    }
  }
}