.cs-2-3-6-sign-description-btn-title{
    height: 5.85vh;
    width:27.5vh;
}
.cs-2-2-8-img-bg{
    height:9.7vh;
}
.cs-2-2-8-img-sm{
    height:6.31vh;
}

.cs-2-2-8-img-md{
    height:8.98vh;
}

.cs-2-2-8-col-container{
margin-left:4.39vw;
}