.class_3_13 {
    &-img_11_1 {
        margin: 0 auto 2vh;
        height: 21vh;
    }
    &-img_border {
        width: 36vh;
        height: 17vh;
        border: 1px solid #947dce;
        opacity: 1;
    }
    &-img_11_4 {
        margin: 1.2vh auto;
    }
    &-img_11_5 {
        margin: 3.2vh auto;
    }
    &-img_11_6 {
        margin: 3.4vh auto;
    }
    &-background_img {
        width: 51vh;
        height: 31.25vh;
        background-color: #7FD1D8;
        opacity: 1;
    }
    &-img_12_1 {
        height: 16.8vh;
    }
    &-img_12_2 {
        height: 8.6vh;
    }
    &-img_12_3 {
        height: 12.5vh;
    }
    &-img_12_4 {
        height: 10.4vh;
    }
    &-img_12_5 {
        height: 13.3vh;
    }
    &-img_12_6 {
        height: 15.8vh;
    }
}