.cs-3-13{
    img{
        height:100%;
    }
    &-16{
        height:57vh;
        max-height:438px; 
    }
    &-17{
        height:30vh;
        max-height:237px; 
    }
    &-18{
        height:51.6vh;
        max-height:397px; 
    }
    &-18{
        height:56vh;
        max-height:431px; 
    }
}

.background-cs-3-13-img{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-20{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Do-you-have-robot-13/cs-3-13-20.svg");
    }
    &-21{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Do-you-have-robot-13/cs-3-13-21.png");
    }
    &-22{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Do-you-have-robot-13/cs-3-13-22.svg");
    }
    &-23{
        background-image: url("../img/gakvetilebi/Computer-Science/Class-3/Do-you-have-robot-13/cs-3-13-23.svg");
    }
}