.cs-3-13-9 {
    height: 36.57vh;
    max-height: 380.77px !important;
    border-radius: 2vh;
}

.cs-3-13-13 {
    height: 59.05vh;
    max-height: 453.52px !important;
}

.cs-3-13-14 {
    height: 36.97vh;
    max-height: 283.95px !important;
}

.cs-3-13-15 {
    height: 54.48vh;
    max-height: 418.43 !important;
    position: absolute;
    bottom: 0 !important;
}