.music-new-1-div {
    &-3-img {
        height:48.82vh;
    }
    &-4-img {
        height:49.6vh;
    }
    &-7-img {
        height:35.15vh;       
    }
    &-8-img {
        height:60vh;
    }
    &-9-img {
        height:40.7vh;
    }
    &-10-img {
        height:52.08vh;
    }
    img {
        height: 100%;
    }
}
.music-new-6-div-5-img{
    position:relative;
    height:43.75vh;
    margin-right:1.8vw;
    &-circle{
        width:4.94vh;
        height:4.94vh;
        border: 1px solid #CECECE;
        background-color:#17a2b8;
        opacity:0.4;
        position:absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 100%;  
        top:1.5vh;
    }
    &-buttons{
        img{
        height:4.94vh;
        }
    }
    &-buttons-column{
        flex-direction:column;
        img{ 
        margin-top:5vh;
        }
    }
    img{
        height:100%;
    }
}
 