.music-new-6-div {
    &-3-img {
        height:50vh;
    }
    &-4-img{
        height:51.04vh;
        position: absolute;
        bottom:0;
        right:0;
    }
    img {
        height: 100%;
    }
}
.music-new-6-div-5-img{
    position:relative;
    height:43.75vh;
    margin-right:1.8vw;
    &-circle{
        width:4.94vh;
        height:4.94vh;
        border: 1px solid #CECECE;
        background-color:#17a2b8;
        opacity:0.4;
        position:absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 100%;  
        top:1.5vh;
    }
    &-buttons{
        img{
        height:4.94vh;
        }
    }
    &-buttons-column{
        flex-direction:column;
        img{ 
        margin-top:5vh;
        }
    }
    img{
        height:100%;
    }
}
 