.music-new-6-div {
    &-3-img {
        height:50vh;
    }
    &-4-img{
        height:51.04vh;
        position: absolute;
        bottom:0;
        right:0;
    }
    img {
        height: 100%;
    }
}
.music-new-6{
    .image-box {
        height: 36vh;
        max-height: 274px;
        color: #34a216;
    }
    .select {
        border: 3px solid #CECECE;
        border-radius: 100%;
        height: 32px;
        width: 32px;
        margin-right: 20px;
        cursor: pointer;
        &.active{
            border: 3px solid #ce7d84;
            div {
                height: 16px;
                width: 16px;
                border-radius: 100%;
                background: #947DCE;
            }
        }
    }
}
.music-new-7{
    display: flex;
    flex-direction: column;
    height: 58.5vh;
    div {
        border: 2px solid #7FD1D8;
        height: calc(100% / 5);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            height: 60%;
        }
    }
}

#line{
   &_2{
    display: none;
   }
   &_3{
    display: none;
   }
   &_4{
   display: none;
   }
}
 .listen-music-purple-tag{
     cursor: pointer;
 }
 button:disabled {
     cursor: not-allowed;
 }

 .music-new-6-div {
    &-3-img {
        height:50vh;
    }
    &-4-img{
        height:51.04vh;
        position: absolute;
        bottom:0;
        right:0;
    }
    img {
        height: 100%;
    }
}
.music-new-6-div-5-img{
    position:relative;
    height:43.75vh;
    margin-right:1.8vw;
    &-circle{
        width:4.94vh;
        height:4.94vh;
        background-color:#a6dfe4;
        opacity:1;
        position:absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 100%;  
        top:1.5vh;
    }
    &-buttons{
        img{
        height:4.94vh;
        }
    }
    &-buttons-column{
        flex-direction:column;
        img{ 
        margin-top:5vh;
        }
    }
    img{
        height:100%;
    }
}