.class_music_6 {
    &-bg_16{
        background-image: url("../img/gakvetilebi/Music-class/Create-music-from-noise-6/music-new-06-16.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_17 {
        background-image: url("../img/gakvetilebi/Music-class/Create-music-from-noise-6/music-new-06-17.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_18 {
        background-image: url("../img/gakvetilebi/Music-class/Create-music-from-noise-6/music-new-06-18.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_19 {
        background-image: url("../img/gakvetilebi/Music-class/Create-music-from-noise-6/music-new-06-19.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
.background-music-title-black-cont {
    padding-top: 10vh;
}
.background-music-title-black {
    color: #243E41;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}