.class_music_6 {
    &-img_9 {
        height: 13.9vh;
    }
    &-img_9_number {
        height: 6.9vh;
    }
    &-check_box {
        height: 2.6vh;
        width: 2.6vh;
        margin: 0.7vh 1.5vh 0 0;
        border: 2px solid #696969;
        border-radius: 8px;
        margin: auto;
        opacity: 1;
    }
    &-img_10 {
        height: 10.8vh;
        width: 10.8vh;
        border: 1px solid #707070;
        margin: auto;
        opacity: 1;
    }
    &-img_11 {
        height: 54vh;
    }
    &-img_12 {
        height: 66vh;
    }
    &-img_13 {
        height: 29.9vh;
    }
    &-img_14 {
        height: 6.8vh;
    }
    &-img_15 {
        height: 47.78vh;
    }
}