.class_music_6 {
    &-img_9 {
        height: 13.9vh;
    }
    &-img_9_number {
        height: 6.9vh;
    }
    &-check_box {
        height: 2.6vh;
        width: 2.6vh;
        margin: 0.7vh 1.5vh 0 0;
        border: 2px solid #696969;
        border-radius: 8px;
        margin: auto;
        opacity: 1;
    }
    &-img_10 {
        height: 10.8vh;
        width: 10.8vh;
        border: 1px solid #707070;
        margin: auto;
        opacity: 1;
    }
    &-img_11 {
        height: 54vh;
    }
    &-img_12_cont {
        // background-image: url("../../../../img/gakvetilebi/Music-class/Create-music-from-noise-6/music-6-12.svg");
        // background-repeat: no-repeat;
        // background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10.9vh;
        height: 10.8vh;
        border: 1px solid #707070;
        overflow: hidden;
        img{
            height: 5vh;
        }
    }
    &-img_13 {
        height: 29.9vh;
        padding-right: 5vh;
    }
    &-img_13_circle {
        img {
            width: 6.9vh;
            height: 6.9vh;
        }
    }
    &-img_14 {
        height: 6.8vh;
    }
    &-img_14_clock {
        height: 7.25vh!important;
    }
    &-img_14_comp {
        height: 8.25vh!important;
    }
    &-img_14_school {
        height: 7.25vh!important;
    }
    &-img_15 {
        height: 47.78vh;
    }
}