.game-music-9{
    img{
        height:100%;
    }
    &-1{
        height:57.03;
        max-height:438px;
    }
    &-3{
        height:56.64vh;
        max-height:435px;
    }
    &-4{
        height:44.79vh;
        max-height:344px;
    }
}