.class_music_9 {
    &-bg_11{
        background-image: url("../img/gakvetilebi/Music-class/Game-music-9/music-9-bg-illustrations-11.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_12{
        background-image: url("../img/gakvetilebi/Music-class/Game-music-9/music-9-bg-illustrations-12.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_13{
        background-image: url("../img/gakvetilebi/Music-class/Game-music-9/music-9-bg-illustrations-13.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &-bg_14{
        background-image: url("../img/gakvetilebi/Music-class/Game-music-9/music-9-bg-illustrations-14.svg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}
.background-music-title-black-cont {
    padding-top: 10vh;
}
.background-music-title-black {
    color: #243E41;
    font-family: 'DejaVu Sans Oblique';
    font-size: 3.64vh;
}