.game_music_9 {
    &-img_circle {
        img {
            width: 8.26vh;
            height: 8.26vh;
        }
    }
    &-box_cont {
        width: 10.9vh;
        height: 10.9vh;
        border: 0.9088796377182007px solid #4E8085;
        opacity: 1;
    }
    &-purple_title {
        color: #947DCE;
    }
    &-img_6 {
        img {
            height: 7vh;
        }
    }
    &-box_cont_6 {
        width: 8.82vh;
        height: 8.82vh;
        border: 0.9088796377182007px solid #4E8085;
        opacity: 1;
    }
    &-img_circle_6 {
        img {
            width: 7.6vh;
            height: 7.6vh;  
        }
    }
    &-img_7 {
        img {
            height: 5.69vh;
        }
    }
    &-box_cont_7 {
        width: 21.35vh;
        height: 23.4vh;
        border: 2px solid #00D5D5;
        border-radius: 2vh;
    }
    &-box_cont_7 {
        img{
            width: 20.9vh;
            height: 7.8vh;
            margin: 7.8vh auto;
        }
    }
    &-img_7_circle {
        height: 7.16vh;
    }
    &-img_8 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 75.46vh;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        height: 39.5vh;
    }
}