.game_music_9 {
    &-img_circle {
        img {
            width: 8.26vh;
            height: 8.26vh;
        }
    }
    &-box_cont {
        width: 10.9vh;
        height: 10.9vh;
        border: 0.9088796377182007px solid #4E8085;
        opacity: 1;
    }
    &-purple_title {
        color: #947DCE;
    }
    &-img_6 {
        img {
            height: 7vh;
        }
    }
    &-box_cont_6 {
        width: 8.82vh;
        height: 8.82vh;
        border: 0.9088796377182007px solid #4E8085;
        opacity: 1;
    }
    &-img_circle_6 {
        img {
            width: 7.6vh;
            height: 7.6vh;  
        }
    }
    &-img_7 {
        img {
            height: 5.69vh;
        }
    }
    &-cont {
        width: 26.56vh;
        height: 19.4vh;
        border: 2px solid #00D5D5;
        border-radius: 0 0 12px 12px;
    }
    &-border_box {
        img{
            height: 6.5vh;
            margin: 1.2vh auto;
        }
        border-bottom: 2px solid #00D5D5;
    }
    &-img_7 {
        height: 7vh;
        margin: 4vh auto 0;
    }
    &-img_8 {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 75.46vh;
        img {
            height: 100%;
        }
    }
    &-img_9 {
        height: 39.5vh;
    }
    &-img_card {
        height: 33.7vh;
        margin: 0 auto;
    }
    &-box_game {
        width: 20.3vh;
        height: 55.3vh;
        border: 3.058px solid #7fd1d8;
        opacity: 1;
    }
    &-border_game {
        width: 19.79vh;
        height: 6.86vh;
        border-bottom: 3.058px solid #7fd1d8;
        img {
            padding: 0.8vh;
            margin: 0 auto;
        }
        p {
            color: #7fd1d8;
            font-size: 20px;
            font-family: DejaVuSans, DejaVu Sans;
            padding: 1.3vh;
        }
    }
    &-box_fill {
        background-color: #9cc2e5;
    }
    &-img_12 {
        height: 75.4vh;
    }
}