.cs-2-7 {
    &-1-img {
        height: 48.56vh;
        margin: 12vh auto 7vh;
    }
    &-3-img {
        height: 34.5vh;
        margin: 3vh auto 0;
    }
    &-4-ill-img {
        height: 48.13vh;
        margin-top: 5.5vh;
    }
    &-5-comp-img {
        height: 45.7vh;
        margin-top: 8vh;
    }
    &-6-img{
        height: 53.51vh;
        margin: 4vh auto 0;
    }
    &-7-img{
        height: 61.06vh;
        margin: 4vh auto 0;
    }
}
