.Class_2_7 {
    &-img_12_1 { 
        img {        
            height: 8.82vh;
            max-height: 67.8px;
        }
    }
    &-img_12_2 { 
        img { 
            height: 8.26vh;
            max-height: 63.5px;
        }
    }
    &-img_12_3 {
        img { 
            height: 6.08vh;
            max-height: 46.7px;
        }
    }
    &-img_12_4 {
        img { 
            height: 9.11vh;
            max-height: 70px;
        }
    }
    &-img_12_5 {  
        img {    
            height: 8.82vh;
            max-height: 70px;
        }
    }
    &-img_12_6 {   
        img {    
            height: 9.5vh;
            max-height: 73px;
        }
    }
    &-img_12_7 { 
        img { 
            height: 8.65vh;
            max-height: 66.5px;
        }
    }
    &-img_12_8 {
        img {
            height: 32.9vh;
            max-height: 253px; 
        }
    }
    &-img_12_9 {
        position: fixed;
        bottom: 27vh;
        img {
            height: 10.62vh;
            max-height: 81.6px;
        }
    }
}