.cs-2-7-9-div-img{
    height:59.11vh;
    img{
        height:100%;
    }
}
.cs-2-7-8-btns-div{
    justify-content:space-evenly;
}

.cs-2-7-8-btn{
    height:6.9vh;
    width:19.47vw;
    box-shadow: 2px 2px 8px #947DCE66;
    border-radius: 5vh;
    .cs-2-7-8-btn-txt{
        color:#947DCE;
        font-size:2.3vh;
        line-height: 3vh;
    }
}
    .cs-2-7-8-img{
        height:7.03vh
    }
    .cs-2-7-8-img-bg{
        height:9.89vh;
     }
