.Class_2_7 {
    &-img_box_9 {
        position: fixed;
        bottom:0;
        right: 30vh;
        img {
          height: 59.11vh;
          max-height: 454px;
        }
    }
    &-img_box_10 {
        position: fixed;
        bottom:0;
        right: 36vh;
        img {
          height: 53.76vh;
          max-height: 412.9px;
        }
    }
    &-img_box_11 {
        position: fixed;
        bottom:0;
        left: 36vh;
        img {
          height: 51.69vh;
          max-height: 397px;
        }
    }
    &-img_box_13 {
        position: fixed;
        bottom:0;
        right: 36vh;
        img {
          height: 61.06vh;
          max-height: 469px;
        }
    }
    &-img_box_14 {
        position: fixed;
        bottom:0;
        left: 26vh;
        img {
          height: 62.24vh;
          max-height: 478px;
        }
    }
}